<div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; writing about digital spaces</h1>
</div>

<div class="d-lg-block d-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
        <a href="#">_digital spaces_</a>
      ░ <a href="./poetry">poetry</a>
      ░ <a href="./gonzo">narrative & gonzo</a>
      ░ <a href="./other">other writings</a>
    </h3>
  </div>
</div>

<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
       <a href="#">_digispace_</a> &#8286;
       <a href="./poetry">poetry</a> &#8286;
       <a href="./gonzo">gonzo</a> &#8286;
       <a href="./other">other</a>
    </h3>
  </div>
</div>

<div class="col-12">
  <h5>Free to Prey: Driving the (Financial) Stake into MMORPG Community Toxicity</h5>
  <b>Presented by <a href="https://www.linkedin.com/in/forest-mead-7a639a7a/" target="_blank">Forest Mead</a> & Jennifer Mead (Popernack) on 07 october 2016 at the Midwest Pop Culture Association conference in Chicago, IL.</b>
  <p>
    Different business models (subscription, free to play, or transitional) set the tone for the community within the game, creating a connection between cost and social cohesion. As MMORPGs function as a representation of reality in-game, the experience is socially and interactively created. Depending on the type of business model, they require different levels of financial investment and behaviors on the part of their audience, affecting player motivations. We explore the relationships between power, motive, and financial expenditures within the game, the influence of socioeconomic and demographics in player profiles, and how this compares between subscription-based versus free-to-play models. These relationships suggest the connection between financial stake and community arises from fear of punishment, the protection and preservation of in-game assets, and a desire for an assertion of power in a world where the individual has the opportunity to do so. This complex dynamic exists by exploring the triadic interaction between service models, social cohesion, and community toxicity present in the communities of certain popular online video games.
  </p>
</div>
<div class="col-12">
  <h5>Non-linearity and Juxtaposition: A Model for the 21st Century Student</h5>
  <b>Seminar Paper, 2016</b>
  <p>
    The search for alternative rhetorical practices is paramount in today's educational environment because rhetoric is no longer about persuasion, but about identification and understanding the cultural contexts which shape our beliefs, assumptions, and ourselves.   While the predominant rhetorical scholarship taught seems to stay within the realm of Aristotle, I argue for teaching this new "cool" rhetoric with Gloria Anzaldua, Jeff Rice, Jimmy Baca, and others as examples of compositional frameworks to use in the classroom and as a way to induce student creativity.
  </p>
</div>
<div class="col-12">
  <h5>Technology and the Changing Nature of the Suicide Note</h5>
  <b>Seminar Paper, 2016</b>
    <p>
      Suicide notes are typically written privately and focused on explaining the decision, left after the individual cannot interact with anyone else. However, on the internet, suicide notes can become a public performance, and because of this can look at the dialogue and rhetorical moves present as drama. In this research, I examined suicide notes, comparing handwritten suicide notes left after the act has been committed, and the public performance of a member's suicide on 4chan' s/b/ board. By changing the suicide from private to public, the entire meaning of the death itself is altered, becoming a form of grief-drama as opposed to writing a letter of absolution.
    </p>
</div>
<div class="col-12">
  <h5>Other Writing Interests</h5>
  <p>
    Other areas of focused interest in digital spaces include vaporwave aesthetics, Eve Online's simulation/reality overlap, player identity in World of Warcraft, and narratives present within adventure games. I'm more than happy to collaborate on projects in any of these realms - contact me if you'd like to work on something together.
  </p>
</div>
