<h1 class="hilite"><span>narrative/gonzo writing</span></h1>

<p>
  I have generally written more poetry than longer-form creative pieces. I've included these as I feel they're the best representation of my gonzo/narrative work. While these pieces mostly deal with grief, they are very different forms of it. These works are from very different times in my life, and I felt it was important to show for posterity and growth. After all, art doesn't disappear simply because your circumstances change. I hope you enjoy what I've written here. These pieces are co-hosted at <a href="https://nihilisteoptimiste.wordpress.com" target="_blank">WordPress</a>.</p>
</p>

<div class="row">
        <div class="p-2"><a href="#airport">░ The airport is mocking us.</a></div>
        <div class="p-2"><a href="#victoriastreet">░ Victoria Street</a></div>
        <div class="p-2"><a href="#themanual">░ The Manual</a></div>
</div>

<div class="container-fluid">

  <div class="col p-2">
        <h5 class="worktitle mt-5 mb-2" id="#airport">The airport is mocking us.</h5>
        <p><i>january 2017</i></p><br>
            <p>
              Knowing that you must force a hasty goodbye while maintaining the resolve of a soldier just so you don’t turn around and change your mind about the whole thing is one of the harder things you may ever have to do because suddenly, nothing seems to matter more than not leaving. But you know should, because of obligations and such, so you distract each other by talking nonstop, even making a few phone calls to each other to make the feeling of being kicked in the stomach just a little bit easier to bear, trying to forget how hard this is, pulling out their shirt just so you can have <em>something</em> physical, because talking just isn’t enough in this moment.
            </p>
            <p>
              What makes this even harder is the weight of the experience on your lover; and in a sense, you are lucky because at least you are moving. You are forced to occupy your mind with activities, but the reality of everything starts to set in once you stop moving, because when boarding the airplane, you happen to notice that this is the last time both of your feet will be on the ground in the same state again, at least until next time. Even so, whether it be two weeks or two months, in that moment it all feels equally terrible. The scenery starts to move as you depart, your tears moving as fast as the lights that go along with it. You share one last expression of sadness before suddenly losing signal – you’re forced to wait, forced to process everything that you’re feeling. The next few hours are another type of hell.
            </p>
            <p>
              Yet a brief moment of repose occurs as you decide to look out the window, hoping that maybe, just <em>maybe</em>, you’ll travel past their house to have “one last moment,” thinking that somehow if you’re in the same space it’ll make it better, even though you’re 5,000 feet in the air – at least it’s the same air. So you search for any signs that might show where you are, hoping to recognize the roof of a building you’ve only seen from the ground, hoping that the road you’re watching the cars inch across leads back to <em>them</em>, because somehow that makes you feel closer, imagining the destination is where you had just left from.
            </p>
            <p>
              But it doesn’t - because even if you <em>did</em> see their house, it just serves as a painful reminder that in this moment you still can’t share one more kiss. It’s impossible to look into their eyes, or catch the scent of their hair, or even feel their hand in yours. There’s a sadistic irony involved in the recognition of how the lights down below, remembering how all those cities and towns seemed so much more full of joy when you’re coming in. But now, now they feel as if they’re mocking you, splayed out in such a disgusting manner only there to serve as a reminder of how far apart you actually are from each other, so you decide to satiate yourself with your vices. <em>A flight back would be easy enough right now; </em>how easy it is to imagine returning home.
            </p>
            <p>
              <em>Home.</em>
            </p>
            <p>
              The thought is shocking – home isn’t where you live, but where you would rather be. It’s cliché, but it is your thought anyway. The sound of your lover’s voice is just enough to quell the stirrings inside, so you make another phone call to ease the hurt just a little less from the airport bar you hope to never remember the name of. What seems like such a simple thing, a flight back to your own home, feels as if your soul has been eviscerated and spewed out across the varnished wood. More distractions, making small talk about things that don’t matter so this entire ordeal seems inconsequential, but you both know that’s not how it is.
            </p>
            <p>
              The first night apart is always the hardest, because suddenly everything’s different – everything’s back to the normal routine. Before <em>them</em>. But what reconciles you the most towards this situation is that it’s one in which you're actively choosing. Departing wouldn’t be painful if the loss of each other’s company wasn’t worth something to begin with.
            </p>
  </div>

  <div class="col p-2">
    <h5 class="worktitle mt-5 mb-2" id="victoriastreet">Victoria Street</h5>
      <p><i>february 2016</i></p><br>

      <p>
        "I'm sorry for your loss." and I replied with a giggle.
      </p>
      <p>
        I've always uncontrollably giggled at death. I wonder if it makes coming to terms with it easier. It's </i>uncomfortable.</i>
      </p>
      <p>
        I gazed into his eyes, and the half-second I did felt an eternity. He was gone. I thought he wasn't. I almost said hello because, for a moment, he was there. But he was gone. He stared back, mouth open. Still. His right hand rested on his midsection, his left arm along his body. He looked as like he was looking into something, and just froze in time. Not in pain, but surprise.
      </p>
      <p>
        I looked at his skin. Yellow from jaundice. I leaned forward and almost fell over. The pain was too much to almost stay conscious. A friend of the deceased I hadn't yet met left, not even realizing that I had walked in on someone. I walked towards the bed and fell on my knees. I cried at his bedside, and I don't remember how long I did it for. I don't even know when they left, but when I stopped, I don't think they were there anymore. I was alone for a moment.
      </p>
      <p>
        I looked at his eyes because I knew I would forget what color they were. I always did when someone died, and hoped I wouldn't this time. I ran my hand on his forearm; he was still warm. I wanted to touch his hand, but I couldn't. I wanted to remember the last time I held his hand with the tight squeeze he gave me in the hospital, one that I had never had from him before. One I thought, at that moment, that I'd never have again. I was right. I didn't want to remember it as non-responsive. I just couldn't.
      </p>
      <p>
        I gave him a hug and laid my head on his chest. I searched for his heartbeat. I knew what it sounded like; I listened intently when I gave him a hug at the hospital. I remember being struck by how fast it was, much faster than mine. How exhausted his heart must have been. I waited, but there was nothing. He was lying there, and he was still warm. The only thing missing was his heartbeat.
      </p>
  </div>

  <div class="col p-2">
    <h5 class="worktitle mt-5 mb-2" id="themanual">The Manual</h5>
    <p><i>january 2016</i></p><br>

      <p>
        Simmering in the carafe was the smell of burnt black coffee, the air thick with cigarette smoke.  The sun was shining, birds chirping away, unaware of any issue in the world; it was a beautiful day on most accounts.
      </p>
      <p>
        It was our one-month anniversary. While not a particularly significant day, it was new and shiny. A typical Tuesday, we were messaging between our classes – an exercise of procrastination and affirmation on both of our parts.  I was contemplating saying something about how it was our one month when I saw the browser flicker and noticed I had gotten a new message.
      </p>
      <p>
        <em> "My dad has cancer, and they're only giving him a few months." </em>
      </p>
      <p>
        I don't think those are the exact words.  No, they're not, and I'm sure of it, but that doesn't really matter.  Smoke weighed heavily around me, the stench permeating every ounce of my being.  Suddenly, it wasn't so beautiful anymore.  Time stopped, and suddenly, all of my problems were insignificant. The day didn't matter. Nothing mattered.
      </p>
      <p>
        I was insignificant.
      </p>
      <p>
        Yet I was somehow expected to carry all of this burden. To be blamed for everything, to feel the wrath of "it's your fault I didn't have enough time with my dad."
      </p>
      <p>
        There is no manual for being the partner of someone whose father is going to die. If there was, I would thumb through the pages every single day to get a sense of how to deal with the emotional hell that had broken loose.  All I know is that bracing for the impact of impending death does not make the impact less painful.  I think, in fact, that it worsens the blow.  I sat in silence in the wake of the news. He's going to die before his time, and there wasn't anything to do about it.
      </p>
      <p>
        I couldn't stop crying.  Tears pooled up in my hands, and I remember looking at them in disbelief as if I had never cried before.  I felt like I couldn't breathe.  I needed one of those damned oxygen masks they tell you about when you get on an airplane, you know, the ones that may not fully inflate, but still provide you what you need.
      </p>
      <p>
        <em> "In the event of a decompression, an oxygen mask will automatically appear in front of you. To start the flow of oxygen, pull the mask towards you. Place it firmly over your nose and mouth, secure the elastic band behind your head, and breathe normally. Although the bag does not inflate, oxygen is flowing to the mask. If you are traveling with someone who requires assistance, secure your mask on first, and then assist the other person." </em>
      </p>
      <p>
        My problems are different because he's not <em>my </em>father, yet because I was this man's partner, he was suddenly given the title of<i>my dad</i>, and because of that I'm now given the role of support for people to help with this loss.  I didn't want that; I hardly knew these people. But they insisted. They needed me to get through this. Suddenly I because so engrossed in the process of other people's grief, I began to lose myself.  I needed to put my mask on first, and I don't think I ever had the chance to grasp for it. I was suffocating.
      </p>
      <p>
      ---
      </p>
      <p>
        I remember my first intimate experience with a dead body.  A cadaver, splayed out on the table, ready for my eager hands to explore its intricacies.  I held their heart in my hand, once beating now limp, and useless as a paperweight.  I traced the arteries connected back towards the arm, stumbling upon the nerves clustered in the armpit, threaded in-between my index and middle finger down the arm.
      </p>
      <p>
        The muscles peeled back as I pulled on the nerves like loose strings in a piece of clothing.  Tugging on a tendon made the fingers move, and I remember playing around as if manipulating a marionette.  An evening's entertainment.  Glancing up, a formaldehyde smile stared back at me.  I held the hand of a corpse, flesh dissected for examination, but I was struck in awe at how that hand is still a hand, once capable of experiencing the sensations I felt with my fingers entwined with theirs.
      </p>
      <p>
        I wonder what sorts of things they felt when they were still alive. What it would have felt like for them to hold someone's hand. Would I feel like this one day, too?
      </p>
      <p>
      ---
      </p>
      <p>
        My best friend Kris passed away some time ago.  I remember hearing the news on Facebook. I was angry.  Not at him, well, maybe a little bit, and drug overdose with a sprinkling of suspected suicide is funny that way – we get mad at the person who does it because we think we can help, but really, we can't, because it's the ultimate choice, and no one else's but their own.  But people have always been so cold when it comes to things like this. Indifference, confusion, frustration. Irreconcilable pain.
      </p>
      <p>
        It's all over social media. People crying, begging him to come back. My aunt died at thirty-two, from a heart attack.  Facebook. My cousin, Val, suspected overdose, gone. Facebook.  My great-grandmother died.  Facebook.  Now, it would not be so bad if they were personal messages, but they were status updates that, had I not caught a glimpse of in that moment, who knows when I'd find out. Black sheep and all. Social media's reaction felt pretty typical, though - a display of "woe is me" for sympathy, fuck anyone else who might actually be involved and affected.
      </p>
      <p>
        I sat in Kris' hospital room as he lay in a coma, breathing staggering, clammy.  I sang songs to him, combed his long, beautiful hair.  I laid in bed with him, hoping that hearing my voice and feeling the warmth of my body against his would somehow rouse him.  I put my hand in his, but that day Kris felt like that cadaver, and I knew that he wasn't coming back.  I left five hours before he died.  I had a chemistry exam I couldn't get out of. I tried to petition but was met with indifference, almost as if they didn't believe me. No, I couldn't have had that kind of trauma...right?
      </p>
      <p>
        I still hold resentment towards myself for that, years later. And of course, I failed the test, because who could concentrate when that's going on? I would give anything to have been able to be there with him instead of thinking about fucking valence bonds.
      </p>
      <p>
        So, what do I make out of it, then?  This "new" grief allowed me to appreciate, to accept, and understand the life I am living.  Death is one of the few certainties of life.  If we don't grieve death, we cannot turn it into acceptance, or something that is not to be feared.  We need a reminder to be meaningful because it often knocks on our door when we least expect it to.  Even with that awareness, it doesn't make death hurt less.  Again, bracing for the impact doesn't make the eventual impact less painful.
      </p>
      <p>
        I know I still needed a mask, but not one that provides oxygen anymore.  No, I need a mask that hides how I feel.  One that can allow me to function. I am insignificant. A tool.
      </p>
      <p>
        A week passes by.  We don't talk much about his father, because doing so creates a sort of downward spiral of despair.  He refuses to grieve with me. I suspect that because if you grieve, it becomes real.  So instead, we argue.  We complain about things to distract us: school, work, terrible drivers.  Mundane irritations that hold no meaning.  We complain more than we appreciate, and it drags us down.
      </p>
      <p>
        He then says to me, "Complaining is a coping mechanism for grieving life. It's all anyone does.  Living is traumatic." What purpose does the complaining serve to mitigate the trauma?  It is not unlike having a toothache; we complain about our pain to gain pity because the attention makes us feel good.  We acquire pleasure from our misfortune, continually pressing on the bleeding wounds to remind us that we are still alive and that we need affirmation of our suffering to find a place in the world we are stuck in until, we too, die.
      </p>
      <p>
        We drink, we sleep, and we neglect self-care, destroying ourselves to escape the trauma of living.  And we complain to make that trauma seem more comfortable.  And we still refuse to grieve. It's funny, thinking about the idea of grief. It's absurd, really, and we mirror this absurdity in how we process our grief.
      </p>
      <p>
        Anger.  Sadness.  Pain.  Self-abuse.
      </p>
      <p>
        But we won't acknowledge that we are grieving, because if we do, then we must reflect upon what that means.  So instead, we express our grief without saying we are grieving.  We crave for permission to do so in a world where grief is forcefully private.  If we are told to grieve, we refute it to remain strong, starving ourselves from healing, much like how a dehydrated man begs for water and, if given it, vomits it up.  Incapable of the acceptance of grief, we instead hold faith to try and separate the situation from reality, creating our own reality in the process.
      </p>
      <p>
        "I need to do something drastic," I joked, misquoting Camus. "Suicide isn't an option, and we can't get married yet.  And l'illustration has been out of print for years."
      </p>
      <p>
        The next day, I chopped off all of my red hair.  I had wanted it to my hips.  I couldn't handle the stress caring for myself anymore; it reminded me of better days.  Eleven inches long, now shaved on both sides. Black, reflective of my moods lately, but I left a bit of red, in hopes it would cheer me up. My hair was always where I felt the most confident in myself. I felt mangled.
      </p>
      <p>
        External grieving because I cannot show my pain otherwise. But every time I looked in the mirror, all I could see was how I was becoming someone else because of someone else.
      </p>
      <p>
        "It's when we're busy, distracted, sought out, exteriorized, that we suffer most," Barthes notes in the Mourning Diary.  I wonder if it's because we can't focus our attention on it like we should be able to.  Everything else takes precedence, and we are supposed to grieve on our own time, but that time never comes.  We aren't allowed that time given all of the other obligations: school, work, family, friends, and relationships.  If we grieve, we neglect our responsibilities.
      </p>
      <p>
        "I don't have the time to think about this." I am processing the events with him that "it's not what you're thinking, but how you're thinking about it." Sure, if you think life is traumatic, then it will be.  If you can adjust your own perception, then maybe it's not traumatic.
      </p>
      <p>
        It's an exciting position to be in, suddenly aware of your own mortality, your choices, and your freedom. "Man is condemned to be free." The sentiment makes you laugh.  Whoever thought freedom was a blessing hasn't ever had it.
      </p>
      <p>
        You question the meaning of everything, finding it hard to make meaning, and what the hell does that mean anyway?  Becoming overwhelmed by the idea of having freedom to make meaning out of anything results in you doing nothing instead.
      </p>
      <p>
        You sit disheveled, unable to care enough to eat. Chain-smoking watching as the rain pounds your windows, only getting up because you feel sick from all of the nicotine and whiskey.  You slag about just enough to get a cup of coffee, and then melt back to the couch.
      </p>
      <p>
        Your look down; the cup is dirty and has bits of lipstick from the last time you washed it.  Tuesday?  Was it <em>that</em> Tuesday?  What day is it today?  How many days has it been?
      </p>
      <p>
        Whatever.
      </p>
      <p>
        You don't even know why you bothered, because it all just feels like hell.  Existential angst consumes your soul, but you're still not sure what it even means, if it even means anything, but you know you have to choose to do something.  You have to search for meaning in whatever your choices are, because if you don't, then it's all meaningless. What's the god damn point of living?
      </p>
      <p>
        Do you choose to kill yourself, or do you simply enjoy another cup of coffee? But it doesn't even matter what you choose. It's all just absurd, and you have to accept it.  You accept it and become free.  Condemned to be free.  Fuck if we aren’t <em>condemned</em> in our freedom.
      </p>
      <p>
        So, what happens when you try and talk about it?  Talk to a friend; they tell you things are falling apart. Obviously. Comments about a failing relationship. So many red flags you'd think you were in the USSR.  Bring it up to your "partner, he says it's too abstract to care about.  I know he's angry.  His dad's dying. I shouldn't talk about how meaningless life is, but I don't know what else to talk about after chasing this rabbit. I wanted to catch it and tell me <i>why</i>.
      </p>
      <p>
        He always told me that I was just trying to deal with what he's dealing with in my own way, disconnected and philosophical instead of experiencing the real, the visceral, like he is. I thought my rambling on about how nothing matters is just another way to keep myself busy, so I don't have to grieve. If it doesn't matter, then it doesn't exist, and it won't hurt, because "nothing" can't hurt you. Invalidation. Implicating I had not experienced the loss of someone I loved deeply - how could I? He says I'm inexperienced with tragedy. It was then I realized he never knew me.
      </p>
      <p>
        A few months have gone by, and the room is once again filled with a cloud of heavy smoke and enough liquor capable of permanently drowning your sorrows.  I was informed his grandmother supposedly wasn't going to make it much longer, either.
      </p>
      <p>
        Proposed to after trauma. No one else would have loved me. Why wouldn't I accept it? Coerced to give up my freedom where to live and finishing my education. To become a wife to be a support system. He "needed" me. I did not expect that saying "yes" would be so painful and dehumanizing.
      </p>
      <p>
        <i> "I have no time to decompress. I've been going every moment for what feels like weeks.  Now I'm wondering if the two of the most important people in my life will be around to see me marry the woman I love, and what does that mean?  What do I do?" </i>
      </p>
      <p>
        Reading those gives me a sickness comparable to being poisoned. If only I were capable of listening to those words a little deeper, would I have been able to see the sorcery they were weaving.
      </p>
      <p>
        John Berger once said that "at some point when tending someone you love who is in pain, you reach the edge of a lake, and you look at each other with such joy at the stillness." That lake beckoned us, craving the eerie calm. But we never did reach the shore, and I'm sure he would have drowned me if we did.
      </p>
  </div>
</div>
