<b>Free to Prey: Driving the (Financial) Stake into MMORPG Community Toxicity</b>
<p>Presented by <a href="https://www.linkedin.com/in/forest-mead-7a639a7a/" target="_blank">Forest Mead</a> & Jennifer Mead (Popernack) at MPCA 2016 Chicago</p>

<p>Abstract:</p>

<p>
  Current research into massive multiplayer online games has focused primarily on in-game behaviors and characteristics, linking personality factors to in-game motives (Graham and Gosling,) interaction in regard to social capital (Zhang) or the role of demographics in overall world immersion (Lakhmani).  In spite of the prolific existing research, there is a noted dearth of literature concerning the interaction between different payment models, community toxicity, and cohesion within MMORPGs.  It appears that different business models (subscription, free to play, or transitional) set the tone for the community within the game, creating a connection between financial stake and social cohesion.  As MMORPGs function as a representation of reality in-game, the experience is socially and interactively created. Yet depending on the type of business model, they require different levels of financial investment and behaviors on the part of their audience, which in turn affect player motivations. We explore the relationships between power, motive, and financial expenditures within the game, the influence of socioeconomic and demographics in player profiles, and how this compares between subscription-based versus free-to-play models.  These relationships suggest the connection between financial stake and community is one that arises from a fear of punishment in-game, an interest in the protection and preservation of in-game assets, and a desire for an assertion of power in a world where the individual has the opportunity to do so.  As such, we argue that this complex dynamic exists by exploring the triadic interaction between service models, social cohesion, and community toxicity present in the communities of certain popular online video games.
</p>

<p>Additional data available upon request.</p>
