<div class="row justify-content-center mb-5">
  <h1 align="center">&Vert; technical, proposal, & seo writing</h1>
</div>

<div class="d-lg-block d-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
        <a href="./digispace">digital spaces</a>
      ░ <a href="./poetry">poetry</a>
      ░ <a href="./gonzo">narrative & gonzo</a>
      ░ <a href="#">_other writings_</a>
    </h3>
  </div>
</div>

<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
       <a href="./digispace">digispace</a> &#8286;
       <a href="./poetry">poetry</a> &#8286;
       <a href="./gonzo">gonzo</a> &#8286;
       <a href="#">_other_</a>
    </h3>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <p>Technical writing. Proposal writing. SEO writing.</p>
</div>
