<h1 class="hilite"><span>other works</span></h1>
<p>
  This section showcases other works I have done that cannot be categorized within digital communities.
</p>
<div class="col-12">
  <h3 class="hilite mb-0"><span># navigating the academic seas</span></h3>
  <h6 class="hilite"><span>//saint sloud state university student research colloquium [03 June 2016]</span></h6>
    <p>
      "Pilot project for a dedicated departmental advisor within the Community Psychology department. Survey results show that meeting with a departmental advisor improved potential student outcomes. Implications of meeting with an advisor are presented."
    </p>
    <p>
      <b>Awarded Finalist for Graduate Research Poster Competition</b>
    </p>
</div>
<div class="col-12">
  <h3 class="hilite mb-0"><span># Antioxidant Acivity in Different Forms of Hops</span></h3>
  <h6 class="hilite"><span>//national conference for undergraduate research (NCUR) [04 April 2014]</span></h6>
    <h6 class="hilite"><span>//the college of saint scholastica undergraduate research poster session [08 oct 2013]</span></h6>
  <p>
    "Lupulin compounds in the hops plant (Humulus lupulus) have been studied in recent years for their potential antioxidant properties. The reaction with DPPH• (2,2-diphenyl-1-picrylhydrazyl) was used to determine the antioxidant activity of the hop extracts with Simcoe hop cones and pellets was investigated. This showed a rapid decrease in radicals over a period of 30 minutes."
  </p>
</div>
