<h1 class="hilite"><span>poetry</span></h1>

<div class="row justify-content-center mb-5">
  <p>co-hosted at <a href="https://nihilisteoptimiste.wordpress.com" target="_blank">WordPress</a>.</p>
</div>

<div class="row">
        <div class="p-2"><a href="#withinherchest">░ Within her chest</a></div>
        <div class="p-2"><a href="#thereturn2">░ The Return, Part II</a></div>
        <div class="p-2"><a href="#alovepoem">░ a love poem</a></div>
        <div class="p-2"><a href="#thereturn">░ The Return</a></div>
        <div class="p-2"><a href="#thenarcissist">░ the narcissist/what is loss</a></div>
        <div class="p-2"><a href="#thedistraction">░ the distraction</a></div>
        <div class="p-2"><a href="#asilaycrying">░ as i lay crying</a></div>
        <div class="p-2"><a href="#thevoid">░ the void</a></div>
        <div class="p-2"><a href="#dreamsatthree">░ dreams at three</a></div>
        <div class="p-2"><a href="#fouryearsandelevenhours">░ four years and eleven hours</a></div>
        <div class="p-2"><a href="#noumenonscurse">░ Noumenon's Curse</a></div>
        <div class="p-2"><a href="#sevendays">░ seven days</a></div>
        <div class="p-2"><a href="#shewasalwaysbettersuitedforrain">░ she was always better suited for rain</a></div>
        <div class="p-2"><a href="#thenoumenal">░ the noumenal</a></div>
        <div class="p-2"><a href="#digitalcutup">░ digital cut-up</a></div>
        <div class="p-2"><a href="#ambiguities">░ ambiguities</a></div>
        <div class="p-2"><a href="#theprocess">░ the process</a></div>
        <div class="p-2"><a href="#rainymay">░ rainy may</a></div>
        <div class="p-2"><a href="#air">░ air</a></div>
        <div class="p-2"><a href="#parentheses">░ (paren)theses</a></div>
        <div class="p-2"><a href="#3rdand3rd">░ 3rd and 3rd</a></div>
        <div class="p-2"><a href="#serenitysillusion">░ l'illusion de la sérénité</a></div>
        <div class="p-2"><a href="#therhetorician">░ the rhetorician</a></div>
        <div class="p-2"><a href="#pourquoi">░ pourquoi?</a></div>
        <div class="p-2"><a href="#forafriend">░ for a friend</a></div>
        <div class="p-2"><a href="#untitled2">░ kindling (untitled no. 2)</a></div>
        <div class="p-2"><a href="#untitled1">░ a warning (untilted no.1)</a></div>
        <div class="p-2"><a href="#epistletoafriend">░ Epistle to a Friend</a></div>
        <div class="p-2"><a href="#aboardtheserentiy">░ Aboard the Serentity</a></div>
        <div class="p-2"><a href="#meaning-making">░ meaning-making</a></div>
        <div class="p-2"><a href="#justbeforenoon">░ just before noon</a></div>
        <div class="p-2"><a href="#epitaph">░ epitaph</a></div>
        <div class="p-2"><a href="#highway2">░ highway 2</a></div>
        <div class="p-2"><a href="#preamble">░ Preamble to the Constitution of the United States of Capitalism</a></div>
        <div class="p-2"><a href="#ACritiqueonModernPoetry">░ A Critique on Modern Poetry</a></div>
        <div class="p-2"><a href="#aneas">░ An Eas</a></div>
        <div class="p-2"><a href="#existanceissuffering">░ existance is suffering</a></div>
        <div class="p-2"><a href="#thirdstreetheartaches">░ third street heartaches</a></div>
        <div class="p-2"><a href="#sunday">░ sunday</a></div>
        <div class="p-2"><a href="#anoceanbelow">░ an ocean below</a></div>
        <div class="p-2"><a href="#hunger">░ hunger</a></div>
        <div class="p-2"><a href="#heyeverett">░ hey everett</a></div>
        <div class="p-2"><a href="#saturday">░ saturday</a></div>
        <div class="p-2"><a href="#makingsenseofseptember">░ making sense of september</a></div>
        <div class="p-2"><a href="#lupusludem">░ lupus ludem</a></div>
        <div class="p-2"><a href="#thisisnotaboutyou">░ this is not about you</a></div>
  </div>

      <!--

      <div class="p-2"><a href="#"></a></div>

      <h5 class="worktitle mt-5 mb-2 text-right" id=""></h5>

    -->





<div class="container-fluid">
  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="withinherchest">Within her chest</h5>
          <p class="text-left">
            A grove of pines once stood tall<br>
            Encasing a lush, mossy cavern<br>
            That was littered with butterflies freely;<br>
            And deep within these woods<br>
            Was a lake: pure, clean, and glistening<br>
            Endless in her gift, a reflection of spirit<br>
            <br>
            Quietly, but quickly a fire spread<br>
            The underbrush burned with ferns screaming<br>
            The flames roared singeing their wings<br>
            The air thick with a heat that was suffocating<br>
            And rivers become as dry as arroyo<br>
            The lake nothing now but a hardpan, dead<br>
            <br>
            Those tiny, beautiful fluttering bodies<br>
            Now unrecognizable masses of carbon<br>
            Their black chunks matted into burnt moss<br>
            With the woodlands now barren, dead and begging<br>
            For the lake to fill once again, and they cried<br>
            Longing for when those butterflies flourished.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="thereturn2">The Return, Part II</h5>
          <p class="text-right">
            "What is it you see?" she asked him tentatively.<br>
            After a few moments too long, he responded:<br>
            "I see a soul who yearns deeply,<br>
            Yet I cannot see is what it's yearning for."<br>
            <br>
            The woman looked down at her glass, empty.<br>
            She had already begun to drink her sorrows.<br>
            "That's because what I want doesn't exist.<br>
            What I want," she sighs, "is an impossible future."<br>
            <br>
            The man looks up at her again,<br>
            Eyes housing an uncomfortable emptiness.<br>
            "This impossible future, my dear;<br>
            "What does that mean?"<br>
            <br>
            She laughs instinctively but inside she twists,<br>
            Like a writhing mass of worms entangled after a flood,<br>
            Gripping one another, struggling for air.<br>
            "I yearn for the day in which I can wear my own flesh."<br>
            <br>
            His gaze shifts from her eyes to her cheekbones,<br>
            Catching the light and shadows like a marbled statue;<br>
            Her ruby lips made a perfect cupid's bow.<br>
            "Yes," she smirked, his survey not going unnoticed.<br>
            <br>
            "This flesh. I want to own it."<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="alovepoem">a love poem</h5>
          <p class="text-left">
            Roses are meaningless,<br>
            Violets have no value;<br>
            Sugar is inconsequential,<br>
            And so are you.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="thereturn">The Return</h5>
          <p class="text-right">
            "It's been a long time,"<br>
            She whispered, sipping her drink.<br>
            A bittersweet mix of whiskey and sour,<br>
            Reminiscent of her own experience.<br>
            <br>
            He shuffled his rum and coke on the table,<br>
            Unsure of how to proceed from here.<br>
            It was only moments ago he prepared,<br>
            But he couldn't anticipate this.<br>
            <br>
            She looked up at him and stared,<br>
            Piercing into his soul like a poisoned arrow.<br>
            And he noticed in that moment,<br>
            How sad and beautiful her eyes were.<br>
            <br>
            Just like her.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="thenarcissist">the narcissist/what is loss</h5>
          <p class="text-left">
            something to mourn with<br>
            tears that create a puddle<br>
            so deep you that drown<br>
            <br>
            a heartache to endure<br>
            and not the good kind<br>
            that makes you whole<br>
            <br>
            it is a harbinger<br>
            of the potential<br>
            that no longer exists<br>
            <br>
            but a reminder that<br>
            the future you expected<br>
            never existed<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="thedistraction">the distraction</h5>
          <p class="text-right">
            what will happen when<br>
            the trauma fades<br>
            and we are left<br>
            alone with just<br>
            <br>
            <i>ourselves?</i><br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="asilaycrying">as i lay crying</h5>
          <p class="text-left">
            i can no longer<br>
            imagine a life<br>
            in which I do not share<br>
            with those I love<br>
            that I love them<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="thevoid">the void</h5>
          <p class="text-right">
            if i could describe the visions<br>
            i see at this hour<br>
            that manifest in my dreams<br>
            <br>
            i wish more than anything<br>
            that we could share<br>
            these horrors together<br>
            <br>
            because if anyone could quell<br>
            the demons<br>
            it would be you<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="dreamsatthree">dreams at three</h5>
          <p class="text-left">
            if i could tell you<br>
            everything that i feel<br>
            would you run away<br>
            <br>
            or would you stay<br>
            and bask in the warmth<br>
            of what i want to share with you<br>
            <br>
            or does it matter even<br>
            at this point because<br>
            it all seems so fixed<br>
            <br>
            i am left once again<br>
            wishing in the dark<br>
            for two hearts<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="fouryearsandelevenhours">four years and eleven hours</h5>
          <p class="text-right">
            today was not as hard<br>
            as it seemed it would be<br>
            and I realise that from the<br>
            <br>
            gaping wound<br>
            <br>
            left from your absence<br>
            the love that I shared with you<br>
            was able to be reallocated<br>
            <br>
            in this I have not lost you<br>
            for what I could once give to you<br>
            i am able to share with others<br>
            <br>
            just as every living thing<br>
            dies and returns to the earth<br>
            to nourish something else<br>
            <br>
            our bond is a foundation<br>
            on how to love others<br>
            and be loved in return<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="noumenonscurse">Noumenon's Curse</h5>
          <p class="text-left">
            How vulnerably human I am,<br>
            With your skin against mine,<br>
            Our lips press together,<br>
            Your fingers brush my cheek<br>
            <br>
            A swirl of ethereal passion.<br>
            Existing only as an observation<br>
            A limerent figure within<br>
            This mirage I have created
            <br>
            Do you taste the sweat<br>
            From the fire and earth beneath<br>
            The call of the sunrise beckons<br>
            Condensation gathers on my skin, sweet<br>
            <br>
            Tonight, this fantasy must end<br>
            But I will visit tomorrow<br>
            Inside my noumenal reality<br>
            And ache once again for you<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="sevendays">seven days</h5>
          <p class="text-right">
            on these nights I think,<br>
            how easy it would be<br>
            to simply disappear;<br>
            but then I remember<br>
            how much it hurts<br>
            to have lost you.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="shewasalwaysbettersuitedforrain">she was always better suited for rain</h5>
          <p class="text-left">
            petrichor stains the air,<br>
            moonglow caresses her body;<br>
            her tender peaks illuminated,<br>
            those sensual valleys shadowed.<br>
            <br>
            her hands map that supple landscape,<br>
            as the clouds begin to swell;<br>
            she begs for the storm to come,<br>
            anticipating the downpour.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="thenoumenal">the noumenal</h5>
          <p class="text-right">
            what he didn't know<br>
            is that she would kill<br>
            to smell him on her shirt<br>
            every time she shifted<br>
            <br>
            to listen to his laugh<br>
            on repeat in her head<br>
            like a pop song<br>
            you can't get rid of<br>
            <br>
            she imagined how he would look<br>
            if she smiled at him<br>
            but having never seen his face<br>
            wondered whether she was crazy<br>
            <br>
            or if he was smiling, too<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="digitalcutup">digital cut-up</h5>
          <p class="text-left">
            i seek but am disenchanted<br>
            <br>
            <em>unsettling </em><br>
            <br>
            if i could speak instead<br>
            i know my only way<br>
            is mute with a fantasy reality<br>
            <br>
            it buzzes the mind<br>
            full of fragmented dreams<br>
            and i cannot have<br>
            <br>
            <em>this</em><br>
            <br>
            without giving something else<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="ambiguities">ambiguities</h5>
          <p class="text-right">
            washing over me<br>
            freezing<br>
            <br>
            like home<br>
            <br>
            the "so what"<br>
            behind all of<br>
            <br>
            this<br>
            <br>
            is a stout headache<br>
            yearning<br>
            <br>
            for a cigarette<br>
            <br>
            and whether or not<br>
            i deserve any of it<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="theprocess">the process</h5>
          <p class="text-left">
            Tears fall onto my hand,<br>
            Stinging like liquid nitrogen.<br>
            <br>
            <em>I'm supposed to be strong.</em><br>
            <br>
            You asked something so great<br>
            I think, because you knew;<br>
            <br>
            And I despairingly promised.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="rainymay">rainy may</h5>
          <p class="text-right">
            rain falls<br>
            gently down<br>
            like tears<br>
            let them out<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="air">air</h5>
          <p class="text-left">
            when your heart is heavy<br>
            and your mind is dry<br>
            do not be afraid to let go<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="parentheses">(paren)theses</h5>
          <p class="text-right">
            Enjoy your life in the moment.<br>
            (But don’t forget your future.)<br>
            Don’t put pressure on events.<br>
            (Allow them to happen naturally.)<br>
            Emotions should be slow.<br>
            (But don’t deny feeling.)<br>
            Stay cautious.<br>
            (Let down your walls to those who trust.)<br>
            Don’t be afraid to show care.<br>
            (They might not run away this time.)<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="3rdand3rd">3rd and 3rd</h5>
          <p class="text-left">
            I sit here staring up at the cloudy sky<br>
            The full moon shining down on me<br>
            Wishing upon the stars, they beckon me with their twinkle<br>
            And I can't help but think of how beautiful it all is<br>
            Noticing the light reflecting off the buildings<br>
            The bricks a pale shade of yellow<br>
            Leaves rustling - can you hear the Earth speak?<br>
            Cold winds nip at my face<br>
            A bit of butterflies thinking of your smile<br>
            Sipping coffee to turn me up right<br>
            Shimmers of snow on the pavement<br>
            The pure smell of winter wafts in the air<br>
            Watching the traffic go by as if in a daze<br>
            The antagonistically bitter breeze, so clean and refreshing<br>
            I turn towards the door, creaks as I enter<br>
            Looming steps up to my home<br>
            Greeted by my furry family, I stop and think<br>
            Of all the things in my life<br>
            What once was lost is now found<br>
            And it all hits me all at once<br>
            You're the reason I write, my inspiration to breathe freely<br>
            You show me things I have never seen, only dreamed of<br>
            I've been stuck for years, only for it all to release<br>
            In a spurt of rampant creativity<br>
            I hope this never leaves me again<br>
            The flow of energy theopneustic<br>
            As I walk towards my room, and stare out my window<br>
            Condensation fogging up the glass<br>
            The moon shines through onto me once again<br>
            And I know that everything is finally in its right place<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="serenitysillusion">l'illusion de la sérénité</h5>
          <p class="text-right">
            the snowfall mimicked my smiles as it fluttered down<br>
            and as i reached to touch a flake with my bare hand,<br>
            i dreamed once again of an impossible future.<br>
            <br>
            a dear friend of mine reminded me, truthfully, that<br>
            i have never caught a snowflake with my bare hands,<br>
            so i thought i needed gloves to catch them.<br>
            <br>
            hands covered, i tried again to catch these delicate structures<br>
            when suddenly the snow stopped and the night grew cold,<br>
            and i realised i am much better suited to catch the rain.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="therhetorician">the rhetorician</h5>
          <p class="text-left">
            chest cracked open<br>
            heart exposed, soul seeping<br>
            with words skilled as any surgeon<br>
            she lay vulnerable, weeping<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="pourquoi">pourquoi?</h5>
          <p class="text-right">
            you said to me<br>
            "it is easier this way"<br>
            as the months go by<br>
            it hurts even more<br>
            <br>
            trying so hard<br>
            to keep composure<br>
            drink exacerbates<br>
            leaving me in shambles<br>
            <br>
            all i am doing<br>
            is masking the pain<br>
            but i am incapable<br>
            of processing your absence<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="forafriend">for a friend</h5>
          <p class="text-left">
            gewürztraminer<br>
            glass by glass i reminisce<br>
            you tell me good night<br>
            but the evening has just begun<br>
            how long i wonder it will be<br>
            until normal comes back<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="untitled2">kindling (untitled no. 2)</h5>
          <p class="text-right">
            your selenic soul<br>
            enchanted me from first glance<br>
            enveloped with its radiant glow<br>
            that has kept me warm<br>
            in the crisp autumn air<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="untitled1">a warning (untilted no.1)</h5>
          <p class="text-left">
            Pools of amber reflect the light of the endless night sky;<br>
            They speak of things words can only dream of expressing.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="epistletoafriend">Epistle to a Friend</h5>
          <p class="text-right">
            Dearest friend, while I listened to chatter in the pub,<br>
            I overhead someone who was blissfully happy,<br>
            All because she could buy more makeup with her raise,<br>
            Another man bellowed of how he wanted to get into sales<br>
            So they can afford their dream home in the country,<br>
            And the bloke behind me stating that his new shoes,<br>
            Oh, how they were the best, because only 100 pairs were made.<br>
            I sat there alone and drank my troubled thoughts.<br>
            <br>
            Is this what our society is going to?<br>
            Where people care only about buying more stuff,<br>
            About what new and fancy things they can own?<br>
            How their phone is the newest, or their fashion the latest?<br>
            Instead of these trivial pursuits, what about thinking?<br>
            We should not care about money, but about intellect!<br>
            Intelligence is what fosters the ultimate rewards in life.<br>
            What is it that you care for the most, my friend?<br>
            <br>
            Some would say this is a poor choice of a life,<br>
            It’s those who want you to waste your short existence,<br>
            Just so you can continue to buy more of their creations,<br>
            Ultimately supporting their own coffers while draining yours,<br>
            To have you slave away at your job for worthless goods,<br>
            Goods which only gives them the benefit of your hard work,<br>
            As you are unaware of you giving them your life!<br>
            It’s absurd – why would anyone choose to do this?<br>
            <br>
            Me, I sit and write in hopes that I will be found by someone.<br>
            Until then, I slave away just the same as you,<br>
            What a hypocrite I am, to complain about this!<br>
            Yet I cannot help but think that I am choosing to do this,<br>
            So I can someday do something else with more meaning.<br>
            The job I do is not the job I am destined to do, clearly,<br>
            Because this talent won’t be wasted on someone else’s dream!<br>
            I will chase my own, and succeed, you will see!<br>
            <br>
            For what good is it to waste your life for another?<br>
            Nae, I will not succumb to this trap that you have,<br>
            The trap of materialism in this country.<br>
            But it seems as if I must against my will,<br>
            For even as I whine for those to find me,<br>
            I too want to build that fame and fortune!<br>
            So I will hope to catch the eye of someone then,<br>
            Someone willing to empty their coffers unto me!<br>
            <br>
            However as I care about thinking about thinking,<br>
            And not about which new makeup, house, or shoes,<br>
            Are my dreams of recognition as a writer and scholar,<br>
            Just the vain dreams of my own form of consumerism?<br>
            My friend, tell me, am I simply jaded by the glory of academics?<br>
            What will this endless slavery get me but a headache,<br>
            Plus stress, debt, and more!  Even in the ivory tower,<br>
            There are predators upon the one who cares about intellect!<br>
            <br>
            Does this make me outside of the realm of the typical individual?<br>
            To assert this position is to ignore the very essence that drives,<br>
            And that essence is money.  Now, I have seen in my letter to you,<br>
            My ambitions, aspirations, all in the end are to bring coin.<br>
            I am just like you truly, and you are just like me.<br>
            We are, after all, in this society, bent on achieving the American dream.<br>
            I hope that a higher consciousness is achieved through my actions,<br>
            So I drink my troubles away, thinking of you, and how alike we are.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="aboardtheserentiy">Aboard the Serentity</h5>
          <p class="text-left">
            In the beginning of spring we had joined hands,<br>
            The night blossomed to a morning so sweet.<br>
            We compared life to Shepherd Book, that smart man,<br>
            “It doesn't matter, just believe,” said he.<br>
            <br>
            The human condition, how it made us grin,<br>
            As we drank delectable chardonnay.<br>
            Our minds blowing around like leaves on the wind,<br>
            Caught unawares of the impending day.<br>
            <br>
            A bottle down we finished and then one more,<br>
            A cigarette to help slow our minds.<br>
            As the sun rose, we had to settle the score,<br>
            But how should we then and still be kind?<br>
            <br>
            Inside we went and suddenly sleep beckoned,<br>
            We looked at each other and smiled wide.<br>
            We climbed into bed, usual for us friends,<br>
            Limbs entwined punctuated with a sigh.<br>
            <br>
            Under the covers together our guard fell,<br>
            And you asked if it was alright to bare.<br>
            How could I refuse such a handsome offer,<br>
            As I lay with my fingers in your hair?<br>
            <br>
            Anxiety set in remembering weeks past,<br>
            Discussions of how dangerous this was.<br>
            And yet, those convictions did not last,<br>
            As here we were consumed by lust.<br>
            <br>
            What a bother it was to worry of others,<br>
            When what is in front of us felt so right.<br>
            Now it makes no sense to forfeit this pleasure,<br>
            One that has beckoned us all through the night.<br>
            <br>
            We turned to each other, and our eyes had met –<br>
            Suddenly we kissed, twas heaven sent!<br>
            This, my friend, is where the story must end,<br>
            Although you surely know where it had went.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="meaning-making">meaning-making</h5>
          <p class="text-right">
            The purpose that drives me is love in its purest form<br>
            I want nothing more than to be loved as I love others<br>
            But as I question what it is to love, I wonder<br>
            What do I sacrifice in pursuit of this?<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="justbeforenoon">just before noon</h5>
          <p class="text-left">
            when your breath shuddered I hoped<br>
            i waited to see your eyes open<br>
            <br>
            skin cold and your heartbeat slowing<br>
            i begged to hear your voice again<br>
            <br>
            then as I waited for you to come back to me<br>
            i realised that you never would<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="epitaph">epitaph</h5>
        <p class="text-right">
          my body has existed for 27 years<br>
          without knowing what yours feels like<br>
          pressed against mine.<br>
        </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="highway2">highway 2</h5>
          <p class="text-left">
            I sat in silence and watched the mist creep through the forest,<br>
            Enveloping the trees as if it was the embodiment of their being;<br>
            <br>
            In that moment I was caressed by nature's sensual passion,<br>
            Embedded in the tiny droplets that rest upon the windshield.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="preamble">Preamble to the Constitution of the United States of Capitalism</h5>
          <p class="text-right">
            We the Consumers of the United States,<br>
            in Order to form a more perfect Corporation,<br>
            disregard Injustice in favour of Convenience,<br>
            insure economic Disparity through Materialism,<br>
            provide for the common defence by slashing prices,<br>
            promote the Wealth of the One Percent,<br>
            and secure the Blessings of Television to ourselves and our Distractivity,<br>
            do Commercialise and establish this Constitution<br>
            For the United States of Capitalism.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="ACritiqueonModernPoetry">A Critique on Modern Poetry</h5>
          <p class="text-left">
            To say that poetry is dead is not a lie,<br>
            For what is the goal of the modern poet?<br>
            Self-praise, with abstraction to the ninth degree,<br>
            It’s an act of mental masturbation.<br>
            <br>
            The masters, Horace and Wordsworth, knew their meter truly,<br>
            Following in the tradition of the Greeks.<br>
            Words would gallop upon a page as waves of prose,<br>
            Their lyrical musings still with skill unmatched.<br>
            <br>
            Now all that we have is the refuse of fools,<br>
            Content with this art, if I can call it such.<br>
            For what good does it do to talk of the morning<br>
            If you cannot relate it to the common experience?<br>
            <br>
            Merely arranging the words on a page is not prose,<br>
            But a device that appears befuddled!<br>
            It is better then to be a designer than a poet,<br>
            If you think aesthetics trump the human condition.<br>
            <br>
            Leave the act of poetry to who gives it thought,<br>
            I beg thee not to waste the time of the reader.<br>
            For the world is full of enough modernist trash,<br>
            When what we need now is actual talent.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="aneas">An Eas</h5>
          <p class="text-right">
            His smile was etched into her memory that day,<br>
            As quick as the sun can burn an eye;<br>
            How sudden she succumbed to the idea of him,<br>
            Yet she cannot understand why.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="existanceissuffering">Existence is Suffering</h5>
          <p class="text-left">
            She cannot reflect on the past with much fondness,<br>
            For even her jubilant memories are drenched in bitterness;<br>
            <br>
            As the gaiety of summer is slaughtered by despondent winter,<br>
            It reminds her that nature too is subject to this tragic mess;<br>
            <br>
            Her existence is suffering marked by brief moments of felicity,<br>
            For all she can do now is withdrawal and repeat to herself, "it just is."<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="thirdstreetheartaches">third street heartaches</h5>
          <p class="text-right">
            that night i waited for your call<br>
            half past ten but it never came<br>
            someone told me this would happen<br>
            but i didn't want to listen<br>
            <br>
            days went by and i felt an emptiness<br>
            that i hope to never feel again<br>
            you vowed to me you'd be a good husband<br>
            but those don't leave you like this<br>
            <br>
            weeks went by and i no longer cried<br>
            i realised you weren't coming back<br>
            so why did you marry me to leave<br>
            and make me a widow in heart?<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="sunday">sunday</h5>
          <p class="text-left">
            a friend told me today that i thrive on ambiguity<br>
            if only i could find the words to change this<br>
            but my cynicism prevents me from doing so.<br>
            <br>
            my inability to gain these words from myself<br>
            and from others to clarify thoughts and feelings<br>
            will surely be the death of me.<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="anoceanbelow">an ocean below</h5>
          <p class="text-right">
            sweet nectar on your lips<br>
            my body aches with fire<br>
            pressure builds within me<br>
            as i writhe in anticipation<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-left" id="hunger">hunger</h5>
          <p class="text-left">
            they say the early bird gets the worm<br>
            but i can’t seem to find my own morsel<br>
            no matter how early i arrive to forage<br>
            <br>
            perhaps i need to go back so far into<br>
            the morning where it ceases to exist<br>
            and hunt my prey under moonlight<br>
            <br>
            searching for the worm during the day<br>
            i must fight against the others so then<br>
            the expenditure isn’t worth the reward<br>
            <br>
            waiting until dawn to begin my quest as<br>
            surely, it’s easier since everyone is resting<br>
            maybe the sunset will allow me to feast<br>
            <br>
            should i give up my pursuit for the worm<br>
            and accept that i should have something else<br>
            however tantalizing this little worm may be<br>
            <br>
            this forsaken worm curses me with hunger<br>
            starving because i’m convinced i need it<br>
            when i would be happier with berries<br>
          </p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="heyeverett">hey everett</h5>
          <p class="text-right">
            there are two roads a person can take<br>
            and then again two more<br>
            for each choice you make, another divide opens<br>
            a path within a path within a path<br>
            as if encountering two worlds simultaneously<br>
            <br>
            when contemplating which way to go<br>
            you imagine the one not chosen to flourish,<br>
            and they say: “see you in another lifetime”<br>
            as if that’s any consolation<br>
            <br>
            why are we so afraid of making the wrong decision, then<br>
            if in the end, in an alternate reality<br>
            we achieve every possible situation?<br>
            is our existence truly built on a tree<br>
            that never ceases to divide?<br>
          </p>
  </div>


  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-center" id="saturday">saturday</h5>
          <p style="text-align:center;">it seems clear that i have had too much to think today<br>
            because as the paint dripped it covered up the canvas<br>
            yet the canvas was always blank<br>
            there was never a moment<br>
            where it appeared empty<br>
            and yet at the same time it did<br>
            i sit here and think about erasing<br>
            my actions to quell the rain<br>
            it scares me because<br>
            to be honest i<br>
            don’t want<br>
            the zero<br>
            moment<br>
            either<br>
            as<br>
            this will<br>
            all fade<br>
            and<br>
            be<br>
            <br>
            gone.</p>
  </div>

  <div class="p-3">
        <h5 class="worktitle mt-5 mb-2 text-right" id="makingsenseofseptember">making sense of september</h5>
          <p class="text-right">
            how easy it is to hurt<br>
            for when you open towards joy<br>
            and feel distress instead of contentment<br>
            tells something of a joke<br>
            as if what you desire<br>
            can never be had<br>
            as a consolation<br>
            you get to experience the pit<br>
            equal to a punch in the gut<br>
            worthy to one who deserves it<br>
            but this is more than superficial<br>
            for who am I to judge what I deserve?<br>
            If indeed there is a reason for these feelings<br>
            perhaps there is a justification<br>
            for if all was sound and well within<br>
            there would be no feeling at all<br>
            would it be worth living to be without pain?<br>
            without despondency to counteract delight?<br>
            how can you have a life without ache<br>
            it makes the moments of happiness excusable<br>
            when those moments exist so fleeting<br>
            but perhaps I have found my answer already<br>
          </p>
  </div>

  <div class="p-3">
          <h5 class="worktitle mt-5 mb-2 text-left" id="lupusludem">lupus ludem</h5>
            <p class="text-left">
              you said to me "i just can't change<br>
              how i feel" when i went to you that night<br>
              in what seemed to be a cry for help<br>
              but when i said it was a miscommunication<br>
              i realize that you must have an inability to commit<br>
              because who would sever ties with someone<br>
              because they showed that they cared<br>
              <br>
              as i ruminate about how i thought<br>
              you felt about me i think what i thought<br>
              seemed so beautiful was just a narrative<br>
              played inside my head how i wish i wasn't<br>
              clouded by delusions of what i thought<br>
              was real because now all i can think of<br>
              is what a mistake it was to open up to you<br>
              <br>
              perhaps if you were honest you would<br>
              not have dragged me along with you<br>
              on your self-proclaimed foolishness that<br>
              isn't being a fool at all it’s just your lack<br>
              of responsibility and acknowledgement of the<br>
              damage your immaturity caused to my<br>
              fragile emotional state why would you do this<br>
              <br>
              you hurt me when i trusted you when i was<br>
              afraid and vulnerable i told you this and you<br>
              gave no thought about how your actions created<br>
              the situation that drove us apart and yet<br>
              i never got an explanation from you and<br>
              i doubt you have reflected on the words you said<br>
              that drove me to take the action i did which was<br>
              <br>
              caring when you wanted to die<br>
              <br>
              it was the thing that crushed us<br>
              yet i feel as if it wouldn't have mattered<br>
              because you would have left me anyway.<br>
            </p>
  </div>

  <div class="p-3">
          <h5 class="worktitle mt-5 mb-2 text-right" id="thisisnotaboutyou">this is not about you</h5>
            <p class="text-right">
              in an alternate reality<br>
              i would love you<br>
              more than i can now<br>
              with each day i think about<br>
              how hard it is<br>
              to know that your mind<br>
              cannot relate to mine<br>
              although my heart belongs to another<br>
              <em>i wish i had two</em>
            </p>
  </div>

</div>
