<div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; the master's project</h1>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress.</b></p>
</div>

<p>
  This project is a culmination of many years of confusion, toiling, and rediscovery. My educational path wasn't one I'd recommend to anyone else, but it's given me a lot of interesting ideas, and challenges to move past. I'm sure you can guess that cybersecurity isn't a common hobby for people who study the humanities, so my rationale is going to start with a confession: I wanted to be security engineer. The first half of my education was in network engineering and security, and I spent a few years working as a network security intern. I saw first hand the damage caused by phishing and ransomware applications. One of the institutions I was at got hit by ransomware, and I had to deal first hand with end users who fell prey to it. Not only was it challenging due to the nature of the attack, but it was fascinating to see how users handled the attack. Some opted to pay an exorbitant fee to the attacker to have their files restored versus letting the technicians deal with it.
</p>

<p>
  My training at the time was functional - you focus on how to prevent them, mitigate damage that already happened, and basically beat end-users over the head with "don't click that link!" I didn't understand at the time why someone would do that; it seemed like common sense would tell you not to shell out $600 instead of contacting someone who's qualified to deal with these problems for free. It made me curious as to why someone would choose to pay, and that thought has stuck with me over the years, either buried deep in my subconscious, or as it now: full force and screaming "LOOK, LOOK AT THIS!" I didn't realize at the time how monumental even having this thought was until much later.
</p>

<p>
  A lot of things in my life changed in the five or so years that progressed between this experience and my first inclinations of my project, with one of the more difficult parts for me to deal being I was a humanities major. (Buy me a beer and we'll talk about that sometime.) Suddenly, I'm a master's student studying rhetoric in this story. A late night discussion occured with my boyfriend (now-husband) about some ideas I had about ransomware and those who fall for it - I think it was in the wake of <a href="https://en.wikipedia.org/wiki/WannaCry_ransomware_attack" target="_blank">WannaCry</a>. What really stuck out to me was how it wasn't just the stereotypical naive person who fell for it, but digitally literate people as well. Something operated on a base level that transcended traditional ideas of “computer smarts,” and I wanted to find out what <i>it</i> was. So I started thinking around about phishing worked at a language level, not just psychologically. It seemed like no one was talking about these ideas, and suddenly I realize there's a gap - this is what I should be talking about! I felt like I finally had something to pull me back into what I loved. (Phishing got me hooked! <3)
</p>

<p>
  As I've progressed in my research, I've discovered a sort of "miscommunication" happening on the Rhetoric side. I preface this discovery with the fact that I was not a fan of their analysis in the slightest, but did use it as a launchpad to solidify why this work is important. <a href="https://www.tandfonline.com/doi/abs/10.1080/07350198.2011.552378" target="_blank">The article is question</a> discusses phishing and how it relates to terrorism and racial violence. It additionally suggests that we rename terms such as phishing to digital forgery so we can understand the motive behind it better, but the problem is that is already an existing field of something unrelated. This kind of publication is dangerous as allowing this type of misinformation or suggestions of "alternatives" damages the credibility of rhetoric as a genre of analysis concerning cybersecurity. I want to set the record straight and explore phishing rhetorically as someone who is knowledgeable of the technical side of phishing.
</p>

<p>
  Regarding Security, I've delved into a few security awareness training programs and have found that the trtaining tends to focus on remediating functional concerns as opposed to helping users learn about the problems from a critical-thinking perspective. I'm assuming that, much like myself years ago, this tendency to fix the problem by applying functional solutions is ingrained in them through years of experience with both the subject matter, and prior education. Security professionals think about how to fix it, generally without addressing human factors such as agency or the literacy level of the user. Both are focused on educating someone about something, but they're missing a commonality between the two. That's what I'm here to find.
</p>

<p>
  The lack is one of the best parts of research. Seeing the struggle for understanding on both ends helped me see that a meaningful relationship between rhetoric and cybersecurity is not only possible, but it's a perfect marriage of disciplines. One that should be focused on seriously if we want to promote technological literacy, not just in the workplace, but overall. And I aim to push that conversation in the right direction with this project.
</p>

<p>
  Finally, I've chosen to create this project as a digital portfolio over a thesis because I feel that the type of work I have been interested in [digital spaces] is more suited to a digital space than a standard thesis. I am much more open to the idea of having easily accessible knowledge and building a community, rather than hiding behind paywalls or other types of barriers. I am a huge proponent of Open Source, and feel that education should follow the same path.
</p>
