<h1 class="hilite"><span>bibliography</span></h1>
  <ul>
    <li class="biblio">Amoroso, Edward. Cyber Attacks: Protecting National Infrastructure. Elsevier. 2011.</li>
    <li class="biblio">Ang, Miguel; Mendoza, Erika; Yaneza, Jay. LokiBot Gains New Persistence Mechanism, Uses Steganography to Hide Its Tracks. Trend Micro: Security Intelligence Blog. https://blog.trendmicro.com/trendlabs-security-intelligence/lokibot-gains-new-persistence-mechanism-uses-steganography-to-hide-its-tracks/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Anti-MalwareBlog+%28Trendlabs+Security+Intelligence+Blog%29. Accessed 03 October 2019.</li>
    <li class="biblio">Aristotle, and W R. Roberts. Rhetoric. Mineola, N.Y: Dover Publications, 2004. Print.</li>
    <li class="biblio">Burke, Kenneth. A Rhetoric of Motives. Berkeley and Los Angeles, CA: University of California Press, 1950.</li>
    <li class="biblio">Baudrillard, Jean. Simulacra and Simulation. Ann Arbor: University of Michigan Press, 1994.</li>
    <li class="biblio">Bawrshi, Anis S. and Reiff, Mary Jo. Genre: An Introduction to History, Theory, Research, and Pedagogy. Parlor Press, 2010.</li>
    <li class="biblio">Brewington, Autumn et al. Russia Indictment 2.0: What to Make of Mueller’s Hacking Indictment. https://www.lawfareblog.com/russia-indictment-20-what-make-muellers-hacking-indictment. Accessed October 2019.</li>
    <li class="biblio">Brinton, Alan. Ēthotic Argument. History of Philosophy Quarterly. Vol 3, Issue 3. 1986.</li>
    <li class="biblio">Business Insider. 97% Of People Globally Unable to Correctly Identify Phishing Emails. https://www.businesswire.com/news/home/20150512005245/en/97-People-Globally-Unable-Correctly-Identify-Phishing. Accessed October 2019.</li>
    <li class="biblio">Carpenter, Perry; Budge, Jinan; O’Malle, Claire. "In the Hot Seat: Three Experts Tackle 10 Critical Security Awareness Issues."  KnowBe4. https://event.on24.com/wcc/r/2090640/094544FEFFA8D253A355F792E87DC543. Accessed September 2019.</li>
    <li class="biblio">Cheney, Ceorge. Christensen, Lars Thøger. Conrad, Charles. Lair, Daniel J. <i>Corporate Rhetoric as Organizational Discourse.</i> The SAGE Handbook of Organizational Discourse. London: SAGE Publications Ltd, 2004. SAGE Knowledge. Web. 3 Oct. 2019, doi: 10.4135/9781848608122.</li>
    <li class="biblio">CISA. https://www.us-cert.gov Accessed 2018, 2019.</li>
    <li class="biblio">Cline, Chris. "[September Live Demo] PhishER Demo: Identify and Respond to Email Threats Faster with PhishER." KnowBe4. https://event.on24.com/wcc/r/2062212/4A9B17B9C64957A7B1F2978728999287. Accessed September 2019.</li>
    <li class="biblio">Cohen, Joseph Paul, and Henry Z. Lo. “Academic Torrents: A Community-Maintained Distributed Repository.” Annual Conference of the Extreme Science and Engineering Discovery Environment, 2014, http://doi.org/10.1145/2616498.2616528.</li>
    <li class="biblio">Dulaney, Emmett and Easttom, Chuck. CompTIA Security+ Study Guide. John Wiley & Sons, Inc. Sixth Edition. 2014.</li>
    <li class="biblio">Erickson, Jon. Hacking: the Art of Exploitation. San Francisco, CA: No Starch Press, 2008. Print.</li>
    <li class="biblio">Franceschi-Bicchierai, Lorenzo. "How Hackers Broke Into John Podesta and Colin Powell’s Gmail Accounts" https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts Accessed 29 September 2019.</li>
    <li class="biblio">Giltrow, Janet and Stein, Deiter. Genres in the Internet: Issues in the Theory of Genre. Pragmatics & Beyond. New Series. Volume 188. 2009.</li>
    <li class="biblio">Goud, Naveen. Verizon survey confirms C-Suite employees are vulnerable to Cyber Attacks. Cybersecurity Insiders. https://www.cybersecurity-insiders.com/verizon-survey-confirms-c-suite-employees-are-vulnerable-to-cyber-attacks/. Accessed 03 October 2019.</li>
    <li class="biblio">Heifetz, Ronald. Linsky, Marty. Harvard Business Review. A Survival Guide for Leaders. https://hbr.org/2002/06/a-survival-guide-for-leaders. Accessed August 2019.</li>
    <li class="biblio">Henry Z. Lo. and Cohen, Joseph Paul “Academic Torrents: Scalable Data Distribution.” Neural Information Processing Systems Challenges in Machine Learning (CiML) Workshop, 2016, http://arxiv.org/abs/1603.04395.</li>
    <li class="biblio">Hoskins, Brittany Noel. The Rhetoric of Commoditized Vulnerabilities: Ethical Discourses in Cybersecurity. Virginia Tech. Thesis. 2015.</li>
    <li class="biblio">Jensen, Kyle. A Matter of Concern: Kenneth Burke, Phishing, and the Rhetoric of National Insecurity, Rhetoric Review, 30:2, 170-190, 2011.</li>
    <li class="biblio">Krug, Steve. Don’t Make Me Think. New Riders Publishing. Second Edition. 2006.</li>
    <li class="biblio">Lakoff, George and Johnson, Mark. Metaphors We Live By. University of Chicago Press. 1980.</li>
    <li class="biblio">Malware Bytes Blog. https://blog.malwarebytes.com. Accessed 2018, 2019.</li>
    <li class="biblio">McLuhan, Marshall. Counterblast. Harcourt, Brace & World, inc. 1969.</li>
    <li class="biblio">McLuhan, Marshall and Fiore, Quentin. The Medium is the Massage. Gingko Press. 1967.</li>
    <li class="biblio">Mead, Jennifer. Understanding Enthymeme and Warrants Through Syllogism, For English 191. Handout. 2015.</li>
    <li class="biblio">Miller, Carolyn. Genre as Social Action. Quarterly Journal of Speech. Vol 70. 1984.</li>
    <li class="biblio">Mills, Glen E. & Petrie,  Hugh G. The role of logic in rhetoric, Quarterly Journal of Speech, 54:3, 260-267. 1968. DOI: 10.1080/00335636809382899
    <li class="biblio">Myerson, George. Heidegger, Habermas, and the Mobile Phone. Cox & Wyman Ltd. 2001.</li>
    <li class="biblio">Niconico.jp. Video search by keyword ミク. https://www.nicovideo.jp/search/%E3%83%9F%E3%82%AF. Accessed 22 November 2019.
    <li class="biblio">OffSite IT. "John Podesta and Colin Powell’s Email Accounts Hacked – And How" https://www.offsiteit.com/john-podesta-and-colin-powells-email-accounts-hacked-and-how. Accessed 27 September 2019.</li>
    <li class="biblio">Pfleeger, Charles P, and Shari L. Pfleeger. Security in Computing. Upper Saddle River, NJ: Prentice Hall, 2007. Print.</li>
    <li class="biblio">Ramage, John D. Rhetoric: A User's Guide. New York: Pearson, 2005. Print.</li>
    <li class="biblio">Ramage, John D, John C. Bean, and June Johnson. Writing Arguments: A Rhetoric with Readings. New York: Pearson/Longman, 2007. Print.</li>
    <li class="biblio">Ray, Vicky. Duncan, Brad. "Compromised Servers & Fraud Accounts: Recent Hancitor Attacks." https://unit42.paloaltonetworks.com/unit42-compromised-servers-fraud-accounts-recent-hancitor-attacks/. Created 07 February 2018. Accessed 04 October 2019.</li>
    <li class="biblio">Rosenfeld, Lawrence B. Set theory: Key to the understanding, of Kenneth Burke's use of the term “identification”, Western Speech, 33:3, 175-183. 1969. DOI: 10.1080/10570316909384575</li>
    <li class="biblio">Ross, D. G. ARS Dictaminis Perverted: The Personal Solicitation E-Mail as a Genre. Journal of Technical Writing and Communication 39 (1): 25-41. 2009.</li>
    <li class="biblio">Searles, Christopher. Please stop sending passwords via email! https://www.searlesgraphics.com/blog/2120/please-stop-sending-passwords-via-email. Accessed 03 October 2019.</li>
    <li class="biblio">Spinello and Tavani. Readings in Cyberethics. Jones and Bartlett Publishers. 2004.</li>
    <li class="biblio">Tech Insider. Japanese popstar is a hologram. https://www.youtube.com/watch?v=Nfhuj60cJjk. Accessed 24 November 2019.</li>
    <li class="biblio">Toulmin, Stephen. The Uses of Argument. Cambridge, U.K: Cambridge University Press, 2003. Print.</li>
    <li class="biblio">Virus Total. https://www.virustotal.com Accessed 2018, 2019.</li>
    <li class="biblio">Wall, David. Cybercrime and the Culture of Fear. Information, Communication & Society, 11:6, 861-884, 2008.</li>
    <li class="biblio">Wall, David. Cybercrime, media and insecurity: The shaping of public perceptions of cybercrime. International Review of Law, Computers and Technology, Vol. 22, Nos. 1-2, pp. 45-63. 2008.</li>
    <li class="biblio">Wei, Yong-Kang. Corporate image as collective ethos: a poststructuralist approach. Corporate Communications: An International Journal, Vol. 7 Issue: 4, pp.269-276. 2002.</li>
    <li class="biblio">Williams, Joseph M. The Craft of Argument, Concise Edition. New York:Longman, 2003.</li>
  </ul>
</li>
