<div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; the project: limitations</h1>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress.</b></p>
</div>


<p>In terms of performing analyses on phishing emails, my largest limitation has been data availability, and I have been dependant on existing sources of phishing emails. Surprisingly (or unsurprisngly, perhaps) there has been only one publicly available corpus of emails, one of which I describe in longer detail <a href="/theproject" target="_blank">here</a>. While I initially thought the issue would be that attackers have read over and have learned from the emails, I haven't seen that to have any noticible affect on how the emails are written and distrubuted. Not a lot has changed in terms of bulk phishing, and still operates very similarly as it did in the emails analyzed. I did consider creating a spamcatchery/honeypot, but felt time would be better serverd analyzing available records. I did manage to capture some personal spam, so I incorporated those into the project.
</p>

<p>On the Security Awareness Training side, I ran into an issue of content not being provided without scheduling a one-on-one demo. I've circumvented some of that with my business email, while some companies have not cared that I am a student seeking information, and allowed me to utilize free demos for tools with limited functionality. But getting access to a few of the "big names" in security awareness training has been difficult. My favorite response so far has been from SANS, stating:

<p class="m-5">
<i>
  Unfortunately, we do not provide Demos to persons who are not in a decision making or procurement position for our commercial products. You are welcome to advise your organization's executive of our products and that Educational Institutions are eligible to receive significant discounted pricing through our REN-ISAC Partnership Aggregate Purchase year-round.
</i>
</p>

<p>I'm not sure how I, as a student, can contact my organization's executive of products in order to have a demo of their products for my research. I'm also amazed at the suggestion to inform them they could recieve a significant discount as an educational institution for their trainings. It left a strange taste in my mouth, especially as a person who's really enjoyed SANS and what they do.</p>

<p>While I listed this as a limitation, I want to make note that it grew into a new point of inquiry - <i>why</i> don't you want me to see the content if I describe myself as a student interested in learning how things work? What are the companies trying to hide? In honesty, this limitation has made me dive a bit deeper into some of the idiosyncracies of what being an industry-leader actually means, with results both fascinating and disappointing. I may have become a bit more cynical to the process, but I think that it's been helpful in understanding what a lot of the problems are in existing security awareness training. This incident, in conjunction with discoveries made analyzing some content from another company's training respository, is largely responsible for a shift in my project's outline. While I initially was focused on creating new training materials and selling a service to prospective clients, it's awakened a desire to "get to the bottom" of what's really going on with these organizations and how they create and sell their training. Something feels amiss, and I want to find out more.</p>

<p>
That being said, webinars that I have been able to be a part of through KnowBe4 have also been incredibly helpful in understanding various facets of this problem. One notable point was made during "In the Hot Seat: Three Experts Tackle 10 Critical Security Awareness Issues" was that a lot of anti-phishing programs are sucessfully marketed as Security Awareness Training, which ends up creating problems when <i>actual</i> Security Awareness Training is attempted to be implimented  They also discussed how corporate culture affects Security Awareness Training and the relationship between a security team, employees, and other C-level executives. It's incredibly complicated, disheartening, and leaves a lot to be desired. But people are starting to see that they need to focus on understanding behavioral patterns and other parts of people's psychological tendencies in order to make effective training systems, and I think that opens a door for rthetorical practices, as well. </p>
