<div class="ref-apa">
  <h1 class="hilite"><span>references</span></h1>
    <ul>
      <li class="biblio">97% Of People Globally Unable to Correctly Identify Phishing Emails. (2015). Retrieved from <a href="https://www.businesswire.com/news/home/20150512005245/en/97-People-Globally-Unable-Correctly-Identify-Phishing" target="_blank">https://www.businesswire.com/news/home/20150512005245/en/97-People-Globally-Unable-Correctly-Identify-Phishing</a>.</li>
      <li class="biblio">Amoroso, E. (2011). <i>Cyber Attacks: Protecting National Infrastructure.</i> Burlington, MA: Butterworth-Heinemann.</li>
      <li class="biblio">Ang, M., Mendoza, E., Yaneza, J. (06 August 2019). LokiBot Gains New Persistence Mechanism, Uses Steganography to Hide Its Tracks. <i>Trend Micro: Security Intelligence Blog.</i> Retrieved from <a href="https://blog.trendmicro.com/trendlabs-security-intelligence/lokibot-gains-new-persistence-mechanism-uses-steganography-to-hide-its-tracks/" target="_blank">https://blog.trendmicro.com/trendlabs-security-intelligence/lokibot-gains-new-persistence-mechanism-uses-steganography-to-hide-its-tracks/</a>.</li>
      <li class="biblio">Aristotle, Roberts, W. Rhetoric. (1994). Rhetoric, by Aristotle. Retrieved from <a href="http://classics.mit.edu/Aristotle/rhetoric.html" target="_blank">http://classics.mit.edu/Aristotle/rhetoric.html</a></li>
      <li class="biblio">Burke, K. (2013). <i>A rhetoric of motives.</i> Berkeley, CA: Univ. of California Press.</li>
      <li class="biblio">Baudrillard, J., & Glaser, S. F. (1995). <i>Simulacra and simulation.</i> Ann Arbor: University of Michigan Press.</li>
      <li class="biblio">Bawarshi, A. S., & Reiff, M. J. (2010). <i>Genre: an introduction to history, theory, research, and pedagogy</i>. West Lafayette, IN: Parlor Press.</li>
      <li class="biblio">Brewington, A. et al. Russia Indictment 2.0: What to Make of Mueller's Hacking Indictment. (2019, January 4). Retrieved from <a href="https://www.lawfareblog.com/russia-indictment-20-what-make-muellers-hacking-indictment" target="_blank">https://www.lawfareblog.com/russia-indictment-20-what-make-muellers-hacking-indictment</a>.</li>
      <li class="biblio">Brinton, A. (1986). Ēthotic Argument. <i>History of Philosophy Quarterly, 3(3)</i>, 245-258. Retrieved from www.jstor.org/stable/27743772</li>
      <li class="biblio">Carpenter, P., Budge, J., O’Malle, C. (26 September 2019). In the Hot Seat: Three Experts Tackle 10 Critical Security Awareness Issues. KnowBe4. Retrieved from <a href="https://event.on24.com/wcc/r/2090640/094544FEFFA8D253A355F792E87DC543" target="_blank">https://event.on24.com/wcc/r/2090640/094544FEFFA8D253A355F792E87DC543</a>.</li>
      <li class="biblio">Cheney, G., Christensen, L., Conrad, C., Lair, D. (2004). The sage handbook of organizational discourse. <i>Corporate Rhetoric as Organizational Discourse.</i> London: SAGE Publications.</li>
      <li class="biblio">CISA. (2019). Retrieved from <a href="https://www.us-cert.gov/" target="_blank">https://www.us-cert.gov/</a>.</li>
      <li class="biblio">Clancy, J. P. (2016, November 23). John Podesta and Colin Powells Email Accounts Hacked – And How. Retrieved from <a href="https://www.offsiteit.com/john-podesta-and-colin-powells-email-accounts-hacked-and-how" target="_blank">https://www.offsiteit.com/john-podesta-and-colin-powells-email-accounts-hacked-and-how</a>.</li>
      <li class="biblio">Cline, C. (2019). [September Live Demo] PhishER Demo: Identify and Respond to Email Threats Faster with PhishER. KnowBe4. Retreived from <a href="https://event.on24.com/wcc/r/2062212/4A9B17B9C64957A7B1F2978728999287" target="_blank">https://event.on24.com/wcc/r/2062212/4A9B17B9C64957A7B1F2978728999287</a>.</li>
      <li class="biblio">Cohen, Joseph Paul, and Henry Z. Lo. (2014). Academic Torrents: A Community-Maintained Distributed Repository. <i>Annual Conference of the Extreme Science and Engineering Discovery Environment.</i> doi: 10.1145/2616498.2616528.</li>
      <li class="biblio">Dulaney, E. A. (2014). <i>CompTIA security study guide: exam syo-401.</i> Hoboken: John Wiley & Sons.</li>
      <li class="biblio">Erickson, J. (2008). <i>Hacking: the art of exploitation.</i> San Francisco: No Starch Press.</li>
      <li class="biblio">Franceschi-Bicchierai, L. (2016, October 20). How Hackers Broke Into John Podesta and Colin Powell's Gmail Accounts. Retrieved from <a href="https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts" target="_blank">https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts</a>.</li>
      <li class="biblio">Giltrow, J., & Stein, D. (2009). Genres in the internet: issues in the theory of genre (New Series, 188). Amsterdam: Benjamins.</li>
      <li class="biblio">Goud, N. Cybersecurity Insiders (2019, May 8). Verizon survey confirms C-Suite employees are vulnerable to Cyber Attacks. Retrieved from <a href="https://www.cybersecurity-insiders.com/verizon-survey-confirms-c-suite-employees-are-vulnerable-to-cyber-attacks/" target="_blank">https://www.cybersecurity-insiders.com/verizon-survey-confirms-c-suite-employees-are-vulnerable-to-cyber-attacks/</a>.</li>
      <li class="biblio">Linsky, R. H. M., Meyerson, D., Kegan, R., Lahey, L., Kotter, J. P., & Nayar, V. (2016, January 21). A Survival Guide for Leaders. Retrieved from <a href="https://hbr.org/2002/06/a-survival-guide-for-leaders" target="_blank">https://hbr.org/2002/06/a-survival-guide-for-leaders</a>.</li>
      <li class="biblio">Herzfeld, N. (2002). <i>Creating in Our Own Image: Artificial Intelligence and the Image of God.</i> Zygon, 37(2), 303–316. doi: 10.1111/0591-2385.00430.</li>
      <li class="biblio">Hoskins, Brittany Noel. (2015) <i>The Rhetoric of Commoditized Vulnerabilities: Ethical Discourses in Cybersecurity.</i> Virginia Tech.</li>
      <li class="biblio">Jensen, K. (2011). A Matter of Concern: Kenneth Burke, Phishing, and the Rhetoric of National Insecurity. <i>Rhetoric Review, 30(2)</i>, 170–190. doi: 10.1080/07350198.2011.552378.</li>
      <li class="biblio">Krug, S. (2006). <i>Dont make me think: a common sense approach to Web usability.</i> Berkeley, Calif: New Riders Pub.</li>
      <li class="biblio">Lakoff, G., & Johnson, M. (1981). <i>Metaphors we live by.</i> Chicago: University of Chicago Press.</li>
      <li class="biblio">Malware Bytes Blog. (2019) Retrieved from <a href="https://blog.malwarebytes.com" target="_blank">https://blog.malwarebytes.com</a>.</li>
      <li class="biblio">McLuhan, M. (1969). <i>Counterblast.</i> Harcourt, CT:Brace & World, inc.</li>
      <li class="biblio">McLuhan, M. & Fiore, Q. (2008) <i>The Medium is the Massage.</i> London: Penguin.</li>
      <li class="biblio">Mead, J. (2015) <i>Understanding Enthymeme and Warrants Through Syllogism For English 191.</i></li>
      <li class="biblio">Miller, C. (1084) Genre as Social Action. <i>Quarterly Journal of Speech. Vol 70.</i></li>
      <li class="biblio">Mills, G. & Petrie, H. (1968) The role of logic in rhetoric. <i>Quarterly Journal of Speech, 54:3</i>. 260-267. doi: 10.1080/00335636809382899.</li>
      <li class="biblio">Myerson, G. (2001). Heidegger, Habermas and the mobile phone. Duxford: Icon.</li>
      <li class="biblio">キーワードで動画検索 ミク. (2019). Retrieved from <a href="https://www.nicovideo.jp/search/%E3%83%9F%E3%82%AF" target="_blank">https://www.nicovideo.jp/search/%E3%83%9F%E3%82%AF</a>.</li>
      <li class="biblio">Pfleeger, C. & Pfleeger, S. (2007). <i>Security in Computing.</i> Upper Saddle River, NJ: Prentice Hall.</li>
      <li class="biblio">Ramage, J. (2005) <i>Rhetoric: a user's guide.</i> New York: Pearson.</li>
      <li class="biblio">Ramage, J., Bean, J., & Johnson, J. (2007). <i>Writing Arguments: A Rhetoric with Readings.</i> New York: Pearson/Longman.</li>

      <li class="biblio">Ray, V., Duncan, B. (07 February 2018). "Compromised Servers & Fraud Accounts: Recent Hancitor Attacks." Retreived from <a href="https://unit42.paloaltonetworks.com/unit42-compromised-servers-fraud-accounts-recent-hancitor-attacks/" target="_blank">https://unit42.paloaltonetworks.com/unit42-compromised-servers-fraud-accounts-recent-hancitor-attacks/</a>.</li>
      <li class="biblio">Rosenfeld, L. (1969) Set theory: key to the understanding of Kenneth Burke's use of the term “identification”. <i>Western Speech, 33:3</i> 175-183. doi: 10.1080/10570316909384575.</li>
      <li class="biblio">Ross, D. G. (2009) ARS Dictaminis Perverted: The Personal Solicitation E-Mail as a Genre. <i>Journal of Technical Writing and Communication. 39(1).</i> 25-41.</li>
      <li class="biblio">Searles, C. (2015). Please stop sending passwords via email! Retrieved from <a href="https://www.searlesgraphics.com/blog/2120/please-stop-sending-passwords-via-email" target="_blank">https://www.searlesgraphics.com/blog/2120/please-stop-sending-passwords-via-email</a>.</li>
      <li class="biblio">Sipser, M. (2006). <i>Introduction to the Theory of Computation.</i> Boston, MA: Thomson Course Technology.</li>
      <li class="biblio">Sloane, T. O. (2001). <i>Encyclopedia of rhetoric.</i> New York, NY: Oxford University Press.
      <li class="biblio">Spinello, R. & Tavani, H. (2004). <i>Readings in Cyberethics.</i> Boston, MA: Jones and Bartlett Publishers.</li>
      <li class="biblio">Toulmin, S. (2008). The uses of argument. Cambridge: Cambridge University Press.</li>
      <li class="biblio">Virus Total. (2019) Retrieved from <a href="https://www.virustotal.com" target="_blank">https://www.virustotal.com</a>.</li>
      <li class="biblio">Wall, D. (2008) Cybercrime and the Culture of Fear. </i>Information, Communication & Society, 11(6).</i> 861-884.</li>
      <li class="biblio">Wall, D. (2008) Cybercrime, media and insecurity: The shaping of public perceptions of cybercrime. <i>International Review of Law, Computers and Technology.</i> 22(1-2).</i> 45-63. </li>
      <li class="biblio">Wei, Y. (2002) Corporate image as collective ethos: a poststructuralist approach. <i>Corporate Communications: An International Journal.</i> 7(4). 269-276. </li>
      <li class="biblio">Wall, L. (1995) Perl & Linguistics. Retrieved from <a href="http://www.wall.org/~larry/natural.html" target="_blank">http://www.wall.org/~larry/natural.html</a>.</li>
      <li class="biblio">Williams, J. (2003) <i>The Craft of Argument, Concise Edition.</i> New York:Longman.</li>
      <li class="biblio">YouTube. (2016) <i>Tech insider: japanese popstar is a hologram.</i> Retreieved from <a href="https://www.youtube.com/watch?v=Nfhuj60cJjk" target="_blank">https://www.youtube.com/watch?v=Nfhuj60cJjk</a>.</li>
    </ul>
  </li>
</div>
