<h6 class="navihead">
  <a href="#logi"># logical reasoning</a> | <a href="#rhetapp"># rhetorical appeals</a> | <a href="#argmeth"># argument method</a> | <a href="#syllogisms"># syllogisms | </a> <a href="#enthymeme"># enthymeme</a> | <a href="#further"># further reading</a>
</h6>
<h1 class="hilite"><span>rhetoric crash course</span></h1>

<p>
  <b>Note: If you're familiar with rhetorical concepts, feel free to skip this page and move on to <a href="/init/">the project's readme</a>.</b>
</p>
<p>
  In the field of rhetoric, the core principles behind the logic of argument and the rhetorical situation are common knowledge. However, a cybersecurity-oriented audience might not have been introduced to these ideas through their training, regardless if they are academic or home-taught. While the rhetsec_ project aims to discuss the concepts of rhetoric and how they relate to cybersecurity without requiring the reader to have advanced rhetorical knowledge, having a base for understanding is helpful. In that spirit, this page aims to be a quick introduction to rhetoric, with discussions on logical reasoning, rhetorical appeals, argumentation, and the rhetorical situation. Many examples here are ones I've used to help dozens of students in my introductory rhetoric classes and hope that this will be a helpful writeup for those outside of the classroom as well.
</p>
<h3 class="hilite" id="logi"><span># introduction to logical reasoning</span></h3>
<p>
  A common ground in understanding communicative practices between rhetoric and security is logic, and there are two types of logical reasoning you may be familiar with already: inductive and deductive. <b>Inductive reasoning</b> informs a general theory about instances. It begins with observations of a single subject to arrive at general knowledge; it looks inward, then outward. A great example of inductive reasoning resides in mathematics, where you reach a conclusion based on algorithmic patterns through observation, concluding a generalization about the instance itself. While inductive reasoning may explain individual occurrences, the goal is to stay general. <b>Deductive reasoning</b> informs your ability to make conclusions by beginning with general knowledge to help us understand the subject more deeply; this looks outward, in. An example of deductive reasoning is philosophical study, where an attempt to draw specific conclusions from broad generalizations is made. Rhetoric generally utilizes deductive reasoning in order to process and assert claims about meaning and motive.
</p>

<h3 class="hilite" id="rhetapp"><span># rhetorical appeals</span></h3>
<p>
  There are typically four rhetorical appeals present in an argument: ethos, pathos, logos, and kairos. These definitions are first described in Aristotle's Rhetoric, a foundational text for the discipline of rhetoric dating back as early as 367 BCE<span class='footnote' data-toggle="tooltip" title="Aristotle, Roberts, W. Rhetoric. (1994). Rhetoric, by Aristotle. Retrieved from <a href='http://classics.mit.edu/Aristotle/rhetoric.html'>http://classics.mit.edu/Aristotle/rhetoric.html</a>"></span>. While the definitions have evolved since Aristotle’s time, the ideas behind them are just as strong today as they were back then.
</p>
<p>
  <b>Ethos</b> is an appeal using character, title, or authority to convey credibility and is one the most influential appeals. As a speaker's image is a significant part of creating and maintaining ethos, how the message is delivered is just as important as who is delivering it. Ethos is how the author identifies with the audience through credentials, social situation, their expertise, trustworthiness, and other social markers, focusing on both the intrinsic and extrinsic aspects of the message. This process of identification means that it's crucial that the audience gains from the message and have the speaker provide something worth listening to. Ethos also involves looking at the other side argument and trying to understand it, as understanding the opposition boosts ethos. A great example of ethos is in advertisements that use a doctor's cultural significance when making statements about the efficacy of products. If a doctor approves (or disapproves), then it's worth paying attention to that opinion, right? Doctors are usually trustworthy sources for medicine, so their ethos grows by merely having that title even if it shouldn't.
</p>
<img src="/img/doctors.jpg" class="img-fluid example mx-auto mt-3 mb-3 d-flex" style="height:50vh;">
<p>
  An appeal you may already be familiar with is <b>pathos</b>, as it's the most significant component of the FUD model – fear, uncertainty, and doubt. Pathos is an appeal which uses emotions to persuade an audience, such as fear, desire (sexual or otherwise), sympathy, and anger. It's all about using a personal connection to make the audience connect more with the speaker or author, the text, and the message itself. Pathos appeals to shared value systems, beliefs, and feelings in order to explain the significance of the argument being made. It doesn't necessarily have to be true, but it does need to resonate with an audience to work. It's the half-naked lady in a hamburger ad, potentially euthanized puppies unless you donate $1 a day, vape pods killing kids, or spooky hackers stealing your poor grandma's financial information. Pathos is also focused on positive emotions as well, making you feel good about choosing a specific path or "doing the right thing." Pathos is emotive, and evocative, and focuses on pulling heartstrings. While ethos is one of the most influential appeals, pathos can easily be the strongest due to how effective it is.
</p>
<p>
  The appeal to reason, <b>logos</b> is concerned with the content of the message, rational order, and the general sense of an argument. Logos includes choosing and using elements that the speaker cannot control, like evidence, in a way that is purposeful for the argument. It's generally the most straightforward appeal, as it's strictly presenting facts and logic. An example of logos would be statistics listed in a report, or a politician listing spending figures for a department when discussing a budget plan. It's essential to recognize that logos does not have to be true to be an appeal – it only needs to look true. This manufactured truth is especially vital to phishing emails and other language-based cyber attacks, as "facts" are often shown to prove that the communication is legitimate.
</p>
<p>
  <b>Kairos</b> is concerned with timeliness, and the opportune moment to deliver something. It also concerns itself with presentation, and like ethos, it is constructed to obtain results based on the situation. For example, an advertisement that uses in-vogue pop stars to sell a brand of makeup is going to be much more successful in selling to the younger generations than a pop star from the 1970s. In this instance, the timeliness of the pop star used (popularity in the current year) is demonstrative of kairos. Kairos also concerns itself with exigency, which is the drive for change and what pushes humans to act and make decisions. Since exigency is directly tied into audience and context, it's easy to see how kairos depends on exigency to understand the opportunity that's presented.
</p>

<h3 class="hilite" id="argmeth"><span># argument method</span></h3>
<p>
  A standard model of argument used in rhetoric is the Toulmin method, which was developed by Stephen Toulmin in his book <i>The Uses of Argument</i><span class='footnote' data-toggle="tooltip" title="Toulmin, S. (2008). The uses of argument. Cambridge: Cambridge University Press."></span>. In this book, Toulmin composed an argument layout which comprised of the following components: a claim, grounds, warrant, backing, rebuttal, and qualifier. It’s useful to understand these parts of an argument, not only for understanding what happens within phishing emails but to know how people structure and format their own arguments to be effective in general.
</p>
<ul>
  <li class="biblio">
      The statement that must be argued is called a <b>claim</b>. You might be familiar with this term using such words as <i>thesis statement,</i> <i>main idea</i>, or even <i>conclusion</i>. All these terms relate to an idea that must be argued.
  </li>
  <li class="biblio">
    The minor premise consists of facts and values (evidence) that support a claim and reasons; Toulmin defines the minor premise as <b>grounds</b>. Grounds are appeals that someone uses to create a foundation for the claim.
  </li>
  <li class="biblio">
    Next, the major premise of an argument is the underlying assumption of what is true, valued, culturally known, or accepted, which Toulmin defines as a <b>warrant</b>. Warrants are what establish exigency, or the human motivation for change. You may also see the warrant referred to as one of the rhetorical appeals mentioned above - kairos.
  </li>
  <li class="biblio">
    <b>Backing</b> refers to credentials that must be expressed if the warrants (the underlying assumptions) are not culturally known or understood easily.
  </li>
  <li class="biblio">
    A <b>rebuttal</b> is an argument that discusses the known views or restrictions against the claim. Think of a rebuttal as a statement that shows that you understand the opposition and considered their claims or rationale.  A rebuttal should consider the argument in context to the situation that the claim is made in; essentially, this means that it should recognize the argument is complex, and that it’s not black and white. Since in most instances we cannot prove our claims with absolute certainty, a rebuttal shows that you not only understand alternatives but understand why someone might disagree with you.
  </li>
  <li class="biblio">
    Finally, a <b>qualifier</b> is a word which determines the level of certainty in an argument. Think of the world “possibly” versus “certainly” – these have very different meanings as to the degree of force of a claim.  You might also know a qualifier as a <i>hedge</i> word.
  </li>
</ul>
<p>
  It would be helpful to think about every statement that provides facts or opinions as rationale as an argument. The moment you need to make a statement that is intended to persuade someone to agree or believe it, it's an argument. Even if it's as simple as "hot dogs are sandwiches," or "green is a better color than blue." Those statements can be defended or refuted and are arguments.
</p>
</p>
<h3 class="hilite" id="syllogisms"><span># syllogisms</span></h3>
<p>
  Now that we understand the basic terms of an argument, we can think of an argument as an exercise in logical reasoning - what rhetoric calls a syllogism. A syllogism is a logical method of reasoning where a conclusion is drawn, regardless of validity, from two or more given or assumed propositions, or premises. Each of these premises shares a value, fact, or term with the conclusion, in addition to a common or middle term not present in the conclusion.
<p>
  Syllogisms are founded upon a formal logic that is reasoned from what is universally known by the community – what we called the warrant above. To argue deductively, there must be agreement about certain aspects - values, facts, explanations, etc. These agreements exist in syllogistic logic as major premises, and the syllogism begins with the major premise of a statement of fact or an agreed upon understanding in the audience. The major premise is followed by a minor premise, which is a statement connecting the general concept expressed within a specific instance to be further understood or deduced. The minor premise is followed by a conclusion that logically follows the major and minor premises, which claims what is real in a shared reality. Let’s break the concept down with a classic example you might have even seen from your classes in the past:
</p>
<dl>
  <dt>Major premise: “All men are mortal.”</dt>
  <dd>Although commonly known as a fact or as truth, the major premise is stated as the first point in drawing a conclusion.</dd>
  <dt>Minor premise: “Socrates is a man.”</dt>
  <dd>Connects a facet of general principle (or term) of the major premise to a specific aspect of reality shared by “encoder and decoder” (speaker and audience.) This is usually not a contested premise, however it is necessary to state so as to understand a specific instance.</dd>
  <dt>Conclusion: “Socrates is mortal.”</dt>
  <dd>This demonstrates the logical connection between the major and minor premises.</dd>
</dl>

<p>
  Now, we don’t even have to use a non-mathematical sign system to express a syllogism, as it’s simple logic! We can apply simple mathematics and the associative law, with the major premise (a), minor premise (b), and conclusion (c) as follows:
</p>
<p style="font-size:30px;" align="center">
    (A=B) AND (C=A), THEREFORE (C=B)
</p>

<p>We can even apply this logic in programming-like structure:</p>
<p>
  <code style="font-size:18px;">
    ARG {
    <br>&nbsp;IF (A=B) &amp; (C=A)&nbsp;&nbsp;&nbsp;//BOTH MUST BE TRUE TO “EXECUTE” THE CONCLUSION
    <br>&nbsp;&nbsp;&nbsp;THEN (C=B)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//CONCLUSION IS TRUE ONLY IF PREVIOUS CONDITIONS ARE MET AND UNDERSTOOD
    <br>&nbsp;ELSE (FALSE);&nbsp;&nbsp;&nbsp;//THE ARGUMENT FALLS APART IF THE PREVIOUS CONDITIONS ARE NOT MET
    <br>}
  </code>
</p>
<p>
  Pretty neat, right? There are so many ways to show how this format works, but it’s important to note that we don’t speak in syllogisms. So, while syllogisms help understand what is being deduced by what premise, they are overly simplistic parts of logic that may be a part of a larger and more complex idea. To make matters more complicated, syllogisms might even be valid logically but not accurate portrayals of reality. Let’s look at this example:
</p>
<ul>
  <li>All dogs (A) are mammals (C).</li>
  <li>Grumpy Cat (B) is not a dog (A).</li>
  <li>Therefore, Grumpy Cat (B) is not a mammal. (C).</li>
</ul>
<p>
  Obviously, we know that cats are mammals, but the logic of the above syllogism does not speak that truth. It’s imperative when examining a logical framework in an argument to make sure that the major premise and the minor premise connect in a way that mirrors reality.
</p>
<h3 class="hilite" id="enthymeme"><span># enthymeme (or, what really happens in an argument)</span></h3>
<p>
  Finally, we turn to enthymeme, an informal method of reasoning typical in everyday speech. The enthymeme can be defined as a "truncated syllogism" since either the major or minor premise found in that more formal method of reasoning is left implied. The enthymeme typically occurs as a conclusion coupled with a reason.
</p>
<p>
  For example, the major premise of the complete syllogism is missing in this statement: "We cannot trust this man, for he has perjured himself in the past.”  It might not seem apparent at first glance, but a quick deconstruction of the statement reveals the cultural assumptions omitted:
</p>
  <dl>
    <dt>Major Premise (Omitted)</dt>
    <dd>Those who perjure themselves cannot be trusted.</dd>
    <dt>Minor Premise (Stated)</dt>
    <dd>This man has perjured himself in the past.</dd>
    <dt>Conclusion (Inferred)</dt>
    <dd>This man is not to be trusted.</dd>
  </dl>
<p>
  We see enthymemes in many arguments and is an especially important concept to understand not only when deconstructing offensive and defensive techniques in cyber attacks, but arguments overall. The syllogism (logical argument) will not always be present - and in fact is often missing in normal communication - because the cultural implications are designed to be understood for the message to be effective. A great example we might see in everyday speech is a conversation about implicating a classmate's failure for not using an assigned textbook:
</p>
<p>
  <div class="container">
    <img src="/img/hwest.gif" class="img-fluid example mx-auto mt-3 mb-3 d-flex">
    <blockquote style="font-size:30px;">
      “That Herbert West kid never opens his book in class, he's totally going to flop the upcoming anatomy test.”
    </blockquote>
</p>
</div>
<p>
  The major premise (warrant) that is not stated is that textbooks are the only way to gain knowledge about anatomy in this class. Since the underlying cultural knowledge is that you need to study to pass your exams, this premise didn't need to be stated. The minor premise (grounds) are simply that no one has seen Herbert use the textbook in class. And finally, the claim (conclusion) being argued is that Herbert is going to fail his anatomy exam because he didn't study his textbook. But anyone familiar with <a href="http://www.hplovecraft.com/writings/texts/fiction/hwr.aspx">Mr. West</a> knows that he <i>really</i> knows his anatomy. It's simple once you can start to see how implicit knowledge impacts arguments.
</p>
<h3 class="hilite" id="further"><span># further reading</span></h3>
<p>
  If you'd like to have additional resources to help understand some of the terms I'm using, I would recommend reading these brief overviews on <a href="https://owl.purdue.edu/owl/general_writing/academic_writing/historical_perspectives_on_argumentation/classical_argument.html">classical argument</a>, <a href="https://owl.purdue.edu/owl/general_writing/academic_writing/rhetorical_situation/aristotles_rhetorical_situation.html">rhetorical situation</a>, and the <a href="https://owl.purdue.edu/owl/general_writing/academic_writing/historical_perspectives_on_argumentation/toulmin_argument.html">Toulmin model of argument</a>. These links are not definitive resources, but an excellent starting point to grasp basic concepts. If you'd prefer a more personal conversation, feel free to <a href="mailto:linuxfingers@protonmail.com">email</a> or <a href="/about/jen">message me on social media</a>. I'd be happy to chat with you and help deconstruct any of these ideas.
