<h1 class="hilite"><span>rhetoric 101</span></h1>
<p>
  Within the field of rhetoric, the core principles behind the logic of argument and the rhetorical situation are common knowledge. However, the security-oriented audience may exist outside of the field of rhetoric, so some of these ideas about communication may seem foreign. While the project aims to discuss the concepts of rhetoric and how they relate to cybersecurity without requiring the reader to have advanced rhetorical knowledge, having a base for rhetorical understanding is helpful. A common ground in understanding communicative practices between rhetoric and security is logic, and there are two types of logical reasoning you may be familiar with already: inductive and deductive. Inductive reasoning informs a general theory about instances. It begins with observations of a single subject to arrive at general knowledge; it looks inward, then outward. A great example of inductive reasoning resides in mathematics, where you reach a conclusion based on algorithmic patterns through observation, concluding a generalization about the instance itself. While inductive reasoning may explain individual occurrences, the goal is to stay general. Deductive reasoning informs your ability to make conclusions by beginning with general knowledge to help us understand the subject more deeply; this looks outward, in. An example of deductive reasoning is philosophical study, where an attempt to draw specific conclusions from broad generalizations is made. Rhetoric generally utilizes deductive reasoning in order to process and assert claims about meaning and motive.
</p>
<h3 class="hilite"><span># the appeals</span></h3>
<p>
  In an argument, there will be a variety of rhetorical appeals present: ethos, pathos, logos, and kairos. These definitions are detailed within Aristotle’s Rhetoric, and can be found in more detail within the full text <a href="http://classics.mit.edu/Aristotle/rhetoric.mb.txt">here</a>.
</p>
<img src="/img/doctors.jpg" class="img-fluid example mx-auto mt-3 mb-3 d-flex" style="height:50vh;">
<p>
  Ethos is an appeal using character, title, or authority in order to convey credibility. It also operates by how the author identifies with the audience through identification, credentials, their expertise, trustworthiness, social situation, etc. How the message is delivered is just as important as who is delivering it - image is a huge part of creating and maintaining ethos. It's also one the most influential appeal, focusing on both the intrinsic and extrinsic aspects of the text. It's important that the audience can both gain from the message, as well as have the speaker provide something worth listening to. Ethos also involves looking at the other side argument and trying to understand it; looking at another side's argument inherently boosts ethos. A great example of ethos is within advertisements that use a doctor's cultural significance when making statements about the efficacy of products. If a doctor approves (or disapproves,) then it's worth paying attention to that opinion, right? Doctors are trustworthy sources for medicine (usually,) so their ethos simply having that title gives them credibility. Even if it shouldn't.
</p>
<p>
  Pathos is a form of argument that uses emotions to persuade an audience, such as fear, desire (sexual or otherwise), sympathy, and anger. It's all about using a personal connection to make the audience connect more with the speaker/author, the text, and the message itself. Pathos panders to shared value systems, beliefs, and feelings in order to explain the significance of the argument being made. It doesn't necessarily have to be true, but it does need to resonate with an audience to work. It's the half-naked lady in a hamburger ad, potentially euthanized puppies unless you donate $1 a day, vape pods killing kids, or spooky hackers stealing your poor grandma's financial information. Pathos is emotive, and evocative, and focuses on pulling heart strings.
</p>
<p>
  Logos is often called the appeal to reason, as it's concerned with the content of the message, rational order, and the general sense of the argument. Logos includes choosing and using elements which the speaker cannot control, like evidence, in a way that is purposeful for the argument. It's generally the most straightforward appeal, as it's strictly presenting facts and logic. An example of logos would be statistics listed in a report, or a politician listing spending figures for a department when discussing a budget plan.
</p>
<p>
  Kairos is concerned with timeliness, and the opportune moment in order to deliver something. It also concerns itself with presentation, and like ethos, is constructed to obtain results based on the situation. For example, an advertisement which uses in-vogue pop stars to sell a brand of makeup is going to be much more successful to the younger generations than a pop star from the 1970s. In this instance, the timeliness of the pop star used (popularity in the current year) is demonstrative of kairos. Kairos also concerns itself with exigency, which is the drive for change and what pushes humans to act and make a decision. Since exigency is directly tied into audience and context, it's easy to see how kairos depends on exigency to understand the opportunity that's presented.
</p>

<h3 class="hilite"><span># toulmin</span></h3>
<p>
  There are some important ideas behind Toulmin's argument model that should be explained as well. The major premise of an argument is the underlying assumption of what is true, valued, culturally known, or accepted. Toulmin calls this major premise a "warrant." Warrants are what establish exigency, or the human motivation for change. You'll also see it referred to as kairos. The minor premise consists of facts and values (evidence) that support a claim and reasons. These are known as "grounds." And finally, the conclusion - the statement that must be argued - is called a "claim." It would be helpful to think about every statement that provides facts or opinions as rationale as an argument. The moment you need to make a statement that is intended to persuade someone to agree or believe it, it's an argument. Even if it's as simple as "hot dogs are sandwiches," or "green is a better color than blue." Those statements can be defended, or refuted, and are arguments.
</p>
<h3 class="hilite"><span># syllogisms</span></h3>
<p>
  So we can then think of an argument as an exercise in logical reasoning - what rhetoric calls a syllogism. A syllogism is a logical method of reasoning where a conclusion is drawn, regardless of validity, from two or more given or assumed propositions, or premises. Each of these premises shares a value, fact, or term with the conclusion, in addition to a common or middle term not present in the conclusion. Syllogisms are founded upon a formal logic that is reasoned from what is universally known by the community. To argue deductively, there must be agreement about certain aspects - values, facts, explanations, etc. These agreements exist in syllogistic logic as major premises, and the syllogism begins with the major premise of a statement of fact or agreed understanding amongst the audience. The major premise is followed by a minor premise, which is a statement connecting the general concept expressed and a particular instance to be further understood or deduced. The minor premise is followed by a conclusion that logically follows the major and minor premises which makes a claim about what is real in a shared reality. Let’s break the concept down with a classic example you might have even seen in your own classes in the past:

<dl>
  <dt>Major premise: “All men are mortal.”</dt>
  <dd>Although commonly known as a fact or as truth, the major premise is stated as the first point in drawing a conclusion.</dd>
  <dt>Minor premise: “Socrates is a man.”</dt>
  <dd>Connects a facet of general principal (or term) of the major premise to a specific aspect of reality shared by “encoder and decoder” (speaker and audience.) This is usually not a contested premise, however it is necessary to state so as to understand a specific instance.</dd>
  <dt>Conclusion: “Socrates is mortal.”</dt>
  <dd>This demonstrates the logical connection between the major and minor premise.</dd>
</dl>

<p>
  Now, we don’t even have to use a non-mathematical sign system to express a syllogism, as it’s simple logic! We can apply simple mathematics and the associative law, with the major premise (a), minor premise (b), and conclusion (c) as follows:
</p>
<p style="font-size:30px;" align="center">
    (A=B) AND (C=A), THEREFORE (C=B)
</p>

<p>We can even apply this logic in programming-like structure:</p>
<p>
  <code style="font-size:18px;">
    ARG {
    <br>&nbsp;IF (A=B) &amp; (C=A)&nbsp;&nbsp;&nbsp;//BOTH MUST BE TRUE IN ORDER TO “EXECUTE” THE CONCLUSION
    <br>&nbsp;&nbsp;&nbsp;THEN (C=B)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//CONCLUSION IS TRUE ONLY IF PREVIOUS CONDITIONS ARE MET AND UNDERSTOOD
    <br>&nbsp;ELSE (FALSE);&nbsp;&nbsp;&nbsp;//THE ARGUMENT FALLS APART IF THE PREVIOUS CONDITIONS ARE NOT MET
    <br>}
  </code>
</p>
<p>
  Pretty neat, right? There are so many ways to show how this format works, but it’s important to note that we don’t speak in syllogisms. So, while syllogisms help understand what is being deduced by what premise, they are overly simplistic parts of logic that may be a part of a larger and more complex idea. To make matters more complex, syllogisms might even be valid logically but not accurate portrayals of reality. Let’s look at this example:
</p>
<ul>
  <li>All dogs (A) are mammals (C).</li>
  <li>Grumpy Cat (B) is not a dog (A).</li>
  <li>Therefore, Grumpy Cat (B) is not a mammal. (C).</li>
</ul>
<p>
  Obviously we know that cats are mammals, however the logic of the above syllogism does not seem to speak that truth. Therefore it’s extremely important when examining a logical framework in an argument to make sure that the major premise and the minor premise connect in a way that mirrors reality.
</p>
<h3 class="hilite"><span># enthymeme (or, what really happens in an argument)</span></h3>
<p>
  Finally, we turn to enthymeme, an informal method of reasoning typical in everyday speech. The enthymeme is sometimes defined as a "truncated syllogism" since either the major or minor premise found in that more formal method of reasoning is left implied. The enthymeme typically occurs as a conclusion coupled with a reason. For example, the statement, "We cannot trust this man, for he has purjured himself in the past,” the major premise of the complete syllogism is missing.
</p>
  <dl>
    <dt>Major Premise (Omitted)</dt>
    <dd>Those who perjure themselves cannot be trusted.</dd>
    <dt>Minor Premise (Stated)</dt>
    <dd>This man has perjured himself in the past.</dd>
    <dt>Conclusion (Inferred)</dt>
    <dd>This man is not to be trusted.</dd>
  </dl>
<p>
  We see enthymemes in many arguments and is an especially important concept to understand not only when deconstructing offensive and defensive techniques in cyber attacks, but arguments overall. The syllogism (logical argument) will not always be present - and in fact is often missing in normal communication - because the cultural implications are designed to be understood for the message to be effective. A great example we might see in everyday speech is a conversation about implicating a classmate's failure for not using an assigned textbook:
</p>
<p>
  <div class="container">
    <img src="/img/hwest.gif" class="img-fluid example mx-auto mt-3 mb-3 d-flex">
    <blockquote style="font-size:30px;">
      “That Herbert West kid never opens his book in class, he's totally going to flop the upcoming anatomy test.”
    </blockquote>
</p>
</div>
<p>
  The major premise (warrant) that is not stated is that textbooks are the only way to gain knowledge about anatomy in this class. Since the underlying cultural knowledge is that you need to study to pass your exams, it was not necessary for this premise to be stated. The minor premise (grounds) are simply that no one has seen Herbert use the textbook in class. And finally, the claim (conclusion) being argued is that Herbert is going to fail his anatomy exam because he didn't study his textbook. It's simple once you can start to see how implicit knowledge impacts arguments.
</p>
<h3 class="hilite"><span># want more?</span></h3>
<p>
  If you'd like to have additional resources to help understand some of the terms I'm using, I would recommend reading these brief overviews on <a href="https://owl.purdue.edu/owl/general_writing/academic_writing/historical_perspectives_on_argumentation/classical_argument.html">classical argument</a>, <a href="https://owl.purdue.edu/owl/general_writing/academic_writing/rhetorical_situation/aristotles_rhetorical_situation.html">rhetorical situation</a>, and the <a href="https://owl.purdue.edu/owl/general_writing/academic_writing/historical_perspectives_on_argumentation/toulmin_argument.html">Toulmin model of argument</a>. These links are not definitive resources, but an excellent starting point to grasp basic concepts. If you'd prefer a conversation, feel free to email or message me on social media. I'd be happy to chat with you!
</p>
