<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of bulk phishing</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="/emails/emailan">main</a>
       ░ <a href="#">_bulk_</a>
       ░ <a href="/emails/clonean">clone</a>
       ░ <a href="/emails/boxan">dropbox/google docs</a>
       ░ <a href="/emails/malspaman">malspam</a>
       ░ <a href="/emails/pharman">pharming</a>
       ░ <a href="/emails/spearan">spearphishing</a>
    </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the bulk phsishing category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="card-columns">

<!--amazon-->

    <div class="card text-white">
      <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
        <div class="card-img-overlay darken">
            <h3 class="card-title">amazon_1</h3>
            <h4 class="card-subtitle">bulk phish</h4>
        </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk/clone phishing example">
          <div class="card-img-overlay darken">
              <h3 class="card-title">amazon_2</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of clone phishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
              <h3 class="card-title">amazon_3</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
              <h3 class="card-title">amazon_4</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk/clone phishing example">
          <div class="card-img-overlay darken">
              <h3 class="card-title">amazon_5</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of clone phishing</p>
          </div>
    </div>

<!--chase-->

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_1</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_2</h3>
              <h4 class="card-subtitle"> phish</h4>
              <p class="card-text">this is also an example of clone phishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_3</h3>
              <h4 class="card-subtitle">bulk phish</h4>
            </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_4</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of clone phishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_5</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

  <!--eBay-->

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_1</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of clone phishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_2</h3>
              <h4 class="card-subtitle">bulk/clone/spearphish</h4>
              <p class="card-text">this is also an example of clone & spearphishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_3</h3>
              <h4 class="card-subtitle">bulk/clone/spearphish</h4>
              <p class="card-text">this is also an example of clone & spearphishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_4</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_5</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

<!--paypal-->

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">paypal_1</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">paypal_2</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">paypal_3</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">paypal_4</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of spearphishing</p>
          </div>
    </div>

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">paypal_5</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

<!--personal-->

    <div class="card text-white">
      <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
        <div class="card-img-overlay darken">
            <h3 class="card-title">personal_1</h3>
            <h4 class="card-subtitle">bulk phish</h4>
        </div>
    </div>

<!--indiana.edu-->

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">indiana.edu_1</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

<!--boeing-->

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">boeing_737_max_1</h3>
              <h4 class="card-subtitle">bulk phish</h4>
              <p class="card-text">this is also an example of a malspam phishing email!</p>
          </div>
    </div>

<!--iTunes-->

    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">iTunes_1</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

<!--warcraft-->


    <div class="card text-white">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">warcraft_1</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>

    <!--end of individual cards-->

</div>

<!--end of card-column-->
