<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of clone phishing</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="/emails/emailan">main</a>
      ░ <a href="/emails/bulkan">bulk</a>
      ░ <a href="#">_clone_</a>
      ░ <a href="/emails/boxan">dropbox/google docs</a>
      ░ <a href="/emails/malspaman">malspam</a>
      ░ <a href="/emails/pharman">pharming</a>
      ░ <a href="/emails/spearan">spearphishing</a>
    </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the clone phishing category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

<!--amazon-->

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk/clone phishing example">
          <div class="card-img-overlay darken">
              <h3 class="card-title">amazon_2</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of bulk phishing</p>
          </div>
    </div>
</div>

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
              <h3 class="card-title">amazon_4</h3>
              <h4 class="card-subtitle">bulk phish</h4>
          </div>
    </div>
</div>

<!--chase-->

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_2</h3>
              <h4 class="card-subtitle"> phish</h4>
              <p class="card-text">this is also an example of bulk phishing</p>
          </div>
    </div>
</div>

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">chase_4</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of bulk phishing</p>
          </div>
    </div>
</div>


<!--eBay-->

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_1</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of bulk phishing</p>
          </div>
    </div>
</div>

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_2</h3>
              <h4 class="card-subtitle">bulk/clone/spearphish</h4>
              <p class="card-text">this is also an example of bulk & spearphishing</p>
          </div>
    </div>
</div>

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">ebay_3</h3>
              <h4 class="card-subtitle">bulk/clone/spearphish</h4>
              <p class="card-text">this is also an example of bulk & spearphishing</p>
          </div>
    </div>
</div>

<!--paypal-->

<div class="col-auto mb-3">
    <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h3 class="card-title">paypal_4</h3>
              <h4 class="card-subtitle">bulk/clone phish</h4>
              <p class="card-text">this is also an example of spearphishing</p>
          </div>
    </div>
</div>

    <!--end of individual cards-->

  </div>
</div>
<!--end of card-column-->
