<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of phishing emails</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="#">_main_</a>
       ░ <a href="/emails/bulkan">bulk</a>
       ░ <a href="/emails/clonean">clone</a>
       ░ <a href="/emails/boxan">dropbox/google docs</a>
       ░ <a href="/emails/malspaman">malspam</a>
       ░ <a href="/emails/pharman">pharming</a>
       ░ <a href="/emails/spearan">spearphishing</a>
    </p>
  </div>
<br>
  <div class="row justify-content-center">
      <p>Please select a link above to look at categorical and individual analyses.</p>
      <br><img src="/public/img/trinity.gif">
  </div>
</div>
