
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="login page for linuxfingers">
    <meta name="author" content="Jennifer Mead">
    <title>/root/portfolio_rev1</title>

    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138652320-1');
    </script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138652320-1');
    </script>


    <link rel="icon" href="public/icons/button.ico">
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/custom.css" rel="stylesheet">
    <link href="public/css/login.css" rel="stylesheet">

  </head>

  <body>

  <form class="form-signin">
    <div class="box-black rounded">
  <div class="text-center mb-4">
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">/root/portfolio_rev1</h1>
    <p><i>please enter your credentials
    <br> for access to the
    <br>restricted portfolio section</i></p>

  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="username" required autofocus>
    <label for="inputEmail">username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="password" required>
    <label for="inputPassword">password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <button class="btn btn-lg btn-brand btn-block" type="submit">enter</button>
  <p><i><center>don't want to be here?<br><a href="/!Current/test/test.html">cd /home/linuxfingers/</center></a></i></p>
</div>
</form>


</body>
</html>
