<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Please Login To Your Account</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/elogin.css">

</head>

<body>

  <section class="form animated">
    <h2>Sign In to Your Account</h2>
    <p class="valid">Authenticating, please wait...</p>
    <p class="error">Haha, good job.</p>
    <form class="loginbox" autocomplete="off">
      <p>Username</p>
      <input placeholder="Username" type="text" id="username"></input>
      <p>Password<p>
      <input placeholder="Password" type="password" id="password"></input>
      <button id="submit">Sign In</button>
    </form>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/public/js/elogin.js"></script>

</body>
</html>
