<p>

  It's funny; I think back to all of the courses that really got me excited about rhetoric in graduate school, and the one I've came back to repeatedly has been this course on rhetorical design. I've always been artistically minded - every single inch of this page has been scrutinized over in order to take sure the spacing and text and message it's conveying is <i>precisely</i> what I was intending to show.

  One of the focuses for my InDesign class was taking existing security awareness training brochures and reimagining them to have a more rhetorical visual effect.

</p>
