<div class="container-fluid">
	<div class="row">
		<div class="col-3">
      <div class="row vertical-center">
        <div class="col">
          <p class="hilite" style="font-size:30px;"><b><span>rhetsec_</span></b></p>
          <p style="text-indent:1.5rem;font-size:16px;">/ˈrɛtsɛk/</p>
        </div>
        <div class="col">
          <p style="text-indent:1.5rem;"><i>noun</i></p>
            <p class="hilite" style="text-indent:5.0rem;"><span>rhetorical security.</span></i></p>
        </div>
      </div>
		</div>
		<div class="col">
      <p>
        Rhetsec_ is a new way of thinking about cybersecurity, written for researchers looking to understand communication techniques in computer security, and for hackers by trade or hobby who want a perspective that isn't corporately biased. It's a space to talk candidly about unconventional topics, and to share ideas about the offensive and defensive side of cyber attacks using a language both groups understand. This project started as my <a href="#" id="portfolioFolder" data-toggle="modal" data-target="#portfolioModal">master's portfolio</a>, which focuses on phishing as an offensive cyber attack. The /rhetsec_ folder contains files which represent the project's key sections:
      </p>
      <ul class="sq">
				<li>a crash course designed for non-rhetoric scholars to familiarize themselves with the ideas in this project,</li>
        <li>a project readme that provides an overview and rationale for doing this whole thing in the first place,</li>
        <li>an explanation of the framework for my phishing email analyses,</li>
        <li>5 different phishing categories, each with their own analysis,</li>
				<li>a (scrubbed) full-text corpus of phishing emails analyzed, and</li>
        <li>references.</li>
    </ul>

      <p>
      	My plan moving forward is a continued exploration of offensive and defensive techniques, examining current issues in cybersecurity using a rhetorician's perspective, with more in the second quarter of 2020.
      </p>
      <p>
        In addition to the rhetsec_ project, this website is also my portfolio of curated works. You'll find information on other research and writing that I've done, as well as creative works such as visual arts, music, poetry, and narrative. The folders to your right give access to the content in this website; feel free to explore and play around. I hope you enjoy what you find.
      </p>

			<p>
				<i>last updated 26 december 2019 </i>
			</p>
			<h3 style="color:black;" align="center" class="p-3">
				<span>	&starf; &#9760; - happy holidays - &#9760; &starf;</span>
			</h3>
		</div>
	</div>
</div>
