<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
      <div class="row vertical-center">
        <div class="col">
          <p class="hilite" style="font-size:30px;"><b><span>rhetsec_</span></b></p>
          <p style="text-indent:1.5rem;font-size:16px;">/ˈrɛtsɛk/</p>
        </div>
        <div class="col-12">
          <p style="text-indent:1.5rem;"><i>noun</i></p>
            <p class="hilite" style="text-indent:5.0rem;"><span>rhetorical security.</span></i></p>
        </div>
      </div>
		</div>
		<div class="col-md-9">
      <p>
        Rhetsec_ is a new way of thinking about cybersecurity, written for researchers looking to understand communication techniques in computer security, and for hackers by trade or hobby who want a perspective that isn't corporately biased. It's a space to talk candidly about unconventional topics, and to share ideas about the offensive and defensive side of cyber attacks using a language both groups understand.
      </p>
      <p>
        This project started as my <a href="#" id="portfolioFolder" data-toggle="modal" data-target="#portfolioModal">master's portfolio</a>, which focuses on phishing as an offensive cyber attack. Currently designated under the /rhetsec_ folder, the project is organized into a few key sections:
      </p>
      <ul>
        <li>&#8278; a project readme which provides an overview and my rationale for doing this whole thing in the first place,</li>
        <li>&#8278; a crash course designed for non-rhetoric scholars to familiarize themselves with the ideas in this project</li>
        <li>&#8278; a explanation of the framework for my phishing email analyses,</li>
        <li>&#8278; analysis of five different phishing categories (bulk, clone, malspam, personal soliciation, and spearphishing)</li>
        <li>&#8278; a full-text corpus of the emails analyzed, and</li>
        <li>&#8278; references</li>
    </ul>

          <p>
        My plan moving forward is continued exploration of offensive and defensive techniques, examining current issues in cybersecurity using a rhetorician's perspective, with more in the second quarter of 2020.
      </p>
      <p>
        In addition to the rhetsec_ project, this website is intended to be my portfolio of curated works. You'll find information on other research and writing that I've done, as well as creative works such as visual arts, music, poetry, and narrative. I hope you enjoy what you find here!
      </p>
      <p>
        -Jenny Mead
      </p>
		</div>
	</div>
</div>







<!--

<div class="col">
  <div class="row">
    <div class="col">
      <p class="hilite" style="font-size:30px;"><b><span>rhetsec_</span></b></p>
      <p style="text-indent:1.5rem;font-size:16px;">/ˈrɛtsɛk/</p>
    </div>
    <div class="col-12">
      <p style="text-indent:1.5rem;"><i>noun</i></p>
        <p class="hilite" style="text-indent:5.0rem;"><span>rhetorical security.</span></i></p>
    </div>
  </div>
</div>
<div class="col">

  <div class="row mt-3">
    <p>
      Rhetsec_ is a new way of thinking about cybersecurity, written for researchers looking to understand communication techniques in computer security, and for hackers by trade or hobby who want a perspective that isn't corporately biased. It's a space to talk candidly about unconventional topics, and to share ideas about the offensive and defensive side of cyber attacks using a language both groups understand. This project started as my <a href="#" id="portfolioFolder" data-toggle="modal" data-target="#portfolioModal">master's portfolio</a>, which focuses on phishing as an offensive cyber attack. Currently designated under the /rhetsec_ folder, the project is organized into a few key sections:
    </p>
    <ul>
      <li>&#8278; a project readme which provides an overview and my rationale for doing this whole thing in the first place,</li>
      <li>&#8278; a crash course designed for non-rhetoric scholars to familiarize themselves with the ideas in this project</li>
      <li>&#8278; a explanation of the framework for my phishing email analyses,</li>
      <li>&#8278; analysis of five different phishing categories (bulk, clone, malspam, personal soliciation, and spearphishing)</li>
      <li>&#8278; a full-text corpus of the emails analyzed, and</li>
      <li>&#8278; references</li>
  </ul>

        <p>
      My plan moving forward is continued exploration of offensive and defensive techniques, examining current issues in cybersecurity using a rhetorician's perspective.
    </p>
    <p>
      In addition to the rhetsec_ project, you'll find information on other writing and research work I've done. I've also included creative works such as music, poetry, narrative, and visual arts. I hope you enjoy what you find here!
    </p>
    <p>
      -Jenny Mead
    </p>
  </div>
</div>
-->
