<div class="d-none d-lg-block">
  <div class="row justify-content-center mb-5">
    <h1 align="center">/home/linuxfingers/portfolio/</h1>
  </div>
  <!--<div class="col mb-1">
    <div class="row justify-content-center">
      <h1 style="display: block" class="eve" align="center">ğ”€ğ“®ğ“µğ“¬ğ“¸ğ“¶ğ“®</h1>
    </div>
    <div class="row justify-content-center">
      <h5 style="display: block" class="eve" align="center">ï½”ï½ã€€ï½ï½™ã€€ï½Œï½‰ï½”ï½”ï½Œï½…ã€€ï½ˆï½ï½ï½…ã€€ï½‰ï½</h5>
    </div>
    <div class="row justify-content-center">
      <img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();"><h3 class="eve" align="center" style="display: block">ã€ï»¿ï½ƒï½™ï½‚ï½…ï½’ï½“ï½ï½ï½ƒï½…ã€‘</h3><img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
    </div>
</div>-->
</div>

<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
    <h3 align="center">/linuxfingers/portfolio/</h3>
  </div>

<!--
<div class="col mb-3">
  <div class="row justify-content-center ">
    <h1 style="display: block" class="eve" align="center">ğ”€ğ“®ğ“µğ“¬ğ“¸ğ“¶ğ“®</h1>
  </div>
  <div class="row justify-content-center">
    <h3 style="display: block" class="eve" align="center">ï½”ï½ã€€ï½ï½™</h3>
  </div>
  <div class="row justify-content-center">
    <h3 style="display: block" class="eve" align="center">ï½Œï½‰ï½”ï½”ï½Œï½…ã€€ï½ˆï½ï½ï½…ã€€ï½‰ï½</h3>
  </div>
  <div class="row justify-content-center">
    <h2 class="eve" align="center" style="display: block">ã€ï»¿ï½ƒï½™ï½‚ï½…ï½’ï½“ï½ï½ï½ƒï½…ã€‘</h2>
  </div>
</div>-->
</div>

<div class="col">

  <p>
    Hello, and welcome. I'm Jenny Lynn, a Rhetoric & Writing Master's candidate at St. Cloud State University. I've thought a lot about both rhetoric and cybersecurity, and I believe a meaningful relationship exists between these two diciplines - one I believe should be examined seriously if we want to understand security from other vantage points. I'm starting that conversation with this project: an examination on various aspects and issues within cybersecurity through the lens of rhetoric. Since I am interested in digital spaces, I felt that my work is more suited to a digital space, hence this portfolio.

    Currently, access to content is restricted to my committee. I expect an approval for publication near December 2019. I intend on releasing my project here when I am completed, and want to open dialogue about what I hope to be an exciting intersectional study. If you have questions about what I am working on, or have worked on in the past (or even just want to say hello,) please see my <a href="/about/jen">about me</a> page for contact methods.</a> I'm more than happy to talk about anything I'm working on. &#9835;
  </p>

{{#if user}}
<div class="row justify-content-center">

  <p class="text-centered">Hi there! Just a reminder that this is a work in progress.</p><br>
</div>

<div class="row justify-content-center">
  <a class="btn-brand" href="/starthere">Start Here!</a>
</div>

{{else}}

<div class="d-none d-lg-block">
  <p>If you have access, please click "login $USER" at the top of the page to access the portfolio. Otherwise, enjoy the links above. You'll find information about me, my previous writings, and other creative endeavors.</p>
</div>

<div class="d-lg-none">
  <p>If you have access, please <a href="/signin">login $USER</a>. Otherwise, enjoy the links in the menu. You'll find information about me, my previous writings, and other creative endeavors.</p>
</div>
{{/if}}

<img src="/img/greenskull.gif" class="img-fluid d-flex mx-auto mt-5" href="#" data-toggle="tooltip" title="hello, world" target="_blank" onclick="randomSite();">
</div>
