<div class="container">
  <div class="row">
    <div class="col">
      <p class="hilite" style="font-size:30px;"><b><span>rhetsec_</span></b></p>
      <p style="text-indent:1.5rem;font-size:16px;">/ˈrɛtsɛk/</p>
    </div>
    <div class="col-12">
      <p style="text-indent:1.5rem;"><i>noun</i></p>
        <p class="hilite" style="text-indent:5.0rem;"><span>rhetorical security.</span></i></p>
    </div>
  </div>
  <div class="row mt-3">
    <p>rhetsec_ is a project is written for researchers interested in new ways to think about communication within computer security, specifically in the realm of rhetoric. It's also written for hackers by trade or hobby looking for information from a perspective that isn't affiliated or biased by large corporations, and different than the traditional tech background. It's a space to talk candidly about unconventional topics, to share ideas between scholars and hackers about the offensive and defensive side of cyber attacks using a language both groups understand.
    </p>
    <p>
      My <a href="#" id="portfolioFolder" data-toggle="modal" data-target="#portfolioModal">master's portfolio</a> focuses on phishing as an offensive tactic. After that's completed, rhetsec_ will explore the defensive side, looking at security awareness training. It will also look at other offensive and defensive tactics later on. The ultimate goal is for rhetsec_ to become a comprehensive repository of issues within cybersecurity interpreted through a rhetorical lens.
    </p>
    <p>
      << Until it's approved by the committee, content access is restricted. >>
    </p>
  </div>
</div>
