<!--<div class="col mb-1">
    <div class="row justify-content-center">
      <h1 style="display: block" class="eve" align="center">ğ”€ğ“®ğ“µğ“¬ğ“¸ğ“¶ğ“®</h1>
    </div>
    <div class="row justify-content-center">
      <h5 style="display: block" class="eve" align="center">ï½”ï½ã€€ï½ï½™ã€€ï½Œï½‰ï½”ï½”ï½Œï½…ã€€ï½ˆï½ï½ï½…ã€€ï½‰ï½</h5>
    </div>
    <div class="row justify-content-center">
      <img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();"><h3 class="eve" align="center" style="display: block">ã€ï»¿ï½ƒï½™ï½‚ï½…ï½’ï½“ï½ï½ï½ƒï½…ã€‘</h3><img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
    </div>
</div>-->

<div class="col">

  <p>
    Hello, and welcome. I'm Jenny Lynn, a Rhetoric & Writing Master's candidate at St. Cloud State University. I've thought a lot about both rhetoric and cybersecurity, and I believe a meaningful relationship exists between these two diciplines that should be examined to understand security from other vantage points. I'm starting that conversation with this project: an examination on various aspects and issues within cybersecurity through the lens of rhetoric.
  </p>
  <p>
    Currently, access to most of the content is restricted to my committee. I expect an approval for publication near December 2019. I intend on releasing my project here when I am finished, and want to open dialogue about what I hope to be an exciting intersectional study. I plan on continuing research after this is finished, and will house what I find here.</p>

  <p>
    If you have questions about what I am working on, or have worked on in the past (or even just want to say hello,) check out the about folder for ways to contact me.</a> I'm more than happy to talk about anything I'm working on. &#9835;
  </p>

{{#if user}}
  <p>
    Content last updated on 02 November 2019.
  </p>

{{else}}

<div class="d-none d-lg-block">
  <p>If you have access, please login by clicking on the lock to your right. Otherwise, enjoy what you can for now. You'll find information about me, my previous writings, and other creative endeavors.</p>
</div>

<div class="d-lg-none">
  <p>If you have access, please <a href="/signin">login</a>. Otherwise, enjoy the links in the menu. You'll find information about me, my previous writings, and other creative endeavors.</p>
</div>
{{/if}}
</div>
