<div class="jumbotron hero-image">
  <div class="box-black hero-text">
    <h2>wow what a cool website</h2>
    <p>time to party like it's 1999</p>
    <a class="btn btn-brand" href="mailto:contact@linuxfingers.com">hire me</a>
  </div>
</div>

<img class="img-fluid centered" src="/img/UCpopup.gif" width="50%">
