<div class="container-fluid">


		<!--<div class="col-3">
      <div class="row vertical-center">
        <div class="col">
          <p class="hilite" style="font-size:30px;"><b><span>rhetsec_</span></b></p>
          <p style="text-indent:1.5rem;font-size:16px;">/ˈrɛtsɛk/</p>
        </div>
        <div class="col">
          <p style="text-indent:1.5rem;"><i>noun</i></p>
            <p class="hilite" style="text-indent:5.0rem;"><span>rhetorical security.</span></i></p>
        </div>
      </div>
		</div>-->
<div class="col" align="center">
	<h1 class="term">▚ hello @visitor, and welcome to linuxfingersOS ▞</h1>
	<div class="box">
	<h3 class="term">feb 2022 patch notes:</h5>
		<p>++updated landing page && contact info</p>
		<p>++even newer && more improved servitors</p>
	</div>
</div>
<div class="col" align="left">
	<h3 class="term">folders.nfo ↓</h3>
	<h5 style="color:white;"># rhetsec_</h3>
		<p class="indent">// rhetoric+cybersecurity | master's project that analyzed phishing as offensive technique using rhetorical frameworks</p>

	<h5 style="color:white;"># other_writing</h3>
		<p class="indent">// academic research && personal/creative writing</p>

	<h5 style="color:white;"># visaudio</h3>
		<p class="indent">// artwork && music</p>

	<h5 style="color:white;"># eva</h3>
		<p class="indent">// dossier on your humble webmaster</p>

		<img src="/img/greenskull.gif" class="img-fluid d-flex mx-auto" href="#" data-toggle="tooltip" title="hello, world" target="_blank" onclick="randomSite();">
</div>

</div>
