<div class="container">
  <div class="row">
    <div class="col">
      <p class="hilite" style="font-size:30px;"><b><span>rhetsec_</span></b></p>
      <p style="text-indent:1.5rem;font-size:16px;">/ˈrɛtsɛk/</p>
    </div>
    <div class="col-12">
      <p style="text-indent:1.5rem;"><i>noun</i></p>
        <p class="hilite" style="text-indent:5.0rem;"><span>rhetorical security.</span></i></p>
    </div>
  </div>
  <div class="row mt-3">
    </p>
    <p>Rhetsec_ is a new way of thinking about cybersecurity, written for researchers interested in new ways to think about communication in computer security using rhetoric. It's for hackers by trade or hobby who want a perspective that isn't corporately biased. It's a space to talk candidly about unconventional topics, to share ideas between scholars and hackers about the offensive and defensive side of cyber attacks using a language both groups understand.
    <p>
      My <a href="#" id="portfolioFolder" data-toggle="modal" data-target="#portfolioModal">master's portfolio</a> focuses on phishing as an offensive tactic. After that's finished, rhetsec_ will explore the defensive side, looking at security awareness training, with plans to look at other offensive and defensive tactics later. My goal is to write about issues in cybersecurity, bringing new perspectives into existing discourse.
    </p>
    <p>
      In addition to the rhetsec_ project, you'll find information on the other types of writing and research work I've done. I've also included my creative works such as music, writing, and visual arts. I hope you enjoy what you find here.
    </p>
    <p>
      -Jenny
    </p>
  </div>
</div>
