<div class="jumbotron hero-image">
  <div class="box-black hero-text">
    <h2>wow what a cool website</h2>
    <p>time to party like it's 1999</p>
    <a class="btn btn-brand" href="mailto:contact@linuxfingers.com">hire me</a>
  </div>
</div>

<!--
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 textchunk-main">
      <h3 class="pb-4 mb-4 font-italic header-line">
        Talk about things here, probably. Or not. It's up to you!</h3>
      <div class="textchunk-post">
        <h2 class="textchunk-post-title">AUTONET TERMINAL IDENTITY CODES</h2>
        <p class="textchunk-post-meta">[ AUTONET SERIES (Section 3) ] OPTION: TERMINAL</p>

        <p>To optimize Autonet's treatment of your terminal, use the
          identity  code suggested for your terminal model.   Enter
          the code by using the optional T command during the Autonet
          connection procedure. Autonet will interpret the code and
          will automatically establish the most effective parameters
          for the operating characteristics of your device.  In many
          cases, parameters can be permanently set at the host instal-
          lation, thereby eliminating the need to use the T command
          altogether.

          In most cases,  if you are using an intelligent asynchro-
          nous ASCII CRT, you may use code  D1.  Your  Autonet  Ac-
          count Administrator,  the person in your organization who
          handles Autonet matters, can advise you.  This list is a
          representative sample of terminal types and does not sug-
          gest that support is limited only to these terminals.  If
          your terminal is unlisted, simply use the code associated
          with a like-device.</p>
        <ul class="light">
          <li>Code    Terminal Model</li>
          <li>D1      ADDS CONSUL 520, 580, 980</li>
          <li>D1      ADDS ENVOY 620, REGENT SERIES</li>
          <li>A1      ALANTHUS DATA TERMINAL T-133</li>
          <li>A8                             T-300</li>
          <li>A3                             T-1200</li>
          <li>A2      ALANTHUS MINITERM</li>
          <li>D1      AM-JACQUARD AMTEXT 425</li>
          <li>D1      ANDERSON JACOBSEN 510</li>
          <li>B1      ANDERSON JACOBSEN 630</li>
          <li>B3      ANDERSON JACOBSEN 830, 832</li>
          <li>B5      ANDERSON JACOBSEN 860, 880</li>
          <li>D1      ANN ARBOR TERMINALS AMBASSADOR, 400S</li>
          <li>D1      APPLE II</li>
          <li>D1      ATARI 400, 800</li>
          <li>D1      AT&T DATASPEED 40, 40/1, 40/2, 40/3</li>
          <li>B3                     43</li>
          <li>D1      BEEHIVE MINIBEE, MICROBEE, SUPERBEE</li>
          <li>A8      CENTRONICS 761</li>
          <li>D1      COMMODORE PET</li>
          <li>D1      COMPU-COLOR II</li>
          <li>A2      COMPUTER DEVICES CDI 1030</li>
          <li>A8      COMPUTER DEVICES TELETERM 1132</li>
          <li>A2      COMPUTER DEVICES MINITERM 1200 SERIES</li>
          <li>A2      COMPUTER TRANSCEIVER EXECUPORT 300, 380, 3000</li>
          <li>A9      COMPUTER TRANSCEIVER EXECUPORT 1200</li>
          <li>A8      COMPUTER TRANSCEIVER EXECUPORT 4000</li>
          <li>D1      CPT 6000, 8000</li>
          <li>and it continues <a href="http://www.textfiles.com/internet/autonet3.txt">here</a>...</li>
      </div>
    </div>

    <aside class="col-md-4 textchunk-sidebar">
      <div class="p-4 mb-3 box-black rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">#!/bin/bash<br>echo "Hello World"</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">hangout spots</h4>
        <ol class="list-unstyled">
          <li><a href="#">github</a></li>
          <li><a href="https://bitbucket.org/%7B05fbe0ca-47bc-4ab7-8022-7fc2acd9d8fd%7D/">bitbucket</a></li>
          <li><a href="http://www.twitter.com/linuxfingers">twitter</a></li>
          <li><a href="http://www.facebook.com/linuxfingers">facebook</a></li>
          <li><a href="http://www.soundcloud.com/linuxfingers">soundcloud</a></li>
        </ol>
      </div>
    </aside><!-- /.textchunk-sidebar
  </div><!-- /.row
-->

<img class="centered" src="/public/img/UCpopup.gif" width="50%">

</main><!-- /.container -->
