<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of malspam</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="/emails/emailan">main</a>
       ░ <a href="/emails/bulkan">bulk</a>
       ░ <a href="/emails/clonean">clone</a>
       ░ <a href="/emails/boxan">dropbox/google docs</a>
       ░ <a href="#">_malspam_</a>
       ░ <a href="/emails/pharman">pharming</a>
       ░ <a href="/emails/spearan">spearphishing</a>
     </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the malspam category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="card-columns">

<!--krebs-->

    <div class="card text-white">
      <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
        <div class="card-img-overlay darken">
            <h3 class="card-title">boeing 747 max</h3>
            <h4 class="card-subtitle">*box phish</h4>
            <p class="card-text">this is also an example of bulk phishing</p>
        </div>
    </div>

    <!--end of individual cards-->

</div>

<!--end of card-column-->
