<div class="centered">
  <img class="mx-auto d-block" src="/img/baby.gif">
    <p class="text-centered">This isn't the page you're looking for.<br>(But to be honest, I'm not sure <i>where</i> you were trying to go.)</p>
<a href="#" class="text-centered mx-auto d-block" onclick="history.go(-1)">&Vert; go back_</a></p>
</div>
