<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of pharming</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="/emails/emailan">main</a>
       ░ <a href="/emails/bulkan">bulk</a>
       ░ <a href="/emails/clonean">clone</a>
       ░ <a href="/emails/boxan">dropbox/google docs</a>
       ░ <a href="/emails/malspaman">malspam</a>
       ░ <a href="#">_pharming_</a>
       ░ <a href="/emails/spearan">spearphishing</a>
     </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the pharming category.</p>
  </div>
</div>
<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

<!--berkeley.edu-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
            <div class="card-img-overlay darken">
            <h3 class="card-title">berkeley_2</h3>
            <h4 class="card-subtitle">pharming</h4>
        </div>
    </div>
</div>

    <!--end of individual cards-->

    </div>
  </div>
</div>
<!--end of card-column-->
