<div class="container">
  <div class="row justify-content-center">
    <h3>>providentia security</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="/cv#academics">academics</a>
       ░ <a href="/cv#confpub">conferences & publications</a>
       ░ <a href="/cv#work">work experience</a>
       ░ <a href="/cv#skills">skills</a>
       ░ <a href="/cv#specproj">special projects</a>
       <a href="#" title="test link">test</a>
     </p>
  </div>
</div>
<br>

<div class="container">
    <div class="col">
          <p>Providentia Security, LLC is a consulting firm dedicated to helping small and medium sized businesses manage their security awareness training and cybersecurity needs. We started as a joint venture between my husband and I in 2019, the foundation for which being both my <a href="/masters">master's project</a> and a desire from both of us to have a more human-centric approach to cybersecurity.</p>
    </div>
<div class="col">
  <img src="/public/img/ProvLogo.png" class="provlogo">
          <p>Providentia Security seeks to shift security awareness training away from the typical FUD model - Fear, Uncertainty, and Doubt - towards training that educates, rather than dictates. Since a lot of security awareness training feels punitive, our goal is to bring a more friendly and meaningful approach to the way that security awareness training is delivered. We also provide consulting services regarding existing cybersecurity plans, and personalized services such as CIS Controls audit/assurance, pentesting, phishing simulations, and more.</p>

          <p>While our company is still in its early stages, we hope to help small and medium sized businesses not just implement, but understand, cybersecurity.</p>
</div>
</div>
