<div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; how to use this website_</h1>
</div>

<p>
  This website is intended to be home for my portfolio work. The main focus (currently) is the master's project, which I have organized into phases. There is a hierarchy involved in the site's navigation, so it may be helpful to hold your hand in case finding what you were looking for feels daunting.
</p>

<h5>/rhetsec/</h5>
  <p>
    This first section, my portmanteau of rhetoric and security, contains information about the project in general. The landing page explains in detail why I have this information password-protected, as well as how the project has evolved through my continuous research. The rationale page explains a bit more in detail why I have chosen to do this project in general, as well as why it's a portfolio.  There is also a page that details the limitations I've both anticipated and experienced. And finally, I intend to have a self-assessment here as well, to discuss how I felt this project impacted me as a scholar.
  </p>

<h5>/p0_website/</h5>
  <p>
    Phase 0 is where I explain the setup process for the website and rationale for why I chose what I did aesthetically and technology-wise. It's not necessarily directly related to the project itself, but the ideology behind why I made the choices I did influences the project. In that respect, if you'd like to get a better understanding of the tech behind the project, including the frustrations and successes, feel free to look here.
  </p>

<h5>/p1_research/</h5>
  <p>
    Phase 1 is where the meat of the research has been performed and is available to examine here. There are two distinct sections in this phase. The landing page for this section discusses the project's findings in a general sense. There's an explanation of general conclusions from phishing email analyses, motivations behind why phishers phish, and a brief understanding of how Security Awareness Training operates.
  </p>

  <p>
    The phishing email analysis section goes into depth about various kinds of phishing email genres. On its landing page, I outline the framework I used in examining the categories of emails. As far as those categories go, I have chosen to analyze bulk phishing, clonephishing, malspam, personal solicitation emails, and spearphishing. Each page is an in-depth analysis of that category using the aforementioned framework. There is also a link here to my email corpus, which showcases emails that are relevant to the project and their sources. The corpus is a safe place for these emails, and I have removed links that have any semblance of compromise. Please be careful, though, when going to the sources. Some of the emails are especially nefarious (such as the malspam examples) and have active infections within them. I have added disclaimers at these specific sources, but you are at no risk looking at these on my website.
  </p>

  <p>
    The second section in this phase is where I discuss findings on current Security Awareness Training (SAT) programs. It's not necessarily a rhetorical analysis, but more a place to show an understanding of what's currently happening in the corporate domain. I also discuss specific challenges corporations are facing, both with the products themselves and the culture surrounding and affecting security teams. Sitting through various webinars and examining available materials has been both enlightening and disappointing. I've recognized through my research that the problem is not merely the wrong approach, but a combination of external factors that influence how information is shared, absorbed, and respected. It's a much larger problem to be tackled than originally intended. That being said, in the limited time I have available with this new information, I will do my best to create something from what I have learned, not as a final product, but a framework for the future.
  </p>

  <p>
    I also have my bibliography linked here if you're curious as to which sources I have used throughout the portfolio's work.
  </p>

<h5>/p2_training/</h5>
  <p>
    Phase 2 deals with training materials and deliverables. In this section, you will find phishing emails I have written with the previous research in mind. I intend to show rhetorical analyses of these emails I have written, as well. There is also a fake login page mimicking Experian that I've created as an example, which leads to an "oops" page. This "oops" page is the start of what will happen when someone becomes phished.
  </p>
  <p>
    Finally, a framework for an educational mini-course is intended to be developed, focusing on two separate audiences: those who are not digitally-literate, and those who are but are distracted. I would ideally like this course to be interactive, changing the responses based on how the user answers to "learn" about where they are at literacy-wise to tailor the training specifically. Since the existing SAT is given to people on a bulk basis utilizing videos or gamification without individualized tailoring, this is the novel aspect that I'd like to incorporate into the product in the future.   Since there is limited time to finish this project, and I tend to dream a bit big, my concession is to create deliverables for potential clients (small and medium-sized companies) with the general idea in play. I will provide as much of the framework as I can...perhaps a mock-up of the course is possible in JavaScript. :)
  </p>

<h5>/p???/</h5>
  <p>
    Phase ??? deals with what to do after this master's project is finished, such as future projects and "what to do" with the business. As such, you can select the links as you please and is not necessarily intended to be consumed in the presented order. I'll probably change the name of this one at some point, but am sticking with "???" because it's just as much of a mystery to you as it is to me at this time.
  </p>

  <div class="row justify-content-center">
    <a class="btn-brand" href="/rhetsec">Let's Go!</a>
  </div>

</div>
