<div class="container">
  <div class="row justify-content-center">
    <h3>>the master's project</h3>
  </div>

<br>

  <div class="row justify-content-center">
    <p>
       <a href="#">_the project_</a>
       ░ <a href="#">rationale</a>
       ░ <a href="#">limitations</a>
       ░ <a href="#">self-assessment</a>
       ░ <a href="#"></a>
       ░ <a href="#"></a>
       ░ <a href="#"></a>
    </p>
  </div>

<br>

  <div class="row justify-content-start">

    <p>
      Now that you're here, I'm assuming you'd like to know what all the security and secrecy is about. Rest assured, there is a reason: there is a change on how security professionals (and corporations) are managing risk when it comes to end users. No doubt this is due to the changing technologies that people are being exposed to.

      I'd like ot think of this project as a novel idea. Companies such as KnowBe4, SANS, and many others <i>do</i> use psychological and an understanding of social engineering to make their products, and for what it's worth, they are good products. If we think about security awareness training as an infection, what I've noticed is that these products function as a band-aid instead of an antiseptic. They treat <b>the symptoms</b> as opposed to the underlying disease: a lack of critical thinking.

    <p>
      <i>I know, I know.</i>

    <p>
      This sounds like every other talk about creating awareness of a problem and educating someone on how to do things "the right way," and all we need to do is think critically.

    <p>
      What I've found while performing this research is that phishing attempts have long changed from the standard Nigerian Price scams or soliciting donations which end up stealing your bank account. That's not to say that these scams don't exist still; they definitely do, well into 2019. But the methods of obtaining the payload, whether it be credentials, personal information, or even access to your computer itself, has become more sophisticated than a simple letter. A great example I found was <a target="_blank" rel="noopener noreferrer" href="https://research.checkpoint.com/advanced-sms-phishing-attacks-against-modern-android-based-smartphones/">published on 09.04.2019 from Checkpoint</a> discussing how there's a new phishihng scam that targets individuals by falsifying a  over-the-air (OTA) data transmission through SMS. 

    <p>
      When I started this project, I wanted to look at a lot of different places. In typical fashion, I created a project so large that no mere mortal Master's candidate would be able to complete within a respectable amount of time. While the temptation to remain a student indefinitely has certainly been tempting, I was thankfully directed into looking at emails for "ease of use."

    <p>
      (Un)surprisingly, there wasn't a large amount of data available for me to analyze. Researchers who have looked into phishing emails, such as <a target="_blank" rel="noopener noreferrer" href="https://eric.ed.gov/?id=EJ855621">Derek Ross' <i>Ars Dictaminus Perverted</i></a>, tended to collect their own from personal accounts. (It is important to note the year of this publication was 2009, suggesting that data was limited still, then.) I chose not to try and capture my own data, as Gmail's spam filter was simply too powerful. I did at one point sign up for an OX (OpeneXchange) mail account through my domain name provider, but even with submitting my email into various forms and places, I had no luck on the spam front. It felt like one wanted to phish me!

    <p>
      After months of trying to find sources on what to use, I found the holy grail - <a target="_blank" rel="noopener noreferrer" href="https://www.cs.cmu.edu/~enron/">the Enron Email Dataset</a>. This is an incredibly important dataset, as it is one of the few available. Even now it's a very common dataset for machine learning, like <a target="_blank" rel="noopener noreferrer" href="https://github.com/ParakweetLabs/EmailIntentDataSet/wiki">Parakweet Lab's Email Intent Data Set</a>, which uses this same cache to detect intent within an email message. I finally thought, "wow, that's a lot of data," but since most of it had been from the early to mid 2000s I found it difficult to work with when dealing with modern trends.

    <p>
      Many rhetoricians and historians are interested in looking at what's happened in years past in order to understand how it works, and that's a fine path to travel. But looking at emails from 2004 is the equivalent of a student examining ancient Sumerian to understand the English launguage. Which is probably a valid methodology in some respects, and it's cool, it's fun, but there's been <i> so much change</i> in those near 4,000 years that the connections that can be made aren't exactly helpful. Much like with phishing, going from 2001 to 2019 is the equivalent of millenia, and there has been an exponential evolution in how we operate and communicate online in less than 20 years.

    <p>
      Think back to when you were on the internet in 2001 - Youtube didn't exist, Google was barely on the radar to the public, and <a target="_blank" rel="noopener noreferrer" href="https://www.washingtonpost.com/news/the-intersect/wp/2014/12/15/from-lycos-to-ask-jeeves-to-facebook-tracking-the-20-most-popular-web-sites-every-year-since-1996/?noredirect=on">AOL was the most visited website of all time.</a>  But we're in 2019 now, and you no longer have to use dial-up to access the internet (unless you want to.) The evolution of the internet as an always-on, social space for everyone has impacted how communication (and exploitation) is performed. Even with this rapid change, I don't mean to say that these artifacts fail to inform how phishing has worked and continues to work today. Rather, the methods now are so much more sophisticated than writing a letter, and researchers should, and need to be aware of this, in order to understand what's happening within this domain.

    <p>
      I have spent a considerable amount of time compiling emails, and wading through the various bulk phishing scams so incredibly prevalent in the famed Enron Cache, but when looking for more modern data, I began to see a pattern - it was reliant on the user clicking on files, or links to files being shared with them. This is partly due to anti-spam technologies becoming "intelligent," as these types of messages get filted. Occasionally they will still come through, as evidenced by my own personal example. Keep in mind though that it was <i>one</i> in an entire year period. For a nine year old email that's been entered in too many scrupulous, undeserving email fields, as well as shown up in breaches, and therefore email lists in pastebin and "the dark web," that's pretty significant.

    <p>
      Knowing this information, I present the emails I have looked at for the project. You will notice the majority of the bulk emails are from that afformentioned Enron Cache.

    </p>

  </div>
</div>
