<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of *box emails</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="/training/elogin">fake experian login page</a>
       ░ <a href="/training/phemails">fake phishing emails</a>
       ░ <a href="/training/phished">you've been phished!</a>
     </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>For this section, I made a few different pages as a basic mock up of how the phishing simulation training would work. Since these pages will be demonstrative, I'll talk a bit about their function and how I made them here.
      <p>The first link shows a login page I made based off of the real Experian login page. It doesn't collect any data in a database, so no information put into <i>this</i> page is saved. For added effect, I purchased a domain to mask this website's URL, cleverly named stch33z.ws. (String Cheese, for those who do't speak 1337.) </p>
  </div>
</div>

<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

<!--berkeley.edu-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
            <div class="card-img-overlay darken">
            <h3 class="card-title">berkeley_2</h3>
            <h4 class="card-subtitle">*box phish</h4>
        </div>
    </div>
</div>
    <!--end of individual cards-->

</div>
</div>
</div>
<!--end of card-column-->
