<div class="row justify-content-center">
  <img src="/img/baby.gif">
</div>

<div class="row justify-content-center">
  <h1 class="courier text-centered">Sorry.</h1>
</div>

<div class="row justify-content-center">
    <p class="text-centered">This page isn't done yet. <br>Or maybe it is, but I don't want to put it up yet.<br>:P</p>
    <a href="#" class="text-centered mx-auto d-block" onclick="history.go(-1)">>go back_</a></p>
</div>
