#trainwrap {
  position: relative;
	text-align: justify;
	word-spacing: -1px;
  height: 100%;
	margin: 0 auto;
  padding: 4.2rem;
  overflow-y: auto;
	overflow-x: hidden;
  display: inline-block;
}

/* Design based on Blue Login Field of Kevin Sleger https://codepen.io/MurmeltierS/pen/macKb */
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 285px;
  margin: -140px 0 0 -182px;
  padding: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  h2 {
    margin: 0 0 20px;
    width: 100%;
    line-height: 1;
    color: #44c4e7;
    font-size: 18px;
    font-weight: 400;
  }
  input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Roboto";
    box-sizing: border-box;
    font-size: 14px;
    font-wieght: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.2s linear;
    &input:focus {
      color: #333;
      border: 1px solid #44c4e7;
    }
  }
  button {
    cursor: pointer;
    background: #44c4e7;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    &:hover {
      background: #369cb8;
    }
  }
}

.error, .valid{display:none;}

.bigfoot {
  position: fixed;
  padding-top: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-family: Roboto;
  border-top: 0.1rem solid #002366; /**800080**/
  text-align: center;
}

p {
  color: #000;
  font-weight:200;
}

a {
  color: #000;
  text-decoration: none;
  font-weight:200;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-exp {
  background-color: #AF1685;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}
