/*******************************************/
/*         Website:  linuxfingers.com      */
/*         Author:   Jennifer Mead         */
/*         Date:     August 2019           */
/*******************************************/

 /*_______________________________________*\
/*            color pallette               *\
=============================================
= light shade:          afaeae - cream      =
= light accent:         d78a9b - pink       =
= main brand:           009600 - term green =
= dark accent:          391F3B - purple     =
= dark shade:           000000 - black      =
=============================================
\*                                         */

/*

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

*/

.modal-open[style] {
padding-right: 0px !important;
}

/* ========= Main Bits of Pretty ========= */
@media screen {
	html {
		scroll-behavior: smooth;
	}
}

html, body{
  height: 100%;
	overflow-x: hidden;
}

html {
	font-family: 'exo_2.0light', courier;
	list-style: decimal-leading-zero;
  min-height:100%;
  position:relative;
}

a {
	color: #afaeae;
  font-family: 'exo_2.0light', courier;
	text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: #FFA500;
  text-decoration: dotted #009600 overline underline;
}



body {
  background-color: #000000;
  background-image: url("/img/mobo.gif");
  background-repeat: cover;
  background-attachment: fixed;
	margin:0;
	width: 100vw;
	height: 100%;
	display: flex;
  flex-direction: column;
  color: #afaeae;
}

h1, h2, h3, h4, h5, h6 {
  color: #009600;
	/*color: #d78a9b;*/
  font-family: 'mylodonlight';
}

.worktitle {
  font-style: italic;
}

ol.light{
  color:#afaeae;
  font-family: 'exo_2.0regular', Arial, sans-serif;
}

p {
  color: #afaeae;
  font-family: 'exo_2.0regular';
}

p a {
	color: #ffa500;
}

p a:hover{
	color: #fff;
	text-decoration: dotted #ffa500 overline underline;
}
ul, dl {
  	color:#afaeae;
  	list-style-type: none;
}

.biblio {
	margin-bottom: 1rem;
	margin-top: .1rem;
}

.navbar-toggler {
    width: 100%;
    float: none;
    margin: 0 auto;
    border-width:0;
    border-radius:0;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.eve {
	color: #FFA500;
}

//*** Footnotes ***//

body {
    counter-reset: footnotecounter;
}

span.footnote:before {
  counter-increment: footnotecounter;
  content: counter(footnotecounter);
  position: relative;
  top: -0.4em;
}

span.footnote {
    color: #009600;
}

/** Collapsible Menu CSS **/

.menu-content {
    max-height: 0;
    overflow: auto;
    text-align: center;
    font-family: 'exo_2.0light';
    padding: 0 0 0 50px;
}
.collapsible-menu {
    background: inherit;
    color: #afaeae;
    font-weight: inherit;
    font-family: 'exo_2.0light';
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    padding: 0.5rem;
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
}

.collapsible-menu label {
    display: block;
    cursor: pointer;
}

input#menu {
    display: none;
}

/* Toggle Effect */

input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}

/*** Other Aesthetics ***/

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.courier{
  font-family: 'courierprimecode', courier;
}

.darken {
  background-color: rgba(0, 0, 0, 0.8);
}

.white {
  color: #afaeae;
  font-family: inherit;
  font-weight: lighter;
}

.term {
  color: #009600;
  background-color: #000;
  padding: 2rem;
  border: 1px solid #009600;
  font-family: 'exo_2.0light';
}

/* Card Edits */

.card-black{
  border: 0.5rem #afaeae;
  background-color: #000000;
  color: #afaeae;

}

/* Boxes? */

.box-black {
  border: 1px solid #afaeae;
  background-color: #000;
  padding: 10px;
}

.dashed-box {
  border: 1px dashed #009600;
  padding: 1rem;
}

.faf-dashed-box {
  border: 1px dashed #afaeae;
  padding: 1rem;
}

.email-box {
  background-color: #fff;
  color: #000;
  padding: 10px;
  height: 700;
  overflow:scroll;
}

.email-box p{
  color: #000;
}

.email-box a{
  color: blue;
	font-family:Roboto-Regular,Helvetica,Arial,sans-serif;
}

.box-brand {
  border: 1px solid #afaeae;
  background-color: #009600;
}

/* Custom Button */

.btn-block {
	display: inline-block;
	font-weight: 700;
	color: #afaeae;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #000000;
	border: 1px solid #afaeae;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-brand {
  display: inline-block;
  font-weight: 700;
  color: #afaeae;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
  border: 1px solid #afaeae;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-brand:hover {
  color: #009600;
  text-decoration: none;
	border: 1px solid #FFA500;
}

.btn-brand:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  background-color: #afaeae;
  color: #009600;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #009600;
}

.btn-brand.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn-brand.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: #000000;
color: #009600;
}

/** Scroll button **/

.scroll-top {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 25px;
  left: 20px;
  display: none;
}
.scroll-top i {
  display: inline-block;
  color: #009600;
}


/* Header and Footer */

.bighead {
  background-color: #000000;
	color: #afaeae;
  border-bottom: .05rem solid #391F3B;
}

.bigfoot {
  background-color: #000000;
  color: #afaeae;
  border-top: .05rem solid #391F3B;
}

.navbar-hover a:hover {
  background-color: #afaeae;
  color: #000;
  text-decoration: dotted #000 overline underline;
}

.pglink {
  display: block;
  padding: 0.5rem 1rem;
  color: #afaeae;
  text-decoration: none;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.pglink:hover, pglink:focus {
  color: #009600;
  text-decoration: dotted #FFA500 overline underline;
}

.pglink:active{
  color: #009600;
  text-decoration: dotted #009600 overline underline;
}
.pglink.disabled {
  color: #6c757d;
  text-decoration:line-through;

  pointer-events: none;
  cursor: default;
}

/** Main Content Wrapper **/

#wrapper {
  position: relative;
	text-align: justify;
	word-spacing: -1px;
  width: 70%;
  height: 100%;
	margin: 0 auto;
  padding: 5rem;
  overflow-y: auto;
	overflow-x: hidden;
  display: inline-block;
  border-right: .05rem solid #391F3B;
  border-left: .05rem solid #391F3B;
  background-color: #060808;
  color: #afaeae;
}

@media only screen and (max-width: 1024px) {
  #wrapper {
    width: 100%;
		padding: 2rem;
  }
}

.text-centered {
  text-align: center;
}

/*Scrollbar OwO*/

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #afaeae;
}

::-webkit-scrollbar-thumb {
  background-color: #391F3B;
  outline: 1px solid #afaeae;
}

/*You should activate Windows.*/

@media screen and (max-width: 480px) {
    #overlay {
        display: none;
    }
}

.navbar {
  z-index: 9998;
}

a.win{
  font-family: 'SegoeUILight', sans-serif;
}

.bottomright {
  position: absolute;
  bottom: 1.5rem;
  right: 3.5rem;
  font-size: 16px;
}

.kern {
  letter-spacing: .5px;
  font-size: 19px;
  font-family: "Segoe UI", sans-serif;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUILight;
    src:
        local("Segoe UI Light");
    font-weight: 100;
}

#overlay {
  font-family: "Segoe UI Light", sans-serif;
  color: rgba(169,169,169,.75);
  z-index: 9999;
  cursor: pointer;
}


/***Background stuff***/

.provbg {
  background-image: url('/img/ProvLogo.png');
  background-size: cover;
  height: auto;
  overflow: hidden;
  opacity: 0.1;
}

.provlogo {
  float: right;
  width: 300px;
  shape-outside: url('/img/ProvLogo.png');
  shape-margin: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  vertical-align: middle;
}

/*** Dropdown Stuff***/

.dd-black {
	background: rgba(0, 0, 0, 0.75);
  color: #afaeae;
  width: auto;
  z-index: 100;
  white-space: nowrap;
  border-radius: 3px !important;
	border-left-color: #FFA500;
}

.dd-black a {
  color: inherit;
}

.dd-black a:hover {
  color: #000;
	background-color: #ffa500;
}


/***typing effect**/


/**USAGE:

<div class="typewriter">
	<div class="typewriter-text">text that's typed</div>
</div>

**/

.typewriter {
    font-family: 'exo_2.0light', monospace;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 		animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid #FFA500;
    box-sizing: border-box;
}

.typewriter-quick {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 1s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #afaeae;
    }
}

/*** FONTS ***/

@font-face {
    font-family: 'mylodonlight';
    src: url('/fonts/mylodon-light-webfont.woff2') format('woff2'),
         url('/fonts/mylodon-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'voyager_grotesqueregular';
    src: url('/fonts/voyager_grotesqueregular-webfont.woff2') format('woff2'),
         url('/fonts/voyager_grotesqueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('/fonts/exo2.0-extralight-webfont.woff2') format('woff2'),
         url('/fonts/exo2.0-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2.0light';
    src: url('/fonts/exo2.0-light-webfont.woff2') format('woff2'),
         url('/fonts/exo2.0-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2.0regular';
    src: url('/fonts/exo2.0-regular-webfont.woff2') format('woff2'),
         url('/fonts/exo2.0-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2.0semi_bold';
    src: url('/fonts/exo2.0-semibold-webfont.woff2') format('woff2'),
         url('/fonts/exo2.0-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2.0thin';
    src: url('/fonts/exo2.0-thin-webfont.woff2') format('woff2'),
         url('/fonts/exo2.0-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'elemental_endregular';
    src: url('/fonts/elemental_end-webfont.woff2') format('woff2'),
         url('/fonts/elemental_end-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lady_ice_-_lightregular';
    src: url('/fonts/ladyil__-webfont.woff2') format('woff2'),
         url('/fonts/ladyil__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lady_ice_revisitedregular';
    src: url('/fonts/ladyir__-webfont.woff2') format('woff2'),
         url('/fonts/ladyir__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nidus';
    src: url('/fonts/nidsans-webfont.eot');
    src: url('/fonts/nidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nidsans-webfont.woff2') format('woff2'),
         url('/fonts/nidsans-webfont.woff') format('woff'),
         url('/fonts/nidsans-webfont.ttf') format('truetype'),
         url('/fonts/nidsans-webfont.svg#nidus_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sourcesanspro';
    src: url('/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courierprimesans';
    src: url('/fonts/courierprimesans-webfont.woff2') format('woff2'),
         url('/fonts/courierprimesans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courierprimecode';
    src: url('/fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courierprime';
    src: url('/fonts/courier_prime-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notomono';
    src: url('/fonts/notomono-regular-webfont.woff2') format('woff2'),
         url('/fonts/notomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
