<div class="container">
  <div class="typewriter">
    <div class="typewriter-text">&Lt; rhetoric + cybersecurity = &#10084; &Gt;</div>
  </div>

<br>

  <div class="row justify-content-center">
    <p>
       <a href="./">the project</a>
       ░ <a href="./rationale">rationale</a>
       ░ <a href="./limitations">limitations</a>
       ░ <a href="#">_self-assessment_</a>
    </p>
  </div>
</div>
