<div class="row justify-content-center mb-5">
  <h1 align="center">&Vert; portfolio self-assessment</h1>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress.</b></p>
  <p>
    Once I'm finished with the portfolio, I'll write up an assessment here.
  </p>
</div>
