<div class="container">
  <div class="typewriter">
    <div class="typewriter-text">>portfolio self-assessment</div>
  </div>

<br>

  <div class="row justify-content-center">
    <p>
       <a href="./">the project</a>
       ░ <a href="./rationale">rationale</a>
       ░ <a href="./limitations">limitations</a>
       ░ <a href="#">_self-assessment_</a>
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
  <p>
    Once I'm finished with the portfolio, I'll write up an assessment here.
  </p>
</div>
