<div class="container">
  <div class="row justify-content-center">
    <h1>&Lt; rhetoric + cybersecurity = &#10084; &Gt;</h1>
  </div>
</div>

<hr>

<div class="row justify-content-center">

  <p>
     Rhetoric! Cybersecurity! By their powers combined, they are <i>RHETSEC!</i>
  </p>

  <p>
    I've thought a lot about both of these fields, and I believe a meaningful relationship exists between rhetoric and cybersecurity. It's the perfect marriage of disciplines, and I feel it should be focused on seriously if we want to promote technological literacy - not just in the workplace, but overall. I aim to push that conversation in the right direction with this project.
  </p>

  <p>
    This space here is where I will house my upcoming master's portfolio project. I'm currently a master's candidate for a Rhetoric and Writing degree at Saint Cloud State University, and I've chosen a website portfolio over a thesis because I feel that the type of work I have been interested in [digital spaces] is more suited to a digital space than a standard thesis. I am much more open to the idea of having easily accessible knowledge and building a community, rather than hiding behind paywalls or other types of barriers. I am a huge proponent of Open Source, and feel that education should follow the same path.
  </p>

  <p>
    Currently, access to content is restricted to my committee. I expect an approval for publication date near November/December 2019. I intend on releasing my project to the wild when I have approval. If you have questions about what I am working on, or have worked on in the past (or even just want to say hello) please do not hesitate to contact me at <a href="mailto:contact@linuxfingers.com">my email address</a>. If you prefer other methods, please see my <a href="about/contact">contact</a> page.</a> I'm more than happy to talk about anything I'm working on. &#9760;
  </p>

</div>
