<h1>&Vert; defensive rhetsec</h1>
<p>
  The defensive section looks at how language operates within defensive secuirty tactics, and how we respond to the attacks. Currently, the defensive focus is on security awareness training and its place within corporate culture. Much like the phishing emails, there are analyses focusing on understanding the content and languages's intent and whether or not it allows the user to have agency, and how these relate to the training's efficacy in the four most common areas of training: videos, quizzes, seminars, and phishing email reporting. After the master's project is complete, I'm going to talk about a variety of defensive tactics outside of security awareness training.
</p>

<h3># what is SAT?</h3>

<p>
  There are generally two types of security training on the market right now: security and phishing awareness.
</p>

<p>
  Security awareness training is a suite of tools and modules designed to educate employees about cybersecurity, focusing on making smarter and safer choices to protect a corporations assets. Since the focus is on safeguarding data, these programs usually also include education on who to contact if there is a suspected threat, regulatory compliance, and other best practices. A comprehensive training program would also offer education on phishing, social engineering, malware, and other attack vectors in an easy-to-understand manner for a variety of employee types.
</p>

<p>
  Phishing awarenesss training focuses on educating employees about various types of phishing attacks and how to identify and protect themselves and the organization from them. Phishing awareness programs generally incorporate phishing email reporting, quizzes, videos, and seminars, just like security awareness training, but do not go into detail about compliance or other forms of cyberattacks a business may run into.
</p>
<p>
  Both of these training programs exist to fulfill obligations such as annual audits or other industry-specific standards.
</p>

<h3># how can rhetoric help?</h3>

<ul>
  <li>"Identification is compensatory to division." [Burke 1969 p22] As human beings, we are not comfortable with division; we want to be part of a group.</li>
  <li>Pure identification/disidentification does not exist, so embracing and encouraging ambiguity is key</li>
  <li>How do we know when profit ends and exploitation begins?</li>
  <li>Rhetoric begins with misunderstandings, with alleviating misunderstandings (even if it seems like its encouraging the misunderstandings)</li>
  <li>Understood through actions (we are consubstantial as a body of people working together)</li>
  <li>Audience if already "part of the club" is easy to talk to; if not, you must find a way to be consubstantial to them as an outsider - how does this relate to sat/employees? is it even considered?</li>
  <li>How do SAT vendors argue for their products? How does this argument function via ethos, pathos, and logos?</li>
  <li>What is the intent of the arguments within the modules presented?</li>
  <li>What sorts of symbols do they use to convey the intent behind their message?</li>
  <li>What is their audience for the sales pitch? For the training materials? How does it differ?</li>
</ul>

<p>
  Existing programs don't look at the agency of the audience, or demonstrate any sort of identification outside of "your company is at risk, so don't do this." Effective training should involve understanding how to persuade an audience (the employee) to react, convincing them a problem exists, they're affected by it, it's urgent, and there's a reasonable solution to that problem. Without these critical factors, the training is at risk of being rendered meaningless. Aside from spending tens of thousands of dollars, it wastes company and employee resources and creates a culture that believes security is a waste of time (In the Hot Seat).
</p>
<p>
  If we think about security issues like an infection, current security awareness training seems to function like a band-aid instead of an antiseptic, treating the symptoms as opposed to the underlying illness: miscommunication. Existing training programs look at how to change people's behavior through psychological "mind tricks." But while you can psychosocially analyze people to your heart's content, there's still a gap in understanding how the language causes people to act. Behavior modification is not a simple on-off switch, and you cannot treat communication as a technical challenge.
</p>
<p>
  Technical challenges are easy to see and easy to fix, while adaptive challenges require considerable effort to understand, and are often experimental in how they are solved (https://hbr.org/2002/06/a-survival-guide-for-leaders). Corporate environments treat many, if not most, of the problems within security as a technical challenge. They see security training as a technical solution to a technical problem which doesn't create value to the audience, because they don't identify with the training outside of a situational (work) problem. This training needs to be adaptive, something extrapolated to other areas of life to create value for the information to be retained. That is where rhetoric comes in. Action. Identification. Meaning-making. All of the good stuff that helps us understand why things are the way they are, how they make us human, and what all that means.
</p>
