<h1>&Vert; current state of affairs</h1>
<p>
  Training tends to focus on remediating functional concerns as opposed to helping users learn about the problems from a critical-thinking perspective. This tendency to fix the problem by applying functional solutions is ingrained in the creators due to years of experience with both the subject matter, and prior education. Security professionals think about how to fix it functionally, usually without addressing human factors such as agency.
</p>
<p>
  Do these training programs exist solely because they know that companies have to have a Security Awareness Training program? Are the companies who require these types of programs for their employees concerned with managing security risks, or is it a checkbox to tick off for compliance, and therefore not as scrutinizing of the content presented?
</p>
<p>
  Who profits from users being literate against phishing campaigns? The companies and the security awareness training programs! SAT cannot be something that is a one-time deal and be done. While education should be treated as a process, not a goal, I suspect the reason for continuous subscriptions to these services is about meeting audit metrics, managing the loss of training via employee turnover, and other business worries over scholarly pursuits.
</p>

<h3># what's happening in awareness training?</h3>

<p>
  Chaos.
</p.
<p>
  The general recommendation when creating a security awareness program is to examine the NIST SP 800-50, which demonstrates how to create an effective security awareness program for federal organizations. But unless you're federal or have industry-specific requirements, there aren't clear standards that a company <i>has</i> to follow to implement a security awarenes training program. A business in the United States isn't legally required to have a cybersecurity department in place unless they're part of a federally-compliant sector such as healthcare, finance, education, government, and defence. To make it more confusing, if a company does business with foreign clients who adhere to the GDPR, then that company, needs to adhere to the GDPR as well, even if their sector does not legally require them to have a security team. What this ends up creating thousands of individual federal, state, and local regulations dictating security compliance for incredibly specific specific situations, so a company <i>might</i> need to have a program in place depending on their location and types of operations, but maybe not. While incredibly complex, what this boils down to is that there aren't any set standards a security awareness training program <i>has</i> to follow. NIST SP 800-50 is only a guideline for corporations outside of the federal sphere, and unless you're mandated to have a training program by PCI-DSS, HIPAA, GLBA, SOX, FACTA, etc, then anything can be used as a training program as long as it passes an audit stating everything's maintaining security posture and best practices.
</p>

<p>
  Security posture:<br>
  "The security status of an enterprise’s networks, information, and systems based on information assurance resources (e.g., people, hardware, software, policies) and capabilities in place to manage the defense of the enterprise and to react as the situation changes." - NIST SP 800-30 Rev. 1
</p>
<p>
  Best practices:<br>
  This can't even really be defined, because it seems industry (and individually) dependant. But basically boils down to what's been most effective based on past experience and "research," whatever that may be for the corporation.
</p>
<p>
  In training materials, there's a clear distinction between user and presenter, as if they treat users as being functionally literate, without really hoping that they grow beyond that. These programs often say they want the users to learn, but the environment doesn't seem conducive to producing critical thinking. These training materials operate at an elementary level of literacy - functional literacy. Since functional literacy is concerned with providing primary education that's necessary to complete essential functions, these training programs seek to educate at the shallowest of levels. What instantly stuck out to me was Knoblauch's explanation of functionalist perspectives in terms of technological progressivism, which I promptly connected to the trope of the "changing nature of business due to technology" so prevalent in security awareness training materials:
</p>
<p>
  "The rhetoric of technological progressivism is often leavened with a mixture of fear and patriotism...in order to defend a social program that maintains managerial classes...in their customary places while outfitting workers with the minimal reading and writing skills needed for usefulness to the modern information economy." [Politics of Literacy and Education]
</p>
<p>
  The problem is that these programs only educate employees just enough to keep the business operations running smoothly, without threatening the positions of power held by those above them. If the worker doesn't know anything more than what's needed for essential functions, then they're useful inside the box their employer created for them. While I understand the desire to keep workers "in their place" for efficiency, training individuals like this creates situations in which those who are more knowledgable or receptive about the topics at hand may feel patronized, bored, or turned off from the idea altogether.
</p>
<p>
  If what Knoblauch states is true, that literacy is embedded in ideological dispositions of those who use, profit, and enforce it as a social requirement, it's easy to see where this power dynamic begins. Because who profits from users being literate against phishing campaigns? The companies and the security awareness training programs! Security awareness training cannot be something that is a one-time deal and be done, but I don't believe it's for the goal of promoting literacy. While education should be treated as a process, not a goal, I suspect the reason for continuous subscriptions to these services is about meeting audit metrics, managing the loss of training via employee turnover, and other business worries over scholarly pursuits.
</p>
<p>
  Functional literacy isn't meant to inspire creative thinking and new ideas, and helps keep employees in their designated roles for maximized efficiency. But if "lower" employees thinking critically about situations they're in at work, it may make security awareness training more meaningful, and could help them look at unrelated problems in new ways.
</p.

<h3># the vendors</h3>
<p>
  KnowBe4 uses the unclear regulatory tactic to try and sell their own program, stating that "providing evidence that training is required by law is often an effective strategy to get budget," with a link to their Security Awareness Compliance Requirements page which mentions that there are over 8,500 regulatory requirements (for what?) while only naming 9 federal, 2 state-specific, and a link to the federal Guideleines for the Sentencing of Organizations. Sounds like they're pulling the FUD card to get you to comply.
</p>

<p>
  https://www.sans.org/security-awareness-training/about/our-experts
</p>
<p>
  SANS states in their FAQs that "the courses were developed through the community consensus of hundreds of administrators, security managers, and information security professionals, and address both security fundamentals and the in-depth technical aspects of the most crucial areas of information security." I could not find exact information about the individual courses, or who worked on what topic, as that access was restricted. SANS builds their ethos on the individuals involved, and doesn't really say much about what they're doing, relying almost entirely on their reputation of being "the best" to sell products.
</p>
<p>
  In a SANS brochure titled "A Hero's Guide to Victory," they state:
</p>
<p>
  "We rely on the trifecta of world-renowned cybersecurity instructors and experts who produce the core training concepts, ensuring you have the best possible training available:
  <li>
    Cybersecurity Subject Matter Experts: These industry authorities have outlined the most critical threats and continue to create quality curriculum to teach tactics to negate security risks.
  </li>
  <li>
    Learning Experience Design Experts: Adult-learning specialists who make the training easily digestible and improve learner engagement and memory retention.
  </li>
  <li>
    Client Success & Program Customization Experts: Our global team plans, deploys, and manages the growth of awareness programs of any size of an organization. They work closely at every step to execute program goals."
  </li>
</p>
<p>
  The information sounds great; it's built to sell, and promotes a thriving security environment postured through synergistic technologies, recaptiualizing an informed workforce that can tackle any click-and-mortar mindshare that comes their way. Wait...what? A closer look at the language clearly shows that they are using their ethos as the "definitive" security company to prop up their product, with little description on what their product does, or how it is effective at preventing phishing attacks. I understand this brochure is a sales pitch, but I am a bit dismayed not to find any research linking their claims of efficacy in the brochure, or on their website.
</p>
<p>
  In an email followup for requesting the brochure, they stated:
</p>
<p>
  "The Hero's Guide to Awareness Program Victory is a resource we created to help your organization make the very best choice in training content. Obviously, you're the security hero and know exactly what makes your organization unique. The company culture, the level of understanding, even the languages your learners speak play a role into choosing the right training program. Sometimes, though, even the best heroes need a little help. That's where this guide comes in."
</p>
<p>
  Who are they talking to? Me, a security hero? Well, goodness that's great, but I'm still not getting an accurate picture of *what* I'm reading, learning, or potentially buying. So to see "under the hood," I requested a demo of their phishing product. I've been running into the issue of content not being provided without scheduling a one-on-one demo. I've circumvented some of that with my business email, while some companies have not cared that I am a student seeking information, and allowed me to utilize free demos for tools with limited functionality. But getting access to a few of the "big names" in security awareness training has been difficult. My favorite response so far has been from SANS, stating:
</p>
<blockquote>
  <p>
    Hello Jennifer,
    <p>
    Thank you for contacting us and your interest in Security Awareness training. Nice to virtually meet you. For an overview of all SSA products, please see: https://www.sans.org/security-awareness-training/products
    <p>
      Unfortunately, we do not provide Demos to persons who are not in a decision making or procurement position for our commercial products.
      <br>You are welcome to advise your organization's executive of our products and that Educational Institutions are eligible to receive significant discounted pricing through our REN-ISAC Partnership Aggregate Purchase year-round.
    <p>
      Feel free to take advantage of our Free Resources available here: https://www.sans.org/security-awareness-training/resources
      <br>Including:
      <br>Newsletters: https://www.sans.org/security-awareness-training/ouch-newsletter
      <br>Tips of the Day (RSS Feed): https://www.sans.org/tip_of_the_day.php
      <br>Blog:https://www.sans.org/security-awareness-training/blog
      <br>Free Posters for download and distribution: https://www.sans.org/security-awareness-training/resources/posters
    </p>
    <p>
      Thank you very much.
    </p>
    <p>
      [redacted]
      <br>Sales Support Administrator
      <br>Email: [redacted]@SANS.org
    </p>
    <p>
      Learn how to build, maintain & measure a high-impact awareness program at SANS MGT433. http://www.sans.org/mgt433
    </p>
</blockquote>
<p>
  It's very clear it was still a sales pitch even in my abjection from SANS. I'm not sure how (or why) as a student I would contact my organization's executive of products in order to have a demo of their products for my research. I'm also amazed at the suggestion to inform them they could recieve a significant discount as an educational institution for their trainings. It left a strange taste in my mouth, especially as a person who enjoys SANS and what they do - <i>why</i> don't they want me to see the content as a student interested in learning how things work? What are they trying to hide? This denial of service is what pushed me to dig deeper into the idiosyncracies of what being an industry-leader actually means in security, with results both fascinating and disappointing which has been helpful in understanding what a lot of the problems are in existing security awareness training. This incident, in conjunction with discoveries made analyzing some content from another company's training respository, awakened a desire to "get to the bottom" of what's really going on with these organizations and how they create and sell their training. Something feels amiss, and I want to find out more.
</p>
