<h1>&Vert; anti-phishing training videos</h1>

<p>
  Knowbe4's security awareness training modules are in their Modstore, which includes videos, slideshows, and games. These modules are a large portion of security awareness training within organizations, so I decided to check out a few of them in order to see how they're created, and what sorts of pedagogical approaches the company uses to educate end users.
</p>
<p>
  The first example from KnowBe4 I looked at was a Social Engineering module created by KnowBe4 themselves. The information presented was basic, and felt like a dramatic television show - complete with a silhouette of a "hacker" named Sparrow. I decided to look at the sources used out of curiosity and was shocked. There were a total of three sources, and all of them were Linux Administration handbooks - not something you'd want to use as references to teach people about Social Engineering.
</p>
<p>
  Examples:
<li>
  Yikes: https://blog.popcorntraining.com/standups-4-security/
</li>
<li>
  The Fishing Phisherman was painful. So. Painful. I'm going to talk about this video, with an example of it, too. Haven't uploaded it yet.
</li>
</p>
<p>
  I'm shocked at how some of these modules pass as a legitimate training solution. It feels unethical to ask someoene to pay an exoribitant amount of cash for these. Again, assuming it's due to the disconnect between the "persons who are not in a decision making or procurement position for our commercial products" (see the sales handouts page), security, and non-security employees. Still seems like people aren't actually looking at what they're paying for, and the people in charge of the auditting for compliance don't seem to check, either. It's a racket.
</p>

<h3># intent</h3>
<p>
  To keep the audience engaged with useful and important information. Created for a wide variety of users and technological literacy levels.
</p>

<h3># efficacy</h3>
<p>
  Depending on the production of the video. Some are dry and to the point. Others are full of humor. Efficacy most likely dependant on the type of learner, and whether or not the information is provided in an easily digestible but engaging manner.
</p>

<h3># content</h3>
<p>
  Usually trying to teach a simple concept, nothing too advanced it seems. Each video seems to be towards a specific topic or trend. Most module videos are 5-15 minutes. Anything longer than that is bordering seminar teritory.
</p>
<h3># language</h3>
<p>
  Language is meant to inform or tell a story. Some of it is, how do you say, not good. Many feel patronizing and fall back on cliches, making it hard to take seriously. 
</p>
