<div class="row justify-content-center mb-5 mb-5">
    <h1>&Vert; sat: sans</h1>
</div>

<div class="row justify-content-center mb-5">
    <p>
      <a href="./">_main_</a>
      ░ <a href="./parts">parts of SAT</a>
      ░ <a href="#">analysis</a>
      ░ <a href="./skb">SANS & KnowBe4</a>
    </p>
  </div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>
