<div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>Security Awareness Training</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
        <a href="./">main</a>
      ░ <a href="./history">history</a>
      ░ <a href="./types">types</a>
      ░ <a href="./analysis">analysis</a>
      ░ <a href="./boxphishing">moving forward</a>
      ░ <a href="./spearphishing">resources</a>
      ░ <a href="#">_corpus_</a>
    </p>
  </div>
<br>
<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
</div>
