<div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>Security Awareness Training</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
        <a href="./">main</a>
      ░ <a href="./history">history</a>
      ░ <a href="./types">types</a>
      ░ <a href="./analysis">analysis</a>
      ░ <a href="./boxphishing">moving forward</a>
      ░ <a href="./spearphishing">resources</a>
      ░ <a href="#">_corpus_</a>
    </p>
  </div>
<br>
<div class="row justify-content-center">
    <p>Welcome to the corpus! Here you will find each email I looked at, as close as possible to its original form. If you'd like to view a specific email, select it from the list. Each email is contained within its own scrollbox. If you'd like to read more of a selected email, just scroll and you'll see more!
          I've removed all links towards malicious sites or programs, so you can feel confident in browsing these materials. Enjoy!</p>
</div>
