<div class="row justify-content-center mb-5 mb-5">
    <h1>>sat: sans</h1>
</div>

<div class="row justify-content-center mb-5">
    <p>
      <a href="./">_main_</a>
    ░ <a href="./parts">parts of SAT</a>
    ░ <a href="./sans">SANS</a>
    ░ <a href="./knowbe4">KnowBe4</a>
    ░ <a href="./phishlabs">PhishLabs</a>
    ░ <a href="#">_Inspired eLearning_</a>
    </p>
  </div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>
