<div class="row justify-content-center mb-5 mb-5">
    <h1>>sat: sans</h1>
</div>

<div class="row justify-content-center mb-5">
    <p>
      <a href="./">_main_</a>
    ░ <a href="./parts">parts of SAT</a>
    ░ <a href="./sans">SANS</a>
    ░ <a href="#">_KnowBe4_</a>
    ░ <a href="./phishlabs">PhishLabs</a>
    ░ <a href="./inspired">Inspired eLearning</a>
    </p>
  </div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>

*Signed up for webinar for their PhishER program. Let's talk about that here, too

(introduction about KnowBe4 as a company)

KnowBe4 offeres a customizable trial that sets up a security awareness program in under ten minutes, so I decided to to create an account to test it and see what kinds of information was readily available.

Since my main interest is to see the methodology behind how these programs work, I decided to set up each tool they offered.

There is also a section called the Modstore, which had several modules available including videos, slideshows, and games. These modules are a large portion of security awareness training within organizations, so I decided to check out a few of them in order to see how they're created, and what sorts of pedagogical approaches the company uses to educate end users.

The first example I looked at was a Social Engineering module created by KnowBe4. The information presented was basic, and felt like a dramatic television show - complete with a silhouette of a "hacker" named Sparrow. I decided to look at the sources used out of curiosity and was shocked. There were a total of three sources, and all of them were Linux Administration handbooks - not something you'd want to use as references to teach people about Social Engineering. <link image>

The second module I looked at was a game designed to teach security training. Gamification has become quite common in academic settings, and one I've used with my own students in the past, so I was happy to see it utilized for private training, as well. The game, designed by The Security Awareness Company, aims to have users select a device (computer or phone) and select whether or not the presented message was a real phishing scam. As I progressed through the materials, I realized how easy (but fun) it was to use, and

(Previous scathing critique I probably shouldn't include: With this, and the references listed, I'm shocked at how something like this would pass as a legitimate training solution. I'm sure living in the Ivory Tower for nearly ten years has changed the way I view education, but even so, knowing that corporations spend thousands of dollars a year on programs like because they have to for compliance...well, it feels unethical.)

There are some excellent modules in the Modstore, and a lot of them incorporate games and comedic elements in order to hold the users attention. They also have varying levels of information - designed for end users, developers, upper management, and CEOs. Since each of the modules are designed by multple companies and supplied as an aggregate, which makes understanding the level of education and research put forth that much harder.
