<div class="row justify-content-center mb-5 mb-5">
    <h1 align="center">&Vert; parts of SAT</h1>
</div>

<div class="d-lg-block d-none">
  <div class="row justify-content-center mb-5">
      <h5 align="center">
          <a href="./">main</a>
        ░ <a href="#">_parts of SAT_</a>
        ░ <a href="./analysis">analysis</a>
        ░ <a href="./skb">SANS & KnowBe4</a>
    </h5>
  </div>
</div>

<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
    <h5 align="center">
       <a href="./">main</a> &#8286;
       <a href="#">_parts of SAT_</a> &#8286;
       <a href="./analysis">analysis</a> &#8286;
       <a href="./skb">SANS & KnowBe4</a> &#8286;
    </h5>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>
