<div class="row justify-content-center mb-5 mb-5">
    <h1>>parts of SAT</h1>
</div>

<div class="row justify-content-center mb-5">
    <p>
      <a href="./">main</a>
    ░ <a href="./parts">parts of SAT</a>
    ░ <a href="./sans">SANS</a>
    ░ <a href="./knowbe4">KnowBe4</a>
    ░ <a href="#">_PhishLabs_</a>
    ░ <a href="./inspired">Inspired eLearning</a>
    </p>
  </div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>
