<div class="row justify-content-center mb-5 mb-5">
    <h1>>sat: sans</h1>
</div>

<div class="row justify-content-center mb-5">
    <p>
      <a href="./">main</a>
    ░ <a href="./parts">parts of SAT</a>
    ░ <a href="#">_SANS_</a>
    ░ <a href="./knowbe4">KnowBe4</a>
    ░ <a href="./phishlabs">PhishLabs</a>
    ░ <a href="./inspired">Inspired eLearning</a>
    </p>
  </div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>

(introduction about SANS as a company)

SANS states in their FAQs that "the courses were developed through the community consensus of hundreds of administrators, security managers, and information security professionals, and address both security fundamentals and the in-depth technical aspects of the most crucial areas of information security."

On the Security Awareness landing page, they discuss

https://www.sans.org/security-awareness-training/about/our-experts

SANS builds their ethos on the individuals and

What I found most interesting about this program is that they are relying almost entirely on their ethos to sell products. For instance, in their brochure "A Hero's Guide to Victory," they state:

"We rely on the trifecta of world-renowned cybersecurity instructors and experts who produce the core training concepts, ensuring you have the best possible training available:

• Cybersecurity Subject Matter Experts: These industry authorities have outlined the most critical threats and continue to create quality curriculum to teach tactics to negate security risks.

• Learning Experience Design Experts: Adult-learning specialists who make the training easily digestible and improve learner engagement and memory retention.

• Client Success & Program Customization Experts: Our global team plans, deploys, and manages the growth of awareness programs of any size of an organization. They work closely at every step to execute program goals."

The information sounds great. It's built to sell, and promotes a thriving security environment postured through synergies of technology and an informed workforce.

Wait...what?

A closer look at the language shows to a rhetorically minded eye that they are only using their ethos as the "definitive" security company to prop up their product, with little description on what their product does, or how it is effective at preventing phishing attacks. I understand this brochure is a sales pitch, but I am a bit dismayed not to find any research linking their claims of efficacy in the brochure, or on their website.

In an email followup for requesting the brochure, they stated:

"The Hero's Guide to Awareness Program Victory is a resource we created to help your organization make the very best choice in training content. Obviously, you're the security hero and know exactly what makes your organization unique. The company culture, the level of understanding, even the languages your learners speak play a role into choosing the right training program. Sometimes, though, even the best heroes need a little help. That's where this guide comes in."

Who are they talking to? Me, a security hero? Well, goodness. /blush

To see "under the hood," I requested a demo of their phishing product twice, but at the time of this writing (09.06.2019) I have not heard back.
