<div class="row justify-content-center mb-5 mb-5">
    <h1>&Vert; sat: sans</h1>
</div>

<div class="row justify-content-center mb-5">
    <p>
      <a href="./">main</a>
    ░ <a href="./parts">parts of SAT</a>
    ░ <a href="./knowbe4">analysis</a>
    ░ <a href="#">_SANS & KnowBe4_</a>
    </p>
  </div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 08 October 2019.</b></p>
</div>

SANS

(introduction about SANS as a company)

SANS states in their FAQs that "the courses were developed through the community consensus of hundreds of administrators, security managers, and information security professionals, and address both security fundamentals and the in-depth technical aspects of the most crucial areas of information security."

On the Security Awareness landing page, they discuss

https://www.sans.org/security-awareness-training/about/our-experts

SANS builds their ethos on the individuals and

What I found most interesting about this program is that they are relying almost entirely on their ethos to sell products. For instance, in their brochure "A Hero's Guide to Victory," they state:

"We rely on the trifecta of world-renowned cybersecurity instructors and experts who produce the core training concepts, ensuring you have the best possible training available:

• Cybersecurity Subject Matter Experts: These industry authorities have outlined the most critical threats and continue to create quality curriculum to teach tactics to negate security risks.

• Learning Experience Design Experts: Adult-learning specialists who make the training easily digestible and improve learner engagement and memory retention.

• Client Success & Program Customization Experts: Our global team plans, deploys, and manages the growth of awareness programs of any size of an organization. They work closely at every step to execute program goals."

The information sounds great. It's built to sell, and promotes a thriving security environment postured through synergies of technology and an informed workforce.

Wait...what?

A closer look at the language shows to a rhetorically minded eye that they are only using their ethos as the "definitive" security company to prop up their product, with little description on what their product does, or how it is effective at preventing phishing attacks. I understand this brochure is a sales pitch, but I am a bit dismayed not to find any research linking their claims of efficacy in the brochure, or on their website.

In an email followup for requesting the brochure, they stated:

"The Hero's Guide to Awareness Program Victory is a resource we created to help your organization make the very best choice in training content. Obviously, you're the security hero and know exactly what makes your organization unique. The company culture, the level of understanding, even the languages your learners speak play a role into choosing the right training program. Sometimes, though, even the best heroes need a little help. That's where this guide comes in."

Who are they talking to? Me, a security hero? Well, goodness. /blush

To see "under the hood," I requested a demo of their phishing product twice, but at the time of this writing (09.06.2019) I have not heard back.

-----------------------
KNOWBe4

*Signed up for webinar for their PhishER program. Let's talk about that here, too

(introduction about KnowBe4 as a company)

KnowBe4 offeres a customizable trial that sets up a security awareness program in under ten minutes, so I decided to to create an account to test it and see what kinds of information was readily available.

Since my main interest is to see the methodology behind how these programs work, I decided to set up each tool they offered.

There is also a section called the Modstore, which had several modules available including videos, slideshows, and games. These modules are a large portion of security awareness training within organizations, so I decided to check out a few of them in order to see how they're created, and what sorts of pedagogical approaches the company uses to educate end users.

The first example I looked at was a Social Engineering module created by KnowBe4. The information presented was basic, and felt like a dramatic television show - complete with a silhouette of a "hacker" named Sparrow. I decided to look at the sources used out of curiosity and was shocked. There were a total of three sources, and all of them were Linux Administration handbooks - not something you'd want to use as references to teach people about Social Engineering. <link image>

The second module I looked at was a game designed to teach security training. Gamification has become quite common in academic settings, and one I've used with my own students in the past, so I was happy to see it utilized for private training, as well. The game, designed by The Security Awareness Company, aims to have users select a device (computer or phone) and select whether or not the presented message was a real phishing scam. As I progressed through the materials, I realized how easy (but fun) it was to use, and

(Previous scathing critique I probably shouldn't include: With this, and the references listed, I'm shocked at how something like this would pass as a legitimate training solution. I'm sure living in the Ivory Tower for nearly ten years has changed the way I view education, but even so, knowing that corporations spend thousands of dollars a year on programs like because they have to for compliance...well, it feels unethical.)

There are some excellent modules in the Modstore, and a lot of them incorporate games and comedic elements in order to hold the users attention. They also have varying levels of information - designed for end users, developers, upper management, and CEOs. Since each of the modules are designed by multple companies and supplied as an aggregate, which makes understanding the level of education and research put forth that much harder.
