<h1>&Vert; phishing email anlaysis</h1>

<p>
  Phishing emails at their base level are a mimicry of legitimate communication, and this communication is what we can analyze using a rhetorical framework to understand how it operates on a base level. As an offensive technique, this communication simulation becomes "hyper-real" to the victim, meaning that the false reality becomes more real than reality. From a defensive perspective, it's necessary to  deconstruct what's happening to bring the potential victim back to the "real" reality versus what they've initally constructed.  Essentially, if we understand how the email operates as a rhetorical situation, we can understand how the emails construct a legitimate reality for the potential victim. In these analyses, I frame the victim as the "audience," and the attack as the "author."
</p>
<p>
  Since I cannot understand the attacker's motivations just through looking at an email, I assume the intentions of a phisher as looking for profit, either through financial gain or dropping a payload to obtain a foothold or whatever information they're interested in. Realistically, there is no way to tell what the intention of an attacker is. Profit is a main motivator, but political agenda or personal gratification is an equal potential as well. Regardless of motivation, I can still examine the language to understand how the attack works, and consider the rhetorical situation and appeals (ethos, pathos, logos, kairos) present, and how hyper-reality and simulation manifest through the specific situation created within the email.
</p>

<h3># rhetorical situation: what's happening? </h3>
<p>
  Not withstanding the motivations mentioned above, the email creates a rhetorical situation through the act of deception through attacker is pretending to be, and the interpetation of the false act by the audience. If the author is pretending to be a company or executive, the email must show specific markers to be successful. If the recipient of the email wasn't the intended target, the attacker should use social engineering tactics to get access to who or what they're looking for. Overall, the opportunity presented in the email is generally created through an existing relationship or personal solicitation a la Nigerian Price tactics. No matter which offensive tactic is used, the phishing email must have a clear purpose and identify with the audience to be successful both rhetorically and attack-wise.
</p>
<p>
  To understand the content and form, I examined the structure of the text, imagery, and use of color to see how the attacker creates the idea of safety for their victim. Are there spelling and grammatical errors you wouldn't expect to see in business communications, or colloquialisms or technical terms that are expected? How does the email's formatting in terms of HTML and visual aids such as company logos, colors, and branding create identification through textual and visual language? The visual markers are just as important as grammatical ones, and have a strong impact on the effectiveness of the deception.
</p>

<h3># rhetorical appeals: the quadrility</h3>
<p>
  Ethos focuses on establishing the author's credibility through certain markers such as institutional or company branding, formal language or market temrinology use, and representation of self. Did the email have an appropriate tone for the situation presented? Is there a message of safety or security within the email based on the author's position? Do the authors use nationality, politeness, and religiosity to create trust? I also looked at the attacker's technical ethos through URL masking, email content/design, and email header spoofing. Ultimately, I look for how the author creates a shared value system with their victim through identification.
</p>
<p>
  Pathos uses emotional appeals to influence the audience into taking a desired action, presenting itself usually as a fear-based appeal in phishing emails by threating account disconnection or personal detail compromise. Pathos can also manifest itself through acts of charity and adventure, feeding the ego of the audience with the hope that they act on "good faith." Conversely, some emails seek to reduce a victim's ego through perceived failure or a "lack" of something if they don't comply.
</p>
<p>
  Logos is concerned with presenting facts, and is generally straightforward in phishing emails. It presents thorugh language construction and proper formatting. Logos is also created thorugh leaving contact information contact information or an urgent attachment that needs to get to someone, or somewhere, with the victim's help. Financial or data specificity is a common appeal as well, solidifying the realness of the situation through specific dollar amounts or product SKUs mentioned in invoices. Logos also manifests as "your account has been compromised, click here to fix it." It's a tricky appeal since phishing emails are not genuine communication, but logos functions by giving facts and evidence to convince the victim the argument is legitimate.
</p>
<p>
  Kairos concerns itself through urgency, generally presenting itself as an account compromise, an urgent request from a higher-up, or some other action that requires an immediate response. Kairos is the call to action plus manufactured situational severity.
</p>

<h3># simulation: more real than reality</h3>
<p>
  All of the above factors contribute to the victim's perception of reality. Since the phishing attack is simulating a "safe" reality to keep the true "harmful" reality hidden, it has to be constructed so that the situation becomes hyperreal and undetectable to the victim. A direct copy and paste from a legitimate email is one possible attack avenue. Persuasive techniques such as the aggressiveness of delivery, and how urgency (exigency) is demonstrated is another. I considered word choices and how the author incorporates the rhetorical appeals to form an argument. How did these elements or lack thereof demonstrate exigency and intention to the victim? That may seem obvious at first - the intent it to phish someone - but since that's masked we must consider different viewpoints. The first viewpoint is the attacker's, and their purpose is obvious: to persuade the victim into compromising themselves. What about the presented author of the email - what is their "intent" and the victim's interpetation of the event? Since it's a simulated "relationship" between the audience and author, an understanding of how the mimicry entwines itself with intent is necessary. The attacker must do this effectively without blowing their cover.
</p>
<p>
  How these elements create an identity of the phisher themselves, the false author, and their perception of their victims helps to understand cyber attacks, both as an offensive attack and the defensive response from security awareness training. It's a fascinating question to think about - how exactly does an attacker piece together what they perceive as the victim's identity? How do they know who the person is that they're targetting? These questions are more easily answered in some cases than others. For instance, bulk emails tend to care little about whom they reach, and more that they reach someone; one successful attempt out of 10,000 still means payday, after all.
</p>

<p>
  ---
</p>

<p>
  People respond to these emails because they work - 97% of people even state they can't tell the difference between regular and phishing email. These attacks succeed because the victims believe the author's intent to be genuine. This misunderstanding is due to a lot of different factors mentioned above - percieved existing relationships, persuasive techniques - especially those involving emotion, and other similarities in value systems between the email's "author" and victim. The rhetorical situation that exists within a phishing attack is complex, and worthy of examination to understand as an attack vector using language instead of a technical problem.
  </p>
