<h1 class="hilite"><span>artwork</span></h1>
<p>Can an artist like their own work? Well, I do! Here's a few of my favorites. If you'd like to check out more, see <a href="https://www.deviantart.com/linuxfingers" target="_blank">my DeviantArt page</a>. I'm also available for commissions, so if you'd like me to whip you up something, <a href="mailto:linuxfingers@protonmail.com?subject=artwork commission">send me a message</a> and we can work something out.</p>

<h3 class="hilite"><span># drawings</span></h3>
  <div class="col d-flex justify-content-center">

    <a href="https://www.deviantart.com/linuxfingers/art/Tech-Priest-670818967" class="small">
    <img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/ddlt164-15532cfe-fb35-4869-a587-aa35751f665c.png/v1/fill/w_1024,h_727,q_80,strp/happy_heresy_by_linuxfingers_ddlt164-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzI3IiwicGF0aCI6IlwvZlwvNjYyZjA1OTctN2VhMS00YWExLWI2MTQtMTA1Y2VmZDdiMTMzXC9kZGx0MTY0LTE1NTMyY2ZlLWZiMzUtNDg2OS1hNTg3LWFhMzU3NTFmNjY1Yy5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iN0uaqILrXZqzR_HLaAWhJKmILv-2_ABsd7wCg9RXwA">
    <p>chaos mechanicus &#9825; (copic marker freehand/photoshop cs5 for color)</p>
    </a>

    <a href="https://www.deviantart.com/linuxfingers/art/Tech-Priest-670818967" class="small"><img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/db3dz87-716e4a23-d91a-43db-a2a7-58a27512ea87.png/v1/fill/w_1024,h_1583,q_80,strp/tech_priest_by_linuxfingers_db3dz87-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU4MyIsInBhdGgiOiJcL2ZcLzY2MmYwNTk3LTdlYTEtNGFhMS1iNjE0LTEwNWNlZmQ3YjEzM1wvZGIzZHo4Ny03MTZlNGEyMy1kOTFhLTQzZGItYTJhNy01OGEyNzUxMmVhODcucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.dhQ2m_6pPvfvilOeA2UjW3b6PpUEPo4LHC7tMq8GYWk">
      <p>adeptus mechanicus (copic marker/pencil)</p></a>
  </div>

  <div class="row d-flex justify-content-center">

    <a href="https://www.deviantart.com/linuxfingers/art/crocomire-821428737" class="small"><img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/ddl22gx-ae449b25-b312-42a8-9fac-085738278ee2.png/v1/fill/w_1024,h_1363,q_80,strp/crocomire_by_linuxfingers_ddl22gx-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM2MyIsInBhdGgiOiJcL2ZcLzY2MmYwNTk3LTdlYTEtNGFhMS1iNjE0LTEwNWNlZmQ3YjEzM1wvZGRsMjJneC1hZTQ0OWIyNS1iMzEyLTQyYTgtOWZhYy0wODU3MzgyNzhlZTIucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.oj7FcDB2MC7bIeXOYLx_SBaWI6ro3FYhaNEt4cVZnwo">
        <p>crocomire (pen)</p></a>
    <a href="https://www.deviantart.com/linuxfingers/art/norfair-demon-822330620" class="small"><img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/ddlled8-f59ed648-78b1-4333-8edf-cd370db402bb.png/v1/fill/w_1024,h_702,q_80,strp/norfair_demon_by_linuxfingers_ddlled8-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzAyIiwicGF0aCI6IlwvZlwvNjYyZjA1OTctN2VhMS00YWExLWI2MTQtMTA1Y2VmZDdiMTMzXC9kZGxsZWQ4LWY1OWVkNjQ4LTc4YjEtNDMzMy04ZWRmLWNkMzcwZGI0MDJiYi5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ThVBvVcnDUh1olo_73C-9VXUq-tSMNBUFe5Aex4dUlA">
      <p>norfair demon (pencil)</p></a>
  </div>

  <h3 class="hilite"><span># digital</span></h3>
  <div class="container">
    <div class="col d-flex justify-content-center">
      <a href="https://www.deviantart.com/linuxfingers/art/Self-Portrait-277680992" class="small"><img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/d4lbo0w-d0cb8bbb-55bf-4e7f-bc1b-38563da94926.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY2MmYwNTk3LTdlYTEtNGFhMS1iNjE0LTEwNWNlZmQ3YjEzM1wvZDRsYm8wdy1kMGNiOGJiYi01NWJmLTRlN2YtYmMxYi0zODU2M2RhOTQ5MjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.4YlYAgj4RhHoK9l0nRepF6kv_w47p3NdOk-RdraEcf0">
        <p>self-portrait (photoshop cs 5)</p></a>
      <a href="https://www.deviantart.com/linuxfingers/art/Tech-Priest-Colored-670820275" class="small"><img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/db3e08j-f0bba024-158c-431b-8e3e-1c59cd307f8c.png/v1/fill/w_1024,h_1583,strp/tech_priest__colored__by_linuxfingers_db3e08j-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTU4MyIsInBhdGgiOiJcL2ZcLzY2MmYwNTk3LTdlYTEtNGFhMS1iNjE0LTEwNWNlZmQ3YjEzM1wvZGIzZTA4ai1mMGJiYTAyNC0xNThjLTQzMWItOGUzZS0xYzU5Y2QzMDdmOGMucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.0adq_MdpgDvWvVSDVuMjtHvy0A4fI-58Z7kmP3JKeG8">
        <p>colored adeptus mechanicus (photoshop cs 5)</p></a>
      </div>
    </div>


  <h3 class="hilite"><span># paint</span></h3>
    <div class="col d-flex justify-content-center">
      <a href="https://www.deviantart.com/linuxfingers/art/primefunction-821426492" class="small"><img class="img-fluid dashed-box" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/662f0597-7ea1-4aa1-b614-105cefd7b133/ddl20qk-4ed6caa7-63d7-44ef-a658-9d15367842fe.png/v1/fill/w_1024,h_745,q_80,strp/primefunction_by_linuxfingers_ddl20qk-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzQ1IiwicGF0aCI6IlwvZlwvNjYyZjA1OTctN2VhMS00YWExLWI2MTQtMTA1Y2VmZDdiMTMzXC9kZGwyMHFrLTRlZDZjYWE3LTYzZDctNDRlZi1hNjU4LTlkMTUzNjc4NDJmZS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iPFLbq_1MXcFbY7cslC419AV3-uwahp_gOvTiX-avWU">
        <p>primefunction (acrylic on vellum)</p></a>
    </div>
