<h1 class="hilite"><span>music</span></h1>
<p>Here's a few of my favorite tracks I've made. If you'd like to check out more, head over to <a href="https://soundcloud.com/linuxfingers" target="_blank">my soundcloud page</a>.</p>

<h3 class="hilite"><span># computer music</span></h3>
<p>One of my favorite pastimes is manipulating sound waves and synths, becoming one with the machine. I tend to favor the older industrial sounds, inspired by groups such as Skinny Puppy and Front 242.</p>
<div class="container mb-5">
  <iframe width="100%" height="200" class="mb-3" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/672809123&color=%23004040&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  <p>&vert; an homage to the most amazing film in the world, hackers [2019]
  </br>&nbsp;&nbsp;thank you DEF CON 27 for the inspiration &hearts; </p>
  <iframe width="100%" class="mb-3" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/217285846&color=%23004040&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  <p>&vert; star trek is pretty cool, too [2015]</p>
</div>
<h3 class="hilite"><span># human music</span></h3>
<p> I also enjoy singing. I spent nearly all my years in undergrad as a mezzo soprano and miss it dearly. I occasionally make up for the lack of choir in my life by doing vocal covers, usually for personal satisfaction. However, there are a few moments I record them over (other people's) music, like these:
<div class="container mb-5">
  <iframe class="mb-3" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/292905496&color=%23004040&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  <p>&vert; for those long-distance relationship feels [2016]</p>
  <iframe class="mb-3" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/222685089&color=%23004040&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  <p>&vert; still proud of those high notes [2015] </p>
</div>
