<div class="row justify-content-center mb-5">
  <h1>>phase 2: training</h1>
</div>

<div class="row justify-content-center mb-5">
    <h5>
       <a href="./">_main_</a>
       ░ <a href="./email_analysis/">phishing email anaylsis</a>
       ░ <a href="./SAT/">security awareness training analysis</a>
       ░ <a href="./bibliography">bibliography</a>
    </h5>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 07 October 2019.</b></p>
<p>
  Phase 2 of the project deals with training materials and deliverables. Security Awareness Training consists of many various parts, with phishing email training being one of them. And I recognize through my research that the problem is not simply the wrong approach, but a combination of external factors that influence how information is shared, absorbed, and respected. It's a much larger problem to be tackled than originally intended. That being said, in the limited time I have available with this new information, I will do my best to create something from what I have learned, not as a final product, but a framework for the future. 
</p>
</div>
