<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
</div>

<ul class="list-group">
  <li class="list-group-item">Amoroso, Edward. Cyber Attacks: Protecting National Infrastructure. Elsevier. 2011.</li>
  <li class="list-group-item">Burke, Kenneth. A Rhetoric of Motives. Berkeley and Los Angeles, CA: University of California Press, 1950.</li>
  <li class="list-group-item">Baudrillard, Jean. Simulacra and Simulation. Ann Arbor: University of Michigan Press, 1994.</li>
  <li class="list-group-item">Bawrshi, Anis S. and Reiff, Mary Jo. Genre: An Introduction to History, Theory, Research, and Pedagogy. Parlor Press, 2010.</li>
  <li class="list-group-item">Brinton, Alan. Ēthotic Argument. History of Philosophy Quarterly. Vol 3, Issue 3. 1986.</li>
  <li class="list-group-item">Cohen, Joseph Paul, and Henry Z. Lo. “Academic Torrents: A Community-Maintained Distributed Repository.” Annual Conference of the Extreme Science and Engineering Discovery Environment, 2014, http://doi.org/10.1145/2616498.2616528.</li>
  <li class="list-group-item">Dulaney, Emmett and Easttom, Chuck. CompTIA Security+ Study Guide. John Wiley & Sons, Inc. Sixth Edition. 2014.</li>
  <li class="list-group-item">Giltrow, Janet and Stein, Deiter. Genres in the Internet: Issues in the Theory of Genre. Pragmatics & Beyond. New Series. Volume 188. 2009.</li>
  <li class="list-group-item">Henry Z. Lo. and Cohen, Joseph Paul “Academic Torrents: Scalable Data Distribution.” Neural Information Processing Systems Challenges in Machine Learning (CiML) Workshop, 2016, http://arxiv.org/abs/1603.04395.</li>
  <li class="list-group-item">Hoskins, Brittany Noel. The Rhetoric of Commoditized Vulnerabilities: Ethical Discourses in Cybersecurity. Virginia Tech. Thesis. 2015.</li>
  <li class="list-group-item">Jensen, Kyle. A Matter of Concern: Kenneth Burke, Phishing, and the Rhetoric of National Insecurity, Rhetoric Review, 30:2, 170-190, 2011.</li>
  <li class="list-group-item">Krug, Steve. Don’t Make Me Think. New Riders Publishing. Second Edition. 2006.</li>
  <li class="list-group-item">Lakoff, George and Johnson, Mark. Metaphors We Live By. University of Chicago Press. 1980.</li>
  <li class="list-group-item">McLuhan, Marshall. Counterblast. Harcourt, Brace & World, inc. 1969.</li>
  <li class="list-group-item">McLuhan, Marshall and Fiore, Quentin. The Medium is the Massage. Gingko Press. 1967.</li>
  <li class="list-group-item">Miller, Carolyn. Genre as Social Action. Quarterly Journal of Speech. Vol 70. 1984.</li>
  <li class="list-group-item">Myerson, George. Heidegger, Habermas, and the Mobile Phone. Cox & Wyman Ltd. 2001.</li>
  <li class="list-group-item">Ross, D. G. ARS Dictaminis Perverted: The Personal Solicitation E-Mail as a Genre. Journal of Technical Writing and Communication 39 (1): 25-41. 2009.</li>
  <li class="list-group-item">Spinello and Tavani. Readings in Cyberethics. Jones and Bartlett Publishers. 2004.</li>
  <li class="list-group-item">Wall, David. Cybercrime and the Culture of Fear. Information, Communication & Society, 11:6, 861-884, 2008.</li>
  <li class="list-group-item">Wall, David. Cybercrime, media and insecurity: The shaping of public perceptions of cybercrime. International Review of Law, Computers and Technology, Vol. 22, Nos. 1-2, pp. 45-63. 2008.</li>
  <li class="list-group-item">Wei, Yong-Kang. Corporate image as collective ethos: a poststructuralist approach. Corporate Communications: An International Journal, Vol. 7 Issue: 4, pp.269-276. 2002.</li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
</ul>


----



----
"A Survival Guide for Leaders" https://hbr.org/2002/06/a-survival-guide-for-leaders

"John Podesta and Colin Powell’s Email Accounts Hacked – And How" https://www.offsiteit.com/john-podesta-and-colin-powells-email-accounts-hacked-and-how

"How Hackers Broke Into John Podesta and Colin Powell’s Gmail Accounts" https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts

"[September Live Demo] PhishER Demo: Identify and Respond to Email Threats Faster with PhishER" https://event.on24.com/wcc/r/2062212/4A9B17B9C64957A7B1F2978728999287

"In the Hot Seat: Three Experts Tackle 10 Critical Security Awareness Issues" https://event.on24.com/wcc/r/2090640/094544FEFFA8D253A355F792E87DC543
