<div class="container">
  <div class="typewriter">
    <div class="typewriter-text">>technical definitions</div>
  </div>

<br>

  <div class="row justify-content-center">
    <p>
       <a href="./index">_the project_</a>
       ░ <a href="#">rationale</a>
       ░ <a href="#">limitations</a>
       ░ <a href="#">self-assessment</a>
       ░ <a href="#">technical definitions</a>
    </p>
  </div>
</div>


<div class="container">
  <p>If at any time you are confused by the terms in the portfolio, this page is here to help you!</p>
</div>

<div class="container">
  <dl class="row">

      <dt class="col-sm-3">Bulk Phishing</dt>
      <dd class="col-sm-9 text-truncate">This is the most common type of attack, and the least sophisticated. It involves impersonation of a corporation or organization and threatening or urgent sounding language to obtain information and credentials. These emails tend not to be personalized, and may only reference general information. The example provided by indiana.edu is an example of this type of attack.</dd>

      <dt class="col-sm-3">Clone Phishing</dt>
      <dd class="col-sm-9">This attack takes an email and copies it word for word, changing links to malicious sites. The sending email is generally spoofed, so it looks legitimate to the unaware.</dd>

      <dt class="col-sm-3">Dropbox/Google Doc Phishing</dt>
      <dd class="col-sm-9">These attacks mimic requests to share documents via these services, prompting users to enter login credentials, which allows the attackers to gain access to their files. This very type of attack happened to SCSU just a few years ago!</dd>

      <dt class="col-sm-3">Pharming</dt>
      <dd class="col-sm-9">A technologically sophisticated phishing attack that doesn't rely on someone falling for bait. The "pharming" code is injected into a user's computer from a clicked link, which redirects someone to a malicious site using a technique called DNS cache poisoning.
        <br>This attack changes the information stored within various caches (places website addresses and other data is stored for quick access later) and redirects the user to a site which looks legitimate in both URL and design. <br>

      For example, it changes your cache so that wellsfargo.com's IP address is 169.63.0.12 when it's actually 159.45.66.143. That means you're logging into the malicious site until that cache is flushed, even if you type in wellsfargo.com yourself. It's virtually undetectable after it's happened, and you won't know until after it's happened that your information has been compromised.</dd>

      <dt class="col-sm-3">Malspam</dt>
      <dd class="col-sm-9">Spam that has some sort of malware or malicious redirect script. Typically comes across as an email requesting someone to examine a file, which then downloads malware onto the individuals computer. Some famout examples of these types of attacks at work include Cryptolocker, Lokibot, and WannaCry.</dd>

      <dt class="col-sm-3">Spearphishing</dt>

      <dd class="col-sm-9">A more sophisticated attack, this uses publicly available data, such as the user's personal details and work information, to boost the sender's ethos in an attempt to make a user feel they are legitimately connected. Information gathered for this attack can also come from information that has been leaked through data breaches or data mining about an individual or corportation. A subset of this type of atatck is called <i>whaling</i>. As the name implies, it is a type of spearphishing attack aimed at bigger fish - high-level executives - which is incredibly effective as they often do not take part in security awareness training with their employees. A great example of this is the <a href="./email_analysis/corpus#podesta_1" target="_blank">Podesta email phish</a>, which was the same one responsible for <a href="https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts" target="_blank">Colin Powell's email leaks as well.  </dd>

<!--
future definition template

      <dt class="col-sm-3">Technical Term</dt>
      <dd class="col-sm-9">The definition..........</dd>
-->
    </dl>
  </div>
