<div class="container">
  <div class="typewriter">
    <div class="typewriter-text">>phase 1: research</div>
  </div>

<br>

  <div class="row justify-content-center">
    <p>
       <a href="#">_main_</a>
       ░ <a href="./email_analysis/">phishing email anaylsis</a>
       ░ <a href="./SAT/">security awareness training analysis</a>
       ░ <a href="./bibliography">bibliography</a>
    </p>
  </div>
</div>


<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
</div>

Phase 1 consists of research:
<br>
//phishing emails<br>
//security awareness training
