<div class="row justify-content-center mb-5">
  <h1>>phase 1: research</h1>
</div>

<div class="row justify-content-center mb-5">
    <h5>
       <a href="#">_main_</a>
       ░ <a href="./email_analysis/">phishing email anaylsis</a>
       ░ <a href="./SAT/">security awareness training analysis</a>
       ░ <a href="./bibliography">bibliography</a>
    </h5>
</div>



<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress.</b></p>
</div>

Phase 1 consists of research:
<br>
//phishing emails<br>
//security awareness training
