<h1>&Vert; corporate culture</h1>

<p>
  "In the Hot Seat: Three Experts Tackle 10 Critical Security Awareness Issues" discussed how corporate culture affects Security Awareness Training and the relationship between a security team, employees, and other C-level executives.
</p>
<p>
  There's also a lot of infosec blogs that discuss the problem too, such as:
</p>
<p>
  security researcher sources to look at for stuff to talk about:
  <li>
    1. http://blog.uncommonsensesecurity.com/2017/03/i-thought-everyone-knew-this-by-now.html
  </li>
  <li>
    2. https://www.darkreading.com/endpoint/the-fundamental-flaw-in-security-awareness-programs/a/d-id/1332301 - Good comment: "The real problem is the training never makes the motivation personal for the employee.""
  </li>
  <li>
    3. https://dankaminsky.com
  </li>
  <li>
    4. https://holisticinfosec.blogspot.com > https://holisticinfosec.io
  </li>
</p>

<h3># why arent people happy?</h3>
<p>
  Security awareness training is incredibly complicated, disheartening, and leaves a lot to be desired. But people are starting to see that they need to focus on understanding behavioral patterns and other parts of people's psychological tendencies in order to make effective training systems, which opens a door for rhetorical practices as well.
</p>
<p>
  Employees are bored with content, or annoyed when it's obvious it's trying to be "too" funny.
</p>
<p>
  Disconnect between c-suite and employees causes a clear lack of understanding between what's needed, and what's provided. I've heard through the grapevine that a lot of people in charge of these programs don't even view the content before selecting it for employees - talk about not trying to knowing your user base at <i>all.</i>
</p>

<h3># Security vs The Rest of the Company</h3>
<p>
  The problem with accepting a security awareness training program lies with the tenuous relationship between the security team and their advisors [In the Hot Seat]. Security is seen as the dungeon-dwelling hackers in hoodies who somehow managed to get "real jobs."
</p>
<p>
  Employees do this training because they're told they have to do it and aren't given much choice. It's mandated for the company to pass a CIS control audit, or whatever regulation they're required to adhere to, and so their employees have to abide by it. This forced completion and power dynamic as a barrier to active and attentive learning, and a big one at that, but it's not the only reason corporate culture is interfering with the efficacy of these programs.
</p>

<h3># Pop Culture and Security, aka Hackers Are Everywhere</h3>
<p>
  Silly names like "Sparrow" and the hoodied & ski masked hacker out to steal your data. Overblowing of proportions of some things, which ties into FUD.
</p>
<p>
  So many training modules have this ridiculous image of the "cybercriminal" as a hacker. First, hacker shouldn't be a derogatory term, but it's being used as one throughout pop cultre and even in these presentations. News outlets - Russian Hackers, hacker groups, etc. Hackers = bad and it shouldn't be like this, ESPECIALLY in security training. Hackers are people who have curiosity that aligns to security, but they're not inherently criminals. Knowing how to pick a lock doesn't make you a thief.
</p>
<p>
  It's only facilitating the problem between security and company, because security people DO what the 'criminals' do for their job (aside from stealing their info, of course.) If people start equating you doing scans and collecting their data for required logs for the protection of the company, they're going to see security negatively, too. Scare tactics and pop culture bullshit.
</p>

<h3># FUD</h3>
<p>
  Fear, uncertainty, and doubt. #keepthemfud
</p>
<p>
  Security loves using FUD to get their point across about why it's important, but fearful education isn't effective if you're trying to actually identify and create real change. FUD operates like propaganda, and creates an untrustworthy environment. If there's already a problem between employees trusting the security department, then having practices which instill fear to have people understand why something is important is not the right way to do things.
</p>
<a href="https://www.csoonline.com/article/3302849/why-security-pros-are-addicted-to-fud-and-what-you-can-do-about-it.html">Link about FUD</a>

<h3># Non-holistic training masquerading as something bigger</h3>
<p>
  Webinars through KnowBe4 have been incredibly helpful in understanding various facets of this problem. During "In the Hot Seat: Three Experts Tackle 10 Critical Security Awareness Issues," they stated many anti-phishing programs are sucessfully marketed as Security Awareness Training, which ends up creating problems when <i>actual</i> Security Awareness Training is implimented in a company.  (What problems? I need to go back again.)
</p>

<p>
  Phishing awareness training is often labelled as security awareness training, but because security posture is basically a free-for-all in the corporate world due to (most likely purposefully) unclear regulations, it gets thrown into the mix as an effective, hollistic solution for a company's security issues. It's a deceitful practice that undermines security awareness training to both the company, and the individual employees who have to use it.
</p>
