<h1>&Vert; phishing email simulation</h1>

<p>
  This usually takes the form of a button or link attached to every email that you click on to report a suspected phish, which gets sent to a dashboard where security people sift through and validate whether the email is actually a phish, spam, or legitimate. In some demos, I've noted the presenter  making comments about people who report too often, or falsely, and how to deal with them in a very dismissive way. People in demos ask questions about the dashboard to operate the too. No one asked on how to use the reporting feature as an educational tool. It felt significant.
</p>

<h3># what the user sees</h3>

<h3># handling the reports</h3>

<h3># effect on user agency</h3>

<h3># efficacy of reporting features</h3>
