<h1>&Vert; quizzes</h1>

<p>
  The second module I looked at was a game designed to teach security training. Gamification has become quite common in academic settings, and one I've used with my own students in the past, so I was happy to see it utilized for private training, as well. The game, designed by The Security Awareness Company, aims to have users select a device (computer or phone) and select whether or not the presented message was a real phishing scam. As I progressed through the materials, I realized how easy it was to use. Gamification of security awareness training is interesting. I played a few games, and it was "fun," but felt patronizing.
</p>

<h3># content</h3>
<p>
  Most content is about phishing. Sometime's it's on security. or testing in the middle of a lecture.
</p>

<h3># language</h3>
<p>
  So easy, a middle schooler could understand it. Problem is, these are professionals. Doesn't exactly make the test helpful, I think.
</p>

<h3># thoughts on gamification</h3>
<p>
  Turning learning into a game is fun - we do it all the time in academia. And sure, it does seem to have a more positive effect than simple lectures.

<ul>Hamari, Juho & Koivisto, Jonna & Sarsa, Harri. (2014). Does Gamification Work? — A Literature Review of Empirical Studies on Gamification. Proceedings of the Annual Hawaii International Conference on System Sciences. 10.1109/HICSS.2014.377.</ul>
</p>
<h3># efficacy</h3>
<p>
  Do tests really help people learn? Personally, I'm on the side that quizzes don't foster a positive learning environment. Test anxiety doesn't help in a work environment either, even if the scores aren't saved. So what is the rhetorical merit of having a quiz on phishing or security if the "student" hasn't been able to study the material? How does random testing fit in with whatever pedagogical method they're going for?
</p>
<p>
  Some people might disagree with me, that's fine. I'll talk about that here in more detail later.
</p>
