<h1>&Vert; quizzes</h1>

<p>
  The second module I looked at was a game designed to teach security training. Gamification has become quite common in academic settings, and one I've used with my own students in the past, so I was happy to see it utilized for private training, as well. The game, designed by The Security Awareness Company, aims to have users select a device (computer or phone) and select whether or not the presented message was a real phishing scam. As I progressed through the materials, I realized how easy it was to use. Gamification of security awareness training is interesting. I played a few games, and it was "fun," but felt patronizing.
</p>

<h3># content</h3>

<h3># language</h3>

<h3># thoughts on gamification</h3>

<h3># efficacy</h3>
