<h1>&Vert; phishing email reporting</h1>

<p>
  This usually takes the form of a button or link attached to every email that you click on to report a suspected phish, which gets sent to a dashboard where security people sift through and validate whether the email is actually a phish, spam, or legitimate. In some demos, I've noted the presenter making comments about people who report too often, or falsely, and how to deal with them in a very dismissive way. People in demos ask questions about the dashboard to operate the too. No one asked on how to use the reporting feature as an educational tool. It felt significant.
</p>

<h3># what the user sees</h3>
<p>
  A button to report an email as a suspected phish is on every email (usually.) If they get phished, they see what I talked about. if not, they usually see nothing.
</p>

<h3># handling the reports</h3>
<p>
  Goodness, there's a lot of problems with how the security team interacts with employees. Thinking back on the whole mentality of us vs them, and how IT people see endusers. It is problematic, especially when using this as a "learning" tool. Not exactly sure it could be classified as one with how they're often used.
</p>

<h3># effect on user agency</h3>
<p>
  Allows the person to report, cool. Feels bad when they're wrong, both if they get "phished," or if the email was actually legit depending on how the securuty team handles (or doesn't.) May make employees feel like they're mkaign a difference. The whole "human firewall" thing feels gimmicky, though.
</p>

<h3># efficacy of reporting features</h3>
<p>
  Works as far as a reporting tool. Depending on how the person handles the reports and blends that into their trainign program depends on whether or not it's effective for the employees who use it.
</p>
