<h1>&Vert; seminars & presentations</h1>

<p>
  Basically like lectures, but about computer and data security. Includes live presentations, as well as slideshows and PDF documents to be read at a later date.
</p>
<p>
  The difficuly in delivering this kind of training is that it's a group of people not caring about the topic at all, but being mandated to sit through your lecture at least once a year while they've got Really Important Things™ going on. (It's funny, because that's what it felt like teaching English 191 sometimes.)
</p>

<h3># intent</h3>
<p>
  To give a lot of information in an easy-to-digest (and familiar) format. Usually along the lines of informational videos, handouts, and speakers (usualy from security team) talking about the issues.
</p>

<h3># content</h3>
<p>
  General cybersecurity, or depending on what the event is for, can be tailored. Can be done in live-speaker format or pre-recorded videos. Live seminars often have some sort of slide presentation to go along with.
</p>


<h3># language</h3>
<p>
  Informative, but generally focuses on tecnical problems versus a more human-centric. A vaiety of companies offer different kinds of trainign lectures. They typically go for different types of corporate culture, ranging from very formal business culture, to a relaxed atmosphere. This changes the presentation types extensively, much like the video examples.
</p>


<h3># efficacy</h3>
<p>
  Depends.
</p>
<p>
  Lectures are always hard, and I don't think it's a great way to get people who aren't interested in cybersecurity to learn about it, especially if the session is once a year, or a part of the onboaring process. However, they may be necessary just due to the density of topics covered. Handouts from these can be saved, and maybe be useful to those who choose to keep them visible during their workday.
</p>
<p>
  The presentations themselvs can be useful if they follow proper presentation format - not too much text, visually engaging images, and interesting content. Since this is generally created by the company's securit yteam, it would be well for them to think of new and egngaging ways to talk abotu cybersecurity that would be relevant to the employees interests. I think while the focus is always going to be corporate, making the hour long session mean something outside of the context of work would be far more powerful than just reminding people not to get phished, pick up USBs and plug them in, or whatever else they're training on just for the corporation's sake. Make it mean something.
</p>
