<h1>&Vert; seminars & presentations</h1>

<p>
  Basically like lectures, but about computer and data security. Includes live presentations, as well as slideshows and PDF documents to be read at a later date.
</p>
<p>
  The difficuly in delivering this kind of training is that it's a group of people not caring about the topic at all, but being mandated to sit through your lecture at least once a year while they've got Really Important Things™ going on. (It's funny, because that's what it felt like teaching English 191 sometimes.)
</p>

<h3># intent</h3>

<h3># content</h3>

<h3># language</h3>

<h3># efficacy</h3>
