<h1>&Vert; who is this for?</h1>
<p>
  This space is intended for researchers interested in new ways to think about communication within computer security, specifically in the realm of rhetoric. This space is also for hackers by trade or hobby looking for information from a perspective that isn't corporately biased and different than the traditional tech background. It's a place to start a conversation about unconventional topics, and a space to share ideas between scholars and hackers about the offensive and defensive side of cyber attacks. The current topics are phishing emails and security awareness training, and I intend to expand more after the requirements for my master's portfolio have been completed.
</p>
