<h1>&Vert; phishing rhetsec</h1>

<p>
  This is where I talk about phishing and rhetoric in general. There's a bunch of different types of phishing attacks - email phishing, voice phishing, etc. So far, the project focuses on email phishing. I intend on expanding sections later.
</p>
<p>
  Phase one of this project focuses on research. In this section, I make available rhetorical analysis of various phishing email categories and security awareness training materials. Each section will have a main page with a general description of the work contained within, and how I arrived at those conclusions. Within each section are subsections of the specififc analyses done. I intend to use the information learned here to produce content for Phase 2.
</p>
<p>
  As a general overview, what I've discovered in researching phishing email campaigns is that while personal solicitation and bulk phishing is still commonplace, more technologically sophisticated methods have been much more successful in getting the information the phishers are looking for. By depositing a payload in the forum of malware, phishers can access whatever they'd like without having to convice someone to give their info into a fake login page or elsewhere. If the email manages to bypass virus and spam filters, it's much easier to gather data and credentials not only from the individual they successfully compromised, but others within an organization as well. That's not to say we shouldn't be careful about other types of phishing - we definitely should - but the focus should be on understanding how the transmission vectors work for malspam because they so often mimick genuine communications, sometimes with the only indication it might be fake being poor grammar.
</p>
<p>
  ---talk about motivations for phishing attacks here---
</p>
