<h1>&Vert; security awareness training</h1>

<p>
  Security Awareness Training is ubiquitous for corporations and agencies, especially those mandated for due diligence and best practices. In the Department of Defense, they have a <a href="https://www.acq.osd.mil/dpap/dars/dfars/html/current/252204.htm#252.204-7012" target="_blank" rel="noopener noreferrer">Defense Federal Acquisition Regulation Supplement (DFARS) clause</a> which regulates how sensitive and confidential information is managed. The financial sector is bound to the <a href="https://www.govinfo.gov/content/pkg/STATUTE-113/pdf/STATUTE-113-Pg1338.pdf" target="_blank" rel="noopener noreferrer">Gramm-Leach-Bliley Act</a>, which mandates how to handle sensitive personal information. The <a href="https://www.govinfo.gov/content/pkg/PLAW-104publ191/pdf/PLAW-104publ191.pdf" target="_blank" rel="noreferrer noopener">Health Insurance Portability and Accountability Act (HIPAA)</a> has regulations on privacy and security of data for the medical sector. There's even a National Institute of Standards and Technology <a href="https://csrc.nist.gov/publications/detail/sp/800-50/final" target="_blank" rel="noopener noreferrer">(NIST) Special Publication 800-50</a> that demonstrates how to create an effective security awareness program based on regulations in the Federal Information Security Management Act (FISMA) and the Office of Management and Budget (OMB)!
</p>
  <p>
    A massive market exists because of these varied requirements, and it begs the question if these are created in a meaningful way to show the importance of cybersecurity, or if they're simply created to fulfill a checkbox for audit requirements. To orient my project idea for a rhetorically-minded phishing awareness and training program, I peered into a few different Security Awareness programs and selected programs based on reviews and information provided in the <a href="https://www.gartner.com/reviews/market/security-awareness-computer-based-training" target="_blank" rel="noopener noreferrer">Gartner peerinsight's section for Security Awareness Computer-Based Training</a>. I chose this platform as Gartner is an industry research and advisory firm which focuses on a variety of markets, notably IT research. Initially, I chose four companies to examine - SANS, KnowBe4, PhishLabs, and inspired eLearning - but have really only been able to gain access to one company's product line: KnowBe4. In light of this, I'm going to discuss only the two most notable experiences, which are SANS and KnowBe4.
  </p>

<h5>SANS </h5>
<p class="p-2">
  SANS was an obvious choice for me to look at, as so much of the work I did in my rhetoric design course focused on using and remaking their materials. They're an industry leader in terms of certifications and training and generally respected within the community. I also was curious as to why they are so well regarded for security training and wanted to delve a bit deeper into their methodologies to see what gives them that status. Much of their training content is locked behind personal contact with a representative. Even though I am unlikely to receive a response to my inquiries, I remain curious nonetheless.
</p>

<h5>KnowBe4</h5>
<p class="p-2">
  I chose KnowBe4 for a few reasons, the first being that I have second-hand knowledge about the company. Since I was familiar with their tools from people in different industries, it felt natural to examine their materials. What also really grabbed me was their association with <a href="https://mitnicksecurity.com/about/kevin-mitnick-worlds-most-famous-hacker-biography" target="_blank" rel="noreferrer noopener">Kevin Mitnick</a>. If you're not familiar with Kevin, he is a world-famous hacker who spent years as a fugitive on the FBI's Most Wanted list turned white-hat security consultant. He is the CEO of Mitnick Security Consulting and Knowbe4's Chief Hacking Officer. Having Kevin as a part of the KnowBe4 team was a huge selling point for me to examine them, and I'm sure elicits the same response to many others. Lastly, their focus on the human element of security being the biggest compromiser feels in line with my project, and so wanted to understand their methodology for their training materials for my own sake and to have a better understanding about more progressive security awareness programs.
</p>

<p>
   While these companies offer Security Awareness Training programs as suites, I have decided to focus on phishing, and its iterations, solely for this project as that is its primary focus. Please be aware that my examination and critique is not meant to be a review of the products, but about how they utilize knowledge and presentation. I am concerned with the content, credibility, delivery, and presentation method of materials. I'm also looking into how they educated their users based on word choice, tone/language, and context. Finally, I want to look at this part of their program using a rhetorical analysis. Namely, I'm looking at:
 </p>
 <ul>
   <li>How these companies argue for their products through rhetorical appeals</li>
   <li>The intent of the argument presented</li>
   <li>The symbols used to convey the intent behind their message</li>
   <li>Understanding their audience for both the salessz pitch, as well as the training materials</li>
 </ul>
<p>
  Ultimately, I aim to look at these training packages heuristically as well as rhetorically. I'm also looking to understand what a full-fledged security awareness program looks like in the real world.
</p>

<p>
  My initial assumption going into these materials were that the programs would be an extensively vague sales pitch or an incredibly brief executive-oriented sales pitch. I hoped that there would be a variety of materials based on the skill level of the end-user, and that the material presented would be quality and throught-provoking. I expected the companies would have resources about where they got their information readily available. And finally, I understood that there was potential for these programs to have a "band-aid" approach as opposed to internal solutions - again, technical versus adaptive.
</p>

<p>
  I also recognize that these programs were created to fulfill obligations (mainly annual audits) as defined by NIST 800-50 or other industry-specific requirements. While this did inform my interpretation of the materials, I optimistically aimed to look past this and see the programs as educational tools, not just checkboxes for security metrics. What I found most interesting was that out of all of these programs, KnowBe4 has been consistently the most willing to show their products to me. I thank them for their efforts in showing me what they have available because it's opened my eyes a bit to some problems inside the corporate culture and trust issues with security teams I would not have been privy to otherwise.
</p>
