<div class="row justify-content-center mt-5 mb-5">
  <h5>
    ʇ̫͖̩̦̀̐̎̿̃̚ɔ͖̦͙̝̣͈̬̱̫̎ǝ̣͙̻̼̣̗̥̰̑ͩ͛̇͗u̹ͣ͑͊̓̑̾u̩̱͇̖̗̯͛́̿o͇͓̠͔̞̼ͪ͑̃ɔ̲̱͔̣̟̽ͥ͛̋̒ͫͮ͗̚
  <img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
   ̭́̂́͐͛c͖̻ͯ̽õ̭̼̪̦̠ͅn̺̰ͤ̌͒ͭ̆̏n̲̼̦͕̥̗̝̠̒̏ͧ̃̓̓ͬẹ͉́ͨ̑̆ͬ̃ͥͫc͔͓͈̮ͮ͐̃t̘̖͉̫̬̰ͨͪ
 </h5>
</div>


<div class="container">
  <dl class="row">
    <dt class="col-sm-1"><i class="fas fa-at p-1 mr-2 p-1 mr-2"></i></dt>
    <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="mailto:jen@linuxfingers.com">email</a></dd>
    <dt class="col-sm-1"><i class="fab fa-facebook-square p-1 mr-2 p-1 mr-2"></i></dt>
    <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/linuxfingers">linuxfingers</a></dd>
    <dt class="col-sm-1"><i class="fab fa-twitter p-1 mr-2"></i> </dt>
    <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">@linuxfingers</a></dd>
    <dt class="col-sm-1"><i class="fab fa-soundcloud p-1 mr-2"></i></dt>
    <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">linuxfingers</a></dd>
    <!--<dt class="col-sm-1"><i class="fab fa-github p-1 mr-2"></i>linuxfingers</dt>
    <dd class="col-sm-11"><i class="fab fa-linkedin p-1 mr-2"></i> linuxfingers</dd>
    <dt class="col-sm-1"><i class="fas fa-hashtag p-1 mr-2"></i> linuxfingers @ freenode</dt>
    <dd class="col-sm-11"><i class="fad fa-dice-d20 p-1 mr-2"></i></dd>
    <dt class="col-sm-1"><i class="fab fa-steam-square p-1 mr-2"></i></dt>
    <dd class="col-sm-11"><i class="fab fa-battle-net p-1 mr-2"></i></dd>
    <dt class="col-sm-1"><i class="fab fa-xbox p-1 mr-2"></i></dt>
    <dd class="col-sm-11"><i class="fab fa-playstation p-1 mr-2"></i></dd>
    <dt class="col-sm-1"><i class="fab fa-twitch p-1 mr-2"></i></dt>
    <dd class="col-sm-11"><i class="fab fa-discord p-1 mr-2"></i></dd>-->
  </dl>
</div>
