<img src="/img/trinity.gif" class="centered">
<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
</div>
<p>
Find me on:
<br>
<br>//email
<br>//facebook
<br>//twitter
<br>//soundcloud
<br>//github
</p>
