  <div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; curriculum vitae</h1>
  </div>
  <div class="row justify-content-center mb-5">
    <h5 align="center">
       <a href="#academics">academics</a>
       ░ <a href="#confpub">conferences & publications</a>
       ░ <a href="#work">work experience</a>
       ░ <a href="#skills">skills</a>
       ░ <a href="#specproj">special projects</a>
     </h5>
  </div>

<div class="container-fluid">
  <div class="col">
    <div class="row mt-3 mb-3">
      <div class="col-sm-4">
        <h3 align="left" id="academics">academics</h3>
      </div>
      <div class="col-sm-8">
        <ul class="light" style="list-style: none;">
          <li><b>Saint Cloud State University | Saint Cloud, MN</b></li>
          <li>English - Rhetoric & Writing, MA</b></li>
          <li>2015 to 2019</li>
        <br>
          <li><b>The College of Saint Scholastica | Duluth, MN</b></li>
          <li>History, BA</li>
          <li>2011-2015</li>
          <br>
          <li>Ronald E. McNair Post-Baccalaureate Achievement Program</li>
          <li>IWIT (Increasing Women in Technology) Recipient</li>
          <li>MICS 2012 Robotics Competition</li>
          <li>Mathematics Society - Secretary</li>
        <br>
          <li><b>Lake Superior College | Duluth, MN</b></li>
          <li>Network Administration and Security, AAS</b></li>
          <li>2011-2012</li>
          <br>
        </ul>
      </div>
    </div>
<hr>
  <div class="row mt-3 mb-3">
      <div class="col-sm-4">
        <h3 align="left" id="confpub">conferences && publications</h3>
      </div>
      <div class="col-sm-8">
        <ul class="light" style="list-style: none;">
          <li>Navigating the Academic Seas</li>
          <li>what has been taken...</li>
          <li>Free to Prey: Driving the (Financial) Stake into MMORPG Toxicity</li>
          <li>The Invisible Wound: Racial and Cultural Trauma in America</li>
          <li>Antioxidant Activity in Different Forms of Hops</li>
        </ul>
      </div>
    </div>
<hr>
    <div class="row mt-3 mb-3">
      <div class="col-sm-4">
        <h3 align="left" id="work">work experience</h3>
      </div>
      <div class="col-sm-8">
        <ul class="light" style="list-style: none;">

          <li><b>Chief Operations Officer and Co-Founder</b>
            <li>Providentia Security, LLC</li>
            <li>April 2019 - Present</li>
            <li>!missing_details</li>

<br>

          <li><b>Instructor/Graduate Teaching Assistant</b>
            <li>Saint Cloud State University</li>
            <li>August 2015 - December 2017</li>
            <li>!missing_details</li>

            <br>

          <li><b>Technology Services Assistant/Network Administration Intern</b>
            <li>The College of Saint Scholastica</li>
            <li>Jan 2013 – May 2015</li>
            <li>Maintained computer systems campus-wide, including instructors and campus offices. Managed security and handled risks accordingly, including information breaches and malware remediation. Performed network administration duties such as deployment and remote security measures through Novell/ZenWorks. Assisted faculty with setting up classroom technology, including but not limited to projectors, laptop carts, and classroom desktops.</li>

            <br>

            <li><b>Online Course Development Assistant/Instructional Design</b>
              <li>The College of Saint Scholastica | Duluth, MN</li>
              <li>Mar 2012 – May 2015</li>
              <li>Created online courses in Blackboard using HTML and CSS with instructor-provided materials, utilizing software such as Articulate and Camtasia to create and edit multimedia presentations. Used Dragon NaturallySpeaking to transcribe audio lectures.  Utilized available technology to prepare resources for students with disabilities and various learning styles/special needs.</li>

            <br>
            <li><b>Undergraduate Researcher</b></li>
              <li>The College of St. Scholastica | Duluth, MN</li>
              <li>Feb - Sept 2013</li>
              <li>Researched antioxidant properties of hops using spectroscopy (UV-VIS) and HPLC. Analyzing degradation during wort boiling and beer brewing processes.</li>

            <br>

            <li><b>Adjunct Faculty</b>
              <li>Wisconsin Indianhead Technical College | Superior, WI</li>
              <li>Jul 2011 - Aug 2013</li>
              <li>Co-teacher as part of an annual robotics unit during the College for Kids summer session. Utilized Lego NXT and related technologies to inspire children to create their own robotics projects. Final projects for the unit were generally some sort of competition such as sumobots or drag racing. Some areas of focus included radar/sonar, IR sensing, gyroscopy, and general pathfinding.</li>

            <br>

            <li><b>Computer Services Technician</b></li>
              <li>Lake Superior College | Duluth, MN</li>
              <li>Jan - May 2011</li>
              <li>Recovered sensitive data for clients, upgraded and installed operating systems, troubleshooted software and hardware complaints, organized computer sales.</li>

            <br>

            <li><b>Freelance Computer Technician</b></li>
              <li>Duluth, MN & Superior, WI area<li>
              <li>2009-2012</li>
              <li>Dealt with a variety of projects with Windows, Mac, and Linux including, but not limitied to network support, hardware installatiom, troubleshooting, and security concerns.<li>

          </ul>
      </div>
    </div>
<hr>
    <div class="row mt-3 mb-3">
      <div class="col-sm-4">
        <h3 align="left" id="specproj">special projects</h3>
      </div>
        <div class="col-sm-8">
          <ul class="light" style="list-style: none;">
            <li>Co-developed and maintained The College of Saint Scholastica’s flagship MOOC: <a href="http://www.css.edu/graduate/non-degree-seeking/massive-open-online-courses/anatomy-and-physiology-mooc.html" target="_blank">Intro to Anatomy and Physiology.</a> I both Voiced and produced the advertisement for this MOOC, which was aired between episodes of <a href="https://podcasts.apple.com/us/podcast/biology-2110-2120-anatomy-and-physiology-with-doc-c/id290170401" target="_blank">Doc C's Anatomy & Physiology podcast on iTunes</a>. Produced marketing materials, course content preparation, podcast adverstising and support, quality assurance, and per-semester revisions to course content. Blackboard 9.0 CMS.</li>
            <li>I've done a lot of things.</li>
            <li>And seen a lot of places.</li>
            <li>What's considered a special project?</li>
            <li>Maybe publications are enough.</li>
          </ul>
        </div>
      </div>
<hr>
  <div class="row mt-3 mb-3">
    <div class="col-sm-4">
      <h3 align="left" id="skills">skills</h3>
    </div>
    <div class="col-sm-8">
      <ul class="light" style="list-style: none;">
        <li>Technical skills: I have a lot of them.</li>
        <li>Soft skills: Probably.</li>
        <li>What are they?</li>
        <li>Let me think about it and I'll get back to you.</li>
      </ul>
    </div>
  </div>

  </div>
</div>
