<h1 class="hilite"><span>curriculum vitae</span></h1>

<div class="container-fluid">
  <div class="col">

    <div class="row mt-3 mb-5">
      <div class="col-sm-4">
        <h3 align="left" id="specproj" class="hilite"><span># unique achievements</h3>
      </div>
        <div class="col-sm-8">
          <ul class="light" style="list-style: none;">
            <li><b>EVE Aether Wars Phase III [World Record Attempt] - 1st Place</b></li>
            <li>23 November 2019</li>
            <li>Steam ID: <a href="https://steamcommunity.com/linkfilter/?url=https://steamcommunity.com/id/linuxfingers/">linuxfingers</a></li>
            <li>Announcement: <a href="https://steamcommunity.com/games/1165670/announcements/detail/1694972357171852871" target="_blank">Steam Community</a></li>
            <li>Event link: <a href="https://www.ccpgames.com/news/2019/ccp-games-and-hadean-go-for-world-record-with-eve-aether-wars-phase-iii-at" target="_blank">CCP Games</a></li>
          </ul>
        </div>
      </div>


  <div class="row mt-3 mb-5">
      <div class="col-sm-4">
        <h3 align="left" id="confpub" class="hilite"><span># conf and pub</span></h3>
      </div>
      <div class="col-sm-8">
        <ul class="light" style="list-style: none;">
          <li><b>Navigating the Academic Seas</b></li>
            <li>Saint Cloud State University Student Research Colloquium | St. Cloud, MN</li>
            <li>18 April 2017</li>
            <br>
            <li>
              Infographic poster project discussing a pilot project for a dedicated departmental advisor within the Community Psychology department. Survey results show that meeting with a departmental advisor improved potential student outcomes. Implications of meeting with an advisor are presented.
            </li>
          <br>
          <br>
          <li><b>what has been taken...</b></li>
            <li>Survive & Thrive: A Journal for Medical Humanities and Narrative as Medicine</li>
            <li><a href="https://repository.stcloudstate.edu/survive_thrive/vol3/iss1/6/" target="_blank">Vol. 3 : Iss. 1 , Article 6</a></li>
            <li>Apr 2017</li>
            <br>
            <li>Three poems on loss.</li>
          <br>
          <br>
          <li><b>Free to Prey: Driving the (Financial) Stake into MMORPG Toxicity</b></li>
            <li>Midwest Pop Culture Association 2016 | Chicago, IL</li>
            <li>Oct 7, 2016</li>
            <li><i>Please see <a href="/writing/digispace">Digital Spaces</a> for more information, including full abstract.</i></li>
            <br>
            <li>
              Exploration of relationships between power, motive, and financial expenditures within MMORPGs, the influence of socioeconomic and demographics in player profiles, and how they compare between subscription-based versus free-to-play models.
            </li>
          <br>
          <br>
          <li><b>The Invisible Wound: Racial and Cultural Trauma in America</b></li>
            <li>The Survive & Thrive Experience</li>
            <li>22 Oct 2015</i></li>
            <br>
            <li>"Cultural, racial, and national trauma - what are the invisible wounds from them and what does it mean that we often suffer this trauma in silence. This group of experts and celebrators of life offer us insights into what we share as a people both good and bad and what we might do about the invisible wound of cultural, racial, and national trauma."</li>
          <br>
          <br>
          <li><b>Antioxidant Activity in Different Forms of Hops</b></li>
            <li>National Conference for Undergraduate Research | Lexington, KY</li>
            <li>04 April 2014</li>
            <br>
            <li>
              Lupulin compounds in the hops plant (Humulus lupulus) have been studied in recent years for their potential antioxidant properties. The reaction with DPPH• (2,2-diphenyl-1-picrylhydrazyl) was used to determine the antioxidant activity of the hop extracts with Simcoe hop cones and pellets was investigated. This showed a rapid decrease in radicals over a period of 30 minutes.
            </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-sm-4">
        <h3 align="left" id="academics" class="hilite"><span># academics</span></h3>
      </div>
      <div class="col-sm-8">
        <ul class="light" style="list-style: none;">
          <li><b>Saint Cloud State University</b></li>
          <li>English - Rhetoric & Writing, MA</b></li>
          <li>2015 to 2019</li>
          <br>
          <br>
          <li><b>The College of Saint Scholastica</b></li>
          <li>History, BA</li>
          <li>2011-2015</li>
          <br>
          <li>&#8278; Ronald E. McNair Post-Baccalaureate Achievement Program</li>
          <li>&#8278; Increasing Women in Technology (IWIT) Scholarship Recipient</li>
          <li>&#8278; MICS 2012 - Robotics Competition</li>
          <li>&#8278; Secretary for the Mathematics Society</li>
          <br>
          <br>
          <li><b>Lake Superior College</b></li>
          <li>Network Administration and Security, AAS</b></li>
          <li>2011-2012</li>
          <br>
          <li>&#8278; Phi Theta Kappa</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-sm-4">
        <h3 align="left" id="work" class="hilite"><span># career</span></h3>
      </div>
      <div class="col-sm-8">
        <ul class="light" style="list-style: none;">

          <li><b>Chief Operations Officer and Co-Founder</b>
            <li>Providentia Security, LLC | Columbus, OH</li>
            <li>April 2019 - Present</li>
            <br>
            <li>Co-founder and COO of a startup consulting firm dedicated to helping small and medium sized businesses manage their security awareness training and cybersecurity needs. My role is focused on client-side communication, development of content and deliverables, and day-to-day operations.</li>
          <br>
          <br>
          <li><b>Freelance/Ghost Writer</b></li>
            <li>Online/Various | St. Cloud, MN<li>
            <li>2018</li>
            <br>
            <li>Created blogs, articles, and buying guides for a variety of topics. Focused on creating engaging, customer-oriented content for affiliate sales programs. SEO and copywriting focus.<li>
            <br>
            <br>
          <li><b>Instructor/Graduate Teaching Assistant</b>
            <li>Saint Cloud State University | St. Cloud, MN</li>
            <li>August 2015 - December 2017</li>
            <br>
            <li>Instructed English 191, a freshman-level composition course which taught the writing process via rhetorical analysis and critical thinking skills. Developed course methodology utilizing a variety of methods for teaching research, often having students cross into digital spaces to understand and argue what was important within their world, using their own language. Taught students how to understand argument using a variety of sources, including critical theory and visual media. Final project focused on building effective proposal arguments with an emphasis on personal, community-specific issues.</li>
            <br>
            <br>
            <li><b>Technology Services Assistant/Network Administration Intern</b>
              <li>The College of Saint Scholastica | Duluth, MN</li>
              <li>Jan 2013 – May 2015</li>
              <br>
                <li>Maintained computer systems campus-wide, including instructors and campus offices. Managed security and handled risks accordingly, including information breaches and malware remediation. Performed network administration duties such as deployment and remote security measures through Novell/ZenWorks. Assisted faculty with setting up classroom technology, including but not limited to projectors, laptop carts, and classroom desktops.</li>
            <br>
            <br>
            <li><b>Online Course Development Assistant/Instructional Design</b>
              <li>The College of Saint Scholastica | Duluth, MN</li>
              <li>Mar 2012 – May 2015</li>
              <br>
              <li>Created online courses in Blackboard using HTML and CSS with instructor-provided materials, utilizing software such as Articulate and Camtasia to create and edit multimedia presentations. Used Dragon NaturallySpeaking to transcribe audio lectures.  Utilized available technology to prepare resources for students with disabilities and various learning styles/special needs.</li>
            <br>
            <br>
            <li><b>Undergraduate Researcher</b></li>
              <li>The College of St. Scholastica | Duluth, MN</li>
              <li>Feb - Sept 2013</li>
              <br>
              <li>Researched antioxidant properties of hops using spectroscopy (UV-VIS) and HPLC. Analyzing degradation during wort boiling and beer brewing processes.</li>
            <br>
            <br>
            <li><b>Adjunct Faculty</b>
              <li>Wisconsin Indianhead Technical College | Superior, WI</li>
              <li>Jul 2011 - Aug 2013</li>
              <br>
              <li>Co-teacher as part of an annual robotics unit during the College for Kids summer session. Utilized Lego NXT and related technologies to inspire children to create their own robotics projects. Final projects for the unit were generally some sort of competition such as sumobots or drag racing. Some areas of focus included radar/sonar, IR sensing, gyroscopy, and general pathfinding.</li>
              <br>
              <br>
            <li><b>Computer Services Technician</b></li>
              <li>Lake Superior College | Duluth, MN</li>
              <li>Jan - May 2011</li>
              <br>
              <li>Recovered sensitive data for clients, upgraded and installed operating systems, troubleshooted software and hardware complaints, organized computer sales.</li>
            <br>

            <br>
            <li><b>Freelance Computer Technician</b></li>
              <li>Duluth, MN & Superior, WI area<li>
              <li>2009-2012</li>
              <br>
              <li>Dealt with a variety of projects with Windows, Mac, and Linux including, but not limited to network support, hardware installation, troubleshooting, and security concerns.<li>

          </ul>
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col-sm-4">
        <h3 align="left" id="specproj" class="hilite"><span># special projects</h3>
      </div>
        <div class="col-sm-8">
          <ul class="light" style="list-style: none;">
            <li><b>Co-developed & maintained The College of Saint Scholastica’s flagship MOOC: <a href="http://www.css.edu/graduate/non-degree-seeking/massive-open-online-courses/anatomy-and-physiology-mooc.html" target="_blank">Intro to Anatomy and Physiology.</a></b>
              <li>
                Voiced and produced the advertisement for this MOOC, which aired between episodes of <a href="https://podcasts.apple.com/us/podcast/biology-2110-2120-anatomy-and-physiology-with-doc-c/id290170401" target="_blank">Doc C's Anatomy & Physiology podcast on iTunes</a>. Produced marketing materials, course content preparation, podcast advertising and support, quality assurance, and per-semester revisions to course content. Blackboard 9.0 CMS; responsible for front-end development.</li>
              </li>
          </ul>
        </div>
      </div>

  </div>
</div>
