<div class="row justify-content-center mb-5">
    <h1>>about jen</h1>
</div>

<div class="row justify-content-center mb-5">
    <h5>
       <a href="#">_jen_</a>
       ░ <a href="./cv">cv</a>
       ░ <a href="./provsec">providentia security</a>
     </h5>
</div>

<div class="row">

  <div class="col-8">        <div class="typewriter">
          	<div class="typewriter-text"><h5>hello, world.</h5></div>
          </div>
    <hr>
    <h5>>whoami?</h5>
    <p>
      I wear a lot of hats these days: artist, writer, technician, educator, business owner, developer, wife, spicy space lady. I also wear the student hat right now as a Rhetoric & Writing Master's candidate at St. Cloud State University. I was quasi-settled in Minnesota for the last decade until early 2019 when my husband and I moved to Columbus, OH for new beginnings. It's much warmer here, and people are generally friendly. Not a bad gig so far.
    </p>
    <h5>>what do i like to do?</h5>
    <p>
      I enjoy creating things that stimulate the soul, whether it be music, art, writing, or food. I also love to learn, and to teach people about the things I've learned, especially:
        <ul>
          <li>>figuring out how things work both digitally and people-wise</li>
          <li>>taking things apart (physically, virtually, and communicatively) to understand their base functions</li>
          <li>>putting those afformentioned things back together after making the mess of discovery</li>
          <li>>the philosophy behind how things work and figuring out <i>why</i> things are the way they are</li>
          <li>>how words and other forms of communication influence people</li>
          <li>>how people interact with each other in digital spaces, and how those spaces influence people's interactions</li>
        </ul>
      </li>
    <p>I'm also an avid gamer, and spend a lot of time in space or worlds full of magic. Find me in Eve Online or on Steam sometime.</p>

    <h5>>StrengthsQuest</h5>
      <dl class="row">
        <dt class="col-sm-2">Learner</dt>
        <dd class="col-sm-10">I am a firm believer in continuous improvement, and the process of learning exites me more than anything. I am energized by mastery, working to learn more about whatever interests me every day.</dd>

        <dt class="col-sm-2">Intellection</dt>
        <dd class="col-sm-10">Thinking about thinking - I'm constantly thinking about <i>something</i>, whether it's a new idea, something I've read, or a new challenge I'd like to try. An introspective mental hum is a constant in my life.</dd>

        <dt class="col-sm-2">Input</dt>
        <dd class="col-sm-10">I'm a collector of thoughts, things, and information. Inquisitive by nature, and excited by the world's infinite variety and complexity. I try to remember everything and anything, just in case it proves valuable in the future.</dd>

        <dt class="col-sm-2">Ideation</dt>
        <dd class="col-sm-10">I love ideas -  all of them - whether they're bad, good, strange, or obvious. I enjoy taking in the world we all know and turning it around to see it from a strange, but strangely enlightening, angle. "That's an interesting way to think about that, Jen," is a phrase I often hear. Most of the time it ends up working out, too. ;)</dd>

        <dt class="col-sm-2">Strategic</dt>
        <dd class="col-sm-10">I'm adept at seeking out patterns and problems, and cut through to find the best solution. I'm not intimidated by complexity; I revel in it.</dd>
      </dl>
    </div>

  <div class="col">
    <img class="img-fluid dashed-box box-black mx-auto d-block" src="/img/spicyspacelady.jpg" style="border-radius: 50%"><br>
      <div class="row justify-content-center mb-5">

        <img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
          <h5>

c̵͐̂͌̏̋̂̀̃̀̉́̾̏́̀̈́̉̌̚͘͝ç̴̛̛̣̫̦̣̩͚̖̥̺̲̫̳̠̜̦̞̯͕̥̞̜͚̂̀̄̇̏͊̂̍̈́̕͠ǒ̵͉̥̗̬̂̐̐̅͊͐͌̾́̈́͌̄̈́̐̽͂͐͗̓́͜͠n̴̛̰̭̯̄̈́̎͋n̴̢̳͎̥͎̩̂̀̇̈́̍ȩ̵̝̒̓͂́͐̅̍͝c̶̬̖̳̭̪͓̥̩͓̲̳̬̗̤̥̊̈̈́̔̈́̒̎͂̐́́̍̍͆̌̐͒̍͋̿̚̕͜͝ţ̵͍̯̭͕͓̠͓̝̱͚̙̻̮̲͖̱̳̓͒̾͆͘ ̷̨̛̛̩̱͖̩̯̦̘̮̳͓̟͇̦̠̂̋̾̾͂͆̈́̀͑͝ͅw̶͙̰̻̹̼̔i̸̢̧̳̖̙̟̞̜̗͕̖̳̫͓̥̲͔̜͓̣̓͑̒͛͌̈́̈́̀̈̎̒̋͝͝͝ṱ̴̡̧̨̞͚̟̗̫͇̘͇͍͎̯̀̀̈̿̅͑̋͛̀̒̅̈́͂͘ͅh̵͕̅͊̋͗̄̓̓͌̈̽͊͑̃͒̄̓͒̆̌̕̚͘͘ ̸̮̜̞̘͒̚m̵̧̘̺͖̤̫̤͓͎̲͉̪̰̮̪̥̰͚̟͍̒̈́̋͌̀͊̈͌̀͂͗̕͘͜͝͠͠͠ḙ̶̒͌͐̓


          </h5>
        <img src="/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
      </div>

<div class="row dashed-box box-black">

<div class="col p-2">

  <ul>
    <li><i class="fas fa-at mr-4"></i><a target="_blank" rel="noopener noreferrer" href="mailto:jen@linuxfingers.com">email</a></li>
    <li><i class="fab fa-facebook-square mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/linuxfingers">linuxfingers</a></li>
    <li><i class="fab fa-twitter mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">linuxfingers</a></li>
    <li><i class="fab fa-soundcloud mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">linuxfingers</a></li>
    <li><i class="fab fa-github mr-4"></i><a href="https://github.com/linuxfingers/" target="_blank">linuxfingers</a></li>
    <li><i class="fab fa-steam mr-4"></i><a href="https://steamcommunity.com/id/linuxfingers" target="_blank">linuxfingers</a></li>
  </ul>
</div>

<div class="col p-1">
  <img src="/img/plutodoor.gif" class="img-fluid mx-auto d-block">
</div>
  <!--
  <dl class="row justify-content-end">
        <dt class="col-sm-1"><i class="fas fa-at p-1 mr-2 p-1 mr-2"></i></dt>
          <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="mailto:jen@linuxfingers.com">email</a></dd>

          <dt class="col-sm-1"><i class="fab fa-facebook-square p-1 mr-2"></i></dt>
          <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/linuxfingers">linuxfingers</a></dd>

          <dt class="col-sm-1"><i class="fab fa-twitter p-1 mr-2"></i> </dt>
          <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">@linuxfingers</a></dd>

          <dt class="col-sm-1"><i class="fab fa-soundcloud p-1 mr-2"></i></dt>
          <dd class="col-sm-11"><a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">linuxfingers</a></dd>

          <dt class="col-sm-1"><i class="fab fa-github p-1 mr-2"></i></dt>
          <dd class="col-sm-11"><a href="https://github.com/linuxfingers/" target="_blank">linuxfingers</a></dd>

          <dt class="col-sm-1"><i class="fab fa-steam p-1 mr-2"></i></dt>
          <dd class="col-sm-11"><a href="https://steamcommunity.com/id/linuxfingers" target="_blank">linuxfingers</a></dd>
        </dl>-->
      </div>
    </div>


</div>





<p>

</p>



<!--
<p>
//What do I enjoy?
</p>
<p>

</p>

      //Creative parts
      I like making things that are fun and cool, like
      drawing with markets and pencil
      electronic music
      trying to play instruments
      graphic and web design
      photography
      poetry
      writing
      ...basically I LIKE ART

      //Digital Rhetoric
      -mmos and forums are a cool place to create alt identities
      -how does that tie into infosec?
      -Resdesigning - making tech “pretty” (or ugly, depending on your aesthetic POV)

      //Security
      -talk about work
      -revival of interests
      -poking around things

      //Past stuff I thought was cool:
      Talk about work in digital rhetoric and online communities
      4chan paper
      MMORPG conference
      InDesign Coursework was highly security focused - SANS redesign, lots of research into deliverables for security awareness training (haha project, hello)

      //Education
      SCSU as English 191 instructor
      WITC College 4 Kids Robotics co-instructor

      Lots of independent education
      AAS LSC to a BS at CSS
      MA at SCSU

      //Conferences
      Saint Cloud State University Student Research Colloquium
      MPCA
      MICS
      NCUR 2014


-->
