<h1 class="hilite"><span>about jen</span></h1>

<!--<div class="d-lg-block d-none">-->
  <div class="row">
    <div class="col">
      <img class="img-fluid avatar" src="/img/tzeentchi.png" alt="It's me, just enhanced. ;)">
    </div>
    <div class="col mt-5">
      <ul class="biblio">
        <li><i class="fas fa-at mr-4"></i><a target="_blank" rel="noopener noreferrer" href="mailto:linuxfingers@protonmail.com">linuxfingers (at) protonmail (dot) com</a></li>
        <li><i class="fab fa-steam mr-4"></i><a href="https://steamcommunity.com/id/linuxfingers" target="_blank">linuxfingers</a></li>
          <li><i class="fas fa-comment-alt mr-4"></i><a target="_blank" rel="noopener noreferrer" href="https://mewe.com/i/linuxfingers">linuxfingers</a></li>
          <li><i class="fab fa-mastodon mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://cybre.space/@linuxfingers">linuxfingers@cybre.space</a></li>
          <li><i class="fab fa-twitter mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">@linuxfingers</a></li>
          <li><i class="fas fa-music mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">linuxfingers</a></li>
          <li><i class="fab fa-github mr-4"></i><a href="https://github.com/linuxfingers/" target="_blank">linuxfingers</a></li>
          <li><i class="fas fa-user-astronaut mr-4"></i><a href="https://zkillboard.com/character/2112532594/" target="_blank">Korymaeris Laguz</a> <a href="https://zkillboard.com/corporation/98119545/">[UENGC]</a></li>
        </ul>
      </div>
    </div>

<!--</div>-->

<!--mobile
<div class="d-lg-none">
  <div class="row">
    <div class="col-sm-10">
      <img class="img-fluid dashed-box-eve mx-auto d-block thumbBio" src="/img/tzeentchi.png" style="border-radius: 50%">
    </div>
      <div class="row">
        <ul>
          <li><i class="fas fa-at mr-4"></i><a target="_blank" rel="noopener noreferrer" href="mailto:linuxfingers@protonmail.com">linuxfingers (at) protonmail (dot) com</a></li>
          <li><i class="fas fa-comment-alt mr-4"></i><a target="_blank" rel="noopener noreferrer" href="https://mewe.com/i/linuxfingers">linuxfingers</a></li>
          <li><i class="fab fa-mastodon mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://cybre.space/@linuxfingers">linuxfingers@cybre.space</a></li>
          <li><i class="fab fa-twitter mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">@linuxfingers</a></li>
          <li><i class="fas fa-music mr-4"></i><a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">linuxfingers</a></li>
          <li><i class="fab fa-github mr-4"></i><a href="https://github.com/linuxfingers/" target="_blank">linuxfingers</a></li>
          <li><i class="fas fa-user-astronaut mr-4"></i><a href="https://zkillboard.com/character/2112532594/" target="_blank">Korymaeris Laguz</a> <a href="https://zkillboard.com/corporation/98119545/">[UENGC]</a></li>
          <li><i class="fab fa-steam mr-4"></i><a href="https://steamcommunity.com/id/linuxfingers" target="_blank">linuxfingers</a></li>
        </ul>
      </div>
    </div>
  </div>-->

<h3 class="hilite"><span># whoami?</span></h3>
  <p>
    I wear many hats these days: artist, writer, technician, educator, business owner, developer, wife, Spicy Space Lady. I was quasi-settled in Minnesota for the last decade until early 2019 when my husband and I moved to Columbus, Ohio, for new beginnings. It's much warmer here, and people are generally friendly. Not a bad gig so far.
    </p>
  <h3 class="hilite"><span># what do i like to do?</span></h3>
    <p>
      I enjoy creating things that stimulate the soul, whether it be music, art, writing, code, or food. This website has been a labor of love for me as well; making an "OS" from just CSS and JavaScript has been especially scintillating. I also love to learn, and to teach people about the things I've learned, especially:
        <ul class="sq">
          <li>figuring out how things work in all their forms,</li>
          <li>taking things apart to understand their base functions,</li>
          <li>putting those things back together after making the mess of discovery,</li>
          <li>the philosophy behind how things work and figuring out <i>why</i> things are the way they are,</li>
          <li>how words and other forms of communication influence people,</li>
          <li>digital spaces, and how those spaces influence people's interactions,</li>
          <li>oh and machines...I really like machines.</li>
        </ul>
      </li>
    <p>I love gaming, and spend a lot of time in space or worlds full of magic. I’m an avid (possibly rabid) Warhammer 40k and Eve Online fan, recently winning first place in the <a href="./cv">Aether Wars Phase III competition</a>. (Yay Iceland!!!) Pretty cool stuff. Feel free to find me in game - links for all that are above. :)</p>


    <h3 class="hilite"><span># StrengthsQuest</span></h3>
      <dl class="row">
        <dt class="col-sm-4"><b>## Learner</b></dt>
        <dd class="col-sm-8">I am a firm believer in continuous improvement, and the process of learning excites me more than anything. I am energized by mastery, working to learn more about whatever interests me every day.</dd>

        <dt class="col-sm-4"><b>## Intellection</b></dt>
        <dd class="col-sm-8">Thinking about thinking - I'm constantly thinking about <i>something</i>, whether it's a new idea, something I've read, or a new challenge I'd like to try. An introspective mental hum is a constant in my life.</dd>

        <dt class="col-sm-4"><b>## Input</b></dt>
        <dd class="col-sm-8">I'm a collector of thoughts, things, and information. Inquisitive by nature, and excited by the world's infinite variety and complexity. I try to remember everything and anything, just in case it proves valuable in the future.</dd>

        <dt class="col-sm-4"><b>## Ideation</b></dt>
        <dd class="col-sm-8">I love ideas -  all of them - whether they're bad, good, strange, or obvious. I enjoy taking in the world we all know and turning it around to see it from a strange, but strangely enlightening, angle. "That's an interesting way to think about that, Jen," is a phrase I often hear. Most of the time it ends up working out, too. ;)</dd>

        <dt class="col-sm-4"><b>## Strategic</b></dt>
        <dd class="col-sm-8">I'm adept at seeking out patterns and problems and cut through to find the best solution. I'm not intimidated by complexity; I revel in it.</dd>
      </dl>
