<div class="container">
  <div class="row justify-content-center">
    <h3>>about</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
       <a href="/jen#jen">jen</a>
       ░ <a href="/jen#hobbies">hobbies</a>
       ░ <a href="/jen#hobbies">hobbies</a>
       ░ <a href="/jen#hobbies">hobbies</a>
       ░ <a href="/jen#hobbies">hobbies</a>
     </p>
  </div>
</div>

<img class="float-right ml-4 p-3 img-fluid box-black darken" src="/img/itsme.gif"/>
  <div class="content-heading"><h3>Hello.</h3></div>
            <p>I'm Jenny.</p>


      <br>//job title:
      //what I do and how I do it:
      //social media links
      //experience


      //What do I do now?
      -Artist

      -Educator
      I like teaching people how things work and why
      Not a fan of socratic method, but rather having people come to their own conclusions for learning - it's more profound when people figure out for themselves than when they are told the right answer

      -Co-founder of Providentia Security, LLC
      Goal is to become independant cybersecurity consultant utilizing rhetoric-based education for training as opposed to the traditional approach

      //What do I like?
      -Figuring out how things work both digitally and people-wise
      -Taking things apart and understanding their base functions
      -The philosophy behind how things work - figuring out WHY things are the way they are
      -How the parts fit together and make a whole
      -Why do those things fit together? Why is it important?
      -How words and other forms of communication influence people
      -How people interact with each other in digital spaces and how those spaces influence people's interactions

      //Creative parts
      I like making things that are fun and cool, like
      drawing with markets and pencil
      electronic music
      trying to play instruments
      graphic and web design
      photography
      poetry
      writing
      ...basically I LIKE ART

      //Digital Rhetoric
      -mmos and forums are a cool place to create alt identities
      -how does that tie into infosec?
      -Resdesigning - making tech “pretty” (or ugly, depending on your aesthetic POV)

      //Security
      -talk about work
      -revival of interests
      -poking around things

      //Past stuff I thought was cool:
      Talk about work in digital rhetoric and online communities
      4chan paper
      MMORPG conference
      InDesign Coursework was highly security focused - SANS redesign, lots of research into deliverables for security awareness training (haha project, hello)

      //Education
      SCSU as English 191 instructor
      WITC College 4 Kids Robotics co-instructor

      Lots of independent education
      AAS LSC to a BS at CSS
      MA at SCSU

      //Conferences
      Saint Cloud State University Student Research Colloquium
      MPCA
      MICS
      NCUR 2014

      //Strengthsfinder

      <ol class="light">
        <li>Learner</li>
        You love to learn. The subject matter that interests you most will be determined by your other themes and experiences, but whatever the subject, you will always be drawn to the process of learning. The process, more than the content or the result, is especially exciting for you. You are energized by the steady and deliberate journey from ignorance to competence. The thrill of the first few facts, the early efforts to recite or practice what you have learned, the growing confidence of a skill mastered—this is the process that entices you. Your excitement leads you to engage in adult learning experiences—yoga or piano lessons or graduate classes. It enables you to thrive in dynamic work environments where you are asked to take on short project assignments and are expected to learn a lot about the new subject matter in a short period of time and then move on to the next one. This Learner theme does not necessarily mean that you seek to become the subject matter expert, or that you are striving for the respect that accompanies a professional or academic credential. The outcome of the learning is less significant than the “getting there.”
        <li>Intellection</li>
        You like to think. You like mental activity. You like exercising the “muscles” of your brain, stretching them in multiple directions. This need for mental activity may be focused; for example, you may be trying to solve a problem or develop an idea or understand another person’s feelings. The exact focus will depend on your other strengths. On the other hand, this mental activity may very well lack focus. The theme of Intellection does not dictate what you are thinking about; it simply describes that you like to think. You are the kind of person who enjoys your time alone because it is your time for musing and reflection. You are introspective. In a sense you are your own best companion, as you pose yourself questions and try out answers on yourself to see how they sound. This introspection may lead you to a slight sense of discontent as you compare what you are actually doing with all the thoughts and ideas that your mind conceives. Or this introspection may tend toward more pragmatic matters such as the events of the day or a conversation that you plan to have later. Wherever it leads you, this mental hum is one of the constants of your life.
        <li>Input</li>
        You are inquisitive. You collect things. You might collect information—words, facts, books, and quotations—or you might collect tangible objects such as butterflies, baseball cards, porcelain dolls, or sepia photographs. Whatever you collect, you collect it because it interests you. And yours is the kind of mind that finds so many things interesting. The world is exciting precisely because of its infinite variety and complexity. If you read a great deal, it is not necessarily to refine your theories but, rather, to add more information to your archives. If you like to travel, it is because each new location offers novel artifacts and facts. These can be acquired and then stored away. Why are they worth storing? At the time of storing it is often hard to say exactly when or why you might need them, but who knows when they might become useful? With all those possible uses in mind, you really don’t feel comfortable throwing anything away. So you keep acquiring and compiling and filing stuff away. It’s interesting. It keeps your mind fresh. And perhaps one day some of it will prove valuable.
        <li>Ideation</li>
        You are fascinated by ideas. What is an idea? An idea is a concept, the best explanation of the most events. You are delighted when you discover beneath the complex surface an elegantly simple concept to explain why things are the way they are. An idea is a connection. Yours is the kind of mind that is always looking for connections, and so you are intrigued when seemingly disparate phenomena can be linked by an obscure connection. An idea is a new perspective on familiar challenges. You revel in taking the world we all know and turning it around so we can view it from a strange but strangely enlightening angle. You love all these ideas because they are profound, because they are novel, because they are clarifying, because they are contrary, because they are bizarre. For all these reasons you derive a jolt of energy whenever a new idea occurs to you. Others may label you creative or original or conceptual or even smart. Perhaps you are all of these. Who can be sure? What you are sure of is that ideas are thrilling. And on most days this is enough.
        <li>Strategic</li>
        The Strategic theme enables you to sort through the clutter and find the best route. It is not a skill that can be taught. It is a distinct way of thinking, a special perspective on the world at large. This perspective allows you to see patterns where others simply see complexity. Mindful of these patterns, you play out alternative scenarios, always asking, “What if this happened? Okay, well what if this happened?” This recurring question helps you see around the next corner. There you can evaluate accurately the potential obstacles. Guided by where you see each path leading, you start to make selections. You discard the paths that lead nowhere. You discard the paths that lead straight into resistance. You discard the paths that lead into a fog of confusion. You cull and make selections until you arrive at the chosen path—your strategy. Armed with your strategy, you strike forward. This is your Strategic theme at work: “What if?” Select. Strike.
      </ol>

    </div>
  </div>
</div>
