<h1 class="hilite"><span>providentia security</span></h1>

<div class="row">
  <div class="col-md-4">
    <img src="/img/ProvLogo.png" alt="Providentia Security's logo" class="float-right img-fluid">
  </div>
    <div class="col-md-8">
          <p>Providentia Security, LLC is a consulting firm based out of Columbus, OH dedicated to helping small and medium sized businesses manage their security awareness training and cybersecurity needs. Run by my husband <a href="mailto:forest@providentiasecurity.com">Forest Mead</a> and I, the foundation of this joint venture is based on both my master's project and a desire from both of us to have a more friendly approach to cybersecurity.</p>

          <p>Providentia Security seeks to shift security awareness training away from the typical FUD model - Fear, Uncertainty, and Doubt - and instead towards training that educates, rather than dictates. Since a lot of security awareness training feels punitive, our goal is to make trainings meaningful to the end user, changing the way that security awareness training is delivered. We also  provide consulting services regarding existing cybersecurity plans, personalized services such as CIS Controls audit/assurance, and more.</p>

          <p>While our company is still in its early stages, we hope to help small and medium sized businesses not just implement, but understand, cybersecurity.</p>
</div>
</div>
