<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of *box emails</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="#">_dropbox/google docs_</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pharming">pharming</a>
    ░ <a href="./spearphishing">spearphishing</a>
    ░ <a href="./corpuslist">corpus</a>
     </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the dropbox/google doc phishing category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

<!--berkeley.edu-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
            <div class="card-img-overlay darken">
            <h3 class="card-title">berkeley_2</h3>
            <h4 class="card-subtitle">*box phish</h4>
        </div>
    </div>
</div>
    <!--end of individual cards-->

</div>
</div>
</div>
<!--end of card-column-->
