<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of bulk phishing</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="#">_bulk_</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="./boxphishing">dropbox/google docs</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pharming">pharming</a>
    ░ <a href="./spearphishing">spearphishing</a>
    ░ <a href="./corpus">corpus</a>
    </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the bulk phsishing category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

<!--amazon-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
      <img class="card-img-top" style="width: 10rem; height: 10rem;" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
        <div class="card-img-overlay darken">
            <h4 class="card-title">amazon_1</h4>
            <p class="card-text">bulk </p>
        </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="amazon bulk/clone phishing example">
          <div class="card-img-overlay darken">
              <h4 class="card-title">amazon_2</h4>
              <p class="card-text">bulk | clone </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
              <h4 class="card-title">amazon_3</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
              <h4 class="card-title">amazon_4</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="amazon bulk/clone phishing example">
          <div class="card-img-overlay darken">
              <h4 class="card-title">amazon_5</h4>
              <p class="card-text">bulk | clone </p>
          </div>
    </div>
</div>

<!--chase-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">chase_1</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">chase_2</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">chase_3</h4>
              <p class="card-text">bulk </p>
            </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">chase_4</h4>
              <p class="card-text">bulk | clone</p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">chase_5</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

  <!--eBay-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">ebay_1</h4>
              <p class="card-text">bulk | clone </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">ebay_2</h4>
              <p class="card-text">bulk | clone | spearphish</p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">ebay_3</h4>
              <p class="card-text">bulk | clone | spearphish</p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">ebay_4</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">ebay_5</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

<!--paypal-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">paypal_1</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">paypal_2</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">paypal_3</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">paypal_4</h4>
              <p class="card-text">bulk | clone </p>
          </div>
    </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">paypal_5</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

<!--personal-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
      <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
        <div class="card-img-overlay darken">
            <h4 class="card-title">personal_1</h4>
            <p class="card-text">bulk </p>
        </div>
    </div>
</div>

<!--indiana.edu-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">indiana.edu_1</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

<!--boeing-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">boeing_737_max_1</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

<!--iTunes-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">iTunes_1</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

<!--warcraft-->


    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 10rem; height: 10rem;">
        <img class="card-img-top" style="width: 10rem; height: 10rem;" src="https://source.unsplash.com/featured/" alt="Card image top">
          <div class="card-img-overlay darken">
              <h4 class="card-title">warcraft_1</h4>
              <p class="card-text">bulk </p>
          </div>
    </div>
</div>

    <!--end of individual cards-->

</div>
</div>
</div>
<!--end of card-column-->
