<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of clonephishing</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="#">_clone_</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pse">personal solicitation</a>
    ░ <a href="./spearphishing">spearphishing</a>
    ░ <a href="./corpus">corpus</a>
    </p>
  </div>
<br>
</div>
<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
  <p>Note for later: the clone phish was successful for podesta and powell because the bit.ly link wasn't detected by Gmail's spam filter. So even though it was a direct copy of one of their own emails with a malicious link, the spam filter had no way of telling, and let the email go through uninterrupted. The failure (or success, depending on how you look at it) was inherently due to human error.</p>
  <p>This attack takes an email and copies it word for word, changing links to malicious sites. The sending email is generally spoofed, so it looks legitimate to the unaware. These attacks can also mimic requests to share documents through places like Google Drive, Docusign, or Dropbox, prompting users to enter login credentials, which allows the attackers to gain access to their files.</p>
</div>
