<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>phishing email corpus</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
        <a href="./">main</a>
      ░ <a href="./bulk">bulk</a>
      ░ <a href="./clonephishing">clone</a>
      ░ <a href="./boxphishing">dropbox/google docs</a>
      ░ <a href="./malspam">malspam</a>
      ░ <a href="./pharming">pharming</a>
      ░ <a href="./spearphishing">spearphishing</a>
      ░ <a href="#">_corpus_</a>
    </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the clone phishing category.</p>
  </div>
</div>

    <table class="table table-dark table-hover">
      <thead class="thead-light">
        <tr>
          <th>Sender Information</th>
          <th>Subject</th>
          <th>Phishing Type</th>
          <th>Source</th>
          <th>Analysis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Amazon &lt;aw-confirm@ebay.com&gt;</td>
          <td><i>Customer Support Notification</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Amazon 1</a></td>
        </tr>
        <tr>
          <td>Amazon &lt;support@amazon.com&gt;</td>
          <td><i>Amazon Inquiry</i></td>
          <td>Bulk, Possible Clone</td>
          <td>Enron Corpus</td>
          <td><a href="#">Amazon 2</a></td>
        </tr>
        <tr>
          <td>Amazon Service &lt;service101@amazon.com&gt;</td>
          <td><i>Please Update Your Profile - Personal Information Error</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Amazon 3</a></td>
        </tr>
        <tr>
          <td>Amazon &lt;service@amazon.com&gt;</td>
          <td><i>***Urgent Fraud Prevention Group Notice***</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Amazon 4</a></td>
        </tr>
        <tr>
          <td>Amazon Customer Service &lt;payment-update@amazon.com&gt;</td>
          <td><i>Important Notice: Your Amazon.com Order (#002-5081318-3276061).</i></td>
          <td>Bulk/Possible Clone</td>
          <td>Enron Corpus</td>
          <td><a href="#">Amazon 5</a></td>
        </tr>
        <tr>
          <td>Chase Bank Inc. &lt;security@chase.com&gt;</td>
          <td><i>Security Update Notification</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Chase 1</a></td>
        </tr>
        <tr>
          <td>Chase &lt;service@chaseonline.com&gt;</td>
          <td><i>Please restore your account.</i></td>
          <td>Clone</td>
          <td>Enron Corpus</td>
          <td><a href="#">Chase 2</a></td>
        </tr>
        <tr>
          <td>Chase &lt;account@chase.com&gt;</td>
          <td><i>Account Authentication Required</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Chase 3</a></td>
        </tr>
        <tr>
          <td>Trashcan G. Straitjacket &lt;aw-confirm@chase.com&gt;</td>
          <td><i>Chase Security Measures</i></td>
          <td>Bulk/Possible Clone</td>
          <td>Enron Corpus</td>
          <td><a href="#">Chase 4</a></td>
        </tr>
        <tr>
          <td>Chase &lt;service@chase.server1.com&gt;</td>
          <td><i>Alert: Account Locked!</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Chase 5</a></td>
        </tr>
        <tr>
          <td>moreinfo@ebay.com &lt;moreinfo@ebay.com&gt;</td>
          <td><i>Question about item - Respond now !</i></td>
          <td>Clone</td>
          <td>Enron Corpus</td>
          <td><a href="#">eBay 1</a></td>
        </tr>
        <tr>
          <td>ebay &lt;service@chase.com&gt;</td>
          <td><i>Question from member</i></td>
          <td>Clone/Spearphish</td>
          <td>Enron Corpus</td>
          <td><a href="#">eBay 2</a></td>
        </tr>
        <tr>
          <td>eBay France &lt;aw-service@maiI.ebay.fr.asilefx.com&gt;</td>
          <td><i>Question for item #250026510836 - Respond Now</i></td>
          <td>Clone/Spearphish</td>
          <td>Enron Corpus</td>
          <td><a href="#">eBay 3</a></td>
        </tr>
        <tr>
          <td>eBay &lt;account2@masonproper.com&gt;</td>
          <td><i>Account Authentication Required</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">eBay 4</a></td>
        </tr>
        <tr>
          <td>eBay &lt;vote@eBay.com&gt;</td>
          <td><i>Your opinion counts</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">eBay 5</td>
        </tr>
        <tr>
          <td>service@paypal.com &lt;service@paypal.com&gt;</td>
          <td><i>Unauthorized access to your PayPal account !</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Paypal 1</a></td>
        </tr>
        <tr>
          <td>PayPal &lt;accounts@paypal.com&gt;</td>
          <td><i>Confirm Your Account</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Paypal 2</a></td>
        </tr>
        <tr>
          <td>PayPal Security&lt;security@paypal.com&gt;</td>
          <td><i>Information Regarding Your account</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">Paypal 3</a></td>
        </tr>
        <tr>
          <td>message &lt;support@securesite.com&gt;</td>
          <td><i>Your payment has been sent to sales@configure.us.dell.com</i></td>
          <td>Clone</td>
          <td>Enron Corpus</td>
          <td><a href="#">Paypal 4</a></td>
        </tr>
        <tr>
          <td>service@paypal.com &lt;service@paypal.com&gt;</td>
          <td><i>Your PayPal Billing Information records are out of date. Please update them immediately to restore your account.</i></td>
          <td>Bulk</td>
          <td>Enron Corpus</td>
          <td><a href="#">PayPal 5</a></td>
        </tr>
        <tr>
          <td>{Pullman & Assoc. | Wiseman & Assoc.| Steinburg & Assoc. | Swartz & Assoc. | Quartermain & Assoc.} &lt;legal@wpslaw.com&gt;</td>
          <td><i>none provided - see link</i></td>
          <td>Spearphishing/Malware</td>
          <td><a href="https://krebsonsecurity.com/2019/05/legal-threats-make-powerful-phishing-lures/">Krebs on Security</a></td>
          <td><a href="#">Krebs 1</a></td>
        </tr>
        <tr>
          <td>Givanildo S. &lt;givanildo@csemil.com.br&gt; | Reply-To: Maria Elisa &lt;patriciachandler0@gmail.com&gt;</td>
          <td><i>Grant Donation of €1,700,000</i></td>
          <td>Bulk</td>
          <td>Personal e-mail</td>
          <td><a href="#">Personal 1</a></td>
        </tr>
        <tr>
          <td>INDIANA.EDU SUPPORT TEAM &lt;supportteam01@indiana.edu&gt; | Reply-To: INDIANA.EDU SUPPORT TEAM &lt;spupportteam@info.lt&gt;</td>
          <td><i>CONFIRM YOUR ACCOUNT</i></td>
          <td>Bulk</td>
          <td><a href="https://kb.iu.edu/d/arsf#example">Indiana.edu Knowledge Base</a></td>
          <td><a href="#">Indiana EDU 1</a></td>
        </tr>
        <tr>
          <td>Apple &lt;REDJANG-DANCE959@APPLE.com&gt;</td>
          <td><i>Re: ( Payment Confirmed ) Your Invoice From Apple on May 6, 2018 9:48 am # AFW4ETGQOIF34GDR | [DRONE SELLER]</i></td>
          <td>Spearphishing</td>
          <td><a href="http://netsecops.info/bought-a-drone-from-apple-really/">NetSecOps</a></td>
          <td><a href="#">Apple NetSecOps 1</a></td>
        </tr>
        <tr>
          <td>Forensic &lt;info@isgec.com&gt;</td>
          <td><i>“Fwd: Airlines plane crash Boeing 737 Max 8</i></td>
          <td>Bulk/Malware</td>
          <td><a href="https://securityaffairs.co/wordpress/82500/cyber-crime/spam-boeing-737-max.html">Security Affairs</a></td>
          <td><a href="#">Boeing 737 Max</a></td>
        </tr>
        <tr>
          <td>Anonymous Hacker - Kimbery &lt;kimbery899@b.anonymous-observer.ml&gt;</td>
          <td><i>This is my last warning &lt;subject's email address!&gt;</i></td>
          <td>Spearphishing</td>
          <td><a href="https://pastebin.com/LQWeA6j1">Malware Traffic Analysis (Pastebin)</a></td>
          <td><a href="#">Sextortion 1</a></td>
        </tr>
        <tr>
          <td>Melinda O'Toole &lt;rohitha@amadili.info&gt;</td>
          <td><i>Re: Re: Meeting on Wednesday</i></td>
          <td>Malspam</td>
          <td><a href="https://pastebin.com/7GbVYu9q">Malware Traffic Analysis (Pastebin)</a></td>
          <td><a href="verbosecorpus#emotet_1">Emotet Malspam 1</a></td>
        </tr>
        <tr>
          <td>Steve Wolfram &lt; &gt;</td>
          <td><i>RE: Steve Wolfram Payment Remittance Advice</i></td>
          <td>Malspam</td>
          <td><a href="https://pastebin.com/TWdxY2Kq">Malware Traffic Analysis (Pastebin)</a></td>
          <td><a href="verbosecorpus#emotet_2">Emotet Malspam 2</a></td>
        </tr>
        <tr>
          <td>Accounting &lt;contabilidadcc@ruhega.com&gt;</td>
          <td><i>March Statement</i></td>
          <td>Malspam</td>
          <td><a href="https://pastebin.com/Xec3Ap5d">Malware Traffic Analysis (Pastebin)</a></td>
          <td><a href="#">Emotet Malspam 3</a></td>
        </tr>
        <tr>
          <td>HelloFax &lt;hellofax@santuariohotel.comgt;</td>
          <td><i>HelloFax, Someone Sent You a Fax</i></td>
          <td>Malspam</td>
          <td><a href=" https://pastebin.com/a8Qr2nY4">Malware Traffic Analysis (Pastebin)</a></td>
          <td><a href="#">Hancitor Malspam 1</a></td>
        </tr>
        <tr>
          <td>DocuSign Signature &lt;docusign@milaromanoff.com&gt;</td>
          <td><i>You got an invoice from DocuSign Electronic Service</i></td>
          <td>Malspam</td>
          <td><a href="http://malware-traffic-analysis.net/2019/04/02/index.html">Malware Traffic Analysis</a></td>
          <td><a href="#">Hancitor Malspam 2</a></td>
        </tr>
        <tr>
          <td>hidrohan otomotiv &lt;bilgi@hidrohan.com&gt;</td>
          <td><i>New Purchase & Catalogue Requisition</i></td>
          <td>Malspam</td>
          <td><a href="http://malware-traffic-analysis.net/2019/05/23/index.html">Malware traffic Analysis</a></td>
          <td><a href="#">Lokibot Malspam 1</a></td>
        </tr>
        <tr>
          <td>App.Support &lt;no_reply@appsupport.com&gt;</td>
          <td><i>Your access has been disabled</i></td>
          <td>Bulk</td>
          <td><a href="https://security.berkeley.edu/news/phishing-example-itunes-access-disabled">Berkeley Security</a></td>
          <td><a href="#">iTunes</a></td>
        </tr>
        <tr>
          <td>Google &lt;no-reply@accounts.googlemail.comgt;</td>
          <td><i>Someone has your password</i></td>
          <td>Spearphishing</td>
          <td><a href="https://retruster.com/blog/the-email-that-changed-america-would-you-have-fallen-for-it-d531f7e191cc">Retruster</a></td>
          <td><a href="#">Podesta</a></td>
        </tr>
        <tr>
          <td>Blizzard Entertainment &lt;a battle.net email account &gt;</td>
          <td><i> has gifted you: World of Warcraft In-Game Pet: Brightpaw!</i></td>
          <td>Bulk</td>
          <td><a href="https://blog.malwarebytes.com/cybercrime/2017/03/world-of-warcraft-phish-lures-victims-with-free-pet/">Malware Bytes Blog</a></td>
          <td><a href="#">Warcraft</a></td>
        </tr>
        <tr>
          <td>HR@berkeley.edu &lt;HR@berkeley.edu&gt;</td>
          <td><i>Message from human resources</i></td>
          <td>Spearphishing</td>
          <td><a href="https://security.berkeley.edu/news/phishing-example-message-human-resources">Berkeley Security</a></td>
          <td><a href="#">Berkeley 1</a></td>
        </tr>
        <tr>
          <td>Sass, Bradley &lt;sass@tamhsc.edu&gt;</td>
          <td><i>Your Dropbox File</i></td>
          <td>Dropbox Phish</td>
          <td><a href="https://security.berkeley.edu/news/phishing-example-your-dropbox-file">Berkeley Security</a></td>
          <td><a href="#">Berkeley 2</a></td>
        </tr>
        <tr>
          <td>

<!--        <tr>
          <td> &lt; &gt;</td>
          <td><i></i></td>
          <td></td>
          <td></td>
          <td><a href="#"></a></td>
        </tr> -->
      </tbody>
    </table>
  </div>
