<div class="container">
  <div class="row justify-content-center">
    <h3>>rhetorical analysis of phishing emails</h3>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="#">_main_</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="./boxphishing">dropbox/google docs</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pharming">pharming</a>
    ░ <a href="./spearphishing">spearphishing</a>
    ░ <a href="./corpuslist">corpus</a>
    </p>
  </div>
<br>

  <div class="row">

      <p>Since phishing emails are mimicry of legitimate communication, an analysis of the act itself (and not necessarily of the attacker) is what I have chosen to analyze. If we can understand what the rhetorical situations of these phishing emails are, we can understand how they affect the phishing victim. In this examination, the victim is the audience, and the attacker is the author.</p>

      <p>I'm also looking at these emails through the lens of Baudrillard's simulacrum  - in essence, I see these emails, especially the latter, as hyper-real. These phishing emails can mimic actual emails from corporations or prominent individuals so well that they become those emails to the uninitiated. A potential phishing victim sees this representation of reality - the hyperreality - as actual reality, so how do we deconstruct what's happening to bring the potential victim back to our own, <i>real</i> reality? Whew.</p>

      <p>Keeping in mind my consideration of the simulacrum should hopefully make sense of some of my analysis. I did also consider spending time analyzing ideas about why the phisher acted outside of the rhetorical situation of an email. However, the problem therein is that I can't get a clear answer from the attacker (who is an author in this context) because I don't know who they are. I can only assume it's profit, which could be a money or data flavored payload. (Or something else entirely. Lulz?) Further examination of the rationale for cybercrime would be an interesting study, but one that's outside the scope of this project for now.</p>

      <p>The following explanation of my framework is what I used to understand the artifacts when performing my analyses, essentially functioning as a rubric for understanding how a specific category of phishing emails work. I looked at roughly eight areas to form my analysis: the rhetorical situation, author, audience, intent, content, form, context, and cultural identity of the attacker and victim. I looked at how the rhetorical appeals (ethos, pathos, logos, and kairos) came into play, as well as how the idea of hyperreality, mimicry, and simulation manifested in the situation.</p>

      <h4>>why was the email sent?</h4>
      <p>The rhetorical situation was the first point of entry in my analysis so I could understand the act of sending an email at its base level. Since the email is not a genuine communication, but one masquerading as one, I considered the opportunity created and presented by this act of deception. I also considered how the situation was presented and interpreted by the victim. Is the email seemingly being sent from someone with an existing relationship to the victim? Alternatively, is the email more along the lines of the Nigerian Prince looking to spread his fortune to a lucky recipient? Perhaps it is a personal solicitation, a request for more information, or someone reaching out to the victim or the victim's company for the first time. What is the simulated power dynamic present between the audience and author in the situation? What prompted the email to be sent, outside of being a phishing attack? In considering the situation, I had to look at both the author (the attacker's false identity) and the audience (the victim). </p>

      <h4>>who sent the email?</h4>
      <p>I examined who the author of the text purported to be. I specifically looked for markers of ethos both in the email header and the body of the message. What I found interesting was that in some cases, the email header masked (spoofed) the sender's real email address. (My personal favorite was from "Trashcan G. Straitjacket.") Other times, the email was left unmasked. Why would they have chosen not to spoof the email header? It's possible that the attacker lacks knowledge on spoofing, and hoped the victim wouldn't notice the sender's address. It could have been other technical considerations, but we won't know in regards to these emails. However, we can look at how the spoof (or lack thereof) affected the hyperreality of the phishing email. While the lack of spoof was a dead giveaway to me, what about to a potential victim - Would they notice? How does the author make up for this potential dismantling of ethos? I was especially curious to see if there was extra effort put forth into the content of the unmasked emails, so I included that as a point of consideration in my analysis as well.</p>

      <h4>>who was the email's intended recipient?</h4>
      <p>After considering the author, I considered the audience of the email. Whom did the author intend to speak with? Was the email targetted towards an individual, or was it sent in a more general sort of way? A point I fixated on was whether or not the audience and author's false identity shared any common values. This is connected to the rhetorical situation's point of whether or not there was an existing relationship - perhaps there's been business conducted or potential new hire. In considering the primary audience, I also considered a potential secondary audience. If the recipient of the email wasn't its intended target, how does the attacker work to get access to whom it desires? </p>

      <h4>>what's the email's content and form?</h4>
      <p>Next, I looked at the content and form of the emails and how the two worked together to deliver the main argument. At its base form, I looked at the emails through the rhetorical triangle, seeing how the author used ethos, pathos, and logos to form an argument to the victim. In terms of argumentation logic, I chose to use Toulmin's methodology for understanding how the attacker forms their argument. I identify the overall claim of the email, the grounds for which it stands, and the warrants underlying the argument.</p>

      <p>I did consider the type of email for this analysis, so for instance, if it were a clone phishing email, that analysis would look very different for spearphishing or malspam. Alternatively, if it were a personal solicitation email, perhaps it more closely follows the genre of letter writing over the more quid-pro-quo style of business communications. In that instance, I would look at how the email operates through that lens of inquiry. Genre theory helps me understand how communication is structured in specific instances, but it is not the main focus in these analyses.</p>

      <p>And with content, comes form. I examined the structure of the text, imagery, and use of color. Does the organization of the email make it seem legitimate? What about proper language syntax? Are there spelling and grammatical errors you wouldn't expect to see in business communications? What about colloquialisms or technical terms?</p>

      <h4>>what is the email trying to do?</h4>
      <p>After I identified and understood content and form, I shifted focus towards how that manifested intent. Since the email is a simulation of real communication, I looked to see how the author presented their false intention. Was it a direct copy and paste from a legitimate email? If not, what sorts of persuasive techniques did the author use to convince the victim? I considered things such as the aggressiveness of delivery, and how exigency is demonstrated. I also considered word choices and how they related to persuasion - was it fear-based? How did the author incorporate those previously identified rhetorical appeals into their email to form an argument? How did these elements (or lack thereof) demonstrate exigency to the victim? Ultimately at this stage, I sought to understand how the email managed to mask the author's actual intention and its potential for convincing a victim (or not.)</p>

      <h4>>how do content and form affect interpretation?</h4>
      <p>Now that I understand the email's context and content, I move on to how that matches intent. That may seem obvious at first (to phish someone, right?) but we need to look a bit deeper with a few different viewpoints. The first viewpoint is the attacker's, and their purpose is obvious: to persuade the victim into compromising themselves. What about the presented author of the email - what is their intent? What about the victim's intent after reading the email?  Since it's a triadic "relationship" masked as dyadic between the audience and author, an understanding of how the mimicry entwines itself with intent is necessary. So how does the real author do this effectively, without blowing their cover?</p>

      <p>People respond to these emails because they work - 97% of people even state they can't tell the difference between regular and phishing email. These attacks succeed because the victims believe the author's intent to be genuine. This misunderstanding is due to a lot of different factors mentioned above - percieved existing relationships, persuasive techniques (especially those involving emotion) and other similarities in value systems between the email's "author" and the victim.</p>


      <h4>>how do these emails correspond to the nature of the attacker, victim, and their corresponding cultures?</h4>
      <p>Finally, I took all of these previous points to understand the nature of the phishing emails, and what it revealed about the production of phishing emails and their creators. I wanted to understand how these elements create an identity of the phisher themselves and their perception of their victims. I also looked to understand the culture of the phishing victims, both as an individual and the corporate culture surrounding security awareness. It's a fascinating question to think of - how does an attacker piece together what they perceive as the victim's identity? How do they know who the person is that they're targetting? These questions are more easily answered in some cases than others. For instance, bulk emails tend to care little about whom they reach, more that they reach someone; one successful attempt out of 10,000 still means payday, after all.</p>

      <h4>>so...now what?</h4>
      <p>This framework allowed me to move onwards towards analyzing security awareness training as well. The combination of both email and training analyses has led me onto some exciting discoveries, which I get into more in-depth within Phase 2. For now, enjoy reading the categorical analyses. At the bottom of the analysis are cards linking you to the artifacts used in the specific analysis category selected. Any risk of compromise (either through fake links or malware) is removed, so feel secure in viewing the artifacts. If you'd prefer to look at a more detailed list of the artifacts and where they've come from, please select the corpus link to view everything I used.</p>
  </div>
<p><center><h4><a href="#top">&#9954; beam me up, scotty_ &#9954;</h4></center></p>

</div>
