<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of malspam</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="./boxphishing">dropbox/google docs</a>
    ░ <a href="#">_malspam_</a>
    ░ <a href="./pharming">pharming</a>
    ░ <a href="./spearphishing">spearphishing</a>
    ░ <a href="./corpuslist">corpus</a>
     </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the malspam category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

    <!--krebs-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
            <div class="card-img-overlay darken">
                <h3 class="card-title">krebs_1</h3>
                <h4 class="card-subtitle">malspam</h4>
                <p class="card-text">this is also an example of spearphishing</p>
            </div>
        </div>
    </div>

    <!--boeing-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
              <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
                <div class="card-img-overlay darken">
                    <h3 class="card-title">boeing_737_max_1</h3>
                    <h4 class="card-subtitle">malspam</h4>
                    <p class="card-text">this is also an example of bulk phishing</p>
                </div>
          </div>
    </div>
    <!--emotet-->

    <div class="col-auto mb-3">
      <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top" href="rhetsec/phase1/email_analysis/verbosecorpus#emotet_1">
            <div class="card-img-overlay darken">
                <h3 class="card-title">emotet_1</h3>
                <h4 class="card-subtitle">malspam</h4>
            </div>
      </div>
    </div>

    <div class="col-auto mb-3">
      <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
            <div class="card-img-overlay darken">
                <h3 class="card-title">emotet_2</h3>
                <h4 class="card-subtitle">malspam</h4>
            </div>
      </div>
    </div>

    <div class="col-auto mb-3">
      <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
            <div class="card-img-overlay darken">
                <h3 class="card-title">emotet_3</h3>
                <h4 class="card-subtitle">malspam</h4>
            </div>
      </div>
    </div>

    <!--hancitor-->

    <div class="col-auto mb-3">
      <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
            <div class="card-img-overlay darken">
                <h3 class="card-title">hancitor_1</h3>
                <h4 class="card-subtitle">malspam</h4>
            </div>
      </div>
    </div>

    <div class="col-auto mb-3">
      <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
            <div class="card-img-overlay darken">
                <h3 class="card-title">hancitor_2</h3>
                <h4 class="card-subtitle">malspam</h4>
            </div>
      </div>
    </div>

    <!--lokibot-->

    <div class="col-auto mb-3">
      <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
            <div class="card-img-overlay darken">
                <h3 class="card-title">lokibot_1</h3>
                <h4 class="card-subtitle">malspam</h4>
            </div>
      </div>
    </div>
      <!--end of individual cards-->

  </div>
</div>
<!--end of card-column-->
