<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of malspam</div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="#">_malspam_</a>
    ░ <a href="./pse">personal solicitation</a>
    ░ <a href="./spearphishing">spearphishing</a>
    ░ <a href="./corpus">corpus</a>
     </p>
  </div>
</div>

<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
  <p>Malspam has malware or a malicious redirect script within a phishing email. Typically comes across as an email requesting someone to examine a file, which then downloads malware onto the individuals computer. Some famout examples of these types of attacks at work include Cryptolocker, Lokibot, and WannaCry. Malspam can also include the category of <i>pharming</i>, which is a technologically sophisticated phishing attack that doesn't rely on someone falling for bait. The "pharming" code is injected into a user's computer from a clicked link, which redirects someone to a malicious site using a technique called DNS cache poisoning. This attack changes the information stored within various caches (places website addresses and other data is stored for quick access later) and redirects the user to a site which looks legitimate in both URL and design. For example, it changes your cache so that wellsfargo.com's IP address is 169.63.0.12 when it's actually 159.45.66.143. That means you're logging into the malicious site until that cache is flushed, even if you type in wellsfargo.com yourself. It's virtually undetectable after it's happened, and you won't know until after it's happened that your information has been compromised. Malspam is a dangerous beast, and one that deserves attention.</p>
</div>
