<div class="row justify-content-center mb-5">
      <h1 align="center">&Vert; rhetorical analysis of pharming</h1>
</div>

<div class="d-lg-block d-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
        <a href="./">main</a>
      ░ <a href="./bulk">bulk</a>
      ░ <a href="./clonephishing">clone</a>
      ░ <a href="./malspam">malspam</a>
      ░ <a href="#">_PSE_</a>
      ░ <a href="./spearphishing">spearphishing</a>
      ░ <a href="./corpus">corpus</a>
    </h3>
  </div>
</div>


<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
       <a href="./">main</a> &#8286;
       <a href="./bulk">bulk</a> &#8286;
       <a href="./clonephishing">clone</a> &#8286;
       <a href="./malspam">malspam</a> &#8286;
       <a href="#">_PSE_</a> &#8286;
       <a href="./spearphishing">spear</a> &#8286;
       <a href="./corpus">corpus</a>
    </h3>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 17 October 2019.</b></p>
</div>

<p>
  Personal Solicitation Emails (PSE) typically follow the genre of letter writing. They tend to be personal, or request favors in exchange for information. The tone of these letters tends to be familiar, and often use emotive language or harsh threats (almost bordering bathos at times) to persuade their victim to become phished. PSE's are the classic "Nigerian Prince" or "craigslist" scams. For this category, I am using a framework of analysis developed by Derek Ross in his article, "Ars Dictaminis Perverted," where he describes the personal solicitation email as a specific genre of letter writing. In this, Ross discusses the 19 categories that define a PSE, each of which falls under the rhetorical appeals. If you'd like a detailed explanation of these, see his <a href="https://journals.sagepub.com/doi/abs/10.2190/TW.39.1.c" target="_blank" rel="noopener noreferrer">research and tables here</a>. Ethos constructed the identity of the author as real and having both the authority and ability to ask for help. The categories measured were Formality, Institutional Markers, Market Terminology, Nationality, Politeness, Religiosity, Safety, and Titles. Pathos focused on exhausting the reader emotionally and focused on the categories Adventure/roguishness, Charity, Death, Ego—Complimentary, Ego—Poor Letter Construction, and Honor. Logos attempted to prove that the author and letter were real. The categories examined here are Contact Information, Financial Specificity, Format, and Offers to Meet in Person.  Kairos is noted to only have one appeal of urgency, but it appeared in almost every letter examined by Ross and his team. These categories provide an ample rhetorical framework to look at the PSE as a subgenre of letter-writing and give an excellent framework for rhetorical analysis. The following paragraphs use each of these categories, represented by <b>bold</b> text, to understand how each email or email thread worked.
</p>

<h3>The Spanish Law & Investment Firm</h3>
<p>
  This unsolicited email functions as a proposal to invest a considerable amount of money in what seemed like a laundering effort. Ethos constructs itself through a variety of categories. <b>Formality</b> was generally abided by, although there was strange grammar within the mail itself. However, potential ESL constructions fall in line with the <b>nationality</b> category, as this investment firm is from Spain. They wanted you to know that, "Antonio Capilla, a financial and investment management lawyer and an investment consultant law firm," has all the <b>institutional markers</b> present to attempt to persuade the recipient that this email is legitimate. They demonstrate <b>market terminology</b> as well, repetitively using variants of the words invest, assist, and client throughout the letter. Incredibly <b>polite</b>, but concerned with their client's <b>safety,</b> they're operating well within their <b>title's</b> constraints as a financial and investment management lawyer, and hope that you believe them to get that fresh 30% of $10,000,000 USD. Pathos is formed through the <b>adventure/roguishness</b> category, stating that their client's sensitive position necessitates the investment of funds to the recipient in order "to make the fund release process easier," which sounds like money laundering, but who am I to judge? It also has a slight <b>ego-poor letter contruction</b> component to it, again due to potential ESL conventions within the grammar. This PSE demonstrates the logos appeal through both <b>financial specificity</b> (30% of US$10 Million Dollars) and <b>format</b>, with the email following the parameters of what constitutes a letter, to the letter - a greeting, body with the main idea, and a salutation.  Simple, efficient, and "honest." Finally, <b>urgency</b> is demonstrated only through a request to "kindly write me back urgently," and doesn't exactly scream "do this now!" Meeting 12 out of 19 parameters makes this a pretty well-constructed PSE with a majority of the common markers of a personal solicitation phishing email.
</p>

<h3>A Charity Donation from Maria Elisabeth</h3>
<p>
  This email is a series of emails I received over a short amount of time. Initially, I received two different phishing attempts - one from an Indian government email (which was presumed to be compromised), and another from a random Gmail address. Both directed me to contact Marie Elisabeth, but though different email addresses. I decided to respond to the second attempt, as I was a bit bored and wanted to see how far I could get with the phisher. Upon receiving my response, "Marie" responded with the initial phish. Ethos construction happened through <b>institutional markers</b>  and <b>titles</b> such as the name-dropping of a Forbes link to Marie Elisabeth's profile, as well as "SCHAEFFLER AG, HERZOGENAURACH" in her signature. The email was decidedly informal, and the writing in poor form, likely playing up the "elderly widow from Germany" appeal. <b>Nationality</b> played with <b>safety</b> here, as they haphazardly described how they wanted to remain incognito but gift this "blessing," assuring you to "please don't be bothered as to why you have been contacted for this and its genuineness as I have done so from a pure motive." I also had a few retorts to my apprehension, but it was unlike the initial polite pleading and begging to accept the money and not ask questions. Instead, they asked me to provide my information repeatedly, even after I asked if this was "real" or not. "If you are serious to receive the donations kindly provide us with your details in other to refer you to my bank okay," doesn't exactly instill confidence, especially saying it twice. Unfortunately, playing apprehensive did not coerce the phisher to try and persuade me, something that I would have gladly given the whole fake dossier I generated just for the occasion! I would suggest to any aspiring phishers reading these texts that you engage with your victim because if you make them feel connected to you (instead of scammed by you), they'd be willing to give you that sweet, sweet information much easier.
</p>
<p>
  Pathos focused on <b>charity</b> and <b>death</b>, due to her husband's death and her impending implied death she wants to give away all her money because it is of no use to her. By helping her take this massive amount of money, she's hoping that you use it to help others - a "pay it forward" situation. She plays on both <b>ego</b> categories subtlely, implying that I am "good" like churches, orphanages, and other charitable organizations shes also contacted, but does so haphazardly and struggles with English as a method of contact. She asks that "for the sake that it might seem too easy for you to receive this gift don't justify that life is easy, I would crave your indulgence not to refer any person whatsoever to me so that I can have my peace." She is "doing this as a free-spirit gift," and "made the contact myself to you, therefore, don't refer any person and don't make a public/media show of this as I would not like any publicity of any sort." The intent is clearly for you to feel sorry for this massively wealthy but widowed, elderly German woman.
</p>
<p>
  Logos is present within all four categories outlined by Ross. You see it in <b>contact information</b> with the Forbes profile and multiple email addresses being sent to respond to in the initial "bait" cast. In regards to <b>financial specificity</b>, not only does the title of "Cash Grant Donation of €1,700,000" quantify this but also her admission of giving you that amount of money as a beneficiary out of a total of €50 million! You're not the only piece in this puzzle, but you're still a large one. The initial response followed the letter <b>format</b> amply; however, replies were quick and ill-thought-out in regards to keeping the form. Finally, <b>offers to meet</b> were outright rejected due to the desire to keep this out of the public eye. This email also had a distinct lack of urgency, leaving responding on my terms. Perhaps it was a language barrier, but again there was nothing I saw that prompted me to reply immediately. By meeting 15 out of 19 categories, this email was a great example of a PSE, as defined by Ross.
</p>

<h3>The Columbus Rental Application</h3>
<p>
  This email is in response to my husband and I looking for a rental property in anticipation of an out-of-state move on craigslist. Since I solicited this email, it operated a bit differently than the unsolicited emails received. Ethos was formed through <b>market terminology</b>, repeating variations of owning or renting the house, taking care of the property, and mentioning maintenance or maintaining the property throughout the letter. It also manifested through <b>institutional markers</b> and <b>titles</b> related to the World Mission, a missionary operation which Reverand Joseph Cameron King & Family were all members of. He assured me the prospect was <b>safe</b>, because they are simply renting "due to our transfer to (Topeka, Kansas) on a Missionary Work in a church here named World Mission, so we are renting it out since we need someone to take good care of the property on our absent." They reiterated safety over and over throughout the email, with mentions abotu realtors charging too much comission and being unhappy about that, so the listings were left up but assured it was not for sale, that he did own the property, and I could even come to look at it if I wanted to. The email was generally <b>polite</b> but stern, probably trying to emulate the Reverand personality.
</p>
<p>
  Pathos was abundant in this email. King assured me that "we are renting the house to you base on trust and again i will want you to stick to your words," holding me to <b>honor</b> his wishes else I would be a disappointment. He wanted me to feel good about the missionary work he was doing and was looking for me to do an act of goodwill (<b>charity</b>) by renting from him. The email had strong notes of <b>ego-poor letter construction</b>, but I was not informed if Reverand King was identifying as an "other" or not to play up this appeal. The religiosity present in ethos also translated to pathos as well, but this was not necessarily a pathos-specific marker for Ross.
</p>
<p>
  Logos was presented through <b>contact information</b> and <b>financial specificity</b>, with a phone number, address, and monthly cost given as expected for a rental inquiry. The email followed the conventions of a letter, and even included a long list of application information I was expected to fill out. Unfortunately for this phisher, the request for a family photograph, whether or not I was home at night, and other too-personal questions instantly told me this was an illegitimate rental. King did display urgency, requesting I text him at the number given immediately after applying, presumably because he didn't check his email often, which showed he did care about getting back to me as soon as he could. I appreciated the promptness; it was much less murky than others who seemed to care less whether or not they successfully phished me! Overall, this email hit 14 of 19 categories, making it a good representation of a PSE.
</p>

<h3>The St. Cloud House for Rent</h3>
<p>
  This email is also in response to when my husband and I were looking for a rental property locally when we still lived in Minnesota. We solicited this individual through craigslist, and after a follow-up email from no initial response, they responded apologetically. It's been one of my favorite phishing/scam emails that I've ever received due to the blatant copy-paste of descriptions of UNESCO and Education for All as his job descriptions, the random mention of his wife as a part of Joyce Meyer ministries, and the desire to have "a good and responsible tenant that is God fearing and a good christian." this email was more religious than the previous example, and that supposedly came from a Reverand! It was all so bathetic that I remember sharing it with a few people in awe of how ridiculous it sounded.
</p>
<p>
  Ethos presented itself through <b>institutional markers</b> and <b>titles</b>, namely mentioning and linking both UNESCO and EFA and mentioning that his wife is with Joyce Meyer, who is an "American Charismatic Christian author and speaker." Adding in bible quotes and letting me know "that is not the money that really matters because we believe both the rich and poor deserve a better home" really hit home with <b>religosity</b>, but unfortunately, a bit too much for it to be useful as a credibility enhancer. Ultimately, their attempt at using religion to bolster ethos evolved it into pathos over ethos, hence my description of bathetic earlier. They attempted to make up for the failings of ethos with reassurances of <b>safety</b>, stating that they were "sorry for the lateness in my response and as am very busy at work lately," hopefully removing the fear that it's something different than what it is. They also explain in detail how, if I were to see the house listed for sale, it was due to agents inflating the price, and they became unhappy with how it was being handled and decided to rent it out. This scenario doesn't make sense because firstly, you'd want to make as much money as you can, right? And secondly, if the home were delisted, the agents would have removed the listings. But maybe if you're unfamiliar with how that works, it wouldn't be strange to you, and everything explained to you felt safe.  Especially since the only reason why he can't meet us in person is "now that we are out of the state my reasons for leaving with my family is that i love my family and i go everywhere with them now that we are not around." A family man, he wants to take care of the obligations he had to leave when moving for work! The only hint I received that this could be part of the <b>nationality</b> category was when they mentioned they "spent less time in the States so I could not get a hold on any Realtor to handle this rent issue," but no indication that they were foreign aside from language use.
</p>
<p>
  Surprisingly, this only met a single category in pathos from Ross - <b>ego-poor letter consruction</b> - although I'm not exactly sure why it was written like this as there were no indicators within the email that they wanted to identify as an "outsider." I did also see the religion and "do-gooder" description of missionaries in EFA <i>and</i> UNESCO and as a stretch into bathos. It did however meet every marker of logos, with <b>contact information</b> represented with not only two places of employment, but a phone number and the address where the house is available for rent. <b>Financial specificity</b> was in the amount of rent and security deposit. The <b>format</b> was slightly relevant; it was a letter, and they certainly tried to follow conventions, but it was very poorly written. Finally, like many others, the individual could not <b>meet in person</b>, but could conduct business through the mail due to being out of state.
</p>
<p>
  Relying on me to respond to this letter, I have been left once again with a lack of kairos. However, 13 out of 19 markers make this a relatively good example of a PSE. While I was disappointed a decent property ended up being yet another craigslist scam, it made a great (and hilarious) example in my phishing email analysis, so I'm happy with the results in the end.
</p>

<h3>"Been Trying to Reach You"</h3>
<p>
  A rather odd email, I received a seemingly disappointed yet urgent notice from a woman named Elizabeth Lyonsfield. Meeting absolutely none of the ethos markers Ross defined, I had no idea how to assess who this woman was or why she was contacting me. Pathos was constructed through <b>ego-poor letter construction</b>, but only because the grammar and capitalization were suspect. Elizabeth meets logos only through having a proper letter <b>format</b>.  She pleads for me to react <b>urgently</b>, and states, "I hope to hear back from you soonest." But since I have no idea who she is, where she's from, or what she wants, I didn't respond. Only receiving 3 out of 19 markers makes this PSE pretty rough.
</p>

<h3>A Private Proposal</h3>
<p>
  This phishing email was very bland and generally did not show many categorical markers found in PSEs. Ethos was constructed through a single <b>institutional marker</b>, "DBS Singapore." There is no indication as to what this is, though, so calling it a marker is a broad definition. Presumably located in Singapore, this would also pull on the <b>nationality</b> marker, perhaps making sense of the lack of content due to a language barrier. I feel like I'm reaching here a bit with both of these markers since they're the only definable ethos traits within Ross' framework present within this email - and barely present at that. Pathos is present within the <b>ego-poor letter construction</b> category, but there is no more information outside of, "Greetings, I have a Private proposal of 58 Million EUR for your consideration," feeling like a shaky definition in pathos as well. Logos was straightforward with the <b>financial specificity</b> category, stating that the proposal was for €58 million. The <b>format</b> was that of a letter - greeting, middle, end - but not so much informative. Notably, there was a lack of urgency in this email. Barely meeting 5 of 19 categories, it does not make an effective PSE but is still technically a phishing email.
</p>

<h3>Conclusion</h3>
<p>
  While I don't personally feel that these emails are particularly effective as phishing emails, especially compared to other categories, due to the overly emotive, remarkably (un)reasonable request that you provide private information to an unknown individual for millions of dollars out of the blue (or worse, pay them <i>and</i> compromise yourself) people still fall for them, so it's essential to understand why they work.
</p>
<p>
  I was disappointed that while Ross observed urgency as one of the two most widespread appeals, I did not experience that observation even with the solicited emails, only seeing 50% of my sample displaying this. Kairos remained decidedly lukewarm, at best. Maybe the phishers were feeling especially lazy when emailing me, but I did not see any exemplifying the definition of "the less time an audience thinks they have, the less time they will take to analyze the email." But overall, the PSE category seems to follow many of the conventions outlined by Ross. It is a practical framework to use when wanting to understand the rhetorical appeals and conventions present within well-written and thought-out phishing emails, and solidly establishes those types of PSE within the letter-writing genre.
</p>

<p><center><h4><a href="#top">&#9954; beam me up, scotty_ &#9954;</h4></center></p>
