<div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; rhetorical analysis of spearphishing </h1>
</div>

<div class="d-lg-block d-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
        <a href="./">main</a>
      ░ <a href="./bulk">bulk</a>
      ░ <a href="./clonephishing">clone</a>
      ░ <a href="./malspam">malspam</a>
      ░ <a href="./pse">PSE</a>
      ░ <a href="#">_spearphishing_</a>
      ░ <a href="./corpus">corpus</a>
    </h3>
  </div>
</div>


<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
      <h3 align="center">
       <a href="./">main</a> &#8286;
       <a href="./bulk">bulk</a> &#8286;
       <a href="./clonephishing">clone</a> &#8286;
       <a href="./malspam">malspam</a> &#8286;
       <a href="./pse">PSE</a> &#8286;
       <a href="#">_spear_</a> &#8286;
       <a href="./corpus">corpus</a>
    </h3>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress. Last updated 16 October 2019.</b></p>
</div>

<p>
  Spearphishing is a sophisticated phishing attack that combines social engineering, publicly available data, and personalized emails phishers use to target their victims into giving them information, credentials, or financial gain. It gets its name due to the targetted nature of the attack, with these emails having had the time spent on them to target individuals. Spearphishing can and does include things like vishing (voice phishing) and smishing (SMS-phishing); however, it is outside of the scope of this project in regards to analyzing phishing emails. I do intend to address that in my future work outside of this portfolio, so bookmark me and come back if you'd like to find out more from my perspective.
</p>

<p>
  A subset of this type of attack is called <b>whaling</b>. As the name implies, it is a type of spearphishing attack aimed at bigger fish - high-level executives - which is incredibly effective as they often do not take part in security awareness training with their employees. A great example of this is the <a href="./corpus#podesta_1" target="_blank">Podesta email phish</a>, which was the same one responsible for <a href="https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts" target="_blank">Colin Powell's email leaks as well. If you're curious about how that one worked, I covered the Podesta email phish in great detail  <a href="./clonephishing" target="_blank">here.</a> I am using two types of examples for the spearphishing category here: a general (and typical) spearphish and extortion - dubbed "sextortion" in the media. While each of these function differently, they still are using the same phishing mechanisms to capture victims' information, deposit a payload, or compromise them financially.
</p>

<h3>General Spearphishing</h3>
<p>
  Since spearphishing generally behaves as if it's an email from someone within an organization to another within it. Usually, it's an attempt to mimic existing business relationships through the use of email templates from companies such as eBay, Apple, Facebook, or other commonly used platforms. This type of data can come from a company's database that is compromised and leaked or publicly available data such as usernames and profiles or gathered through social engineering tactics.  Spearphishing attacks generally create their ethos through the use of company names/logos, spoofing email addresses to match the organizations, or outright cloning business communications. The method of how the author displays ethos varies depending on what they're doing. For instance, a spearphishing clone email looks like a receipt for a <a href="./corpus#NetSecOPs" target="_blank">purchase</a> or a <a href="./corpus#podesta_1" target="_blank">compromised account alert</a>, while other spearphishing attempts can look more like <a href="./corpus#berkeley_1" target="_blank">a document from HR</a> or a <a href="./corpus#personal_9" target="_blank">giveaway announcement within a specific community</a>. Most of the time, spearphishing emails follow the conventions of the "genre" they are using or impersonating. As such, the rhetorical appeals, tropes, and form present in the email (the argument) vary depending on their use. As such, analyzing this category as a generality seems less useful than directing you towards other types of phishing, especially since they employ the same tactics, but with added personalization. Instead of "member" or "hello sir/madam," you'll see your name or other identifying information that can lead you to believe it's genuine. Phishing plus social engineering equals spearphishing. Keeping that in mind makes this category that much easier to understand on a rhetorical level.
</p>

<h3>Sextortion</h3>
<p>
  A spearphishing type that deserves a bit more attention is extortion scams, specifically "sextortion" scams. These typically imply that the victim has been caught using illegal forms of pornography (such as child or animal pornography,) masturbating while at work, or have incriminating pictures or videos of themselves engaging in sexual acts. These campaigns have been incredibly popular - and successful - in the last few years, causing damage both financially and unfortunately, <a href="https://www.theregister.co.uk/2014/03/18/romania_ransomware_murder_suicide/" target="_blank" rel="noopener noreferrer">physically</a>. They've made the rounds recently, too. In 2018 and 2019, there was a series of sextortion bitcoin scams designed to scare people into giving the phishers money. In this phishing scam specifically, emails and their old connected passwords from data breaches leaked onto the internet were inserted into these emails to catch the attention of the victim.  As you would expect from an extortion-based scam, they rely on an immediate emotional response to work. The fear of the unknown in regards to what a hacker can do, plus the cultural aspect of shame and guilt in regards to pornography usage, is what I think makes these particular extortion spearphishing campaigns so successful.
</p>
<p>
  Phishers state the emails are sent from a fake or unmonitored email, cutting off the victim from any possibility of contact outside of a Bitcoin (BTC) address, and thus the identity of the phisher is constructed as a hacker who put a virus on a pornography website. Their credibility is enhanced further by showing an old password used for that email, most likely obtained through a data leak/breach. The discussion of RAT/trojans and how the email is spoofed is an example of "in" language that can be used to complicate, create fear, and obfuscate the situation that it's just a phishing email, and none of this is true. They also use threatening language and emotional manipulation, with threats to ruin the life of the victim and financial extortion to prevent video leaks. Plus, since <a href="https://www.theguardian.com/technology/2017/may/15/digital-gold-why-hackers-love-bitcoin-ransomware">Hackers Love Crypto&trade;</a>, the mention of a Bitcoin wallet only further adds to that image the all-powerful and elusive hacker, dangling their unfortunate, helpless victim by a digital thread, ready to end their life in a simple click. You're the entertainment, and this hacker isn't afraid to cause you hell in exchange for some coin.
</p>
<div class="justify-content-center">
  <img src="/img/hacktheplanet.gif" class="img-fluid mx-auto mt-3 mb-3 d-flex"></a>
</div>
<p>
  Sextortion scams have a lot of underlying assumptions at play to be effective. These attacks assume the user uses porn sites, especially those that may be considered risque (<a href="https://www.apa.org/monitor/2012/12/jn" target="_blank" data-toggle="tooltip" title="Don't worry, it's Safe For Work!">while being decidedly (unfortunately?) normal</a>) such as "young Teens." However, knowing these are for <i>anyone</i> whose data leaked in a breach, it's unsurprising they'd use something that "common" while still playing the shame card - <a href="./corpus#sextortion_1" target="_blank">"The last time you visited a erotic [sic] website with young Teens [...] You are very perverted!"</a> I did some digging around and found an article from MalwareBytes that discusses the <a href="https://blog.malwarebytes.com/cybercrime/2019/02/sextortion-bitcoin-scam-makes-unwelcome-return/" rel="noopener noreferrer" target="_blank">recent wave of sextortion scams</a> from February 2019, and what struck me more was not the content but the user comments. Across the board, it seems as if these are "missing their mark," with people generally reporting across the board how funny or misplaced they were for contacting them in the first place due to not using porn or having a webcam. What these emails fail to consider then is that perhaps the user doesn't use pornography at all, or that perhaps they reject camera interfaces on their computers by either covering, disabling, or removing them entirely. I suppose the number of people who reject camera interfaces or don't use pornography is probably minimal. The sample size from a comments section on a security blog certainly isn't a valid metric to use for a general analysis, but I'm guessing the non-porn or security-conscious folks were not a consideration to the phisher. That being said, these emails still have been <a href="https://blog.malwarebytes.com/scams/2019/08/the-lucrative-business-of-bitcoin-sextortion-scams/">relatively financially successful</a>, with one BTC address used in this phishing campaign receiving .28 BTC (around $2300 USD) in one week.  There's a market for these types of emails, or they wouldn't keep going around every so often.
</p>

<h3>Conclusion</h3>
<p>
  Spearphishing emails operate as a personalized version of general phishing emails and can vary greatly depending on the form taken. Since the "spear" implied a targetted attack, any email that is personally addressed (as opposed to a bulk mailing) is considered a spearphish. These aren't always individually written, and they <i>could be</i> compiled and auto-generated based on whatever database of leaked user data is available. But measures are taken to make them feel personal, and that is the dangerous aspect of spearphishing. Because these emails take a little more effort from the phisher to pull off successfully, chances are they're more put together and less easy to spot. After all, if you're going to invest your time in creating a dossier on a victim, you might as well do it right the first time.
</p>


<p><center><h4><a href="#top">&#9954; beam me up, scotty_ &#9954;</h4></center></p>
