<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of spearphishing </div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pse">personal solicitation</a>
    ░ <a href="#">_spearphishing_</a>
    ░ <a href="./corpus">corpus</a>
    </p>
  </div>
<br>
  <div class="row justify-content-center">
    <p>Here you will find links to the analyses I have done for the spearfishing category.</p>
  </div>
</div>

<!--beginning of cards-->

<div class="container-fluid mt-4">
  <div class="row justify-content-center">

<!--eBay-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
            <div class="card-img-overlay darken">
            <h3 class="card-title">ebay_2</h3>
            <h4 class="card-subtitle">bulk/clone/spearphish</h4>
            <p class="card-text">this is also an example of clone & spearphishing</p>
        </div>
  </div>
</div>

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
      <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
        <div class="card-img-overlay darken">
            <h3 class="card-title">ebay_3</h3>
            <h4 class="card-subtitle">bulk/clone/spearphish</h4>
            <p class="card-text">this is also an example of clone & spearphishing</p>
        </div>
  </div>
</div>

<!--krebs-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
              <div class="card-img-overlay darken">
              <h3 class="card-title">krebs_1</h3>
              <h4 class="card-subtitle">spearphishing</h4>
          <p class="card-text">this is also an example of malspam</p>
      </div>
  </div>
</div>

<!--netsecops-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
            <div class="card-img-overlay darken">
            <h3 class="card-title">netsecops_1</h3>
            <h4 class="card-subtitle">spearphishing</h4>
      </div>
  </div>
</div>

<!--extortion-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
            <div class="card-img-overlay darken">
            <h3 class="card-title">extortion_1</h3>
            <h4 class="card-subtitle">spearphishing</h4>
      </div>
  </div>
</div>

<!--podesta-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
          <h3 class="card-title">podesta_1</h3>
          <h4 class="card-subtitle">spearphishing</h4>
      </div>
  </div>
</div>

<!--berkeley-->

    <div class="col-auto mb-3">
        <div class="card text-white" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="amazon bulk phishing example">
          <div class="card-img-overlay darken">
          <h3 class="card-title">berkeley_1</h3>
          <h4 class="card-subtitle">spearphishing</h4>
      </div>
  </div>
</div>

    <!--end of individual cards-->

</div>
</div>
</div>
<!--end of card-column-->
