<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of spearphishing </div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pse">personal solicitation</a>
    ░ <a href="#">_spearphishing_</a>
    ░ <a href="./corpus">corpus</a>
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
</div>
