<div class="container">
  <div class="row justify-content-center">
    <div class="typewriter">
      <div class="typewriter-text">>rhetorical analysis of spearphishing </div>
    </div>
  </div>
<br>
  <div class="row justify-content-center">
    <p>
      <a href="./">main</a>
    ░ <a href="./bulk">bulk</a>
    ░ <a href="./clonephishing">clone</a>
    ░ <a href="./malspam">malspam</a>
    ░ <a href="./pse">personal solicitation</a>
    ░ <a href="#">_spearphishing_</a>
    ░ <a href="./corpus">corpus</a>
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
  <p>Spearphishing is a more sophisticated attack which uses publicly available data, such as the user's personal details and work information, to boost the sender's ethos in an attempt to make a user feel they are legitimately connected. Information gathered for this attack can also come from information that has been leaked through data breaches or data mining about an individual or corportation. A subset of this type of atatck is called <i>whaling</i>. As the name implies, it is a type of spearphishing attack aimed at bigger fish - high-level executives - which is incredibly effective as they often do not take part in security awareness training with their employees. A great example of this is the <a href="./email_analysis/corpus#podesta_1" target="_blank">Podesta email phish</a>, which was the same one responsible for <a href="https://www.vice.com/en_us/article/mg7xjb/how-hackers-broke-into-john-podesta-and-colin-powells-gmail-accounts" target="_blank">Colin Powell's email leaks as well.</p>
</div>

<p><center><h4><a href="#top">&#9954; beam me up, scotty_ &#9954;</h4></center></p>
