<p>Welcome to the verbose corpus! Here you will find each email I looked at, as close as possible to its original form. Each email is contained within its own scrollbox. If you'd like to read more of a selected email, just scroll and you'll see more! I've removed all links towards malicious sites or programs, so you can feel confident in browsing these materials. Enjoy!</p>

<!-- Amazon Emails -->

<div class="m-3 dashed-box">
  <h5 id="amazon_1">amazon 1</h5>
  <h5>source: <a href="http://www2.aueb.gr/users/ion/data/enron-spam/" target="blank" rel="noopener noreferrer">Enron Spam Cache</a></h5>
    <div class="email-box">
      <div class="accordion" id="headerA1">
          <div class="card-header" id="headingA1">
            <h2 class="mb-0">
            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseA1" aria-expanded="true" aria-controls="collapseA1">
              Email Header Information
            </button>
            <div id="collapseA1" class="collapse" aria-labelledby="headingA1" data-parent="#headerA1">
              <p>From aw-confirm@ebay.com  Mon Jan  8 05:42:31 2007 Return-Path: <aw-confirm@ebay.com>
              <br>X-Original-To: user@login.example.com
              <br>Delivered-To: user@login.example.com
              <br>Received: from mail.example.org (mail.example.org [192.168.4.9]) by example.com (Postfix) with ESMTP id 3020246A1A; Mon,  8 Jan 2007 05:42:31 -0500 (EST)
              <br>Received: from mail.com (adsl-65-67-75-241.dsl.fyvlar.swbell.net [65.67.75.241]) by mail.example.org (Postfix) with SMTP id 1AC28131FD0B; Mon,  8 Jan 2007 05:42:31 -0500 (EST)
              <br>Reply-To: <aw-confirm@ebay.com> From: "Amazon" <aw-confirm@ebay.com>
              <br>Subject: Customer Support Notification
              <br>Date: Mon, 8 Jan 2007 04:57:57 -0600 MIME-Version: 1.0 Content-Type: text/html; charset="Windows-1251" Content-Transfer-Encoding: 7bit X-Priority: 1 X-MSMail-Priority: High X-Mailer: Microsoft Outlook Express 6.00.2600.0000 X-MimeOLE: Produced By Microsoft MimeOLE V6.00.2600.0000
              <br>Message-Id: <20070108104231.1AC28131FD0B@mail.example.org> To: undisclosed-recipients:; Status: RO X-Status: X-Keywords: X-UID: 592
              </p>
            </div>
          </div>
        </div>
    <img src="http://g-images.amazon.com/images/G/04/icons/amazon-logo.gif" class="mt-3 mb-3"><br>
      <p>Dear <strong>Amazon</strong>&reg; member, <br>
        <br>This is your final warning about the safety of your Amazon account. If you do not update your billing informations your
        access on Amazon features will be restricted and the user deleted. This might be due to either following reasons: <br> <br> <br> - A recent change in your personal information (i.e. change of address) <br> - Submiting invalid information during the initial sign up process. <br> - An inability to accurately verify your selected option of payment due an internal error within <br>               our processors. <br> <br>  To securely confirm your Amazon information please click on the link bellow: </p> <pre>     <a
        href="#" data-toggle="tooltip" title="FAKE LINK: http://stud.kbtu.kz/icons/.secure-red/amazon/sign-in/2Fhomepage&protocol=httpsaction=sign-out/exec.php?cmd=sign-in">htt
        p://www.amazon.com/gp/subs/primeclub/account/homepage.html/ref=ya_hp_sub_1/104-4436503-7329515?ie=UTF8&amp;method=GET</a>
        </pre> <p>We encourage you to log in and perform the steps necessary to restore your   account access as soon as possible. Allowing your account access to remain limited   for an extended period of time may result in further limitations on the use   of your account and possible account closure. </p> </p> <p>Thank you for using Amazon! <br>  The Amazon Team</p> <p>&nbsp;</p> <pre align="left">         <font size="2"><a
        href="#" data-toggle="tooltip" title="FAKE LINK: http://stud.kbtu.kz/icons/.secure-red/amazon/sign-in/2Fhomepage&protocol=httpsaction=sign-out/exec.php?cmd=sign-in">Con
        ditions of Use</a> | <a href="#" data-toggle="tooltip" title="FAKE LINK: http://stud.kbtu.kz/icons/.secure-red/amazon/sign-in/2Fhomepage&protocol=httpsaction=sign-out/exec.php?cmd=sign-in">Pri
        vacy Notice</a> &copy; 1995-2007, Amazon.com,    Inc. or its affiliates. </font></pre> </body> </html>
      </div>
    <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<div class="m-3 dashed-box">
  <h5 id="amazon_2">amazon_2</h5>
  <h5>source: <a href="http://www2.aueb.gr/users/ion/data/enron-spam/" target="blank" rel="noopener noreferrer">Enron Spam Cache</a></h5>
  <div class="email-box">
  <div class="accordion" id="headerA2">
      <div class="card-header" id="headinga2">
        <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseA2" aria-expanded="true" aria-controls="collapseA2">
          Email Header Information
        </button>
          <div id="collapseA2" class="collapse" aria-labelledby="headingA2" data-parent="#headerA2">
            <p>From support@amazon.com  Tue Sep 19 10:18:15 2006
              <br>Return-Path: <support@amazon.com>
              <br>X-Original-To: user@login.example.com
              <br>Delivered-To: user@login.example.com
              <br>Received: from mail.example.org (mail.example.org [192.168.6.4])
              <br>by example.com (Postfix) with ESMTP id 12D2C469D5
              <br>for <user@login.example.com>; Tue, 19 Sep 2006 10:18:15 -0400 (EDT)
              <br>Received: from 192.168.6.4 (unknown [217.52.40.131])
              <br>by mail.example.org (Postfix) with SMTP id D49CC6FA755
              <br>for <user@example.com>; Tue, 19 Sep 2006 10:18:13 -0400 (EDT)
              <br>Received: from 7lvba.lmqp6.com (HELO em5c4) [14.89.67.245]
              <br>by 192.168.6.4; Tue, 19 Sep 2006 20:11:51 +0500 Message-ID: <3$97dr5d$985107h2-n$b@bjsz.rp6t8kt>
              <br>From: "Amazon" <support@amazon.com> To: <user@example.com>
              <br>Subject: Amazon Inquiry Date: Tue, 19 Sep 06 20:11:51 GMT X-Mailer: Microsoft Outlook Express 6.00.2462.0000 MIME-Version: 1.0 Content-Type: multipart/alternative; boundary="2F.E__3D8E.79" X-Priority: 3 X-MSMail-Priority: Normal Status: RO X-Status: X-Keywords:                 X-UID: 283

            </p>
          </div></div>

            <table border="0" width="100%" cellspacing="0" cellpadding="0">  <tr bgcolor="#FFFFFF">    <td align="left"> <a href="#" data-toggle="tooltip" title="FAKE LINK: http://rds.yahoo.com/_ylt=A0geurgnV4VEPnoB98hXNyoA;_ylu=X3oDMTE5aXJmaGJ2BGNvbG8DZQRsA1dTMQRwb3MDMTIzBHNlYwNzcgR2dGlkA0Y3NTFfMTC1/SIG12hhjkhah/EXP=1149675687/**http://www.google.com/url?q=http://211.94.240.21/_us/obidos/index.html?ref=pd_irl_gw_r/102-8758036-5777720?opt&page=recs/sign-in-secure.html&response=tg/recs/recs-post"><img src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/logo-and-your-done.gif" width="155" alt="Amazon.com Logo" height="42" border="0" class="mt-3 mb-3"></a></td>
            <td align="right"><img src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/right-topnav-default.gif" width="300" usemap="#right_top_nav_map" height="22" border="0"/>  <map name="right_top_nav_map">
            <area shape="rect" href="#" data-toggle="tooltip" title="FAKE LINK: http://rds.yahoo.com/_ylt=A0geurgnV4VEPnoB9 8hXNyoA;_ylu=X3oDMTE5aXJmaGJ2BGNvbG8DZQRsA1dTMQRwb3MDMTIzBHNlYwNzcgR2dGlkA0Y3NTFfMTC1/SIG=12hhjkhah/EXP=1149675687/**http://www.google.com/url?q=http://211.94.240.21/_us/obidos/index.html?ref=pd_irl_gw_r/102-8758036-5777720?opt=oa&page=recs/sign-in-secure.html&response=tg/recs/recs-post" coords="0,0,80,21" />
            <area shape="rect" href="#" data-toggle="tooltip" title="FAKE LINK: http://www.amazon.com/exec/obidos/registry/wishlist/ref=cs_ae_wl/103-5622924-8717442" coords="85,0,151,21" />
            <area shape="rect" href="#" data-toggle="tooltip" title="FAKE LINK: http://rds.yahoo.com/_ylt=A0geurgnV4VEPnoB98hXNyoA;_ylu=X3oDMTE5aXJmaGJ2BGNvbG8DZQRsA1dTMQRwb3MDMTIzBHNlYwNzcgR2dGlkA0Y3NTFfMTC1/SIG=12hhjkhah/EXP=1149675687/**http://www.google.com/url?q=http://211.94.240.21/_us/obidos/index.html?ref=pd_irl_gw_r/102-8758036-5777720?opt=oa&page=recs/sign-in-secure.html&response=tg/recs/recs-post" coords="155,0,256,21"/>
            <area shape="rect" href="#" data-toggle="tooltip" title="FAKE LINK: http://www.amazon.com/exec/obidos/tg/browse/-/508510/103-5622924-8717442" coords="260,0,299,21" />  </map>    </td>
              </tr> </table>
            <table width="90%" border="0" cellspacing="0" cellpadding="1" alig= n="center" bgcolor="#006699">    <tr>        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="5" ali= gn="center">            <tr valign="top">                <td bgcolor="#FFFFFF">                <font  face="verdana,arial,helvetica" size="-1" >
          <p><b>Dear Amazon.com Member,</b></p>
            <p><b>Due to concerns we have for the safety and integrity of the Amazon community we have issued this warning.<br /></p> <p><b>Per the User Agreement, Section 9, we may immediately issue a warning, temporarily suspend, indefinitely suspend or terminate your membership and refuse to provide our services to you if we believe that your actions may cause financial loss or legal liability for you, our users or us. We may also take these actions if we are unable to verify or authenticate any information you provide to us.<br /></p> <p><b>Please follow the link below:<br><p><p><b><a href="#" data-toggle="tooltip" title="FAKE LINK: http://rds.yahoo.com/_ylt=A0geurgnV4VEPnoB98hXNyoA;_yluX3oDMTE5aXJmaGJ2BGNvbG8DZQRsA1dTMQRwb3MDMTIzBHNlYwNzcgR2dGlkA0Y3NTFfMTC1/SIG=12hhjkhah/EXP=1149675687/http://www.google.com/url?q=http://211.94.240.21/_us/obidos/index.html?ref=pd_irl_gw_r/102-8758036-5777720?opt=oa&page=recs/sign-in-secure.html&response=tg/recs/recs-post">http://www.amazon.com/exec/obidos/sign-in.html</a><br></p><p><b>and update your account information.<br /></p> <p><b>We appreciate your support and understanding, as we work together to keep Amazon market a safe place.<br /></p> <p><b>Thank you for your attention on this serious matter.<br></p> <p><b>Regards,<br></p> <p><b>Amazon Safety Department<br /></p> </font face="verdana,arial,helvetica" size="-1">
            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                  <tr> <td colspan="2"> <font face="verdana,arial,helvetica" size="-1" ><p>Please note: This e-mail message was sent from a notification-only address that cannot accept incoming e-mail. Please do not reply to this message.</p><p></p><p><b><a href="#" data-toggle="tooltip" title="FAKE LINK: http://rds.yahoo.com/_ylt=A0geurgnV4VEPnoB98hXNyoA;_ylu=XoDMTE5aXJmaGJ2BGNvbG8DZQRsA1dTMQRwb3MDMTIzBHNlYwNzcgR2dGlkA0Y3NTFfMTC1/SIG=12hhjkhah/EXP=1149675687/**http://www.google.com/url?q=http://211.94.240.21/_us/obidos/index.html?ref=pd_irl_gw_r/102-8758036-5777720?optoa&page=recs/sign-in-secure.html&response=tg/recs/recs-post">Amazon.com</a></b>
                  <br /><b> Earth's Biggest Selection      </b>    </p>      <p>
            <img src="https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/icons/icon-unsubscribe.gif" width="17" height="15" border="0">&nbsp;Prefer not to receive HTML mail&#63;
            <a href="#" data-toggle="tooltip" title="http://www.amazon.com/exec/obidos/flex-sign-in/103-5622924-8717442?%5Fencoding=UTF8&response=communication-preferences&method=GET&opt=a&return-url=communication-preferences&page=help%2Fya-sign-in-secure.html">Click here</a></p></td></tr></table><td></tr></table></td></tr></table>

      </div>
  <hr>
  <p>
  </p>
</div>
<center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<div class="m-3 dashed-box">
  <h5 id="amazon_3">amazon_3</h5>
  <h5>source: <a href="http://www2.aueb.gr/users/ion/data/enron-spam/" target="blank" rel="noopener noreferrer">Enron Spam Cache</a></h5>
  <div class="email-box">
  <div class="accordion" id="headerA3">
      <div class="card-header" id="headingA3">
        <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseA3" aria-expanded="true" aria-controls="collapseA3">
          Email Header Information
        </button>
          <div id="collapseA3" class="collapse" aria-labelledby="headingOne" data-parent="#headerA3">
            <p>
              From service101@amazon.com  Wed Apr 18 22:14:06 2007
              <br>Return-Path: <service101@amazon.com> X-Original-To: user@login.example.com
              <br>Delivered-To: user@login.example.com
              <br>Received: from mail.example.org (mail.example.org [192.168.4.9]) by example.com (Postfix) with ESMTP id 5D614468C9 for <user@login.example.com>; Wed, 18 Apr 2007 22:14:06 -0400 (EDT)
              <br>Received: from mail.example.org (mail.example.org [192.168.6.4]) by mail.example.org (Postfix) with ESMTP id 58991131F9DF for <user@example.com>; Wed, 18 Apr 2007 22:14:06 -0400 (EDT)
              <br>Received: from 192.168.1.10 (rrcs-70-61-37-30.central.biz.rr.com [70.61.37.30]) by mail.example.org (Postfix) with SMTP id 4B83A6FA1C1 for <user@example.com>; Wed, 18 Apr 2007 22:14:06 -0400 (EDT)
              <br>Received: from 60.4.193.169 by ; Thu, 19 Apr 2007 08:07:48 +0500
              <br>Message-ID: <RPOIIYPFLZCZJKGPLOQSSBAWX@yahoo.com>
              <br>From: "Amazon Service" <service101@amazon.com> Reply-To: "Amazon Service" <service101@amazon.com>
              <br>To: user@example.com
              <br>Subject: Please Update Your Profile - Personal Information Error
              <br>Date: Thu, 19 Apr 2007 09:09:48 +0600
              <br>X-Mailer: AOL 7.0 for Windows US sub 118 MIME-Version: 1.0 Content-Type: multipart/alternative; boundary="--03371404466094140899" X-Priority: 1 X-MSMail-Priority: High Status: O X-Status: X-Keywords:                  X-UID: 1143
            </p>
          </div>
        </div>
      </div>
      <img src="http://ec1.images-amazon.com/images/G/01/nav2/images/skins/teal/logo-off._V46904752_.gif"> <style> text2 { FONT-SIZE: 80%; COLOR: #333333; FONT-FAMILY: Verdana } </style> <br><br> <SPAN class="text2">Dear Amazon Customer,<br><br> <br>During our regularly scheduled account maintenance and verification procedures, <br>we have detected a slight error in your account information. <br>To securely confirm your personal information please click on the link bellow: <br> <br><a href="#" data-toggle="tooltip" title="FAKE LINK: http://mail.chhrc.com/verification.amazon.com/index.html">https://amazon.com/account_signin/webscr_/verify/index.html</a> <br><br>Confirm Your Amazon Account to enjoy the benefits of
      <br>online shopping and to avoid identity theft and fraudulent activities on <br>your account. <br><br><b>Note: We will be upgrading our yearly SSL EncryptedServer to prevent fraudulent <br>activity.</b> <br><br>2007 Amazon & Co. All rights reserved. </span>
  </div>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<div class="m-3 dashed-box">
  <h5 id="chase_1">chase_1</h5>
  <h5>source: <a href="http://www2.aueb.gr/users/ion/data/enron-spam/" target="blank" rel="noopener noreferrer">Enron Spam Cache</a></h5>
  <div class="email-box">
  <div class="accordion" id="headerC1">
      <div class="card-header" id="headingC1">
        <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseC1" aria-expanded="true" aria-controls="collapseC1">
          Email Header Information
        </button>
          <div id="collapseC1" class="collapse" aria-labelledby="headingOne" data-parent="#headerC1">
            <p>
              From security@chase.com  Wed Feb 28 18:31:37 2007 <br>Return-Path: <security@chase.com>
              <br>X-Original-To: user@login.example.com
              <br>Delivered-To: user@login.example.com
              <br>Received: from mail.example.org (mail.example.org [192.168.4.9]) by example.com (Postfix) with ESMTP id 08E75468DF for <user@login.example.com>; Wed, 28 Feb 2007 18:31:37 -0500 (EST)
              <br>Received: from mail.example.org (mail.example.org [192.168.6.4]) by mail.example.org (Postfix) with ESMTP id 2A539131FC6A; Wed, 28 Feb 2007 18:31:37 -0500 (EST)
              <br>Received: from 192.168.1.100 (unknown [166.70.49.22]) by mail.example.org (Postfix) with SMTP id 815E86FA1C1; Wed, 28 Feb 2007 18:31:36 -0500 (EST)
              <br>Received: from 181.116.183.136 by ; Wed, 28 Feb 2007 19:33:40 -0400
              <br>Message-ID: <PHNQBKXKIZWJXCHSZCENGIP@charter.net>
              <br>From: "Chase Bank Inc." <security@chase.com>
              <br>Reply-To: "Chase Bank Inc." <security@chase.com>
              <br>To: ceremony@example.com, user@example.com, geeks-owner@example.com
              <br>Subject: Security Update Notification Date: Wed, 28 Feb 2007 22:35:40 -0100
              <br>X-Mailer: Microsoft Outlook, Build 10.0.2616 MIME-Version: 1.0 Content-Type: multipart/alternative; boundary="--7246074569122406" X-Priority: 1 X-MSMail-Priority: High Status: O X-Status: X-Keywords:                  X-UID: 906
            </p>
          </div>
        </div>
      </div>
    <p>
      <img src="http://www.chase.com/ccpmweb/shared/image/chaseNewlogo.gif"><img src="http://www.chase.com/ccpmweb/generic/image/enroll_region.gif"><br><br><font face="Verdana" size="-1">Dear Online Account Holder,<br><br>As of a Days ago, our online banking security team observed Invalid logons <br>on your account, because the number of attempts to sigon in exceeded<br> the number allowed, you are required to <b><font color="#FF0000">Re-Confirm</font></b> your online access.<br> Please note that entering invalid answers to your login details will lead to<br> Online banking Account block down For security reasons. <br> <br>We have issued this warning.We ask you to take 5-10 mins to Re-Confirm your online access.<Br>An extra verification process has been placed to ensure your identity and your account data, also enable our numerous customers to upgrade to 2007 Chase Bank SSL Servers. <br>Please <a href="#" data-toggle="tooltip" title="http://competentmtc.com/colappmgr/colportal/prospect.php?_nfpb=update&form=01728462834&customerid=72353824">login to your online access</a> to continue to the verification process.
<br> <br> Failure to verify your account details may lead to account disconnection <br> <br>Thank you. <br> <br>Customer Service <br>Chase Bank Online Customer Service <br>1999-2007 Chase Bank Bank, N.A. All rights reserved. Member FDIC</font>
    </p>
</div>
<center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<!--Sextortion-->

<div class="m-3 dashed-box">
  <h5 id="sextortion_1">sextortion_1</h5>
  <h5>source: <a href="https://pastebin.com/raw/LQWeA6j1" target="blank" rel="noopener noreferrer">https://pastebin.com/raw/LQWeA6j1</a></h5>
  <hr>
  <iframe src="https://pastebin.com/embed_iframe/LQWeA6j1" style="border:none;width:100%;height:500px"></iframe>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>


<!--emotet-->

<div class="m-3 dashed-box">
  <h5 id="emotet_1">emotet_malspam1</h5>
  <h5>source: <a href="https://pastebin.com/raw/7GbVYu9q" target="blank" rel="noopener noreferrer">https://pastebin.com/raw/7GbVYu9q</a></h5>
  <hr>
  <iframe src="https://pastebin.com/embed_iframe/7GbVYu9q" style="border:none;width:100%;height:500px"></iframe>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<div class="m-3 dashed-box">
  <h5 id="emotet_2">emotet_2</h5>
  <h5>source: <a href="https://pastebin.com/raw/TWdxY2Kq" target="blank" rel="noopener noreferrer">https://pastebin.com/raw/TWdxY2Kq</a></h5>
  <hr>
  <iframe src="https://pastebin.com/embed_iframe/TWdxY2Kq" style="border:none;width:100%;height:500px;"></iframe>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>


<div class="m-3 dashed-box">
  <h5 id="emotet_3">emotet_3</h5>
  <h5>source: <a href="https://pastebin.com/raw/Xec3Ap5d" target="blank" rel="noopener noreferrer">https://pastebin.com/raw/Xec3Ap5d</a></h5>
  <hr>
  <iframe src="https://pastebin.com/embed_iframe/Xec3Ap5d" style="border:none;width:100%;height:500px;"></iframe>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<!--hancitor-->

<div class="m-3 dashed-box">
  <h5 id="hancitor_1">hancitor_1</h5>
  <h5>source: <a href="https://pastebin.com/raw/a8Qr2nY4" target="blank" rel="noopener noreferrer">https://pastebin.com/raw/a8Qr2nY4</a></h5>
  <hr>
  <iframe src="https://pastebin.com/embed_iframe/a8Qr2nY4" style="border:none;width:100%;height:500px;"></iframe>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
  </div>

<div class="m-3 dashed-box">
  <h5 id="hancitor_2">hancitor_2</h5>
  <h5>source: <a href="https://www.malware-traffic-analysis.net/2019/04/02/index.html" target="blank" rel="noopener noreferrer">https://www.malware-traffic-analysis.net/2019/04/02/index.html</a></h5>
  <div class="email-box">
  <div class="accordion" id="headerh2">
      <div class="card-header" id="headingh2">
        <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseh2" aria-expanded="true" aria-controls="collapseh2">
          Email Header Information
        </button>
          <div id="collapseh2" class="collapse" aria-labelledby="headingh2" data-parent="#headerh2">
            <p>Received: from milaromanoff.com ([64.56.218.98]) by [removed] for [removed];
	          <br>Tue, 02 Apr 2019 16:36:58 +0000 (UTC)
            <br>Date: Tue, 02 Apr 2019 11:35:04 -0500
            <br>MIME-Version: 1.0
            <br>X-Mailer: iPhone Mail (11A501)
            <br>Content-Transfer-Encoding: 7bit
            <br>Subject: You got invoice from DocuSign Electronic Service
            <br>Message-ID: <364EB70F.BFED560B@milaromanoff.com>
            <br>From: "DocuSign Signature " <docusign@milaromanoff.com>
            <br>Content-Type: text/html;
            	<br>charset="utf-8"
            <br>To: [removed]
            </div>
            </div>
          </div>

            <div>
            <div style="font-family: Verdana; font-size: 12px;">
            <div>&nbsp;
            <div>&nbsp;
            <div
            style="border-left: 2px solid rgb(195, 217, 229); margin: 10px 5px 5px
            10px; padding: 10px 0pt 10px 10px;">
            <div style="margin: 0pt 0pt 10px;"><b><br>
            </b></div>
            <div>
            <div
            style="padding: 2%; background-color: rgb(234, 234, 234); font-family:
            Helvetica,Arial,Sans Serif;"><img
            style="display: none;">
            <table align="center" border="0" cellpadding="0" cellspacing="0"
            width="100%">
            <tbody>
            <tr>
            <td>&nbsp;</td>
            <td width="640">
            <table
            style="border-collapse: collapse; background-color: rgb(255, 255, 255);
            max-width: 640px;">
            <tbody>
            <tr>
            <td style="padding: 10px 24px;"><img alt="DocuSign"
            src="https://eu.docusign.net/Member/Images/email/logo-DS-116x33@2x.png"
            style="border: medium none ;" width="116"></td>
            </tr>
            <tr>
            <td style="padding: 0px 24px 30px;">
            <table
            style="background-color: rgb(30, 76, 161); color: rgb(255, 255, 255);"
            align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
            <td
            style="padding: 28px 36px 36px; background-color: rgb(30, 76, 161); color:
            rgb(255, 255, 255); font-size: 16px; font-family: Helvetica,Arial,Sans
            Serif; width: 100%; text-align: center;"
            align="center"><img
            src="https://eu.docusign.net/member/Images/email/docInvite-white.png"
            style="width: 75px; height: 75px;" height="75" width="75">
            <table border="0" cellpadding="0" cellspacing="0"
            width="100%">
            <tbody>
            <tr>
            <td
            style="border: medium none ; padding-top: 24px; font-size: 16px;
            font-family: Helvetica,Arial,Sans Serif; text-align: center; color: rgb(255,
            255, 255);"
            align="center">Please review and sign this document.</td>
            </tr>
            </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0"
            width="100%">
            <tbody>
            <tr>
            <td style="padding-top: 30px;" align="center">
            <div>
            <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
            <td
            style="font-size: 15px; color: rgb(51, 51, 51); font-family:
            Helvetica,Arial,Sans Serif; font-weight: bold; text-align: center;
            text-decoration: none; background-color: rgb(255, 196, 35); display: block;"
            min-height="44" align="center"><a
            href="http://unlaca.net?[removed]=[removed]"
            style="font-size: 15px; color: rgb(51, 51, 51); font-family:
            Helvetica,Arial,Sans Serif; font-weight: bold; text-align: center;
            text-decoration: none; background-color: rgb(255, 196, 35);"
            target="_blank"><span style="padding: 0px 24px; line-height: 44px;">REVIEW
            DOCUMENT</span></a></td>
            </tr>
            </tbody>
            </table>
            </div>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            <tr>
            <td
            style="padding: 0px 24px 24px; color: rgb(255, 255, 255); font-size: 16px;
            font-family: Helvetica,Arial,Sans Serif; background-color: white;"><span
            style="font-size: 15px; color: rgb(51, 51, 51); font-family:
            Helvetica,Arial,Sans Serif; line-height: 20px;">Dear
            Recipient,<br>
            <br>
            Please sign this invoice<br>
            It is an electronically
            created notice.<br>
            </span></td>
            </tr>
            <tr>
            <td
            style="padding: 0px 24px 12px; background-color: rgb(255, 255, 255);
            font-family: Helvetica,Arial,Sans Serif; font-size: 11px; color: rgb(102,
            102, 102);"><br>
            </td>
            </tr>
            <tr>
            <td
            style="padding: 30px 24px 45px; background-color: rgb(234, 234, 234);">
            <p
            style="margin-bottom: 1em; font-family: Helvetica,Arial,Sans Serif;
            font-size: 13px; color: rgb(102, 102, 102); line-height: 18px;"><b>This
            message keeps a secure
            link to DocuSign. Do not
            share this link with
            other people.</b></p>
            <p
            style="margin-bottom: 1em; font-family: Helvetica,Arial,Sans Serif;
            font-size: 13px; color: rgb(102, 102, 102); line-height:
            18px;"><b>Alternative
            Signing Method</b><br>
            Please visit DocuSign.com, click on 'Access
            Documents',  enter the security code:
            080E7ACAF4</p>
            <p
            style="margin-bottom: 1em; font-family: Helvetica,Arial,Sans Serif;
            font-size: 13px; color: rgb(102, 102, 102); line-height: 18px;"><b>About
            Our Service</b><br>
            Sign invoice electronically in just
            few clicks. It's
            risk-free. Whether
            you are at work,  home or
            even across the globe -- Our service
            gives a professional solution for
            Digital Operations .</p>
            <p
            style="margin-bottom: 1em; font-family: Helvetica,Arial,Sans Serif;
            font-size: 13px; color: rgb(102, 102, 102); line-height: 18px;"><b>Questions
            concerning an Invoice?</b><br>
            In case you need to edit an
            invoice or have questions
            , please
            contact the sender directly.<br>
            <br>
            If you cannot see
            an invoice,  see the <a
            href="https://account.docusign.com/"
            style="text-decoration: none; color: rgb(53, 126, 235);"
            target="_blank">Help  </a> page on our <a
            href="https://account.docusign.com/"
            style="text-decoration: none; color: rgb(53, 126, 235);"
            target="_blank">support </a>.<br>
            &nbsp; <br>
            </p>
            <p
            style="margin-bottom: 1em; font-family: Helvetica,Arial,Sans Serif; color:
            rgb(102, 102, 102); font-size: 10px; line-height: 14px;">This
            message was sent to you by DocuSign Electronic Signature Service.<br>
            </p>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
            <td>&nbsp;</td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
</div>
          <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>

<!--template
  <div class="m-3 dashed-box">
    <h5 id="#">###</h5>
    <h5>source: <a href="#" target="blank" rel="noopener noreferrer">###</a></h5>
    <h5>source: <a href="http://www2.aueb.gr/users/ion/data/enron-spam/" target="blank" rel="noopener noreferrer">Enron Spam Cache</a></h5>
    <div class="email-box">
    <div class="accordion" id="header#X">
        <div class="card-header" id="heading#X">
          <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapse#X" aria-expanded="true" aria-controls="collapse#X">
            Email Header Information
          </button>
            <div id="collapse#X" class="collapse" aria-labelledby="headingOne" data-parent="#header#X">
              <p>
              </p>
            </div>
          </div>
        </div>
    <hr>
    <p>
    </p>
  </div>
  <center><a href="#top">&#9954; return to top_ &#9954;</center>
</div>
-->
