<h1>&Vert; defensive rhetsec</h1>

<p>
  For now, the defensive section looks at how the language in security awareness training operates, as well as its place within the corporate culture. Much like the phishing emails, these analyses focus on understanding the content and languages's intent and whether or not it allows the user to have agency, and how these relate to the training's efficacy in the four most common areas of training: videos, quizzes, seminars, and phishing email reporting.
</p>
<p>
  After the master's project is complete, I intend to expand on a variety of defensive tactics outside of security awareness training, including but limited to hardware, software, and other technical designations of defense.
</p>

<h3># what is SAT?</h3>

<p>
  Security awareness training is a suite of tools and modules designed to teach employees to be more conscious of computer and data security.
</p>
<p>
  ***Old writing, haven't revised yet, doesn't exactly fit but dunno where to put yet:
</p>
<p>
  Security Awareness Training is ubiquitous for corporations and agencies mandated for due diligence and best practices. The DoD has the DFARS clause which regulates how sensitive and confidential information is managed. The financial sector is bound to the Gramm-Leach-Bliley Act, which mandates how to handle sensitive personal information. HIPAA has regulations on privacy and security of data for the medical sector.
</p>
<p>
  A NIST special publication demonstrates how to create an effective security awareness program for government agencies, but isn't required to be followed commercially, but suggested.

  My initial assumption going into these materials were that:
  <li>
    The programs would be an extensively vague sales pitch or an incredibly brief executive-oriented sales pitch.
  </li>
  <li>
    There would be a variety of materials based on the skill level of the end-user.
  </li>
  <li>
    It would be quality and thought-provoking information presented.
  </li>
  <li>
    The companies would have resources about where they got their information readily available.
  </li>
  <li>
    Potential for these programs to have a "band-aid" approach as opposed to internal solutions (technical versus adaptive)
  </li>
</p>
<p>
  I recognize that these programs were created to fulfill obligations (mainly annual audits) as defined by NIST 800-50 or other industry-specific requirements. While this did inform my interpretation of the materials, I tried to remain optimistic and see the programs as educational tools, not just checkboxes for security metrics. I'm not sure that I am optimistic anymore.
</p>
<p>
  KnowBe4 has been consistently willing to show their products to me, which I appeciate as it's opened my eyes to problems within corporate culture and trust issues with security teams I would not have been privy to otherwise. There are some excellent modules in the Modstore, and a lot of them incorporate games and comedic elements in order to hold the users attention. They also have varying levels of information - designed for end users, developers, upper management, and CEOs. Since each of the modules are supplied as an aggregate, it makes understanding the level of education and research put forth that much harder.
</p>

<h3># how can rhetoric help?</h3>
<p>
  ***some notes, actual writing below this, but is my idea to reorient security into rhetoric:
  <li>
    "Identification is compensatory to division." [Burke 1969 p22] As human beings, we are not comfortable with division; we want to be part of a group.
  </li>
  <li>
    Pure identification/disidentification does not exist, so embracing and encouraging ambiguity is key
  </li>
  <li>
    How do we know when profit ends and exploitation begins?
  </li>
  <li>
    Rhetoric begins with misunderstandings, with alleviating misunderstandings (even if it seems like its encouraging the misunderstandings)
  </li>
  <li>
    Understood through actions (we are consubstantial as a body of people working together)
  </li>
  <li>
    Audience if already "part of the club" is easy to talk to; if not, you must find a way to be consubstantial to them as an outsider - how does this relate to sat/employees? is it even considered?
  </li>
  <li>
    How do SAT vendors argue for their products? How does this argument function via ethos, pathos, and logos?
  </li>
  <li>
    What is the intent of the arguments within the modules presented?
  </li>
  <li>
    What sorts of symbols do they use to convey the intent behind their message?
  </li>
  <li>
    What is their audience for the sales pitch? For the training materials? How does it differ?
  </li>
</p>
<p>
  If we think about security issues like an infection, current security awareness training seems to function like a band-aid instead of an antiseptic, treating the symptoms as opposed to the underlying illness: miscommunication. Existing training programs look at how to change people's behavior through psychological "mind tricks" (source: "In the Hot Seat"). But while you can psychosocially analyze people to your heart's content, there's still a gap in understanding how the language causes people to act. Not everything is behavior modification! I noticed that these programs don't look at the agency of the audience, or the exigency demonstrated outside of "your company is at risk, so don't do this." It creates a very dull scenario for an employee. Effective training involves understanding how to persuade an audience to react, convincing them a problem exists, they're affected by it, it's urgent, and there's a reasonable solution to that problem. Without these critical factors, the training is at risk of being rendered meaningless. Aside from pending tens of thousands of dollars, it wastes valuable time for a company, its employees, and creates a culture that believes "security is a waste of time," a significant issue within organizations (In the Hot Seat).
</p>
<p>
  ***Ronald Heifitz discusses technical and adaptive challenges here:  https://hbr.org/2002/06/a-survival-guide-for-leaders
</p>
<p>
  Technical challenges are easy to see and easy to fix, while adaptive challenges require considerable effort to understand, and are often experimental in how they are solved. The main issue I've seen in corporate environments is that they treat many, if not most, of the problems with security as a technical challenge. So security training functions as a technical solution to a technical problem which doesn't create value to the audience, who don't identify with it outside of being a situational problem. In reality, this training needs to be adaptive, something extrapolated to other areas of life to create value for the information to be retained. That is where rhetoric comes in. Action. Identification. Meaning-making. All of the good stuff that helps us understand why things are the way they are, how they make us human, and what all that means.
</p>
<p>
  *below probably not necessary but idk
</p>
<p>
  These problems can be solved partially with technical solutions, such as the examples provided in an interview with Steven Cox, VP and CSA of security company CyberAuth. While I agree with Mr. Cox on his ideas about how to combat the onslaught of malicious attacks on users, what I don't see is a willingness to adapt psychologically (but more importantly, rhetorically) aside from creating a carrot-on-a-stick with a fancy UX. Don't get me wrong - I appreciate "symbol-to-accept," and it is helpful in some situations, but you can't tailor emails, websites, and everything else outside of your organization to provide the same functions. What I see is a service trains users to think about a specific instance (pushing a corresponding image on a secondary device to confirm authenticity) rather than the internet experience as a whole. It's like a CAPTCHA - what is it outside of the event itself? Does it even register as a security measure, or just "one more thing" to click on to authenticate? What does it even mean outside of the moment it's used - does it mean anything? 
</p>
