<div class="row justify-content-center">
  <p><b>This is a work in progress.</b></p>
</div>

<p>
  Phase 0 consists of discussion of technical setup and website design choices. Here I will be talking about my process and why I chose to do what I didwith:
  <ul>
    <li>FOSS (Free Open Source Software)</li>
    <li>NGINX</li>
    <li>Node.js</li>
    <li>Express/Handlebars</li>
    <li>Passport</li>
    <li>Bootstrap/CSS/HTML</li>
    <li>Overall Aesthetic Design</li>
  </ul>
</p>
