<h1 class="hilite"><span>bulk phishing</span></h1>
<p>
  Bulk phishing is a common tactic which uses impersonation, threats, and urgent language to obtain information and credentials from their victims. As the name implies, bulk phishing works by sending out multiple copies of the same email to anyone and everyone, regardless of whether there is an existing business relationship with the victim. While tempting to think of them as clones, bulk phishing emails are not clonephishing attempts as they do not outright mimic official emails, but rather design them based on existing emails to illicit an emotional response. This designation is important, as these phishing attempts rely on the attacker's ability to create provoking and trustworthy writings to be successful versus relying on an existing brand's official communications. Since phishing relies on FUD (fear, uncertainty, and doubt) to get the message across that the victim needs to act now or they're in jeopardy, for bulk phishing to be successful it needs to expertly employ this strategy to a wide audience in order to be successful. Any inclination that the author is not who they say they are through improper use of language, visuals, or overly dramatic threats can easily cause a crack in the illusion being portrayed, rending the attack ineffective.
</p>

<h3 class="hilite"><span># rhetorical situation</span></h3>
  <p>
    Bulk phishing emails are not personalized, even if they claim to be, and may only reference general information that may or may not be connected to the victim, and operate by giving a notice, alert, or issue with a customer's account or activity has come up. The intended recipient was assumed to have been a customer of the company contacting them, either randomly targetted or contacted due to recent account activity. Recurring themes in bulk phishing include incorrect account information, unauthorized access attempts from foreign IPs, or unauthorized purchases. Generally, all of these "infractions" result in a violation to account policies or procedures that require urgent attention or the victim's account will be terminated. A great example of this is an eBay email which informs the victim that their account has been suspended due to a violation of policy.
  </p>

  <a href="offensive/phishing/analysis/corpus#eBay_4"><img src="/img/emails/bulkeb4.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>

  <p>
    This email reads like a personal letter, sent directly from one of eBay's Certified Information Privacy Professionals. It's assumed that a non-performance infraction is related to not fulfilling orders, but it's unclear exactly what that means from the letter, which creates a sense of curiosity to click on the link within the email. Most emails like this have their form complement the content, with business emails generally looking like formal communications. Logo placement and text styling appear to match up to brand standards on most emails. The main ideas of the messages presented - account alerts and notifications - mimic business communication well, but some common errors tend to break the illusion.
  </p>

  <p>
    In another example from Amazon, the text states: "We will be upgrading our yearly SSL EncryptedServer to prevent fraudulent activity."
    SSL EncryptedServer looks strange, because it is. A quick search of that term pulls up only phishing email examples on various forums that look exactly like this one. SSL EncryptedServer, at least as it's named, doesn't exist. But knowing these are intended for people to make quick responses to, would the victims even know? Probably not, and since "SSL EncryptedServer" sounds like a legitimate thing, and it has the word encrypted in it, it's an easy way to create a safe feeling for the victim: 'if this email's worried about fraudulent activity, then the email isn't fraudulent.'
  </p>
  <a href="/offensive/phishing/analysis/corpus#amazon_3"><img src="/img/emails/bulka3.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
  <p>
    In a phishing email from World of Warcraft, the situation presented is that the victim's friend has gifted them this new pet, and they should claim the pet by logging into their account. Gifts are always nice, and the recipient might be too excited to notice that it doesn't even say who sent the email, only "Your friend." But the telltale sign that this situation is not what it appears are the random question marks entered the sentences. It seems the email is unsure of itself: Battle.net? Blizzard Entertainment?
  </p>

  <a href="/offensive/phishing/analysis/corpus#warcraft_1"><img src="/img/emails/wow.png" class=class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>

  <p>
    Not only does the email lack confidence in whether or not it's actually Blizzard, Blizzard actually transitioned away from the Battle.net name to fully adopt Blizzard as it's branding in 2016, so this email campaign starting over six months after they transitioned names gives another red flag.
  </p>

<h3 class="hilite"><span># rhetorical appeals</span></h3>
<p>
  Bulk phishing email's credibility (ethos) is established using brand logos, legal text, and formal language by identifying with the victim through an existing business relationship, establishing itself as legitimate. By communicating to the victim as a valued member and highlighting the importance of privacy and security, it creates a sense of trust that allows the victim to let their guard down. There is often mention that the email cannot be replied to, as it is unmonitored, which is a pretty standard formality within business communications. A common example from <a href="/offensive/phishing/analysis/corpus#paypal_1">PayPal</a> includes language such as, "Please do not reply to this email. This mailbox is not monitored and you will not receive a response. For assistance, log in to your PayPal account and choose the Help link located in the top right corner of any PayPal page."
</p>

<a href="/offensive/phishing/analysis/corpus#paypal_4"><img src="/img/emails/bulkhotlink.png" class=class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>

<p>
  It can be an effective way to mask the phisher's intent if the images are still able to be loaded as it "proves" the email is from whomever the attack is pretending to be. The downside is that it also has the capability to dismantle the operation immediately if crucial images aren't loaded. Authority is asserted through forceful and strong language, lack of emotional influence, and links or quotations of various policies within the company, presenting the author as concerned with the privacy of its users and the safety of the community, but unafraid to use legal force or threat of account termination to obtain the necessary information to run its business.
</p>

<p>
  While the tone of bulk phishing attacks tends to be formal, they do express urgency and evoke emotional responses through threatening language. For example, this Amazon email issues legal-sounding notices to the victim that they're violating terms of the User Agreement and are at risk of being terminated:
</p>

<a href="/offensive/phishing/analysis/corpus#amazon_2"><img src="/img/emails/bulka2.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>

<p>
  Why would an inability to verify personal identification information be in the same category as financial and legal liability? Especially since the assumption that most Amazon customers are buyers, and not sellers. Terminating an account due to an incorrect name, address, or credit card number seems to be a bit of an extreme reaction. If the attacker had done less overt threatening, and more gentle guiding towards confirmation or reassurance, the attack would raise less eyebrows to someone questioning its legitimacy.
</p>

<a href="/offensive/phishing/analysis/corpus#amazon_4"><img src="/img/emails/bulka4.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>

<p>
  The language used in the above examples, and many phishing emails, is irrational given the context. Why would a company use terminating an account as punishment for unauthorized access attempts to no fault of the customer? The arguments made in the emails state it is a security measure, and hit hard on ideas of presenting shared values of privacy, safety, and maintaining the existing business relationship with the victim, but often the presentation is convoluted and doesn't follow a logical customer-business relationship. Sometimes the attackers go so far as to implicate the recipient in being a potential cause for the community having less integrity as a ploy upon the need for people to want to feel "good" or upstanding, with the recipient needing to act on this matter if they want to retain positive qualities.
</p>
<p>
  An unusual (but effective) use of emotional appeals appeared in an eBay email stating they were closing the service due to "repeated abuses on their company." The email instructs the victim to vote in a survey on if feel eBay should remain open. At the bottom of the message, it stated the reason the victim received the email is due to their "good account standing." It's flattering the victim's ego based on their perceived value to the eBay Community.
</p>

<a href="/offensive/phishing/analysis/corpus#ebay_5"><img src="/img/emails/bulkeb5.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>

<p>
  These extreme (and upon examination, unreasonable) threats are successful because fear pushes the victim to act quickly without thinking about what's happening. They could be even more successful if they honed their language towards typical communicative practices from the organization as opposed to simply fear-mongering, and a few attempt to do that. Even so, recognizing that invoking an emotional response in the reader through jeopardizing something presumably valuable is an effective mode of attack, and one that should be addressed on the defensive side.
</p>

<p>
  Often these emails also use logos (the rhetorical appeal, not branding) to try and reason with the user. Examples of this include statements such as a victim's account information being invalid due to verification issues during payment, which appear as a straightforward follow-up. But the email's ethos is disrupted when they attempt to make the user feel bad about specific actions, such as being a "bad" Amazon community member for not having their information up to date. It doesn't make sense logically, and rely on a "slippery slope" argument, which states that because their information is out of date, they are at risk of having their account terminated. A business would not would forcefully shut down someone's account for typing in something incorrectly; they would verify the information instead. Another example is from the eBay example above which states their "registered name is included to show this message originated from eBay, " but it's addressed to "eBay Community." A strange name for a person, but seeing as these are meant to illicit a reactionary response as opposed to thinking about the content, it's an effective mass-market phishing attempt seen as legitimate by identifying corporate markers of "safety." [eBay 4] This email is an excellent example of how a quick and straightforward (logical) request, which likely prompted the victim to "log in" to submit their survey response, can open someone to having their information stolen.
</p>

<h3 class="hilite"><span># simulation</span></h3>
<p>
  Most bulk phishing appears as standard business communications, following that genre's form and conventions quite well with minimal emotive language, vague yet formal communications, and consistent mentions of privacy, safety, and copyrights. What seems to be the biggest issue with these emails is visual inconsistencies that break the simulation they're projecting. The more successful bulk phishing emails operate as a clonephish, which I go into more detail <a href="clonephishing">here</a>.  Aside from those, the simulation aspect of bulk phishing is not exactly effective, as there are often glaring formatting and grammatical errors that take away from the presentation of the message. Since many of these bulk emails are meaning to replicate official business communications, the improper use of language is an instant break in the illusion.
</p>
  <a href="/offensive/phishing/analysis/corpus#amazon_1"><img src="/img/emails/bulka1.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  Both the improper plural usage in "billing informations," as well as the use of either, which implies a selection between only two things, referencing a list of three things. Another example where a phishing email's disguise is quickly dismantled with poor grammar and images in the wrong places is found within this example from Chase:
</p>
<a href="/offensive/phishing/analysis/corpus#chase_1"><img src="/img/emails/bulkc1.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  This is a dead giveaway that this email is not from Chase. Knowing that a bank has a reputation to uphold as a professional and trustworthy organization, they would never communicate to their customers in such broken English and improper paragraph formatting for an accout warning. The email serves as a "warning," which implies that the customer has done something wrong, as opposed to the term "alert," which is what is the actual situation that's occurring. Another mention of SSL servers is used to create a sense of ethos, but the combination of poor grammar, mentioning the account has been locked due to sign in attempts, and an extra verification process added to protect the customer after they've already potentially been compromised is too many loosely related but disconnected things going on at once to make sense logically. A more blatant giveaway is seen here, with the use of a plain text logo:
</p>
<a href="/offensive/phishing/analysis/corpus#chase_3"><img src="/img/emails/bulkc3.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  It's a disappointment, because many of these emails could be effective with minimal effort on the phisher's part. Since these emails intend to phish, and not inform or protect, they simulate legitimate links or information with the malicious (and the real intention) hidden underneath. Often the email header shows the email "From:" field originates from a legitimate source but the email address is something completely different. My favorite example I found in the Enron Dataset was sent from Trashcan G. Straitjacket representing Chase from the email aw-confirm@chase.com.
</p>
<a href="/offensive/phishing/analysis/corpus#chase_4"><img src="/img/emails/chase4.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  It's evident that an email sent by someone named Trashcan G. Straitjacket is not a real email from Chase Bank, but the language they used in the email was business-like enough that those details may have been overlooked. Distilling the message into what it's saying, it's presented haphazardly as:
  <blockquote>
    <i>"Your account access has been limited due to not having enough information in your account. However, your account is limited due to us making sure that an unauthorized third party didn't access you, so to be safe, we limited your access. (Remember, your access is limited now!) Here's a Case ID. We're responsible for your security at Chase. We want you to be safe, so click in this red box to make it better. Thanks!"</i>
</blockquote>
  Intentionally confusing, possibly scary, and convincing enough if you're not reading into it carefully.
</p>
<a href="/offensive/phishing/analysis/corpus#chase_2"><img src="/img/emails/bulkc2.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  This is a good attempt at simulation, especially with the included IP. A quick search on the IP address shows that it's from the Netherlands. If the victim did happen to search this IP, it would only make the simulation even more real, presuming that they are not from the Netherlands. We can infer this was the goal due to this email example being sent to an employee at Enron, which was an American company. That being said, it was a bulk email, so there is no telling whether or not this effect was intended.
</p>
<h3 class="hilite"><span># thoughts</span></h3>
<p>
  By simulating the attacker is someone trustworthy, the email becomes real. Bulk phishing relies on existing business communications with the victim and the ability to mimic those communications well. The attacks have gotten more sophisticated, and the ability to mask links through services such as bit.ly and others only make detecting these in both spam filters and the individual more difficult. Some attacks use gentle persuasion, but most bulk phishing attempts are aggressive in describing what the recipient has done wrong and how to fix it, trying to force the audience to act on impulse. Other times it is unbiased and informative, attempting persuasion through the presentation of facts with an easy solution such as the account becoming locked due to multiple incorrect login attempts, or an order failed due to billing information. Overbearing threats of closure, compromise, and illegitimacy with the right combination of persuasive language makes bulk phishing attempts incredibly successful. But while fear-based aggression garners an immediate emotional response, an email that gives a wide audience nothing to think about, with an easy solution presented to them, is a much more effective tactic.
</p>
