<h1 class="hilite"><span>project framework</span></h1>

<p>
  Phishing emails at their base level are a mimicry of legitimate communication, and this communication is what we can analyze using a rhetorical framework to understand how it operates on a base level. As an offensive technique, this communication simulation becomes "hyper-real" to the victim, meaning that the false reality becomes more real than reality. From a defensive perspective, it's necessary to deconstruct what's happening to bring the potential victim back to the "real" reality versus what they've initially constructed.  Essentially, if we understand how the email operates as a rhetorical situation, we can understand how the emails construct a legitimate reality for the potential victim. In these analyses, I frame the victim as the "audience," and the attack as the "author."
</p>
<p>
  Since we can't understand the attacker's motivations just through looking at an email, we need to assume the intentions of a phisher as looking for profit either through financial gain or dropping a payload to obtain a foothold or whatever information they're interested in. Realistically there is no way to tell what the intention of an attacker is. Financial profit is a main motivator but political agenda or personal gratification is an equal potential as well. Regardless of motivation, I can still examine the language to understand how the attack works and consider the rhetorical situation and appeals (ethos, pathos, logos, kairos) present, and how hyper-reality and simulation manifest through the specific situation created in the email.
</p>

<h3 class="hilite"><span># rhetorical situation: what's happening?</span></h3>
<p>
  Notwithstanding the motivations mentioned above, the email creates a rhetorical situation through the act of deception through attacker is pretending to be, and the interpretation of the false act by the audience. If the author is pretending to be a company or executive, the email must show specific markers to be successful. If the recipient of the email wasn't the intended target, the attacker should use social engineering tactics to get access to who or what they're looking for. Overall, the opportunity presented in the email is generally created through an existing relationship or personal solicitation a la Nigerian Price tactics. No matter which offensive tactic is used, the phishing email must have a clear purpose and identify with the audience to be successful both rhetorically and attack-wise.
</p>
<p>
  To understand the content and form, I examined the structure of the text, imagery, and use of color to see how the attacker creates the idea of safety for their victim. Are there spelling and grammatical errors you wouldn't expect to see in business communications, or colloquialisms or technical terms that are expected? How does the email's formatting in terms of HTML and visual aids such as company logos, colors, and branding create identification through textual and visual language? The visual markers are just as important as grammatical ones and have a strong impact on the effectiveness of the deception.
</p>

<h3 class="hilite"><span># rhetorical appeals: the quadrility</span></h3>
<p>
  Ethos focuses on establishing the author's credibility through certain markers such as institutional or company branding, formal language or market terminology use, and representation of self. Did the email have an appropriate tone for the situation presented? Is there a message of safety or security present in the email based on the author's position? Do the authors use nationality, politeness, and religiosity to create trust? I also looked at the attacker's technical ethos through URL masking, email content/design, and email header spoofing. Ultimately, I look for how the author creates a shared value system with their victim through identification.
</p>
<p>
  Pathos uses emotional appeals to influence the audience into taking a desired action, presenting itself usually as a fear-based appeal in phishing emails by threatening account disconnection or personal detail compromise. Pathos can also manifest itself through acts of charity and adventure, feeding the ego of the audience with the hope that they act on "good faith." Conversely, some emails seek to reduce a victim's ego through perceived failure or a "lack" of something if they don't comply.
</p>
<p>
  Logos is concerned with presenting facts and is generally straightforward in phishing emails. It presents through language construction and proper formatting. Logos is also created through leaving contact information contact information or an urgent attachment that needs to get to someone, or somewhere, with the victim's help. Financial or data specificity is a common appeal as well, solidifying the realness of the situation through specific dollar amounts or product SKUs mentioned in invoices. Logos also manifests as "your account has been compromised, click here to fix it." It's a tricky appeal since phishing emails are not genuine communication, but logos functions by giving facts and evidence to convince the victim the argument is legitimate.
</p>
<p>
  Kairos concerns itself through urgency, generally presenting itself as an account compromise, an urgent request from a higher-up, or some other action that requires an immediate response. Kairos is the call to action plus manufactured situational severity.
</p>

<h3 class="hilite"><span># simulation: more real than reality</span></h3>
<p>
  The simulacrum is a popular trope used to express how a symbol overtakes meaning for something, or some action. When I reference the simulacrum, I'm using Jean Baudrillard's definition within his book <a href="#" data-toggle="tooltip" title="Baudrillard, Jean. Simulacra and Simulation. Ann Arbor: University of Michigan Press, 1994. Page 6.">Simulacra and Simulation</a>. Philosophically complex, and the bane of many a scholar, the idea states that a simulacrum is created through its passage of four phases. The first phase is reflection, which we believe to be a faithful copy of the original, what Baudrillard calls a "sacramental" representation. The second phase is masking and denaturing, covering the actual reality from us while hinting at the obscured reality. Then the phase of absence, which is a representation of an original without an original. And finally, the simulacrum, a representation without grounding in reality. If we think about emails as an "image," then the representation of these emails as real and "correct" representations of emails from the actual company versus a perversion by a phishing attempt can be followed (hopefully) easily.
</p>
<p>
  To try and simplify, a great example of a simulacrum in popular culture is Hatsune Miku. If you're familiar with Vocaloid, you'll know that Hatsune Miku is one of the most popular characters due to not only being the first Vocaloid produced, but the most heavily marketed. If you're not familiar with her, you may still have seen her in a variety of places - she's been featured in advertisements for Toyota and Domino's, racing events, and a variety of promotions across the world.  She's even got her own video games (which are surprisingly fun.) Miku is a voice synthesizer made with Yamaha's synth technologies - a digital construction that's successfully pretending to be a person. As a Vocaloid, she gives the ability for anyone who has access to the technology to create music using her. There is a massive fandom for Miku alone, and many fans have created elaborate (and conflicting) backstories for her. A <a href="https://www.nicovideo.jp/search/%E3%83%9F%E3%82%AF" target="_blank">quick search for ミク (Miku) on niconico.jp</a>, a Japanese video sharing site often credited with the rise in popularity of Vocaloid, gives a variety of results with Miku as a variety of archetypes - carefree, sad, sensual, happy, violent, cockroach - she's everything and nothing all at the same time. Her personality has been crafted through her fans (and her Crypton Future Media "parent"), but each version of Miku is just as real as the other:
</p>

  <div class="row mx-auto">
    <div class="col">
      <img src="/img/miku.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex" style="height:40vh;"><p>Default Hatsune Miku</p>
    </div>
    <div class="col">
      <img src="/img/sakura.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex" style="height:40vh;"><p>Sakura Miku Hatsune</p>
    </div>
    <div class="col">
      <img src="/img/calneca.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex" style="height:40vh;"><p>Calne-Ca Miku</p>
    </div>
  </div>
<p>
  Miku even has <a href="https://www.youtube.com/watch?v=Nfhuj60cJjk" target="_blank">live concerts and performances</a> for real, fleshy people from songs that the fans have created. But these visual tricks are not copies of an original person, they're a copy of an original that's never existed. Even the countless representations of her that exist are copies of the idea of Miku created through her amalgamated identity. Miku (in all her forms) has become just as real as an original, making her a simulacrum. The image of Miku is a real and correct representation of her, even though she's never existed.
</p>
<p>
  So, since a phishing attack is simulating a "safe" reality to keep the true "harmful" reality hidden, it must be constructed so that the situation becomes hyperreal and undetectable to the victim. A direct copy and paste from a legitimate email is one possible attack avenue. Persuasive techniques such as the aggressiveness of delivery, and how urgency (exigency) is demonstrated is another. I considered word choices and how the author incorporates the rhetorical appeals to form an argument. How did these elements or lack thereof demonstrate exigency and intention to the victim? That may seem obvious at first - the intent it to phish someone - but since that's masked, we must consider different viewpoints. The first viewpoint is the attacker's, and their purpose is obvious: to persuade the victim into compromising themselves. What about the presented author of the email - what is their "intent" and the victim's interpretation of the event? Since it's a simulated "relationship" between the audience and author, an understanding of how the mimicry entwines itself with intent is necessary. The attacker must do this effectively without blowing their cover.
</p>
<h3 class="hilite"><span># </span></h3>
<p>
  How these elements create an identity of the phisher themselves, the false author, and their perception of their victims helps to understand cyber attacks, both as an offensive attack and the defensive response from security awareness training. It's a fascinating question to think about - how exactly does an attacker piece together what they perceive as the victim's identity? How do they know who the person is that they're targeting? These questions are more easily answered in some cases than others. For instance, bulk emails tend to care little about whom they reach, and more that they reach someone; one successful attempt out of 10,000 still means payday, after all.
</p>
<p>
  People respond to phishing emails because they work - <a href="https://www.businesswire.com/news/home/20150512005245/en/97-People-Globally-Unable-Correctly-Identify-Phishing" target="_blank">97% of people even state they can't tell the difference between a regular and phishing email</a>. These attacks succeed because the victims believe the author's intent to be genuine. This misunderstanding is due to a lot of different factors mentioned above - perceived existing relationships, persuasive techniques - especially those involving emotion, and other similarities in value systems between the email's "author" and victim. The rhetorical situation that exists in a phishing attack is complex, and worthy of examination to understand as an attack vector using language instead of a technical problem.
</p>
