<h6 class="navihead">
  <a href="#whatis"># what is a pse?</a> |
  <a href="#ross"># ross' framework</a> |
  <a href="#span"># spanish law & investment firm</a> |
  <a href="#maria"># maria elisabeth</a> |
  <a href="#col"># columbus rental</a> |
  <a href="#stc"># st. cloud rental</a> |
  <a href="#hello"># been trying to reach you</a> |
  <a href="#pp"># a private proposal</a> |
  <a href="#thoughts"># final thoughts</a>
</h6>
<h1 class="hilite"><span>personal solicitation emails</span></h1>
<p>
   To understand why phishing emails are so successful, we need to know how they work mechanically. One place we can look for this structure is <i>ars dictaminus</i>, a medieval genre of rhetoric concerning itself with the art of letter writing, which subsequently established composition as a subfield of rhetoric<span class='footnote' data-toggle="tooltip" title="Sloane, T. O. (2001). <i>Encyclopedia of rhetoric.</i> New York, NY: Oxford University Press."></span>. Since many phishing emails I received appear to be written as a letter, it felt a natural fit for this project.  For the personal solicitation category, I use a framework developed by Derek Ross in his article <i>Ars Dictaminis Perverted</i>, which examines phishing emails as a sub-genre of letter writing<span class='footnote' data-toggle="tooltip" title="Ross, D. G. (2009) ARS Dictaminis Perverted: The Personal Solicitation E-Mail as a Genre. Journal of Technical Writing and Communication. 39(1). 25-41."></span>. This section goes through an explanation of Ross' framework, and individual email analyses based on this framework.
</p>

<h3 class="hilite" id="whatis"><span># what is a pse?</span></h3>
  Personal solicitation emails typically follow the genre of letter writing. They tend to request favors or share personal details in exchange for information or money. The tone of these letters tends to be familiar, and often use overly dramatic and evocative language to force their victims to act. You may be familiar with this genre through terms such as "Nigerian Prince scams" or "craigslist scams." It is considered one of the most common phishing tactics.

<h3 class="hilite" id="ross"><span># ross' framework</span></h3>
<p>
  Interested in how phishing emails operated as a genre, Ross examined 19 rhetorical appeals commonly found in personal solicitation emails. His ultimate goal was to use these phishing emails as tools to teach students about pathos-based arguments, logical appeals, ethos creation, and how kairos functions with perceived exigencies.
</p>
<h4><span>## ethos</h4>
<p>
  In Ross' framework, ethos constructs the identity of the author as real. Ross notes there are seven different categories of ethos to examine:
  <ul class="sq">
    <li>
      <b>Formality</b> includes the use of formal language and presentation.
    </li>
    <li>
      <b>Institutional markers</b> show how the author has a connection to a professional institutions such as banks or investment firms. It can also function as a certification, such as CISO or CFA.
    </li>
    <li>
      <b>Market terminology</b> is a repetition of jargon or terms that make the author appear knowledgeable in the field they're requesting help for.
    </li>
    <li>
      An appeal to <b>nationality</b> aims to show the author as an "other." This appeal often shows itself in phishing emails where the author is looking to transfer a sum of money to a foreign agent.
    </li>
    <li>
      <b>Politeness</b> simply refers to how polite the author is when communicating with the victim.
    </li>
    <li>
      <b>Religiosity</b> creates ethos through overt and often overplayed usage of religion, references to a god, or being a religious figurehead. On a personal note, while Ross defines religiosity as an ethos-based appeal, I find that many examples in my examination broach the emotional side to the point of hyperbole. I would not define religiosity as an ethos-based appeal given the circumstances I've seen.
    </li>
    <li>
      <b>Safety</b> refers to how the author tells the victim the transaction or process is safe, often repeating how safe something is to make the victim feel more comfortable.
    </li>
    <li>
      <b>Title</b> refers to how the author addresses themselves using formal titles. While this can be similar to the institutional markers above, this appeal refers more to seeing someone address themselves as Reverend or Doctor.
    </li>
  </ul>
  All of these categories serve to create an assumed identity that not only has authority but gives the author authority to ask the victim for help.
</p>

<h4><span>## pathos</h4>
<p>
  Examples of pathos-based appeals in Ross' framework focus on exhausting the reader emotionally using six different categories:
  <ul class="sq">
    <li>
      <b>Adventure/roguishness</b> focuses on the notion that what the author is asking the victim to do is wrong, but there would be excitement and significant payout for the victim.
    </li>
    <li>
      The appeal of <b>charity</b> reminds the victim that what they were doing was helping someone in need, and therefore made the victim feel good about themselves.
    </li>
    <li>
      <b>Death</b> as a pathos-based appeal uses the sudden loss of a family member or other important figure as exigency to contact the victim.
    </li>
    <li>
      <b>Ego—complimentary</b> deals with flattery and compliments.
    </li>
    <li>
      <b>Ego—poor letter construction</b> purposefully uses poor grammar and language issues to stand out and make the victim feel superior to the author. While Ross notes that this has English as a Second Language (ESL) conventions, it's important to recognize that a more accepted term is English as a Foreign Language (EFL), world/international English, or global English. It's an important disctinction to make, as English is not usually a second language to people outside of the United States, <a href="https://www.mnn.com/lifestyle/arts-culture/stories/9-of-the-worlds-most-multilingual-countries" target="_blank">but rather their third or fourth language!</a> That being said, English is the dominant language online, <a href="https://www.english.com/blog/english-language-internet/" tagret="_blank">considered a "universal language" to communicate with others across the globe</a>, which is likely why these conventions occur (purposefully or otherwise) in the first place.
    </li>
    <li>
      <b>Honor</b> focuses on guilting the victim into acting, stating that if the victim doesn't meet the author's expectations, they would be disappointed.
    </li>
  </ul>
  These appeals are an effective way to cater to the victim's emotional response, focusing on both positive and negative aspects of pathos to effectively manufacture an argument.
</p>

<h4><span>## logos</h4>
<p>
  Ross notes that appeals using logos seek to prove that the author and letter were real through four appeals:
  <ul class="sq">
    <li>
      <b>Contact information</b> establishes credibility by leaving phone numbers, email addresses, or physical addresses to verify the person is a legitimate contact.
    </li>
    <li>
      <b>Financial specificity</b> deals with stated amounts of money, either to receive or transfer.
    </li>
    <li>
      <b>Format</b> focuses on how the letter (email) itself is constructed, and how it follows traditional letter conventions.
    </li>
    <li>
      <b>Offers to meet in person</b> show the author is willing to meet the victim in person to prove their legitimacy.
    </li>
  </ul>

  As mentioned in the crash course, logos does not have to be truthful for the appeal to be effective; it only needs to appear truthful. There are some especially crafty uses of distorted real facts in the apartment/house for rent emails below.
</p>

<h4><span>## kairos</h4>
<p>
  Kairos is the most common appeal and seen in almost every letter examined by Ross and his team. Kairos focuses on creating a sense of urgency, using language to persuade the victim to "act now or else." This use of language is a common technique found in almost all phishing emails I've examined but is especially vital to the personal solicitation category.
</p>
<p>
  Most of these appeals are found in personal solicitation emails I've collected. The following analysis use many of these rhetorical appeals and seek to understand how the letters operate within the genre.
</p>

<h3 class="hilite" id="span"><span># the spanish law & investment firm</span></h3>
<a href="/offensive/phishing/analysis/corpus#personal_1"><img src="/img/emails/pse1.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
    This unsolicited email functions as a proposal to invest a considerable amount of money in what appears to be a laundering effort. Many ethos-based appeals are used in this phishing email, with the email demonstrating <b>formality</b> with its use of straightforward language directing the victim into receiving a large sum of money. Grammatical constructions, as well as mentioning the author is from Spain, fall in line with the <b>nationality</b> category. "Antonio Capilla, a financial and investment management lawyer and an investment consultant law firm," has all the <b>institutional markers</b> present to attempt to persuade the recipient that this email is legitimate. They demonstrate <b>market terminology</b> as well, repetitively using variants of the words <i>invest</i>, <i>assist</i>, and <i>client</i> throughout the letter. Incredibly <b>polite</b>, but concerned with their client's <b>safety</b>, they're operating well within the idea of a financial and investment management firm.
  <p>
    Appeals to pathos include the <b>adventure/roguishness category</b>, as their client's sensitive position necessitates the investment of funds to the recipient "to make the fund release process easier." That statement sounds like money laundering and is a clear demonstration of an exciting, but legally ambiguous, prospect. The appeal to <b>ego-poor letter construction</b> is present as well due to overly formal grammar conventions that don't fit the context, such as "I await your reply."</p>

  <p>
    This phishing email demonstrates logos-based appeals through both <b>financial specificity</b> (30% of US$10 Million Dollars) and <b>format</b>, with the email following the parameters of what constitutes a letter, to the letter - a greeting, body with the main idea, and a salutation. Simple, efficient, and "honest." Finally, <b>urgency</b> is demonstrated gently, with a request to "kindly write me back urgently," fitting well with the polite and relatively formal conversation.
  </p>
  <p>
    Meeting 12 out of 19 parameters makes this a well-constructed personal solicitation email containing most of the typical markers that Ross discovered.
  </p>
</p>

<h3 class="hilite" id="maria"><span># a charity donation from maria elisabeth</span></h3>
<a href="/offensive/phishing/analysis/corpus#personal_4"><img src="/img/emails/pse2.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  This email is part of a series of emails I received over a short amount of time. Initially, I received two different phishing attempts - one from an Indian government email (which I presumed to be compromised), and another from a random Gmail address. Both directed me to contact Maria Elisabeth, albeit though different email addresses. I decided to respond to the second attempt, as I wanted to see how far I could get with the phisher. Upon receiving my response, "Maria" responded with the initial phish. Ethos construction happened through <b>institutional markers</b>  and <b>titles</b> such as the name-dropping of a Forbes link to Marie Elisabeth's profile, as well as "SCHAEFFLER AG, HERZOGENAURACH" in her signature. The email was decidedly informal, and the writing in poor form, likely playing up the "elderly widow from Germany" appeal. <b>Nationality</b> played with <b>safety</b> here, as they haphazardly described how they wanted to remain incognito but gift this "blessing," assuring you to "please don't be bothered as to why you have been contacted for this and its genuineness as I have done so from a pure motive."
</p>
  The phisher had a few retorts to my apprehension, but the responses were unlike the initial polite pleading and begging to accept the money and not ask questions - a dead giveaway it was a canned phishing scam. Instead, they asked me to provide my information repeatedly, even after I asked if this was "real" or not. "If you are serious to receive the donations kindly provide us with your details in other to refer you to my bank okay," doesn't instill confidence, especially saying it twice. Unfortunately, playing apprehensive did not coerce the phisher to try and persuade me. A pity too, as I would have gladly given the fake dossier I generated just for the occasion. I would suggest to any aspiring phishers on a red team reading this to engage with your victim. If you make them feel connected and valued (instead of scammed), they will be much more willing to give you the information you're seeking. These tactics are also a great item to discuss in defensive training, as emotional appeals are incredibly effective at getting people to take the bait.
</p>
<p>
  Pathos focused on <b>charity</b> and <b>death</b>, due to her husband's death (and implying her impending death), she's giving all her money as it's no longer useful. By helping her take this massive amount of money, she's hoping that you use it to help others - a "pay it forward" situation. She appeals to the <b>ego-complementary</b> appeal by implying I am "good" like churches, orphanages, and other charitable organizations she's contacted. The <b>ego-poor letter construction</b> appeal is also present, as she writes in a way that appears she struggles with English while having you feel sorry for her. She asks that "for the sake that it might seem too easy for you to receive this gift don't justify that life is easy, I would crave your indulgence not to refer any person whatsoever to me so that I can have my peace." She is "doing this as a free-spirit gift," and "made the contact myself to you, therefore, don't refer any person and don't make a public/media show of this as I would not like any publicity of any sort." The manufactured intent is for you to feel sorry for this massively wealthy, but elderly and widowed German woman.
</p>
<a href="/offensive/phishing/analysis/corpus#personal_4"><img src="/img/emails/pse2-2.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  Logos is present in all four categories outlined by Ross. You see it in <b>contact information</b> with the Forbes profile and multiple email addresses being sent to respond to in the initial "bait" cast. Concerning <b>financial specificity</b>, not only does the title of "Cash Grant Donation of €1,700,000" quantify this but also her admission of giving you that amount of money as a beneficiary out of a total of €50 million! While you're not the only piece in this puzzle, you're still a large one, and it feels <i>good</i>. The initial response followed the letter <b>format</b> amply; however, replies were quick and ill-thought-out regarding keeping the form. Finally, <b>offers to meet</b> were outright rejected due to the desire to keep this out of the public eye. This email also had a distinct lack of urgency, leaving responding on my terms. Perhaps it was a language barrier, but again there was nothing I saw that prompted me to reply immediately. By meeting 15 out of 19 categories, this email was a great example of a personal solicitation email that fits in the genre.
</p>

<h3 class="hilite" id="col"><span># the columbus rental application</span></h3>
<a href="/offensive/phishing/analysis/corpus#personal_5"><img src="/img/emails/psecol1.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
  <p>
    This email is a response to an ad on craigslist, as we were looking for a rental property in anticipation of our out-of-state move. Since I solicited this email, it operated a bit differently than the unsolicited emails received. I like to think of these as reverse-phishing emails, having an advantage to their credibility by virtue of me as initiator.
  </p>

<p>
  Ethos was formed through <b>market terminology</b>, repeating variations of owning or renting the house, taking care of the property, and mentioning maintenance or maintaining the property throughout the letter. It also manifested through <b>institutional markers</b> and <b>titles</b> related to the World Mission, a missionary operation which Reverend Joseph Cameron King & Family are members of. He assured me the prospect was <b>safe</b>, because they are simply renting "due to our transfer to (Topeka, Kansas) on a Missionary Work in a church here named World Mission, so we are renting it out since we need someone to take good care of the property on our absent." They reiterated safety over and over throughout the email, with mentions about realtors charging too much commission and being unhappy about that, so the listings were left up but assured it was not for sale. He owned the property, and I could even come to look at it if I wanted to. The email was generally <b>polite</b> but stern, probably trying to emulate the Reverend personality.
</p>
<a href="/offensive/phishing/analysis/corpus#personal_5"><img src="/img/emails/psecol2.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  Pathos was abundant in this email. King assured me that "we are renting the house to you base on trust and again i will want you to stick to your words," holding me to <b>honor</b> his wishes else I would be a disappointment. He wanted me to feel good about the missionary work he was doing and was looking for me to do an act of goodwill (<b>charity</b>) by renting from him. The email had strong notes of <b>ego-poor letter construction</b>, but I was not informed if Reverend King was identifying as an "other" or not to play up this appeal. The religiosity present in ethos also translated to pathos as well, but this was not necessarily a pathos-specific marker for Ross.
</p>
<a href="/offensive/phishing/analysis/corpus#personal_5"><img src="/img/emails/psecol3.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  Appeals to logos were presented through <b>contact information</b> and <b>financial specificity</b>, with a phone number, address, and monthly cost given as expected for a rental inquiry.  The listing I had initially contacted this person about had an impressive use of logos in the contact information category, although a deceitful one. The use of real property in a dishonest manner like this is depressingly effective. Many people who resort to using craigslist or other non-standard ad listings to find places to live potentially need something non-traditional to fit their lifestyle, and might be desperate for anything available. Since the property physically exists and has a real address, and is even verifiable through various websites, the use of ethos-building appeals above aided to the argument from Reverend King that this was his property, and that it was really for rent. The email followed the conventions of a letter <b>format</b> and even included a long list of application information I was expected to fill out. Unfortunately for this phisher, the request for a family photograph, whether I was home at night, and other too-personal questions instantly told me this was an illegitimate rental.
</p>
<p>
  King's email did display <b>urgency</b>, requesting I text him at the number given immediately after applying, presumably because he didn't check his email often. The phisher wanted to show he was legitimately interested in getting back to me as soon as he could. I appreciated the promptness, as it was much less murky than others who seemed to care less whether they successfully phished me.
</p>
<p>
  Overall, this email hit 14 of 19 categories, making it a good representation of a personal solicitation email. These reverse-phishing style emails are dangerous, and further attention should be given to these types of scams to create an effective defense against them.
</p>

<h3 class="hilite" id="stc"><span># the saint cloud house for rent</span></h3>
<a href="/offensive/phishing/analysis/corpus#personal_10"><img src="/img/emails/psesc1.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  This email similar to the Columbus house for rent above, as we were looking for a rental property locally when we still lived in Minnesota. We solicited this individual through craigslist, and after a follow-up email due to no initial response, they responded apologetically. It's been one of my favorite phishing/scam emails that I've ever received due to the blatant copy-paste of descriptions of UNESCO and Education for All as his job descriptions, the random mention of his wife as a part of Joyce Meyer ministries, and the desire to have "a good and responsible tenant that is God fearing and a good christian." This email was more religious than the previous example, and that supposedly came from a Reverend! It was so overly dramatic I shared it with a few people in awe of how ridiculous it was.
</p>
<a href="/offensive/phishing/analysis/corpus#personal_10"><img src="/img/emails/psesc2.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  Ethos presented itself through <b>institutional markers</b> and <b>titles</b>, namely mentioning and linking both UNESCO and EFA and mentioning that his wife is with Joyce Meyer, who is an "American Charismatic Christian author and speaker." Adding in bible quotes and letting me know "that is not the money that really matters because we believe both the rich and poor deserve a better home" really hit home with <b>religiosity</b>. This was a great example of how the overuse of an appeal can ruin credibility. By excessively using religion to bolster ethos, it dismantled the idea that it was genuine - why would the author need to reiterate over and over how religious they were, if they were indeed that religious?  Due to the lack of timeliness in response, reassurances of <b>safety</b> were given through phrases such as, "sorry for the lateness in my response and as am very busy at work lately," hopefully removing the fear that it's an illegitimate email. They also explained in detail that if I still see the house listed for sale, it's not for sale anymore. Those listings were up because they became unhappy with how agents were inflating the price of the home and decided to rent it out instead.
</p>
<p>
  But this situation doesn't make sense. Ideally, you'd want to make as much money as you can, and would be happy selling your home for a higher value.  Also, if the house were delisted, the agents would have removed the listings. But maybe if you're unfamiliar with how that works, it wouldn't be strange to you, and everything explained to you felt safe. Finally, the only reason why he couldn't <b>meet us in person</b> is "now that we are out of the state my reasons for leaving with my family is that i love my family and i go everywhere with them now that we are not around." The email's author is a family man, and he wants to take care of the obligations he had to leave when moving for work - he's doing this out of the kindness of his heart.  The only hint I received that this could be part of the <b>nationality</b> category was when the author mentioned they "spent less time in the States so I could not get a hold on any Realtor to handle this rent issue." No indication existed outside of this statement that they could be of foreign nationality aside from the language conventions mentioned above.
<a href="/offensive/phishing/analysis/corpus#personal_10"><img src="/img/emails/psesc3.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  Surprisingly, this only met a single category in pathos from Ross - <b>ego-poor letter construction</b> - although I'm not exactly sure why it was written like this as there were no indicators in the email that they wanted to identify as an "outsider." While not a pathos-based appeal as defined by Ross, I saw religion and the "do-gooder" description of missionaries in EFA <i>and</i> UNESCO reach into ego-complimentary, as they attempted to flatter me with their idea of what it means to be a "good" person.
</p>
<p>

</p>
  The email did, however, meet every marker of logos, with <b>contact information</b> represented with not only two places of employment, but a phone number and the address where the house is available for rent. The houses' listings on Zillow and other real estate websites also added into the credibility of the house existing - it wasn't merely a random picture of a property; it was a picture of a house we could physically go view. The listing had a legitimate, real address, and while the facts presented, such as the house being for rent, were not true, to a less-paranoid and suspicious observer, they might as well have been <b>Financial specificity</b> was in the amount of rent and security deposit. The <b>format</b> was slightly relevant; it was a letter, and the author certainly tried to follow conventions,  but it generally was written poorly. Finally, like many others, the individual could not <b>meet in person</b>, but could conduct business through the mail due to being out of state.
<p>
  Relying on me to respond to this letter, without much of a sense of urgency present at all, I was left with a lack of kairos. However, 13 out of 19 markers make this a relatively good example of a personal solicitation email. While I was disappointed a decent property ended up being yet another craigslist scam, it made a great (and hilarious) example in my phishing email analysis, so I'm happy with the results in the end.
</p>

<h3 class="hilite" id="hello"><span># been trying to reach you</span></h3>
<a href="/offensive/phishing/analysis/corpus#personal_6"><img src="/img/emails/pse6.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  A rather odd email, I received a seemingly disappointed yet urgent notice from a woman named Elizabeth Lyonsfield. Meeting absolutely none of the ethos markers Ross defined, I had no idea how to assess who this woman was or why she was contacting me. Pathos was constructed through <b>ego-poor letter construction</b>, but only because the grammar and capitalization were suspect. Elizabeth meets logos only through having a proper letter <b>format</b>.  She pleads for me to react <b>urgently</b>, and states, "I hope to hear back from you soonest." But since I have no idea who she is, where she's from, or what she wants, I didn't respond. Only receiving 3 out of 19 markers makes this personal solicitation email a poor exaple.
</p>

<h3 class="hilite" id="pp"><span># a private proposal</span></h3>
<a href="/offensive/phishing/analysis/corpus#personal_7"><img src="/img/emails/pse7.png" class="img-fluid example mx-auto mt-3 mb-3 d-flex"></a>
<p>
  This phishing email was very bland and generally did not show many categorical markers found in personal solicitation emails. Ethos was constructed through an <b>institutional marker</b>, "DBS Singapore." here is no indication as to what DBS Singapore is, though, so calling it a marker is generous. Presumably located in Singapore, this would also pull on the <b>nationality</b> category, but aside from a location, there are no visible markers apart from an odd capitalization on Private. I feel as if I'm reaching with both markers since they're the only definable ethos traits in Ross' framework present, and barely present at that. Pathos is seen through the <b>ego-poor letter construction</b> category. There is only a single  sentence in the letter, which I'm guessing is an attempt to get you to respond for more information. Logos was straightforward with the<b>financial specificity</b> category, stating that the proposal was for €58 million. The <b>format</b> was that of a letter - greeting, middle, end - but not so much informative. Notably, there was a lack of urgency in this email. Barely meeting 5 of 19 categories, it does not make an effective personal solicitation email but is still technically a phishing email.
</p>

<h3 class="hilite" id="thoughts"><span># final thoughts</span></h3>
<p>
  While I don't personally feel this category of phishing is particularly effective, especially compared to the other categories I've analyzed, it's still important to understand how and why they work. People still fall for overly emotive text with remarkably (un)reasonable requests that you provide private information to an unknown individual for millions of dollars out of the blue. Rhetoric helps us understand how this language works because the emails expertly command the appeals to convince the audience they're legitimate, even if they appear poorly constructed. A rhetorical situation is created through the manufactured intent of the email, whether it be helping, following up on a request, or whatever situation the phisher decided to develop. These emails are remarkably effective in the case of the "reverse-phishing" scams, such as the rental property ads; someone will compromise themselves if they're not on alert.

</p>
<p>
  Ross notes that "the less time an audience thinks they have, the less time they will take to analyze the email," and I would agree with him as an overall examination. These emails work <i>because</i> people are pressed for time, distracted, or whatever other reason exists that would make someone let their guard down. Many of the same emails I received are found online as phishing templates because they are successful enough to keep being used. It's easy to deconstruct an email and say, "Hey, this is <i>obviously</i> a phishing email - look how bad it is!" Yet, if you put yourself into the context of someone feeling desperate for a big break, or exhausted and thinking they're responding to a previous contact, it's no wonder these emails work so well. It doesn't matter if the facts aren't real. The only thing that matters is convincing the audience what's said is legitimate.

</p>
