<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top bighead" style="z-index:8000;">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="/img/ProvLogoSmall.png" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">What is Phishing?
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About This Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Questions?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-bold darkslate">Oops, you've been phished.</h1><br>
        <p class="lead font-weight-bold">But that's okay, this was only a test! <br>Let's find out what happened.</p>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container py-3">
    <p>Don't feel bad about being phished. And you're not going to be in trouble - <a href="http://securityaffairs.co/wordpress/36922/cyber-crime/study-phishing-emails-response.html" target="_blank">it can happen to anyone</a>. (Really, even CEOs get phished!) It's very likely someone you know has been a victim of a phishing scam. Rest assured, we're here to help you understand what phishing is, how it works, and what you can do about it now and in the future. Remember: <i>you</i> are the first defense in protecting you and your company's information against criminals!
    </p>
  </div>
</section>


<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <div class="container">
        <div class="float-left pr-3">
            <img src="http://placeimg.com/300/300/tech" alt="">
        </div>
        <div class="single-post-content-wrapper p-3">
          <h2 class="font-weight-light">How did I get here?</h2>

          <p>You've arrived at this page due to entering your credentials into a fake login page. Don't worry, though: <i>none of your information has been compromised (or recorded.)</i> This exercise is a part of an authorized phishing simulation to help people like you learn about security. </p>
        </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="container">
          <div class="float-right pr-3">
              <img src="http://placeimg.com/300/300/tech" alt="">
          </div>
          <div class="single-post-content-wrapper p-3">
            <h2 class="font-weight-light">What <i>could?</i> have happened?</h2>
            <p>If this was a real phishing attack, your login credentials could have been saved when you filled out the login form. This would allow the scammer to access your real account using the information you provided. This could lead to all sorts of problems: your personal information and accounts could become compromised, your company's sensitive data could be leaked, and a myriad of other problems.
            <p>
            Did you know that in 2015, <a href="https://www2.deloitte.com/content/dam/Deloitte/uk/Documents/consumer-business/deloitte-uk-consumer-review-nov-2015.pdf" target="_blank" title="Deloitte Consumer Review">36% of consumers have stopped doing business with a company because of an information breech<a>? That's over one-third of an entire customer base gone over one simple incident like this!</p>
          </div>
      </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="container">
          <div class="float-left pr-3">
              <img src="http://placeimg.com/300/300/tech" alt="">
          </div>
          <div class="single-post-content-wrapper p-3">
            <h2 class="font-weight-light">Okay, I see how this is important. How do I know if I'm being phished?</h2>
            <p>Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.</p>
          </div>
      </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="container">
          <div class="float-right pr-3">
              <img src="http://placeimg.com/300/300/tech" alt="">
          </div>
          <div class="single-post-content-wrapper p-3">
            <h2 class="font-weight-light">What can I do to help?</h2>
            <p>That's an excellent question! If you suspect you've found a phishing email, send over the e-mail to (designated security inbox). We will look at the email and make a determination on whether or not it's trustworthy. If it isn't safe, we'll make sure to remove and block the email, making your workplace a safer environment for everyone. If the e-mail <i>is</i> safe, we'll let you know, and you can continue on without fear.

            <p>Sometimes it can feel like it's impossible to detect a phishing email. And some days, you may be on the lookout so much that you don't know what to trust anymore. <b>That's okay.</b> We'd much prefer you to report an email as a false positive, than to have either your personal data, or the company's, become compromised.

            <p>If you have access to any sensitive data for your company, it's <i>especially important</i> to be on alert and aware of who's asking for information or credentials at all times. At first, the extra steps might feel like it's slowing you down, but you'll quickly adapt and learn how to identify the signs of an illigitimate email, and protect yourself and your company from outside security threats. It's much better to be slower and stay safe than to be fast and compromised.</p>
          </div>
      </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="container">
          <div class="float-left pr-3">
              <img src="http://placeimg.com/300/300/tech" alt="">
          </div>
          <div class="single-post-content-wrapper p-3">
            <h2 class="font-weight-light">What can I do to help?</h2>
            <p>Text goes here. Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.Text goes here.</p>
          </div>
      </div>
  </div>
</section>

<footer class="footer">
Art Credits:

<a style="text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@franckinjapan?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Franck V."><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Franck V.</span></a>
</footer>
