<!--<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/elogin.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

  <link rel="icon" type="image/png" href="/img/sim/efavicon-96x96.png">
</head>

<body>-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/elogin.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">


<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top shadow">
    <a class="navbar-brand" href="#"><img src="/img/sim/experian.png"></a>
  </nav>
</header>

<p style="display: none;" class="error">Hey, that's a nice password you've got there.</p>

<div class="container">
<div class="container p-5" style="margin-top:30px">
  <div class="col-md-4 p-5 centered">
      <div class="panel panel-default card shadow p-4" style="width: 100%">
    <div class="panel-heading mb-3"><h3 class="panel-title"><strong>Sign In to Your Account</strong></h3></div>
    <div class="panel-body">
     <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1"><b>Username</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="training/phished">Forgot Username?</a>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1"><b>Password</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="training/phished"> Forgot Password?</a>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="mb-5 mt-3 pretty p-default p-curve">
         <input name="remember" type="checkbox" value="Remember Me">
         <div class="state">
             <label>Remember my username next time</label>
         </div>
     </div>
    <button id="submit" class="btn btn-sm btn-exp rounded">Sign In</button>
  </form>
    </div>
  </div>
</div>
</div>
</div>

<footer class="footer bigfoot mr-auto">
  <div class="row">
    <div class="col">
      <div class="row ml-5 p-1">
        <a href="#" class="p-2">Terms of Use Agreement</a><a href="training/phished" class="p-2" alt="terms of use">Privacy Policy</a><a href="training/phished" class="p-2">Ad Targeting Policy</a>
      </div>
      <div class="row ml-5 p-1">
        <p>© 2019 ConsumerInfo.com, Inc.</p>
      </div>
    </div>
    <div class="col mr-5 p-3">
      <img src="/img/sim/mcafee.png" class="float-right" href="training/phished">
    </div>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/elogin.js"></script>
<!--
</body>
</html>
-->
