<div class="row justify-content-center mb-5">
    <h1 align="center">&Vert; phishing simulation training materials</h1>
  </div>

<div class="row justify-content-center mb-5">
    <h5>
      <a href="/training/phemails">fake phishing emails</a>
      ░ <a href="/training/elogin" target="_blank">fake experian login page (opens in a new window)</a>
      ░ <a href="/training/phished">you've been phished!</a>
    </h5>
</div>

<div class="d-lg-block d-none">
  <div class="row justify-content-center mb-5">
      <h5 align="center">
        <a href="/training/phemails">fake phishing emails</a>
        ░ <a href="/training/elogin" target="_blank">fake experian login page (opens in a new window)</a>
        ░ <a href="/training/phished">you've been phished!</a>
    </h5>
  </div>
</div>

<div class="d-lg-none">
  <div class="row justify-content-center mb-5">
    <h5 align="center">
       <a href="/training/phemails">fake phishing emails</a> &#8286;
       <a href="/training/elogin" target="_blank">fake login</a> &#8286;
       <a href="/training/phished">you've been phished!</a>
    </h5>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <p><b>This is a work in progress.</b></p>
</div>

  <div class="row">
    <p>
      For this section, I made a few different pages as a basic mock up of how the phishing simulation training would work. Since these pages will be demonstrative, I'll talk a bit about their function and how I made them here.

    <p>
      The login page link shows a login page I made based off of the <a href="https://usa.experian.com/login/index" target="_blank" title="This is the REAL site, you're safe here.">real Experian login page.</a>
    <p>
        It doesn't collect any data in a database, so no information put into <i>this</i> page is saved. That's obviously not the case in a real phishing attack, but it looks almost real enough I needed to provide a disclaimer. For added effect, I purchased a domain to mask this website's URL, cleverly named stch33z.ws<span class='footnote' data-toggle="tooltip" title="strch33z stands for string cheese, for those who don't speak 1337."></span>. I did this mostly for fun, but also because checking link redirects is an important part of detecting a phishing email, and what better way than to drive the point home by using what looks like an incredibly sketchy website URL?
      <p>
      <p>
        Initially, I was going to make a variety of login pages to demonstrate how they could look, but decided to showcase this one as I realized mutiple methods would be redundant for a rhetoric project. Since this <i>is</i> a mock-up for my business, I'll design more of these in the future.
        </p>

    <p>The last link is what will pop up when someone enters their password into the fake login page.</p>
  </div>
</div>
